{{/*
SPDX-FileCopyrightText: 2022 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

<div class="row">
  <div class="col-12 col-md-6"><img class="itinerary-img" src="{{ .Get "src" }}"></div>
  <p class="col-12 col-md-6">
    {{ .Inner | $.Page.RenderString }}
    <!--<a href="https://community.kde.org/Android/FDroid"><img src="https://apps.kde.org/store_badges/fdroid/en.svg" class="fdroid" alt="Get it from F-Droid"></a>-->
  </p>
</div>
