<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/bluedevil-5.13.2.tar.xz">bluedevil-5.13.2</a></td>
   <td align="right">145kB</td>
   <td><tt>0731823bae6620a1211e43d78b8c615508bc360313e41ba50fad68807d15379a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/breeze-5.13.2.tar.xz">breeze-5.13.2</a></td>
   <td align="right">23MB</td>
   <td><tt>78ca03ccf2178399cf9d0d71ad0a37d6695e0b4215a66ebca5b76201650e84fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/breeze-grub-5.13.2.tar.xz">breeze-grub-5.13.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>93371023b8f7999c56b27ec7292fc782e93adf8f3e8e4df7f13bb6952f8254c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/breeze-gtk-5.13.2.tar.xz">breeze-gtk-5.13.2</a></td>
   <td align="right">197kB</td>
   <td><tt>dd4ecf8f45309fd59c73383e20041d032bc478c3c42c858265130827b11d1a8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/breeze-plymouth-5.13.2.tar.xz">breeze-plymouth-5.13.2</a></td>
   <td align="right">103kB</td>
   <td><tt>06c2c3a6d698eebf37551c295baaf928512670d51dd49a1be631157e6f0602a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/discover-5.13.2.tar.xz">discover-5.13.2</a></td>
   <td align="right">9.7MB</td>
   <td><tt>2b533a1a4e73fcbc7840be7036ea31a4351009868144e43413d589335f6a024a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/drkonqi-5.13.2.tar.xz">drkonqi-5.13.2</a></td>
   <td align="right">719kB</td>
   <td><tt>52e81a4a922f077a44bfe8a706c42a6c258257c335360f2bfec75c9cd725cdfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kactivitymanagerd-5.13.2.tar.xz">kactivitymanagerd-5.13.2</a></td>
   <td align="right">83kB</td>
   <td><tt>ae5dafc0aa3d750fd73afb0939ce243f4c14be78e9e94d66a060d64f2db3d6fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kde-cli-tools-5.13.2.tar.xz">kde-cli-tools-5.13.2</a></td>
   <td align="right">568kB</td>
   <td><tt>fa869ce5582553f2ce5a7027984ce5a65474675f19c17235cff12124f2821e12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kdecoration-5.13.2.tar.xz">kdecoration-5.13.2</a></td>
   <td align="right">40kB</td>
   <td><tt>60e5f0c1d423710b93728ec0c4c5a754725ef933a1cf11fc9c7d8206540d57be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kde-gtk-config-5.13.2.tar.xz">kde-gtk-config-5.13.2</a></td>
   <td align="right">152kB</td>
   <td><tt>44157672234486026d9b7495d596594377996644597b47120a313e1805c8e75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kdeplasma-addons-5.13.2.tar.xz">kdeplasma-addons-5.13.2</a></td>
   <td align="right">583kB</td>
   <td><tt>fdd800ffd137ffa69febe8c945973bb85d5a8627916308bf1853c51adfe0400d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kgamma5-5.13.2.tar.xz">kgamma5-5.13.2</a></td>
   <td align="right">77kB</td>
   <td><tt>d2d87daf4cf35857e263e953adcc04d8d5165adb5d3795bcfdbe3ce51f877e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/khotkeys-5.13.2.tar.xz">khotkeys-5.13.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>08490a7fd56c3176f233b2a13f18da355c114f357c9a411627b5b53a8e72ce8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kinfocenter-5.13.2.tar.xz">kinfocenter-5.13.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d635ea36d231ec98738052b725417e7627936e4f31aebc2c3914bed5e2609b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kmenuedit-5.13.2.tar.xz">kmenuedit-5.13.2</a></td>
   <td align="right">641kB</td>
   <td><tt>6de372d7e3b4c1d2a35d364818650a7d0658a50ed7c79234c8d169ac2c6f426b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kscreen-5.13.2.tar.xz">kscreen-5.13.2</a></td>
   <td align="right">110kB</td>
   <td><tt>20dcd03adf8a1cd5971e718ef56a55b3c72331207f3fb14216ad7710e30c1520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kscreenlocker-5.13.2.tar.xz">kscreenlocker-5.13.2</a></td>
   <td align="right">118kB</td>
   <td><tt>29e6abdc682352fd163ee746fda2aa81164be63df26687913759c401fa6b9f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/ksshaskpass-5.13.2.tar.xz">ksshaskpass-5.13.2</a></td>
   <td align="right">20kB</td>
   <td><tt>f6ff9b467527fc7f42d325dd20763d95fb7535e0260c7d490d65bc8fb7088bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/ksysguard-5.13.2.tar.xz">ksysguard-5.13.2</a></td>
   <td align="right">480kB</td>
   <td><tt>c782746e0b77bd3ff25d8d2fe2cd53445a6511d0a9ad225c3d69ed561e648a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kwallet-pam-5.13.2.tar.xz">kwallet-pam-5.13.2</a></td>
   <td align="right">18kB</td>
   <td><tt>e89cc426ee89ff8123d65dbf98ef6e42383ed623ca86fd686a593ae61f3dedb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kwayland-integration-5.13.2.tar.xz">kwayland-integration-5.13.2</a></td>
   <td align="right">18kB</td>
   <td><tt>3ab8d8bbfbbb7d210dccea4d1b6b21b019293b43d940da72ed3508878e291d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kwin-5.13.2.tar.xz">kwin-5.13.2</a></td>
   <td align="right">6.2MB</td>
   <td><tt>ce44bbdcfbdc5a170f75593175f9fb85475bdd93d4c8656e2fe24cff0795d00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/kwrited-5.13.2.tar.xz">kwrited-5.13.2</a></td>
   <td align="right">19kB</td>
   <td><tt>d9879553de8cd40dc42670cbd1ad63e59f89d38df4bb4d0b6dd7799b28d0d354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/libkscreen-5.13.2.tar.xz">libkscreen-5.13.2</a></td>
   <td align="right">76kB</td>
   <td><tt>a5629c371a79b7872f72cc212e42d408823fba0f1eb2bd46fb036f657d372517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/libksysguard-5.13.2.tar.xz">libksysguard-5.13.2</a></td>
   <td align="right">555kB</td>
   <td><tt>f11eff31113bb59d43c3eaeeff5225713cdc30799adee4ef0fc4ae53295972f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/milou-5.13.2.tar.xz">milou-5.13.2</a></td>
   <td align="right">56kB</td>
   <td><tt>ed16c644b21aa04901af13181ada7c4546791bc92d3336938f2a6a828d7cf0d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/oxygen-5.13.2.tar.xz">oxygen-5.13.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>454987b631a625575caa421f17bef2605f000f87676f87413b129deec6b1bd25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-browser-integration-5.13.2.tar.xz">plasma-browser-integration-5.13.2</a></td>
   <td align="right">94kB</td>
   <td><tt>2626a7a9fe7273bc0ad229a93d76ad11036826920c0c33b3733fa1e831a9ed21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-desktop-5.13.2.tar.xz">plasma-desktop-5.13.2</a></td>
   <td align="right">8.6MB</td>
   <td><tt>116a9a149b7a43de7e6ffc3930d2de386a9cbc3d313d5224aae5c89297dcac9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-integration-5.13.2.tar.xz">plasma-integration-5.13.2</a></td>
   <td align="right">52kB</td>
   <td><tt>bd42d79d5a4aab4618aa113d9f577654473624a46d04de375bf330d94028e308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-nm-5.13.2.tar.xz">plasma-nm-5.13.2</a></td>
   <td align="right">687kB</td>
   <td><tt>00a731eba2d7c9cd1481936119df30d058a569d2ab937765cc2c05406a7b0bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-pa-5.13.2.tar.xz">plasma-pa-5.13.2</a></td>
   <td align="right">88kB</td>
   <td><tt>09efe416a0271dc1bc653d496b3ddfe6a6b6931e209a1e48ede7afc1874bc56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-sdk-5.13.2.tar.xz">plasma-sdk-5.13.2</a></td>
   <td align="right">242kB</td>
   <td><tt>63c326ef853beec6043bd1e7e02d1588dc081bb7450489db7c37ec23864537fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-tests-5.13.2.tar.xz">plasma-tests-5.13.2</a></td>
   <td align="right">1kB</td>
   <td><tt>6930373f7c331dfbd0ae8047ff72c2bf58175189ec0823c578dcd38da11df25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-vault-5.13.2.tar.xz">plasma-vault-5.13.2</a></td>
   <td align="right">111kB</td>
   <td><tt>cbf59234eb2a114bf5095b202d855930491e5d470ad8b205184b45b2a4c78297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-workspace-5.13.2.tar.xz">plasma-workspace-5.13.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>174cb5e973421fd3de61e18d9a84657f9d30e967b0c54267b426e638a3814de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plasma-workspace-wallpapers-5.13.2.tar.xz">plasma-workspace-wallpapers-5.13.2</a></td>
   <td align="right">43MB</td>
   <td><tt>197157eb6101d1d5ee86b3c8e6fd4f793564665e59d00441ac314cf47bc8a72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/plymouth-kcm-5.13.2.tar.xz">plymouth-kcm-5.13.2</a></td>
   <td align="right">38kB</td>
   <td><tt>be59bac21f75d815bcead9dccaa170c60da7f3148cd61596e91af12c5558c892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/polkit-kde-agent-1-5.13.2.tar.xz">polkit-kde-agent-1-5.13.2</a></td>
   <td align="right">41kB</td>
   <td><tt>4a30ae2b756bf413f15b2b4b017ebc8e91c77afea6f1ce8323104224a02d85fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/powerdevil-5.13.2.tar.xz">powerdevil-5.13.2</a></td>
   <td align="right">524kB</td>
   <td><tt>e0caf30dadd6c601791132b057ca487233b90531b7aefd54c1e4c69b7c7a2a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/sddm-kcm-5.13.2.tar.xz">sddm-kcm-5.13.2</a></td>
   <td align="right">59kB</td>
   <td><tt>1d4f486fe0223fb77ad8b9c721cfb4629231f40d5e336dd94f13d2118ba14979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/systemsettings-5.13.2.tar.xz">systemsettings-5.13.2</a></td>
   <td align="right">175kB</td>
   <td><tt>a408cf2a35b95e547b3acaf1cbefcc01055a14e1d75c93584a79d5fd1881ed3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/user-manager-5.13.2.tar.xz">user-manager-5.13.2</a></td>
   <td align="right">532kB</td>
   <td><tt>501eb8247646e9251be6d531002debf0bad359e8be7aa2df7bab27dd9d9f7dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.13.2/xdg-desktop-portal-kde-5.13.2.tar.xz">xdg-desktop-portal-kde-5.13.2</a></td>
   <td align="right">48kB</td>
   <td><tt>01a5c82ef1fb7c4f9e5db05e917fdd13e34edc1cdf6a1fe773a9318ff781cdef</tt></td>
</tr>

</table>
