
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/attica-5.59.0.tar.xz">attica-5.59.0</a></td>
   <td align="right">61kB</td>
   <td><tt>5570d995b60e75263337d8b18a9f7460e49587ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/baloo-5.59.0.tar.xz">baloo-5.59.0</a></td>
   <td align="right">237kB</td>
   <td><tt>cc596bec81c5fe430f50d023d5cac79956d64a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/bluez-qt-5.59.0.tar.xz">bluez-qt-5.59.0</a></td>
   <td align="right">85kB</td>
   <td><tt>caa8b2401df87c392dbbe49ec218a3a06fed88e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/breeze-icons-5.59.0.tar.xz">breeze-icons-5.59.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>56cd2329bff85595db24c8b8524ed68a71ed11d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/extra-cmake-modules-5.59.0.tar.xz">extra-cmake-modules-5.59.0</a></td>
   <td align="right">319kB</td>
   <td><tt>e2b53cbab1b3e7bc006cdf24f95d77ca46d62424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/frameworkintegration-5.59.0.tar.xz">frameworkintegration-5.59.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>66dc056507c3ad9ad747ede01e7b11772ad7535c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kactivities-5.59.0.tar.xz">kactivities-5.59.0</a></td>
   <td align="right">59kB</td>
   <td><tt>a2b2d357d4fb7bae85cb0da53a35ec79b31f336c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kactivities-stats-5.59.0.tar.xz">kactivities-stats-5.59.0</a></td>
   <td align="right">59kB</td>
   <td><tt>517189185200cdf8fe26cbf15497e4dc458d2c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kapidox-5.59.0.tar.xz">kapidox-5.59.0</a></td>
   <td align="right">388kB</td>
   <td><tt>b8776de813147960414c2ed592b2bdada15b78d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/karchive-5.59.0.tar.xz">karchive-5.59.0</a></td>
   <td align="right">447kB</td>
   <td><tt>06a6dd32eaee803f9aebd654765742d3860bb9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kauth-5.59.0.tar.xz">kauth-5.59.0</a></td>
   <td align="right">83kB</td>
   <td><tt>518b7b79441fee220421f523f06a36d6624203f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kbookmarks-5.59.0.tar.xz">kbookmarks-5.59.0</a></td>
   <td align="right">117kB</td>
   <td><tt>1d6d140f2a26c149e51425628176cb4eeaf72a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kcmutils-5.59.0.tar.xz">kcmutils-5.59.0</a></td>
   <td align="right">232kB</td>
   <td><tt>cf2f042d75e250c0aba6a96bd050a3033cbb4de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kcodecs-5.59.0.tar.xz">kcodecs-5.59.0</a></td>
   <td align="right">214kB</td>
   <td><tt>1669895a4a6d50a3c44ef481f11f65cc0fb479bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kcompletion-5.59.0.tar.xz">kcompletion-5.59.0</a></td>
   <td align="right">112kB</td>
   <td><tt>abffc6389e859d803230c21fb031395bf7ffe818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kconfig-5.59.0.tar.xz">kconfig-5.59.0</a></td>
   <td align="right">234kB</td>
   <td><tt>72605cb26c009cc83414649da75ffad10417220f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kconfigwidgets-5.59.0.tar.xz">kconfigwidgets-5.59.0</a></td>
   <td align="right">367kB</td>
   <td><tt>c34c6afe7badb17dccd164b38b1663a7defe7fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kcoreaddons-5.59.0.tar.xz">kcoreaddons-5.59.0</a></td>
   <td align="right">358kB</td>
   <td><tt>76acd32779d0512db92fb6b26d416d6d81ab2e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kcrash-5.59.0.tar.xz">kcrash-5.59.0</a></td>
   <td align="right">22kB</td>
   <td><tt>fbb13f62762468580a993dbd3720fc4cc0d1eb31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kdbusaddons-5.59.0.tar.xz">kdbusaddons-5.59.0</a></td>
   <td align="right">36kB</td>
   <td><tt>102c04bbd91fcdecc424bc932309e01b7ef57152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kdeclarative-5.59.0.tar.xz">kdeclarative-5.59.0</a></td>
   <td align="right">169kB</td>
   <td><tt>2e17fa2fce7b8fd9779e7929e2bd87a8ce03165f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kded-5.59.0.tar.xz">kded-5.59.0</a></td>
   <td align="right">37kB</td>
   <td><tt>8eb9f9c45388418b534e7c0d8b2c02104ee67f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kdesignerplugin-5.59.0.tar.xz">kdesignerplugin-5.59.0</a></td>
   <td align="right">88kB</td>
   <td><tt>12de9eb1e6520c62da837550b8784e6eb30776a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kdesu-5.59.0.tar.xz">kdesu-5.59.0</a></td>
   <td align="right">45kB</td>
   <td><tt>cc5d9e23bb1c7d23289d771ecf0822785ff86c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kdewebkit-5.59.0.tar.xz">kdewebkit-5.59.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4ee9c912c674371e828cd344de69c727f6756f7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kdnssd-5.59.0.tar.xz">kdnssd-5.59.0</a></td>
   <td align="right">57kB</td>
   <td><tt>d04aca44c3a9d02b6814e465e53a79cd20fcc818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kdoctools-5.59.0.tar.xz">kdoctools-5.59.0</a></td>
   <td align="right">417kB</td>
   <td><tt>babd73bb2215cc657d0c74e731a36b3ca583ae60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kemoticons-5.59.0.tar.xz">kemoticons-5.59.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ce92824e8f9a4329c3977dfcde5329e65a8dd67f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kfilemetadata-5.59.0.tar.xz">kfilemetadata-5.59.0</a></td>
   <td align="right">404kB</td>
   <td><tt>9105f6fdb2bbf0576efb22f32f3fcb01f827d626</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kglobalaccel-5.59.0.tar.xz">kglobalaccel-5.59.0</a></td>
   <td align="right">82kB</td>
   <td><tt>9cfa215176ab0fe334e04d49cccf2ef844a5d207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kguiaddons-5.59.0.tar.xz">kguiaddons-5.59.0</a></td>
   <td align="right">39kB</td>
   <td><tt>d2623772b52ff362a3d2becae4542da067e6afad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kholidays-5.59.0.tar.xz">kholidays-5.59.0</a></td>
   <td align="right">199kB</td>
   <td><tt>9118604ce630c604b393e5dbd8ba052b7a5596ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/ki18n-5.59.0.tar.xz">ki18n-5.59.0</a></td>
   <td align="right">572kB</td>
   <td><tt>de679d1773aae7f27d371040b6e53e4e18e6446d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kiconthemes-5.59.0.tar.xz">kiconthemes-5.59.0</a></td>
   <td align="right">203kB</td>
   <td><tt>3e13a2995673eee7f8186db5499e1909ad8a200e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kidletime-5.59.0.tar.xz">kidletime-5.59.0</a></td>
   <td align="right">26kB</td>
   <td><tt>91a173cebc00fcb78d23b4359a3b41b0b1891d72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kimageformats-5.59.0.tar.xz">kimageformats-5.59.0</a></td>
   <td align="right">200kB</td>
   <td><tt>e9a94ff8b9af5ec8f7da193af843a77b2d421032</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kinit-5.59.0.tar.xz">kinit-5.59.0</a></td>
   <td align="right">117kB</td>
   <td><tt>56dbabe942cdacaae0639d41927a2c12b7635052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kio-5.59.0.tar.xz">kio-5.59.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>fbb526eac4dab7f79b0ad47554eb4789e567cb29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kirigami2-5.59.0.tar.xz">kirigami2-5.59.0</a></td>
   <td align="right">137kB</td>
   <td><tt>1cbce742db9d041333b38c81b1a442451426b1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kitemmodels-5.59.0.tar.xz">kitemmodels-5.59.0</a></td>
   <td align="right">379kB</td>
   <td><tt>c02f3dea1927ec7542f24e9e028a78e793816b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kitemviews-5.59.0.tar.xz">kitemviews-5.59.0</a></td>
   <td align="right">73kB</td>
   <td><tt>bc32162cff5d89a3c87e79a4a6fbb0d829431fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kjobwidgets-5.59.0.tar.xz">kjobwidgets-5.59.0</a></td>
   <td align="right">85kB</td>
   <td><tt>8ce1382847f8f2cc47a0e6934afb0dfab78d4eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/knewstuff-5.59.0.tar.xz">knewstuff-5.59.0</a></td>
   <td align="right">987kB</td>
   <td><tt>ffaaaf31a60bdaca9665f016ce8f375e77bbb14e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/knotifications-5.59.0.tar.xz">knotifications-5.59.0</a></td>
   <td align="right">111kB</td>
   <td><tt>56c24d9fdf4e91d5cf9df83c7bcdd67aae3f79b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/knotifyconfig-5.59.0.tar.xz">knotifyconfig-5.59.0</a></td>
   <td align="right">81kB</td>
   <td><tt>47d8f2f2ac8e3a0f59775daef4ad282072474f64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kpackage-5.59.0.tar.xz">kpackage-5.59.0</a></td>
   <td align="right">129kB</td>
   <td><tt>3b326475e84e61e936d6579d27ea6f3b380e71c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kparts-5.59.0.tar.xz">kparts-5.59.0</a></td>
   <td align="right">172kB</td>
   <td><tt>73cfdbdd673da18b2aaf28811edd0e948b33e299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kpeople-5.59.0.tar.xz">kpeople-5.59.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f02050fe153c8099d6ed3f9cc7eeadcbd883b7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kplotting-5.59.0.tar.xz">kplotting-5.59.0</a></td>
   <td align="right">28kB</td>
   <td><tt>0f8b4ef8b96f1811deb65f0cd996a0ab20a86c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kpty-5.59.0.tar.xz">kpty-5.59.0</a></td>
   <td align="right">56kB</td>
   <td><tt>1391c981bc865fda760d61c1b7427423ff6de454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/krunner-5.59.0.tar.xz">krunner-5.59.0</a></td>
   <td align="right">60kB</td>
   <td><tt>3df7603112464f9a2c12d17ee5b5427f9e1f2fd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kservice-5.59.0.tar.xz">kservice-5.59.0</a></td>
   <td align="right">245kB</td>
   <td><tt>d854c22e972acd2cb48d28354bb043301ffc26d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/ktexteditor-5.59.0.tar.xz">ktexteditor-5.59.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8ab602834eefc61290ee732cf3b6dedf89654abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/ktextwidgets-5.59.0.tar.xz">ktextwidgets-5.59.0</a></td>
   <td align="right">300kB</td>
   <td><tt>f489575b737d22466370faa296eaed2fa95127e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kunitconversion-5.59.0.tar.xz">kunitconversion-5.59.0</a></td>
   <td align="right">754kB</td>
   <td><tt>4b3ac095ddbc8aed915559fb53e00497799127aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kwallet-5.59.0.tar.xz">kwallet-5.59.0</a></td>
   <td align="right">299kB</td>
   <td><tt>1a54497cb4675de7999a5ecf0c569b192f0aeab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kwayland-5.59.0.tar.xz">kwayland-5.59.0</a></td>
   <td align="right">335kB</td>
   <td><tt>30f6034ec473a9b412aacba757cdfd904bda6b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kwidgetsaddons-5.59.0.tar.xz">kwidgetsaddons-5.59.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3a3cdbbc01cae484f6d18e424b2b96b389bcbcd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kwindowsystem-5.59.0.tar.xz">kwindowsystem-5.59.0</a></td>
   <td align="right">166kB</td>
   <td><tt>d875c2f7e0ff5539b05d31cf46c37fca87af7362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kxmlgui-5.59.0.tar.xz">kxmlgui-5.59.0</a></td>
   <td align="right">849kB</td>
   <td><tt>7af497d1ac58ddfd270b0bbda3b4a046b0c0d709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/kxmlrpcclient-5.59.0.tar.xz">kxmlrpcclient-5.59.0</a></td>
   <td align="right">28kB</td>
   <td><tt>3794023cc061977fdd3149c5704de7375ff59200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/modemmanager-qt-5.59.0.tar.xz">modemmanager-qt-5.59.0</a></td>
   <td align="right">99kB</td>
   <td><tt>bddc33f2c04985f5ed1b5b5f42f578bb781c9a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/networkmanager-qt-5.59.0.tar.xz">networkmanager-qt-5.59.0</a></td>
   <td align="right">180kB</td>
   <td><tt>cc8de3189aa526d293f89f8a77a0d5045d269000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/oxygen-icons5-5.59.0.tar.xz">oxygen-icons5-5.59.0</a></td>
   <td align="right">221MB</td>
   <td><tt>4c948e10a60978aa44a522f1cee9b2995186402f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/plasma-framework-5.59.0.tar.xz">plasma-framework-5.59.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9d88452fa79a81dcd658ced91d919ba325d3e646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/prison-5.59.0.tar.xz">prison-5.59.0</a></td>
   <td align="right">41kB</td>
   <td><tt>86989bd020e82d6f26d032b6f64f95d321432d13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/purpose-5.59.0.tar.xz">purpose-5.59.0</a></td>
   <td align="right">142kB</td>
   <td><tt>25be9a925da62537ac3e1eb8129d00aebe45daf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/qqc2-desktop-style-5.59.0.tar.xz">qqc2-desktop-style-5.59.0</a></td>
   <td align="right">43kB</td>
   <td><tt>17704993a26a4f3db10ff8f6287bab59374e4da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/solid-5.59.0.tar.xz">solid-5.59.0</a></td>
   <td align="right">253kB</td>
   <td><tt>d624803d5caae9a6cbdaa71815ef3ec0e263fe79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/sonnet-5.59.0.tar.xz">sonnet-5.59.0</a></td>
   <td align="right">280kB</td>
   <td><tt>5cd1be7931af89047714e15620a6ea696056c0f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/syndication-5.59.0.tar.xz">syndication-5.59.0</a></td>
   <td align="right">155kB</td>
   <td><tt>e818d181319524ee03c1f19101dd6e917af0b356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/syntax-highlighting-5.59.0.tar.xz">syntax-highlighting-5.59.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>34334054dab373942a7a72e8f960839f32055eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.59/threadweaver-5.59.0.tar.xz">threadweaver-5.59.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>50fbe3ea76d590f381c142d1f9061fab42458e57</tt></td>
</tr>

</table>
