
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/attica-5.56.0.tar.xz">attica-5.56.0</a></td>
   <td align="right">61kB</td>
   <td><tt>afbabbfab9efa6a6e2e28b5dc8388edff7406a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/baloo-5.56.0.tar.xz">baloo-5.56.0</a></td>
   <td align="right">232kB</td>
   <td><tt>59358bb0716719baa3e1070b60c41643d8e0706a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/bluez-qt-5.56.0.tar.xz">bluez-qt-5.56.0</a></td>
   <td align="right">78kB</td>
   <td><tt>ae2c0fcea47b232e6bcc87849694d5fcdd198756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/breeze-icons-5.56.0.tar.xz">breeze-icons-5.56.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a6504fea6fd05195032cb62c63bf38d2ac5d8a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/extra-cmake-modules-5.56.0.tar.xz">extra-cmake-modules-5.56.0</a></td>
   <td align="right">318kB</td>
   <td><tt>ef8825d9e42217d23f1984be67d4dd105831b0ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/frameworkintegration-5.56.0.tar.xz">frameworkintegration-5.56.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>04b3c1f3122d82efc88ee223fcf0ee8776f97d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kactivities-5.56.0.tar.xz">kactivities-5.56.0</a></td>
   <td align="right">60kB</td>
   <td><tt>5fb9e96f8b44acd7d08da763ae3863bf83975039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kactivities-stats-5.56.0.tar.xz">kactivities-stats-5.56.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6e7f83f733257eb5663485cef0b46fbf704d49d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kapidox-5.56.0.tar.xz">kapidox-5.56.0</a></td>
   <td align="right">387kB</td>
   <td><tt>e78a135b2c0171f550ad97432e16b3d4ff9a8551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/karchive-5.56.0.tar.xz">karchive-5.56.0</a></td>
   <td align="right">429kB</td>
   <td><tt>59a0be4d8d13918a848bdddab54084b65e0d5b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kauth-5.56.0.tar.xz">kauth-5.56.0</a></td>
   <td align="right">83kB</td>
   <td><tt>713abd4f92fd3e9a76b3e0695459311376aa31b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kbookmarks-5.56.0.tar.xz">kbookmarks-5.56.0</a></td>
   <td align="right">115kB</td>
   <td><tt>35a7daef453b6a399fa9615243c55761511c0946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kcmutils-5.56.0.tar.xz">kcmutils-5.56.0</a></td>
   <td align="right">231kB</td>
   <td><tt>11dd30c48aa8dc0fe29032128a4d0e29bdd58329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kcodecs-5.56.0.tar.xz">kcodecs-5.56.0</a></td>
   <td align="right">214kB</td>
   <td><tt>5fb23cc6300b8556266396b155bedb255b2bd7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kcompletion-5.56.0.tar.xz">kcompletion-5.56.0</a></td>
   <td align="right">112kB</td>
   <td><tt>a75bf665bf5be7801dad265d450935495298d5f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kconfig-5.56.0.tar.xz">kconfig-5.56.0</a></td>
   <td align="right">234kB</td>
   <td><tt>a5fc3c7973a19b32d762cdcb47f701bc37d10ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kconfigwidgets-5.56.0.tar.xz">kconfigwidgets-5.56.0</a></td>
   <td align="right">367kB</td>
   <td><tt>ba168910892a87046aa1c45c6508170ba1ea7809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kcoreaddons-5.56.0.tar.xz">kcoreaddons-5.56.0</a></td>
   <td align="right">351kB</td>
   <td><tt>d6a243cec52faa3a51ac6d552e552331153d17f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kcrash-5.56.0.tar.xz">kcrash-5.56.0</a></td>
   <td align="right">22kB</td>
   <td><tt>e374796b88b620b547fad0a4ab84a724fb32d26a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kdbusaddons-5.56.0.tar.xz">kdbusaddons-5.56.0</a></td>
   <td align="right">36kB</td>
   <td><tt>437525322517d724b7d45574f5bd5d451344f70e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kdeclarative-5.56.0.tar.xz">kdeclarative-5.56.0</a></td>
   <td align="right">169kB</td>
   <td><tt>b1e74e456c5ff4cd902d321f0c134ae654088de9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kded-5.56.0.tar.xz">kded-5.56.0</a></td>
   <td align="right">37kB</td>
   <td><tt>3062ef1256b58af86e021b7487e02741e083868b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kdesignerplugin-5.56.0.tar.xz">kdesignerplugin-5.56.0</a></td>
   <td align="right">88kB</td>
   <td><tt>7f2f234c1e80b84a0aaa941e5b68354b728f99ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kdesu-5.56.0.tar.xz">kdesu-5.56.0</a></td>
   <td align="right">45kB</td>
   <td><tt>6b7b47525a89c1861172e0356025657462ac3d52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kdewebkit-5.56.0.tar.xz">kdewebkit-5.56.0</a></td>
   <td align="right">28kB</td>
   <td><tt>c7b8f37eeabe6389d030bd7dfdbcbc3a310e742d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kdnssd-5.56.0.tar.xz">kdnssd-5.56.0</a></td>
   <td align="right">56kB</td>
   <td><tt>d42073564592fa16271e4c53e79898b958b5fa6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kdoctools-5.56.0.tar.xz">kdoctools-5.56.0</a></td>
   <td align="right">415kB</td>
   <td><tt>2507395341e4a491036e0485752c35b1d6b1294f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kemoticons-5.56.0.tar.xz">kemoticons-5.56.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8295c9db7ed591eb3558ec18630ade21c6440c68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kfilemetadata-5.56.0.tar.xz">kfilemetadata-5.56.0</a></td>
   <td align="right">390kB</td>
   <td><tt>47ae9cfabb1c9d50c51e82c925313ca63078c8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kglobalaccel-5.56.0.tar.xz">kglobalaccel-5.56.0</a></td>
   <td align="right">81kB</td>
   <td><tt>3433d413cb6797ce936efca20d313a94eabd754a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kguiaddons-5.56.0.tar.xz">kguiaddons-5.56.0</a></td>
   <td align="right">39kB</td>
   <td><tt>e26649a206925f2af25c2b07381d17ea59990b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kholidays-5.56.0.tar.xz">kholidays-5.56.0</a></td>
   <td align="right">197kB</td>
   <td><tt>d15606c8f51c407c8c4547e26d7211f9604b678a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/ki18n-5.56.0.tar.xz">ki18n-5.56.0</a></td>
   <td align="right">573kB</td>
   <td><tt>028e0a8f45ebfc4d59d12f6d7633945dbdaf03e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kiconthemes-5.56.0.tar.xz">kiconthemes-5.56.0</a></td>
   <td align="right">202kB</td>
   <td><tt>a34b416be92340563395f5023af0ff482e1a65c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kidletime-5.56.0.tar.xz">kidletime-5.56.0</a></td>
   <td align="right">26kB</td>
   <td><tt>a514ee50b4d028ecc84e8a0f63eaa9d48ae20be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kimageformats-5.56.0.tar.xz">kimageformats-5.56.0</a></td>
   <td align="right">199kB</td>
   <td><tt>237ec6d3bce5a24a97c1ebddc5a4c08b08a5e6f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kinit-5.56.0.tar.xz">kinit-5.56.0</a></td>
   <td align="right">117kB</td>
   <td><tt>3ed4e34de45bc97e6e6d7919440eb6fa5ff46976</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kio-5.56.0.tar.xz">kio-5.56.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>53eea63b326b11012115bfa4afe36f62bb55c25f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kirigami2-5.56.0.tar.xz">kirigami2-5.56.0</a></td>
   <td align="right">132kB</td>
   <td><tt>15563e36f8c957c5751f5ee2625ccf6dd9d9e6dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kitemmodels-5.56.0.tar.xz">kitemmodels-5.56.0</a></td>
   <td align="right">380kB</td>
   <td><tt>c9c030325f461252c7c0c858c37a8147793fa790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kitemviews-5.56.0.tar.xz">kitemviews-5.56.0</a></td>
   <td align="right">73kB</td>
   <td><tt>0463a289ac1f8f5e2c12021cb068eb8e7b3eaab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kjobwidgets-5.56.0.tar.xz">kjobwidgets-5.56.0</a></td>
   <td align="right">85kB</td>
   <td><tt>a0d4997ca9273c7ca9d5976256df7d49130481a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/knewstuff-5.56.0.tar.xz">knewstuff-5.56.0</a></td>
   <td align="right">986kB</td>
   <td><tt>2de78ef08c6f098269847b6b6f643ff4386ae5bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/knotifications-5.56.0.tar.xz">knotifications-5.56.0</a></td>
   <td align="right">109kB</td>
   <td><tt>23428cc4ca57a0d3b6d6473f0ff7555209eefedf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/knotifyconfig-5.56.0.tar.xz">knotifyconfig-5.56.0</a></td>
   <td align="right">81kB</td>
   <td><tt>8588cd2c4a70481304af60637cbe60703ba04fce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kpackage-5.56.0.tar.xz">kpackage-5.56.0</a></td>
   <td align="right">129kB</td>
   <td><tt>83d66a7febb3ea009fc8254115af7db51c88ce9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kparts-5.56.0.tar.xz">kparts-5.56.0</a></td>
   <td align="right">171kB</td>
   <td><tt>9c1a38ead2d2be52b135c8bf20536bdc32774219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kpeople-5.56.0.tar.xz">kpeople-5.56.0</a></td>
   <td align="right">58kB</td>
   <td><tt>a9d54a612bd0521a861e79215ebfa45d48563085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kplotting-5.56.0.tar.xz">kplotting-5.56.0</a></td>
   <td align="right">29kB</td>
   <td><tt>f7ad7390e830a799425d65059a1efcc911de6ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kpty-5.56.0.tar.xz">kpty-5.56.0</a></td>
   <td align="right">56kB</td>
   <td><tt>5380f2b18df21656738772983ee76e06810260db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/krunner-5.56.0.tar.xz">krunner-5.56.0</a></td>
   <td align="right">60kB</td>
   <td><tt>7199513e8ae04ffea3738af109f139dd54e73b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kservice-5.56.0.tar.xz">kservice-5.56.0</a></td>
   <td align="right">245kB</td>
   <td><tt>b317bfc8fb3b7e6deff07a8fdbaa1974e7d8d426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/ktexteditor-5.56.0.tar.xz">ktexteditor-5.56.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>11da7fefdd5fdb519428b1828195a3b19b4e1355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/ktextwidgets-5.56.0.tar.xz">ktextwidgets-5.56.0</a></td>
   <td align="right">301kB</td>
   <td><tt>96af9e252a4c52e8532f1d2996988c6bc4ebf44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kunitconversion-5.56.0.tar.xz">kunitconversion-5.56.0</a></td>
   <td align="right">754kB</td>
   <td><tt>e26c4d5d3c32bf9f29b8a7e52b386c8779f8f9af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kwallet-5.56.0.tar.xz">kwallet-5.56.0</a></td>
   <td align="right">300kB</td>
   <td><tt>21e5b9b51048cef78dee1235910ae8dc231c9d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kwayland-5.56.0.tar.xz">kwayland-5.56.0</a></td>
   <td align="right">332kB</td>
   <td><tt>896d12146a1e095d6a5c78be02615dcb1a437310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kwidgetsaddons-5.56.0.tar.xz">kwidgetsaddons-5.56.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>963e58ca33918d5b7f48184dee3f24e79b7a9526</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kwindowsystem-5.56.0.tar.xz">kwindowsystem-5.56.0</a></td>
   <td align="right">165kB</td>
   <td><tt>c50b43a4bbcbc98a43e7227ee2b577454394ad47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kxmlgui-5.56.0.tar.xz">kxmlgui-5.56.0</a></td>
   <td align="right">850kB</td>
   <td><tt>9a3285b31754f6c58360f3c4e0e769ab5facdb6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/kxmlrpcclient-5.56.0.tar.xz">kxmlrpcclient-5.56.0</a></td>
   <td align="right">28kB</td>
   <td><tt>8f63b5a60e49833813d9abc232f3b324ddb3adc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/modemmanager-qt-5.56.0.tar.xz">modemmanager-qt-5.56.0</a></td>
   <td align="right">98kB</td>
   <td><tt>762c80b537a9a9bc3525958b933d8f08c724ba1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/networkmanager-qt-5.56.0.tar.xz">networkmanager-qt-5.56.0</a></td>
   <td align="right">176kB</td>
   <td><tt>d4012684a40e2104b78fa7c3118425ac11a00f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/oxygen-icons5-5.56.0.tar.xz">oxygen-icons5-5.56.0</a></td>
   <td align="right">225MB</td>
   <td><tt>36ef17fa2378a643bd1b990aeed53b9c88457e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/plasma-framework-5.56.0.tar.xz">plasma-framework-5.56.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>44094c2e9fd9bc02fb0574cbe055886fb37a2d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/prison-5.56.0.tar.xz">prison-5.56.0</a></td>
   <td align="right">40kB</td>
   <td><tt>09280235f0ecff7437ba6a3519ad6fec7a510843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/purpose-5.56.0.tar.xz">purpose-5.56.0</a></td>
   <td align="right">140kB</td>
   <td><tt>6d4eb404f6190e39d79840087bb4ce5401da2387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/qqc2-desktop-style-5.56.0.tar.xz">qqc2-desktop-style-5.56.0</a></td>
   <td align="right">43kB</td>
   <td><tt>0033957e12370cb307b69c779e10028ad3dc7873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/solid-5.56.0.tar.xz">solid-5.56.0</a></td>
   <td align="right">252kB</td>
   <td><tt>284065cbf6ad446f382616aa96bba0b86b08467a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/sonnet-5.56.0.tar.xz">sonnet-5.56.0</a></td>
   <td align="right">281kB</td>
   <td><tt>bdfae433f51488e8795e608eff11812ed1579ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/syndication-5.56.0.tar.xz">syndication-5.56.0</a></td>
   <td align="right">155kB</td>
   <td><tt>6637f279628e8ab306ba504a54c4b9972b21fc51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/syntax-highlighting-5.56.0.tar.xz">syntax-highlighting-5.56.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d121b0882c5db3181baa113f246674609e5d10e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.56/threadweaver-5.56.0.tar.xz">threadweaver-5.56.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7397fef272304b58f334da930197082691d7112a</tt></td>
</tr>

</table>
