<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/aura-browser-5.27.6.tar.xz">aura-browser-5.27.6</a></td>
   <td align="right">2.9MB</td>
   <td><tt>02d2e743dc3d9ea3ae2fb23c077368622317f03eab740a73d6d63668fceffade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/bluedevil-5.27.6.tar.xz">bluedevil-5.27.6</a></td>
   <td align="right">356kB</td>
   <td><tt>7ceff877200edd7043a57aeba3bf54828b2d96501b4e58497b6f0ec01b73df74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/breeze-5.27.6.tar.xz">breeze-5.27.6</a></td>
   <td align="right">83MB</td>
   <td><tt>5d9a8d7e5b061ce4183c4f842b0e82e6132b6c8e7ebc2c1d579baa066ffa6c6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/breeze-grub-5.27.6.tar.xz">breeze-grub-5.27.6</a></td>
   <td align="right">3.0MB</td>
   <td><tt>bb2298ed918a961feeb59885387597e960fa9f51a5aec98d315f885dd472e251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/breeze-gtk-5.27.6.tar.xz">breeze-gtk-5.27.6</a></td>
   <td align="right">39kB</td>
   <td><tt>ac2aab13b9224ddea6560fdbac9fe9d93a08a86787f95b95c43a95b134836bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/breeze-plymouth-5.27.6.tar.xz">breeze-plymouth-5.27.6</a></td>
   <td align="right">108kB</td>
   <td><tt>6c8fd5e21ca48f9f7ac6d08afd2e1e80ece09628b36c0aa46d85bcc15a1b4f3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/discover-5.27.6.tar.xz">discover-5.27.6</a></td>
   <td align="right">847kB</td>
   <td><tt>1661d734b2b04d9af015d9c9e8fbd46e066c542f39d3743cfbdaedbdce3591c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/drkonqi-5.27.6.tar.xz">drkonqi-5.27.6</a></td>
   <td align="right">840kB</td>
   <td><tt>f95e169790af38621635c35af21c6785c9b64f64608a4ce09226762e7ba8ca13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/flatpak-kcm-5.27.6.tar.xz">flatpak-kcm-5.27.6</a></td>
   <td align="right">224kB</td>
   <td><tt>fcee94bb9eeb58db5b304e16b5db060d8f559e1b10b202e83ab8e342be927f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kactivitymanagerd-5.27.6.tar.xz">kactivitymanagerd-5.27.6</a></td>
   <td align="right">124kB</td>
   <td><tt>06180b32ad64f88e2f3ea598e887c42cf68189dba14b220dceafcb0490c5b02d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kde-cli-tools-5.27.6.tar.xz">kde-cli-tools-5.27.6</a></td>
   <td align="right">651kB</td>
   <td><tt>b5e2b1c3bf82c112c8488aea73dca11a49963ea66e66db8f358f8e0394ba0faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kdecoration-5.27.6.tar.xz">kdecoration-5.27.6</a></td>
   <td align="right">51kB</td>
   <td><tt>9db69b439a9a6c863c5be74ba380964087c83b0f438aeaf6d0a97f5fd05294e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kde-gtk-config-5.27.6.tar.xz">kde-gtk-config-5.27.6</a></td>
   <td align="right">75kB</td>
   <td><tt>b3f23a5602530b77d55ff08e108692576740de056edb01f7b1bc3843d890f820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kdeplasma-addons-5.27.6.tar.xz">kdeplasma-addons-5.27.6</a></td>
   <td align="right">801kB</td>
   <td><tt>343b0d40a81bf498633c71a138902b43e61461fcae2209b6f09e7cf6c8baf087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kgamma5-5.27.6.tar.xz">kgamma5-5.27.6</a></td>
   <td align="right">86kB</td>
   <td><tt>61f111ecccd2fae7f46a1c7ef80d49a21bd80d8aadb65541453df134351fd692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/khotkeys-5.27.6.tar.xz">khotkeys-5.27.6</a></td>
   <td align="right">1.8MB</td>
   <td><tt>dbc7ec600e0450901648e6513f25f7c1ccad6798ce38b70437258daa6d833d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kinfocenter-5.27.6.tar.xz">kinfocenter-5.27.6</a></td>
   <td align="right">992kB</td>
   <td><tt>cd96e9952cc8c73337dda0786d45f3f381ca5137f8eca5feee2209f63981901b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kmenuedit-5.27.6.tar.xz">kmenuedit-5.27.6</a></td>
   <td align="right">910kB</td>
   <td><tt>89144ffa83855627506cae2c10e5e646f3f1efd839121b1d7eb595b7c51a4696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kpipewire-5.27.6.tar.xz">kpipewire-5.27.6</a></td>
   <td align="right">58kB</td>
   <td><tt>7ed653bfc0e82aa32e05766def3466937a5b2e31abbf3d50c9298b23e6e4328b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kscreen-5.27.6.tar.xz">kscreen-5.27.6</a></td>
   <td align="right">180kB</td>
   <td><tt>ded0651eec67e22f22fa3d6b0dbb03e81bfb2d4e5a7468e9efc5f5a4598bf254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kscreenlocker-5.27.6.tar.xz">kscreenlocker-5.27.6</a></td>
   <td align="right">157kB</td>
   <td><tt>5d04960f82895a15e51ad07238a394e347f28815ab93e9f5a97106c21bf1f55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/ksshaskpass-5.27.6.tar.xz">ksshaskpass-5.27.6</a></td>
   <td align="right">27kB</td>
   <td><tt>854cad79eb8b27685e97c4f62fd96e97744fc6a38491f156c047d0bce5c6e8c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/ksystemstats-5.27.6.tar.xz">ksystemstats-5.27.6</a></td>
   <td align="right">113kB</td>
   <td><tt>f1810ac6641bb17c42a90f643ef0fb45226e9b155601dd1827ccaf302ffa2376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kwallet-pam-5.27.6.tar.xz">kwallet-pam-5.27.6</a></td>
   <td align="right">22kB</td>
   <td><tt>b7adf0065f20855edc18959f5fa661f79fe53081cc35d4c4df242988e3d16830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kwayland-integration-5.27.6.tar.xz">kwayland-integration-5.27.6</a></td>
   <td align="right">25kB</td>
   <td><tt>10b7db4dfa276fe4e2398f742f60459367c5db1c91f8a9015e06e9f51e092c83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kwin-5.27.6.tar.xz">kwin-5.27.6</a></td>
   <td align="right">7.2MB</td>
   <td><tt>62d5bd5e91e951c9ad8c2fc49c29485feca78db985731f0779cdaaf5052499ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/kwrited-5.27.6.tar.xz">kwrited-5.27.6</a></td>
   <td align="right">22kB</td>
   <td><tt>0665240812594b9c5ec20b24dde1734bedc33f1440eb8591e72429ab2b1a7894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/layer-shell-qt-5.27.6.tar.xz">layer-shell-qt-5.27.6</a></td>
   <td align="right">18kB</td>
   <td><tt>e65c29ca65bf945da4f53bce9eb3614eb1105e57652e3fb1782ee9d24a9e8793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/libkscreen-5.27.6.tar.xz">libkscreen-5.27.6</a></td>
   <td align="right">113kB</td>
   <td><tt>c1a9373faab5a7ec77980a696a7599583b4fda8e1f12da2c5716bc9562789efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/libksysguard-5.27.6.tar.xz">libksysguard-5.27.6</a></td>
   <td align="right">857kB</td>
   <td><tt>9ecb2cb4aab6ba8f0b790267f22aab48244a78c6370b86eb662a0480fb031bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/milou-5.27.6.tar.xz">milou-5.27.6</a></td>
   <td align="right">57kB</td>
   <td><tt>feaea739bc100f313d098a13614b16c01bdafc7dbe0e9ebed5e7a6d8cfd381c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/oxygen-5.27.6.tar.xz">oxygen-5.27.6</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a9063912e238fcd113f719c01d100028545373d1b7881b147fcc92f910dc0906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/oxygen-sounds-5.27.6.tar.xz">oxygen-sounds-5.27.6</a></td>
   <td align="right">1.8MB</td>
   <td><tt>afeaf30c41d191e43582d41601102b17effa2b9c2e65c61ca6a3e36ef2fc327e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plank-player-5.27.6.tar.xz">plank-player-5.27.6</a></td>
   <td align="right">155kB</td>
   <td><tt>48f1cdd2a6ce9e5025adbf20dae206a0b1235782623bebba166c6cf5371656d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-bigscreen-5.27.6.tar.xz">plasma-bigscreen-5.27.6</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8742074c33547833ef69bc16c01a179dbe93ae9ffed0f88f078af27b212fee24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-browser-integration-5.27.6.tar.xz">plasma-browser-integration-5.27.6</a></td>
   <td align="right">206kB</td>
   <td><tt>72f86d1ee1b6474921ed102439dabf4c3813c2ae3731496c222656b8ab69198a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-desktop-5.27.6.tar.xz">plasma-desktop-5.27.6</a></td>
   <td align="right">13MB</td>
   <td><tt>e2485ea25d695ba22c1f14957abe14af658741a5e788269543ab7ff33045a683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-disks-5.27.6.tar.xz">plasma-disks-5.27.6</a></td>
   <td align="right">91kB</td>
   <td><tt>3cc04456b7c16c5bb78c0e89f9a864cc48ec6d571d4d85c9025f232c3a876427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-firewall-5.27.6.tar.xz">plasma-firewall-5.27.6</a></td>
   <td align="right">354kB</td>
   <td><tt>c8623cdfed38cd886153c51a1f6bda4af6709d237ae70963806f182cd2f76cc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-integration-5.27.6.tar.xz">plasma-integration-5.27.6</a></td>
   <td align="right">87kB</td>
   <td><tt>a5fd5df218788b44c0bb2a437db1cad11917d4ebe6acefd89abd3f72104d8dab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-mobile-5.27.6.tar.xz">plasma-mobile-5.27.6</a></td>
   <td align="right">3.2MB</td>
   <td><tt>12250a2245ae26dbf634ca8b97b8c3e7bb4043fba8c674d2fe074b7ad463b299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-nano-5.27.6.tar.xz">plasma-nano-5.27.6</a></td>
   <td align="right">72kB</td>
   <td><tt>8bce69040a748df8a6a02354467ad3a62dae3cb0547a066f89c05f03bf78110b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-nm-5.27.6.tar.xz">plasma-nm-5.27.6</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0a649ee81433340eb106889d06a3b6592b99dc41dab898f9dcd14312fb68d9c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-pa-5.27.6.tar.xz">plasma-pa-5.27.6</a></td>
   <td align="right">159kB</td>
   <td><tt>4e7608ba32a47affe64bb77ec30bc3ed977a4ca7577399238dd3821df5856e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-remotecontrollers-5.27.6.tar.xz">plasma-remotecontrollers-5.27.6</a></td>
   <td align="right">79kB</td>
   <td><tt>6019f3813e18e66dd6d80fc8f3946e8c94f18a10e180ae4d6c77038f437e7645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-sdk-5.27.6.1.tar.xz">plasma-sdk-5.27.6.1</a></td>
   <td align="right">314kB</td>
   <td><tt>2e4b0e466fced4345ecbd9c3b208bd334793762b02ae18bc54904860a69dceaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-systemmonitor-5.27.6.tar.xz">plasma-systemmonitor-5.27.6</a></td>
   <td align="right">169kB</td>
   <td><tt>796eb25f061f05cd4e59019cfe902cb61d53be60904bec69366b347c3cfb9c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-thunderbolt-5.27.6.tar.xz">plasma-thunderbolt-5.27.6</a></td>
   <td align="right">70kB</td>
   <td><tt>669fee26f59bb2c9122b9a9286a45f0808de42d47ed4b66382bf40ae925d6cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-vault-5.27.6.tar.xz">plasma-vault-5.27.6</a></td>
   <td align="right">182kB</td>
   <td><tt>245f5f4dac9934c2491fc9369feacb4002d16bde8c4366114557de2b2a40aa73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-welcome-5.27.6.tar.xz">plasma-welcome-5.27.6</a></td>
   <td align="right">807kB</td>
   <td><tt>a842d0038d745d77847b70a650fa38d932ca46a1a98d2eef915c410d29ed7b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-workspace-5.27.6.tar.xz">plasma-workspace-5.27.6</a></td>
   <td align="right">18MB</td>
   <td><tt>1ce6f70f7bb909b9ed9c213bc5528a4e7c264f570a9c94f2f4fb25c1528f8883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plasma-workspace-wallpapers-5.27.6.tar.xz">plasma-workspace-wallpapers-5.27.6</a></td>
   <td align="right">89MB</td>
   <td><tt>1303557516376eac7759c7aff796f2815a65e6874ecdd260118c66a061df1b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/plymouth-kcm-5.27.6.tar.xz">plymouth-kcm-5.27.6</a></td>
   <td align="right">44kB</td>
   <td><tt>c5ebe0c8afc2c81f66455ee6f8b66aaab4b7ab320e85e248e893e86363cb130f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/polkit-kde-agent-1-5.27.6.tar.xz">polkit-kde-agent-1-5.27.6</a></td>
   <td align="right">51kB</td>
   <td><tt>df737ae267ffab5abe460624c325daad176882ac1a4fd5df81e4ba44be4ced4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/powerdevil-5.27.6.tar.xz">powerdevil-5.27.6</a></td>
   <td align="right">768kB</td>
   <td><tt>6b230fabf2738455e3dfc3ab15e70b942ec827dc3080434774c6cb19d3217fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/qqc2-breeze-style-5.27.6.tar.xz">qqc2-breeze-style-5.27.6</a></td>
   <td align="right">64kB</td>
   <td><tt>f2eb7d2ef59960dd154b3cd31c3bf156b5c86065161e9e75e65b780fe9671d0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/sddm-kcm-5.27.6.tar.xz">sddm-kcm-5.27.6</a></td>
   <td align="right">89kB</td>
   <td><tt>dc70ab178f6954a6aaf7862440a64742c0c600c48f454462e97e09a1ddd6b5e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/systemsettings-5.27.6.tar.xz">systemsettings-5.27.6</a></td>
   <td align="right">220kB</td>
   <td><tt>bc2c471f1e13e9d063b616552bdc0d831c430338f3e3b32bbb3c0418956e789d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.6/xdg-desktop-portal-kde-5.27.6.tar.xz">xdg-desktop-portal-kde-5.27.6</a></td>
   <td align="right">137kB</td>
   <td><tt>aed5e49660a47c86f26df67bf80ac3e55d2ce9bf2a3e676bfaa905516810f773</tt></td>
</tr>

</table>
