
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/attica-5.66.0.tar.xz">attica-5.66.0</a></td>
   <td align="right">62kB</td>
   <td><tt>17ba17c8ea8e613d340ac5aebd2544fbd8047a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/baloo-5.66.0.tar.xz">baloo-5.66.0</a></td>
   <td align="right">265kB</td>
   <td><tt>f48f5dcc6a15d55b06392c7d3cb12e9f8624d21c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/bluez-qt-5.66.0.tar.xz">bluez-qt-5.66.0</a></td>
   <td align="right">98kB</td>
   <td><tt>710f91628299a1133d4a774691c2e9890cb87516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/breeze-icons-5.66.0.tar.xz">breeze-icons-5.66.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c410138e0ee291537f0b5d39cfa485773ad78a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/extra-cmake-modules-5.66.0.tar.xz">extra-cmake-modules-5.66.0</a></td>
   <td align="right">332kB</td>
   <td><tt>43e89622d1930e676ffff2b9a3d01c469775edc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/frameworkintegration-5.66.0.tar.xz">frameworkintegration-5.66.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2599d2227dba59277d68567a0efe94b27ac7096f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kactivities-5.66.0.tar.xz">kactivities-5.66.0</a></td>
   <td align="right">60kB</td>
   <td><tt>7b5a2dc626003baea46a870eb596978a00edb826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kactivities-stats-5.66.0.tar.xz">kactivities-stats-5.66.0</a></td>
   <td align="right">61kB</td>
   <td><tt>0aa6bafa9d8d9f59007475b609ab204b836a3e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kapidox-5.66.0.tar.xz">kapidox-5.66.0</a></td>
   <td align="right">388kB</td>
   <td><tt>f1728ce7b3a08b016ccb14c543c81c982ffc4764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/karchive-5.66.0.tar.xz">karchive-5.66.0</a></td>
   <td align="right">448kB</td>
   <td><tt>f80af7b45b258a44544170e63dd959ccbab31d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kauth-5.66.0.tar.xz">kauth-5.66.0</a></td>
   <td align="right">83kB</td>
   <td><tt>293a4dc6bfa34323aeda4198f72561f06cd4e852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kbookmarks-5.66.0.tar.xz">kbookmarks-5.66.0</a></td>
   <td align="right">117kB</td>
   <td><tt>c90d77d6ffecc59ffdd3c8705514bd455ca19719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kcalendarcore-5.66.0.tar.xz">kcalendarcore-5.66.0</a></td>
   <td align="right">243kB</td>
   <td><tt>194e68bba0995ae54c7a9e166e4818715eabef5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kcmutils-5.66.0.tar.xz">kcmutils-5.66.0</a></td>
   <td align="right">234kB</td>
   <td><tt>f062cfa4b54295cd4b1c7b8426b44aebd33b7477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kcodecs-5.66.0.tar.xz">kcodecs-5.66.0</a></td>
   <td align="right">216kB</td>
   <td><tt>4d438c9e931d20282d44847a758f88bf44b627c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kcompletion-5.66.0.tar.xz">kcompletion-5.66.0</a></td>
   <td align="right">117kB</td>
   <td><tt>27de59c45658b1170ff99fff309877e00143bb92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kconfig-5.66.0.tar.xz">kconfig-5.66.0</a></td>
   <td align="right">238kB</td>
   <td><tt>b355cd1813123984ccc6a95c6cd31da48b11671b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kconfigwidgets-5.66.0.tar.xz">kconfigwidgets-5.66.0</a></td>
   <td align="right">370kB</td>
   <td><tt>a534a4fee88b3157711487e4cdfb28b84e658474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kcontacts-5.66.0.tar.xz">kcontacts-5.66.0</a></td>
   <td align="right">531kB</td>
   <td><tt>d911891b2706dbc34733b11be3580793df787502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kcoreaddons-5.66.0.tar.xz">kcoreaddons-5.66.0</a></td>
   <td align="right">359kB</td>
   <td><tt>e0dd9595c93aca1c2846f058e641874da64dddc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kcrash-5.66.0.tar.xz">kcrash-5.66.0</a></td>
   <td align="right">22kB</td>
   <td><tt>f2d2cc6ab38fb1f076e3d5ac83e0945440cf18f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kdbusaddons-5.66.0.tar.xz">kdbusaddons-5.66.0</a></td>
   <td align="right">39kB</td>
   <td><tt>e33fce6dcf9cf3a741cc79ba55351f9078b396f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kdeclarative-5.66.0.tar.xz">kdeclarative-5.66.0</a></td>
   <td align="right">171kB</td>
   <td><tt>b15aa872e1d864a9177456bb0b1b67bd69544bba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kded-5.66.0.tar.xz">kded-5.66.0</a></td>
   <td align="right">37kB</td>
   <td><tt>8c5fd799891ff2b22ef3e59adb5cbe2626a4f199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kdesu-5.66.0.tar.xz">kdesu-5.66.0</a></td>
   <td align="right">46kB</td>
   <td><tt>f27b802da9acb52fc8e26edd110ca57a1e2d9cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kdnssd-5.66.0.tar.xz">kdnssd-5.66.0</a></td>
   <td align="right">57kB</td>
   <td><tt>6db2be56784a71be4b7d3254d3f4cfab7e8fe47d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kdoctools-5.66.0.tar.xz">kdoctools-5.66.0</a></td>
   <td align="right">418kB</td>
   <td><tt>df847cd1d2487ff806fd8ce08e2b6bab994a44a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kemoticons-5.66.0.tar.xz">kemoticons-5.66.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>950076f1968119a24c4f397b37fb0c775cd899d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kfilemetadata-5.66.0.tar.xz">kfilemetadata-5.66.0</a></td>
   <td align="right">412kB</td>
   <td><tt>410c0f32363d9b55e1a15568417f1c26efd31464</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kglobalaccel-5.66.0.tar.xz">kglobalaccel-5.66.0</a></td>
   <td align="right">82kB</td>
   <td><tt>886652d544cf7690eddff4cc248a84edd71502d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kguiaddons-5.66.0.tar.xz">kguiaddons-5.66.0</a></td>
   <td align="right">39kB</td>
   <td><tt>9f1df8045951f3e73d962ccc8323e0a9672ca901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kholidays-5.66.0.tar.xz">kholidays-5.66.0</a></td>
   <td align="right">201kB</td>
   <td><tt>b88e310ca5ce33eafd66798efa3decd8b57a5603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/ki18n-5.66.0.tar.xz">ki18n-5.66.0</a></td>
   <td align="right">574kB</td>
   <td><tt>06686221adc749a3b151e90e0f5a708e63f464ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kiconthemes-5.66.0.tar.xz">kiconthemes-5.66.0</a></td>
   <td align="right">205kB</td>
   <td><tt>9bdf8e18756d6dffa056c2a6e974e7e5ce901672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kidletime-5.66.0.tar.xz">kidletime-5.66.0</a></td>
   <td align="right">26kB</td>
   <td><tt>f81d158468f090bdd3be4ea884c890b25eb61481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kimageformats-5.66.0.tar.xz">kimageformats-5.66.0</a></td>
   <td align="right">238kB</td>
   <td><tt>f057ea952938c8995141a68284621b47fb984a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kinit-5.66.0.tar.xz">kinit-5.66.0</a></td>
   <td align="right">116kB</td>
   <td><tt>8271a28345b70e1023a98b1020d3708aafb38b77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kio-5.66.0.tar.xz">kio-5.66.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>53989d77a38856b35859831e5c96d7013ba66372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kirigami2-5.66.0.tar.xz">kirigami2-5.66.0</a></td>
   <td align="right">155kB</td>
   <td><tt>44b9d028771954d12365ea781e421339e14764c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kitemmodels-5.66.0.tar.xz">kitemmodels-5.66.0</a></td>
   <td align="right">385kB</td>
   <td><tt>c090a60ca0d957869bfffc5d2f39ea7c4f743450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kitemviews-5.66.0.tar.xz">kitemviews-5.66.0</a></td>
   <td align="right">74kB</td>
   <td><tt>21364f9688dfbcdc7b6b38a52c1099ca042875ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kjobwidgets-5.66.0.tar.xz">kjobwidgets-5.66.0</a></td>
   <td align="right">86kB</td>
   <td><tt>2c050a0fd8ff49d4cc6cbeae4fc2b48884f4029e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/knewstuff-5.66.0.tar.xz">knewstuff-5.66.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d387298a89a64031237d45b14e9561dc587d1006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/knotifications-5.66.0.tar.xz">knotifications-5.66.0</a></td>
   <td align="right">114kB</td>
   <td><tt>150dd636fb685df1a07341e667ee83cfb2d859c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/knotifyconfig-5.66.0.tar.xz">knotifyconfig-5.66.0</a></td>
   <td align="right">82kB</td>
   <td><tt>618f4f568baa5dd97a5a45cf1da8162428310803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kpackage-5.66.0.tar.xz">kpackage-5.66.0</a></td>
   <td align="right">135kB</td>
   <td><tt>8a65b0a15e92772e5512b0aa3f4e6240addc3291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kparts-5.66.0.tar.xz">kparts-5.66.0</a></td>
   <td align="right">172kB</td>
   <td><tt>0e57d3ee5c76b1f7aa4ce1e742dcd5dc2c737ad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kpeople-5.66.0.tar.xz">kpeople-5.66.0</a></td>
   <td align="right">60kB</td>
   <td><tt>f1531a63f01f41ac2b63bd18f6957fecddad4f35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kplotting-5.66.0.tar.xz">kplotting-5.66.0</a></td>
   <td align="right">29kB</td>
   <td><tt>c1e26d7efeb9e052a10d1143bc9e52ec3afe7cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kpty-5.66.0.tar.xz">kpty-5.66.0</a></td>
   <td align="right">57kB</td>
   <td><tt>9d3470cf3a23fd037b5d26351e71ff8defeeb981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kquickcharts-5.66.0.tar.xz">kquickcharts-5.66.0</a></td>
   <td align="right">91kB</td>
   <td><tt>fe95a97f623dd4b6d061b665ae13f805294ebaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/krunner-5.66.0.tar.xz">krunner-5.66.0</a></td>
   <td align="right">61kB</td>
   <td><tt>b241ca997b983da8e6732bd0af9ad7b55b1a2d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kservice-5.66.0.tar.xz">kservice-5.66.0</a></td>
   <td align="right">247kB</td>
   <td><tt>e77641ccc0b536ec1386790cfcfbcd5b0bb182e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/ktexteditor-5.66.0.tar.xz">ktexteditor-5.66.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f74127f3fa7b0d2fb5d2f6293f7d70be552e39d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/ktextwidgets-5.66.0.tar.xz">ktextwidgets-5.66.0</a></td>
   <td align="right">303kB</td>
   <td><tt>50db5e6487b5d3f5cf3a1ff4f5336029103ddd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kunitconversion-5.66.0.tar.xz">kunitconversion-5.66.0</a></td>
   <td align="right">813kB</td>
   <td><tt>0a10889067963e69332f5838fa9c32813d692d6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kwallet-5.66.0.tar.xz">kwallet-5.66.0</a></td>
   <td align="right">287kB</td>
   <td><tt>07b482fb4012f393cb6d05722459841cccd67f1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kwayland-5.66.0.tar.xz">kwayland-5.66.0</a></td>
   <td align="right">331kB</td>
   <td><tt>06ac712eb8b600cbdc121a1202d57297caaedddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kwidgetsaddons-5.66.0.tar.xz">kwidgetsaddons-5.66.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>acfb4cdc4219057eb42c3b14f634d998ad4b0ac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kwindowsystem-5.66.0.tar.xz">kwindowsystem-5.66.0</a></td>
   <td align="right">167kB</td>
   <td><tt>b682150d081979e6f808b7f72285dadcd63985c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kxmlgui-5.66.0.tar.xz">kxmlgui-5.66.0</a></td>
   <td align="right">841kB</td>
   <td><tt>f447dc69d4120d819bac65dd50c25830fdb74834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/kxmlrpcclient-5.66.0.tar.xz">kxmlrpcclient-5.66.0</a></td>
   <td align="right">29kB</td>
   <td><tt>c22354bc4c043d0fda0f14dcb2e6d3b5b1298e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/modemmanager-qt-5.66.0.tar.xz">modemmanager-qt-5.66.0</a></td>
   <td align="right">99kB</td>
   <td><tt>5355bf1b540a991b4b99a20c0ef4ebe4d0972394</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/networkmanager-qt-5.66.0.tar.xz">networkmanager-qt-5.66.0</a></td>
   <td align="right">181kB</td>
   <td><tt>c25317eba85b1d2ae2be3f308e68b0738b217c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/oxygen-icons5-5.66.0.tar.xz">oxygen-icons5-5.66.0</a></td>
   <td align="right">223MB</td>
   <td><tt>51f6fb4a1bd7aa3e781ce40d35ffbaf7f4e29306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/plasma-framework-5.66.0.tar.xz">plasma-framework-5.66.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fa99dcd4bb1d051897920b631d2e36cf08fe3f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/prison-5.66.0.tar.xz">prison-5.66.0</a></td>
   <td align="right">41kB</td>
   <td><tt>10ab9964b971458cdde039c706edb741fe834268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/purpose-5.66.0.tar.xz">purpose-5.66.0</a></td>
   <td align="right">152kB</td>
   <td><tt>fa8bbbfb7eac5ecda34776b3584af5ba6799f56f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/qqc2-desktop-style-5.66.0.tar.xz">qqc2-desktop-style-5.66.0</a></td>
   <td align="right">45kB</td>
   <td><tt>73fa6109c18e1c5dd09dd989c3d6333ed2a9f4f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/solid-5.66.0.tar.xz">solid-5.66.0</a></td>
   <td align="right">258kB</td>
   <td><tt>5f85fe95b09da7ee6a83e884ca50f7f49701d1c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/sonnet-5.66.0.tar.xz">sonnet-5.66.0</a></td>
   <td align="right">282kB</td>
   <td><tt>d932309d534dfdbc8556fc84bc6772116de28211</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/syndication-5.66.0.tar.xz">syndication-5.66.0</a></td>
   <td align="right">496kB</td>
   <td><tt>6c45f8b763d56e5b77cafd7ef0c4aa40f5ccc02c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/syntax-highlighting-5.66.0.tar.xz">syntax-highlighting-5.66.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6118ef303eb9ced8a6d3823b694f6c926dd9a4e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.66/threadweaver-5.66.0.tar.xz">threadweaver-5.66.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f14cce11864eb25d15e8b0744972f7a26696ad31</tt></td>
</tr>

</table>
