<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-23.08.3.tar.xz">akonadi-23.08.3</a></td>
   <td align="right">1623kB</td>
   <td><tt>c4209f1240f03ab8f299f2799ea5ac2e6adf80268591851bbbcceb3b46fb3e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-calendar-23.08.3.tar.xz">akonadi-calendar-23.08.3</a></td>
   <td align="right">462kB</td>
   <td><tt>2bdac61012cd361e52ec7bcc03c554752b64bbe61dd161e4c74241092a2030e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-calendar-tools-23.08.3.tar.xz">akonadi-calendar-tools-23.08.3</a></td>
   <td align="right">248kB</td>
   <td><tt>85521d1e5c482be7a865e431e92a5056f47005592cb5496ac7890d4dedc08e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadiconsole-23.08.3.tar.xz">akonadiconsole-23.08.3</a></td>
   <td align="right">275kB</td>
   <td><tt>e349c9d92e385e2786141457aeb1eecfca932a2f579cf45adf75b9a5e43ce4c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-contacts-23.08.3.tar.xz">akonadi-contacts-23.08.3</a></td>
   <td align="right">410kB</td>
   <td><tt>19ec13cab213dad13854da82712eb6439a602d4afcc688dc2969f5e9a14bc94d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-import-wizard-23.08.3.tar.xz">akonadi-import-wizard-23.08.3</a></td>
   <td align="right">503kB</td>
   <td><tt>6540a8029bff7003c85cbcf235fe00ce2e6348f36d1ffb57d417545f935877c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-mime-23.08.3.tar.xz">akonadi-mime-23.08.3</a></td>
   <td align="right">162kB</td>
   <td><tt>e8dde2d8ff8723f9db485e7118b9b2e0f7d5ada0aa5987c202f1b226d79c1c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-notes-23.08.3.tar.xz">akonadi-notes-23.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>2f396d28fc85bdc40d1b5458f8151ade725d02cd3f0c98f9011e4f711a3f31fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akonadi-search-23.08.3.tar.xz">akonadi-search-23.08.3</a></td>
   <td align="right">107kB</td>
   <td><tt>ccf1d5d11d53e5d032a6bed68310847f1489eb95285531b4a8f6a3321830db18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/akregator-23.08.3.tar.xz">akregator-23.08.3</a></td>
   <td align="right">2266kB</td>
   <td><tt>109ee85b5421a27a48d0b1c7fe1a90f1ae175160974230ecde5e43155215382f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/alligator-23.08.3.tar.xz">alligator-23.08.3</a></td>
   <td align="right">187kB</td>
   <td><tt>f76e3bdb8980c22af78b97c328537f4acb0031d0cecd5008201dd45c5c76a4f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/analitza-23.08.3.tar.xz">analitza-23.08.3</a></td>
   <td align="right">344kB</td>
   <td><tt>519776157bad10cd60c8bd3a26e36185a559065049769fac269e65d20b4f8f92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/angelfish-23.08.3.tar.xz">angelfish-23.08.3</a></td>
   <td align="right">241kB</td>
   <td><tt>eb653ad40c2455c2dc6f5ae5afc66a2afffdfd0cb867d2b26b5530a5104c18b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/arianna-23.08.3.tar.xz">arianna-23.08.3</a></td>
   <td align="right">794kB</td>
   <td><tt>ee170139e2574d91b8a7c020732f00d789a43028e5006a349788d3fab9562eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ark-23.08.3.tar.xz">ark-23.08.3</a></td>
   <td align="right">2947kB</td>
   <td><tt>d32fb43a10665381d1998b9b04b3e7afbfd5251b3a838049ee71716649d2326f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/artikulate-23.08.3.tar.xz">artikulate-23.08.3</a></td>
   <td align="right">1069kB</td>
   <td><tt>61bf0dde3839432c41d8dda27ef2e7a90bdcf35ddc4d4d46a69e00b78daaa14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/audiocd-kio-23.08.3.tar.xz">audiocd-kio-23.08.3</a></td>
   <td align="right">550kB</td>
   <td><tt>7bcff5d44bdc46682825fc972b6c60b767e8814e606330298e66379b609d78b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/audiotube-23.08.3.tar.xz">audiotube-23.08.3</a></td>
   <td align="right">144kB</td>
   <td><tt>8f2bb35ab04056858d9adb07c4278a258af2c8cf4d3022526af7a92a01ffa748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/baloo-widgets-23.08.3.tar.xz">baloo-widgets-23.08.3</a></td>
   <td align="right">270kB</td>
   <td><tt>bf025334bfab24a1c1e763a1b6914c59ce3b0e6c6324a41fb660a9d51bbb8cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/blinken-23.08.3.tar.xz">blinken-23.08.3</a></td>
   <td align="right">2661kB</td>
   <td><tt>d200ef00acc4afb7d5b3e53bd906c562338ac4cde454e21677f3aa051fba581b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/bomber-23.08.3.tar.xz">bomber-23.08.3</a></td>
   <td align="right">820kB</td>
   <td><tt>6e723fba504717dd1f5aa003a7257c7c4c3e7bc99c6550848c17d7c8e4b99d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/bovo-23.08.3.tar.xz">bovo-23.08.3</a></td>
   <td align="right">211kB</td>
   <td><tt>2fd913ebe44d2eb874b319947894c94da989767dceb323f43e338507c6474ba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/calendarsupport-23.08.3.tar.xz">calendarsupport-23.08.3</a></td>
   <td align="right">968kB</td>
   <td><tt>6d112c02400f7231a6aa37592ce77fc83c09a369010d28511ea9de3e209e0fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/calindori-23.08.3.tar.xz">calindori-23.08.3</a></td>
   <td align="right">374kB</td>
   <td><tt>79a185839072b4356e3e3bbbfbe46ecdefa65fcf6d561ecb7e9a9a64359c0020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/cantor-23.08.3.tar.xz">cantor-23.08.3</a></td>
   <td align="right">9067kB</td>
   <td><tt>9cade872dbe83c5fe134b2d4b0d4ac3cdfd2209686b1c13c61776657e4fd2a01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/cervisia-23.08.3.tar.xz">cervisia-23.08.3</a></td>
   <td align="right">1900kB</td>
   <td><tt>2f5e28843afeda09dc152573b38962585613f105c9693778075bcf632c7bcc5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/colord-kde-23.08.3.tar.xz">colord-kde-23.08.3</a></td>
   <td align="right">106kB</td>
   <td><tt>e088db360aac8371271eef3df21b34bcada581a6b16f880b184d6bce5bc66a91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/dolphin-23.08.3.tar.xz">dolphin-23.08.3</a></td>
   <td align="right">5626kB</td>
   <td><tt>d54e877d893ddf3d59752da723c881471bc06aee2e4143ff7e034fdffd7bba9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/dolphin-plugins-23.08.3.tar.xz">dolphin-plugins-23.08.3</a></td>
   <td align="right">266kB</td>
   <td><tt>094dfe8e674e6a0c01ee4415f47ae6312eb39df11ae18c86ec096bf056b1a768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/dragon-23.08.3.tar.xz">dragon-23.08.3</a></td>
   <td align="right">1631kB</td>
   <td><tt>2e479c082b1b06aa8a885d73cdec2c55451a1a0d7946d1f28ec7238dfb53c441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/elisa-23.08.3.tar.xz">elisa-23.08.3</a></td>
   <td align="right">1772kB</td>
   <td><tt>e5db807b24cb9682eb9c0d38843351e6d2444987de63754b6348aa8425d366d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/eventviews-23.08.3.tar.xz">eventviews-23.08.3</a></td>
   <td align="right">453kB</td>
   <td><tt>3c3e1da9105c619db109820988a78ff77a74a0398e28297c5217241a5f575f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/falkon-23.08.3.tar.xz">falkon-23.08.3</a></td>
   <td align="right">2513kB</td>
   <td><tt>b177cdcbd4136d3822e51a6ec9ed8c377a8a140367c85cb19d0504b9dc00fe02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ffmpegthumbs-23.08.3.tar.xz">ffmpegthumbs-23.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>b0da17ff03bac099b54a34ad510a1e875f8a024b672b12e646986338af312781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/filelight-23.08.3.tar.xz">filelight-23.08.3</a></td>
   <td align="right">683kB</td>
   <td><tt>e25a5b884ff3ac64f8d181657022daac25bc70f7afea4031508e1a5f011e188a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ghostwriter-23.08.3.tar.xz">ghostwriter-23.08.3</a></td>
   <td align="right">3541kB</td>
   <td><tt>aaf1f3e8fd90a3ab93da570425a9eb07eeeb88374f23923f1e5c4ccd8c4ed95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/granatier-23.08.3.tar.xz">granatier-23.08.3</a></td>
   <td align="right">2064kB</td>
   <td><tt>fd16233783abb1ce7337ca145f6abc6c03e325287a375cf5e32225cb29915cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/grantlee-editor-23.08.3.tar.xz">grantlee-editor-23.08.3</a></td>
   <td align="right">114kB</td>
   <td><tt>e680d4fc969199bf8b42f30bd92035a81d226d05507b8cb72bb9c9ac2cd2baf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/grantleetheme-23.08.3.tar.xz">grantleetheme-23.08.3</a></td>
   <td align="right">61kB</td>
   <td><tt>59b47682907225e081c288be4a8f0887e93ede72091a72625853251b94ebfc88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/gwenview-23.08.3.tar.xz">gwenview-23.08.3</a></td>
   <td align="right">6741kB</td>
   <td><tt>1a0a9bcf3d2acbe18fa82014bfcd1cee7d23184c6d3a04112df569f6eda8d83c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/incidenceeditor-23.08.3.tar.xz">incidenceeditor-23.08.3</a></td>
   <td align="right">562kB</td>
   <td><tt>06b0d3b4ee0bd16c0eeadbffc0aa6246cbecc2ef70944bb803c8190b8694f41f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/itinerary-23.08.3.tar.xz">itinerary-23.08.3</a></td>
   <td align="right">624kB</td>
   <td><tt>e7f09443099c549e2bc9e0c3c04b606b3fdcc16ce19f3fcfeee95122a291f9ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/juk-23.08.3.tar.xz">juk-23.08.3</a></td>
   <td align="right">2032kB</td>
   <td><tt>32d079b6ae554f8f6b4194552ad6430c8825ab3af3d331b85c7fb4bb69749cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/k3b-23.08.3.tar.xz">k3b-23.08.3</a></td>
   <td align="right">10709kB</td>
   <td><tt>83c749fbfab8da7d1dd14e80062caa75dfbcd9a5bd4bb970fae18dbcc5595b8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kaccounts-integration-23.08.3.tar.xz">kaccounts-integration-23.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>609c2517b356c4deca399d44ee9132743bf09588be64bf63b3d858d692d74359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kaccounts-providers-23.08.3.tar.xz">kaccounts-providers-23.08.3</a></td>
   <td align="right">64kB</td>
   <td><tt>cb1a19bffb79e3d99060efe1a77c61cbd1d5e89550a6f3dee69d44d6039ae5bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kaddressbook-23.08.3.tar.xz">kaddressbook-23.08.3</a></td>
   <td align="right">3377kB</td>
   <td><tt>f90aa48844177f19b3c47a90c1cd21d28b60c37b8c14da38556c3b222e68c182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kajongg-23.08.3.tar.xz">kajongg-23.08.3</a></td>
   <td align="right">4478kB</td>
   <td><tt>655e790b70bec649f4798534f6dffe0f2199dbaf5ff17664ee0abf8e8944bcf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kalarm-23.08.3.tar.xz">kalarm-23.08.3</a></td>
   <td align="right">2541kB</td>
   <td><tt>28e6f0261eed729886e8920152f0cac6bf5c7458dbed4def6efde436f420551c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kalgebra-23.08.3.tar.xz">kalgebra-23.08.3</a></td>
   <td align="right">1015kB</td>
   <td><tt>3355914ecee826fe042c95beeca680fe3c5229556390d5fcc7f00906d48e9680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kalk-23.08.3.tar.xz">kalk-23.08.3</a></td>
   <td align="right">82kB</td>
   <td><tt>921eb6eb319c5e112b66d488b7df0f32dc8f266f8d712585f33a21ea2374712c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kalzium-23.08.3.tar.xz">kalzium-23.08.3</a></td>
   <td align="right">24064kB</td>
   <td><tt>7ccdcb1c0b6b4d0066766bdf60c709a0468531ce37d9f7c38e224571cd87cb5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kamera-23.08.3.tar.xz">kamera-23.08.3</a></td>
   <td align="right">128kB</td>
   <td><tt>37ebfd7f836ebbb9ff681fe736ac8995af208b2a6fdf35b2825b874e95262ef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kamoso-23.08.3.tar.xz">kamoso-23.08.3</a></td>
   <td align="right">227kB</td>
   <td><tt>71cd45eec0a35e650d4c899184c9c563a1c9d9ab6e2c9bf55ced38b5666161b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kanagram-23.08.3.tar.xz">kanagram-23.08.3</a></td>
   <td align="right">7878kB</td>
   <td><tt>b756fa10ebd0e74e35e90ba57a18801fa54b2af7c7adb1a4090a3a48dabba18b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kapman-23.08.3.tar.xz">kapman-23.08.3</a></td>
   <td align="right">2425kB</td>
   <td><tt>a9cbac7af84102b3326a87d7d11cfa7d26d1f481e8552211a38eb7e1627511ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kapptemplate-23.08.3.tar.xz">kapptemplate-23.08.3</a></td>
   <td align="right">331kB</td>
   <td><tt>ed15e0b90cc3459b823a4897edd8c9f2cb6915c937c8b1a3f28726c8a683eb43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kasts-23.08.3.tar.xz">kasts-23.08.3</a></td>
   <td align="right">556kB</td>
   <td><tt>76badb736a0c26f3bec5c7725f17930f7a01e4ff9e0d51b50cadfdf57ad6cf8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kate-23.08.3.tar.xz">kate-23.08.3</a></td>
   <td align="right">7853kB</td>
   <td><tt>17cf08b10ac49ee3afdea239f5821c2e366b6f1350981f082a06505d0dd9a29a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/katomic-23.08.3.tar.xz">katomic-23.08.3</a></td>
   <td align="right">1418kB</td>
   <td><tt>b7f79df06559dbfb391f3e9401e5e8380c610826834e8c3cd1ae71f0b040b19b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kbackup-23.08.3.tar.xz">kbackup-23.08.3</a></td>
   <td align="right">390kB</td>
   <td><tt>0b2c1c650b429e02bcbb609354e53e93781a7a6c56dc3497ecb4cf4fead22bb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kblackbox-23.08.3.tar.xz">kblackbox-23.08.3</a></td>
   <td align="right">542kB</td>
   <td><tt>17180f3eed748ec1141206f027393e472f0fe889782898de6d5ca56f0b4cef10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kblocks-23.08.3.tar.xz">kblocks-23.08.3</a></td>
   <td align="right">2060kB</td>
   <td><tt>ac328be4be8f38004009c29d6295f5d2c34b298fab63663a216958bbdb45dc8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kbounce-23.08.3.tar.xz">kbounce-23.08.3</a></td>
   <td align="right">3464kB</td>
   <td><tt>17b7010fbe2de26161c4527172178a2a9b95876ed0c3c81332a531a027112789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kbreakout-23.08.3.tar.xz">kbreakout-23.08.3</a></td>
   <td align="right">2501kB</td>
   <td><tt>b89fb40609aaa2d4447be0f0b9f93ce36ff8f6869d85fe7b7f4f005ffbe3d3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kbruch-23.08.3.tar.xz">kbruch-23.08.3</a></td>
   <td align="right">5527kB</td>
   <td><tt>4b7a4df99580ae501591a90dbc7a47a678c7c6c90e513b946c83681375c2e45d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kcachegrind-23.08.3.tar.xz">kcachegrind-23.08.3</a></td>
   <td align="right">908kB</td>
   <td><tt>9fee92cfbb89a3bc9e6f12f4022fa9eeb41d4a6ba4cc2b2d4206e015c675c27f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kcalc-23.08.3.tar.xz">kcalc-23.08.3</a></td>
   <td align="right">428kB</td>
   <td><tt>79be775ca711c3aed643edb5a65d08368bf056279651c5a43f9c7d1711c27638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kcalutils-23.08.3.tar.xz">kcalutils-23.08.3</a></td>
   <td align="right">345kB</td>
   <td><tt>1721ea7c9a04dc0f35939cab2d6af207317b7905f4b3a8c42c42011f027331b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kcharselect-23.08.3.tar.xz">kcharselect-23.08.3</a></td>
   <td align="right">375kB</td>
   <td><tt>66267de8aecc781964d89d64367fa4320bc8adce8eeb62e53158074538c2ea0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kclock-23.08.3.tar.xz">kclock-23.08.3</a></td>
   <td align="right">626kB</td>
   <td><tt>9188e4cbd2ecc8a7c3af00eb3061521adb85cb19de8a3becc12a354701172341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kcolorchooser-23.08.3.tar.xz">kcolorchooser-23.08.3</a></td>
   <td align="right">34kB</td>
   <td><tt>5461512bc7114e90b3406e96eab4eac507fe1804b7a903bc42c6bdc6f706fb1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kcron-23.08.3.tar.xz">kcron-23.08.3</a></td>
   <td align="right">919kB</td>
   <td><tt>8301d93a4405c230a41146dd2d4916195adef44f4a897317ff6f956b9eb87eed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdebugsettings-23.08.3.tar.xz">kdebugsettings-23.08.3</a></td>
   <td align="right">106kB</td>
   <td><tt>71cd3c4a9fa437106bc0ba879918b57e043eb79bf4820e53da019497df5fa4ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdeconnect-kde-23.08.3.tar.xz">kdeconnect-kde-23.08.3</a></td>
   <td align="right">638kB</td>
   <td><tt>b98f5e15b2e0e0e069f9f407183a3cf70c46cd8c20f2eb997040e90fa9ba2906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kde-dev-scripts-23.08.3.tar.xz">kde-dev-scripts-23.08.3</a></td>
   <td align="right">365kB</td>
   <td><tt>3d9c951b9801e5357960c0f00aecfa235208638be59968a1472204703d2f6e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kde-dev-utils-23.08.3.tar.xz">kde-dev-utils-23.08.3</a></td>
   <td align="right">73kB</td>
   <td><tt>a45ea5a4d28f5669b8e7db3e34d41a94b951048e2ef2d240bb939e151cc54e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdeedu-data-23.08.3.tar.xz">kdeedu-data-23.08.3</a></td>
   <td align="right">325kB</td>
   <td><tt>c9b11c15707831fdaa0a65f914c9de1acc15b09449bcb2dd28b3476716866274</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdegraphics-mobipocket-23.08.3.tar.xz">kdegraphics-mobipocket-23.08.3</a></td>
   <td align="right">12kB</td>
   <td><tt>3a241d4ca375cbb6167dc287f33d93b5e05d3c1642d5bcdfd6d25e8fd5ac7487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdegraphics-thumbnailers-23.08.3.tar.xz">kdegraphics-thumbnailers-23.08.3</a></td>
   <td align="right">48kB</td>
   <td><tt>f5a0a589ea1df5ad2e67a47a70795c05052f3b69a738e8ac150f892fa8b802c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kde-inotify-survey-23.08.3.tar.xz">kde-inotify-survey-23.08.3</a></td>
   <td align="right">224kB</td>
   <td><tt>0ce350c4e39a43a9f5c1bcab49feaf613af78ab81e0aa79911d0e81433bd50ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdenetwork-filesharing-23.08.3.tar.xz">kdenetwork-filesharing-23.08.3</a></td>
   <td align="right">469kB</td>
   <td><tt>a2a62ff532f0e6b5aa5f6cd3472d5f0c130d266e6ec42602a04806385e7a65ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdenlive-23.08.3.tar.xz">kdenlive-23.08.3</a></td>
   <td align="right">12404kB</td>
   <td><tt>87ecc8a4664e2d50e9e362b98ebbe5222b087cd13ed2d0289f3ab61e805c2e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdepim-addons-23.08.3.tar.xz">kdepim-addons-23.08.3</a></td>
   <td align="right">2587kB</td>
   <td><tt>06843eb7911a84a63e14e1cf4363e2d5acb259fdb3a873cfa82aa393584840dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdepim-runtime-23.08.3.tar.xz">kdepim-runtime-23.08.3</a></td>
   <td align="right">1825kB</td>
   <td><tt>998cb3c35b4535c72d48bcac66308e098141d21fb2b3db7f8b2229bc21536b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdesdk-kio-23.08.3.tar.xz">kdesdk-kio-23.08.3</a></td>
   <td align="right">39kB</td>
   <td><tt>80c3e6730cbd5a719630832eafd502c3f70349ea984b39d7d23ebe35019325a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdesdk-thumbnailers-23.08.3.tar.xz">kdesdk-thumbnailers-23.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>6502bc4474a3bb31e01329afa5f2c1d3317bf78b85a0190883f5702d623f0d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdevelop-23.08.3.tar.xz">kdevelop-23.08.3</a></td>
   <td align="right">8503kB</td>
   <td><tt>19cc193f9079326bba98534f8e934ea24afb6ddb3df76ffc356cde78b79b35fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdev-php-23.08.3.tar.xz">kdev-php-23.08.3</a></td>
   <td align="right">1062kB</td>
   <td><tt>79ffb806c1461253084ba92fedbdd67c54287d588790cd186be9fa110d77aaef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdev-python-23.08.3.tar.xz">kdev-python-23.08.3</a></td>
   <td align="right">1071kB</td>
   <td><tt>0c4dbf5fa5584fcb7443e2ca7aa1aeb4ebc48bc449a6cb7597bbba1a00675bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdf-23.08.3.tar.xz">kdf-23.08.3</a></td>
   <td align="right">483kB</td>
   <td><tt>6b98e875cf6ebb0cc158460e77807d0e3f3e4b7f067d2c320255366c84660e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdialog-23.08.3.tar.xz">kdialog-23.08.3</a></td>
   <td align="right">139kB</td>
   <td><tt>df25f36a62aac71a16461fa68dfaa56b431adbf2cbd1000283e6014f48ffa85a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kdiamond-23.08.3.tar.xz">kdiamond-23.08.3</a></td>
   <td align="right">4599kB</td>
   <td><tt>40d747c27f0426417e9af971e2194b3f508bd4ee141017974b7263ad70b9e48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/keditbookmarks-23.08.3.tar.xz">keditbookmarks-23.08.3</a></td>
   <td align="right">233kB</td>
   <td><tt>b097ae977687790c620bd86430cffa95f89f54b1e5781b99bd3caf96a046ce99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/keysmith-23.08.3.tar.xz">keysmith-23.08.3</a></td>
   <td align="right">159kB</td>
   <td><tt>cd301cfda5352d5bdbb35a1dded1b97826ed384fe3a5fea311e531072ff7892d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kfind-23.08.3.tar.xz">kfind-23.08.3</a></td>
   <td align="right">336kB</td>
   <td><tt>ea2e61bc59f2c5cb1af5e64da9a4d85b91221cb110916c4dfbaf0799520045e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kfourinline-23.08.3.tar.xz">kfourinline-23.08.3</a></td>
   <td align="right">723kB</td>
   <td><tt>36159d232acac163272d7312186e2914c60cb3af0af915691e8674f226db3ad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kgeography-23.08.3.tar.xz">kgeography-23.08.3</a></td>
   <td align="right">12259kB</td>
   <td><tt>4ff0209e776cec11a5bd3a8c5a48c95a5f0e308f7a018f1b83e988670e9307a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kget-23.08.3.tar.xz">kget-23.08.3</a></td>
   <td align="right">5435kB</td>
   <td><tt>2fa0952fd9e609eec30d62f034e1157ac6fd282ab37ea9d5538605920c1fabb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kgoldrunner-23.08.3.tar.xz">kgoldrunner-23.08.3</a></td>
   <td align="right">4805kB</td>
   <td><tt>843f515c2dc80777df05c9cddc2ac34387aa0868f1a613e85af900a406217dc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kgpg-23.08.3.tar.xz">kgpg-23.08.3</a></td>
   <td align="right">2974kB</td>
   <td><tt>d9ac921f4bb603e5e8e7b79192e371ac5e44841873e01da365c105796724c43a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/khangman-23.08.3.tar.xz">khangman-23.08.3</a></td>
   <td align="right">7271kB</td>
   <td><tt>3ffa8de8e04a1efa62410ca1bd5ada90fd0ed4f587591571d021a27e0d344432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/khelpcenter-23.08.3.tar.xz">khelpcenter-23.08.3</a></td>
   <td align="right">4268kB</td>
   <td><tt>3b3fe2688c3898d77c34d28cc746c2dfc48c310fcc0acec5441fb299828bfa5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kidentitymanagement-23.08.3.tar.xz">kidentitymanagement-23.08.3</a></td>
   <td align="right">160kB</td>
   <td><tt>7f3483b82dd701f200297d5e6272e8fbb6df5f83438475b511668324e3aadbdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kig-23.08.3.tar.xz">kig-23.08.3</a></td>
   <td align="right">3221kB</td>
   <td><tt>c99ae48c7e02d933bf5539606e8b5ef5b1e315729bba53d936435a4c74678e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kigo-23.08.3.tar.xz">kigo-23.08.3</a></td>
   <td align="right">5144kB</td>
   <td><tt>00b877057cd8cfc98904734d46ff91820504e6492dc9400d9df8de9645a557ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/killbots-23.08.3.tar.xz">killbots-23.08.3</a></td>
   <td align="right">1178kB</td>
   <td><tt>89c5e30dce6eec6d53825db12bda418e74f9a7a2e4b238865f2187cd365d5f6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kimagemapeditor-23.08.3.tar.xz">kimagemapeditor-23.08.3</a></td>
   <td align="right">1079kB</td>
   <td><tt>77108d0eea3dbde8b26f1b72c8f21a4fcbeabd577a6bd0789c8a181360690d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kimap-23.08.3.tar.xz">kimap-23.08.3</a></td>
   <td align="right">127kB</td>
   <td><tt>1470da81a5b3477612ffa56ef212c13756f873571f10272ab33aa176af46d5f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kio-admin-23.08.3.tar.xz">kio-admin-23.08.3</a></td>
   <td align="right">34kB</td>
   <td><tt>d1b0301bd6a6ba716883dad6ee059c8b08c684089b54d0ae5a6fc3d0350079a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kio-extras-23.08.3.tar.xz">kio-extras-23.08.3</a></td>
   <td align="right">1454kB</td>
   <td><tt>06464d0e3868c961dcc2b2ccbb0e66c743a7ac250b3555147e3b171048d8d6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kio-gdrive-23.08.3.tar.xz">kio-gdrive-23.08.3</a></td>
   <td align="right">77kB</td>
   <td><tt>155650361fcdc0743ce914394341854437ca21879da45f45566befa22e358ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kio-zeroconf-23.08.3.tar.xz">kio-zeroconf-23.08.3</a></td>
   <td align="right">43kB</td>
   <td><tt>b57d748d31d0a963b0644b52596ba88eefa4771184e322c696f75c0236980739</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kipi-plugins-23.08.3.tar.xz">kipi-plugins-23.08.3</a></td>
   <td align="right">1527kB</td>
   <td><tt>2ce0cca7086a4918897fafaf61ffc685527f4bb95742a0a99b48d78da380b3b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kirigami-gallery-23.08.3.tar.xz">kirigami-gallery-23.08.3</a></td>
   <td align="right">353kB</td>
   <td><tt>6e20a15fe554cdd794b62a0488c145683f91db5317349cf1b2e857b20b2b232f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kiriki-23.08.3.tar.xz">kiriki-23.08.3</a></td>
   <td align="right">362kB</td>
   <td><tt>d9065513de61162b9ec3b4bde175a47ea1e831471885d2394f5335f89851c6a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kiten-23.08.3.tar.xz">kiten-23.08.3</a></td>
   <td align="right">11069kB</td>
   <td><tt>2746357869b8c97298e532626c49c79c213cbe0dca487324fea5e9338881597b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kitinerary-23.08.3.tar.xz">kitinerary-23.08.3</a></td>
   <td align="right">1895kB</td>
   <td><tt>f4e4bbb1de2b1d5fe7b67bc3d3014048d0b6b0b8c25d04ba9fe9769a608f9d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kjournald-23.08.3.tar.xz">kjournald-23.08.3</a></td>
   <td align="right">503kB</td>
   <td><tt>f1af5d15f234b30b1bb9f885717c65b95d77ac3644efa6d018afa0e8f800e977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kjumpingcube-23.08.3.tar.xz">kjumpingcube-23.08.3</a></td>
   <td align="right">330kB</td>
   <td><tt>8dfb3609033189dd3dfa3987239bb6995a8ee74e111c0f4afac3932ea0e263a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kldap-23.08.3.tar.xz">kldap-23.08.3</a></td>
   <td align="right">178kB</td>
   <td><tt>e55bc8af7007927bc77d75ed6e64160944bde3c44fffa9220bde5045b774e1f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kleopatra-23.08.3.tar.xz">kleopatra-23.08.3</a></td>
   <td align="right">2656kB</td>
   <td><tt>4868eb58759f1da8a644d535a1e36fc1719d75cad6b56edc34ad95979086433d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/klettres-23.08.3.tar.xz">klettres-23.08.3</a></td>
   <td align="right">46721kB</td>
   <td><tt>97851d82c8b858b4d39b6c38edc3976f5d09deda5e4a744ef12db96b81427aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/klickety-23.08.3.tar.xz">klickety-23.08.3</a></td>
   <td align="right">1466kB</td>
   <td><tt>98229707dc3bf724102ad163798944fd8b2a27e00f144a06fb2a5486968a8a4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/klines-23.08.3.tar.xz">klines-23.08.3</a></td>
   <td align="right">1699kB</td>
   <td><tt>5224b6542c1e1972124963972a880ff431e88c4a32463da60ee9abd072365ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmag-23.08.3.tar.xz">kmag-23.08.3</a></td>
   <td align="right">708kB</td>
   <td><tt>dd09ae45863a015b60b1db7bc90717429a752f628748d1a64c8da5907b442769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmahjongg-23.08.3.tar.xz">kmahjongg-23.08.3</a></td>
   <td align="right">4002kB</td>
   <td><tt>fa351fd4e1102a1091ac1c6fb00854ee9c312b16e1aee5d468c29d9956b428b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmail-23.08.3.tar.xz">kmail-23.08.3</a></td>
   <td align="right">7487kB</td>
   <td><tt>1b2290d070a607e6bfc7fc3fe30eaf09a86016d19a632b2aabfe34c562807207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmail-account-wizard-23.08.3.tar.xz">kmail-account-wizard-23.08.3</a></td>
   <td align="right">180kB</td>
   <td><tt>186aabb236dae1a9edbfdab7482e99148c6669692078d44b6445824901386ea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmailtransport-23.08.3.tar.xz">kmailtransport-23.08.3</a></td>
   <td align="right">170kB</td>
   <td><tt>37df2bd8283cb750ec42e2803f28843f51745dfe5ef9bdce7abc61e7988848a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmbox-23.08.3.tar.xz">kmbox-23.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>92e078fb159ec78294cd2ad350b200d4fbc35394ab2d957e2acdfcdeca5604a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmime-23.08.3.tar.xz">kmime-23.08.3</a></td>
   <td align="right">159kB</td>
   <td><tt>1a51c80c885df34bce2122c24e949d2f354ee0d840de91deaf93feca029f33b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmines-23.08.3.tar.xz">kmines-23.08.3</a></td>
   <td align="right">987kB</td>
   <td><tt>d260a39fd6b478c6b96b63e316a1227206ab136ede9f7d6eb9c03b503a13393c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmix-23.08.3.tar.xz">kmix-23.08.3</a></td>
   <td align="right">1180kB</td>
   <td><tt>757462c65e99a545fa26a7e34bd71809ad47d8106b44e45799836b591f58ac35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmousetool-23.08.3.tar.xz">kmousetool-23.08.3</a></td>
   <td align="right">127kB</td>
   <td><tt>f6ec5d516e3308a3accb5d8a7dda96dd0676c111407b4bb09f07d8c13409b817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmouth-23.08.3.tar.xz">kmouth-23.08.3</a></td>
   <td align="right">2042kB</td>
   <td><tt>419f5e81fcb6dd490fd8dbcd2dbcd944dbdfc3bc052bebe445d65dd018cb153b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kmplot-23.08.3.tar.xz">kmplot-23.08.3</a></td>
   <td align="right">3028kB</td>
   <td><tt>455b9bbb195f89d1c0b978ca736e6862248e28812e1cccf4adcb312b512a5cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/knavalbattle-23.08.3.tar.xz">knavalbattle-23.08.3</a></td>
   <td align="right">1369kB</td>
   <td><tt>de7f69be4492e4520f2b549d3dcf0f51be1ce5b7f0a448c5d2222698e61153d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/knetwalk-23.08.3.tar.xz">knetwalk-23.08.3</a></td>
   <td align="right">1080kB</td>
   <td><tt>793d432214b37db647d775f62e28ca956b13facd834f98ced513499cb784e9d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/knights-23.08.3.tar.xz">knights-23.08.3</a></td>
   <td align="right">3252kB</td>
   <td><tt>d2ece71ab74acca2debfd1644513ce5a7f1eab74add1fd4d8177c8ef317f517a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/knotes-23.08.3.tar.xz">knotes-23.08.3</a></td>
   <td align="right">368kB</td>
   <td><tt>aa498672ea556dbd87ff8facaa73636774f81e02bc889febbf77ffe8f19144b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/koko-23.08.3.tar.xz">koko-23.08.3</a></td>
   <td align="right">135kB</td>
   <td><tt>de6ddacf3b319a2a1949f61b517a0eec113299a9c68f47643bb0ad3ccc8c6152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kolf-23.08.3.tar.xz">kolf-23.08.3</a></td>
   <td align="right">1050kB</td>
   <td><tt>3215c0d1a7a60c012fafdb91d669549b6aa59992cfe3755d10e45d10f979519b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kollision-23.08.3.tar.xz">kollision-23.08.3</a></td>
   <td align="right">301kB</td>
   <td><tt>dde5357da8f40665d1783cb3951f1cf6ddc1babf75b0832d581c271a504f9501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kolourpaint-23.08.3.tar.xz">kolourpaint-23.08.3</a></td>
   <td align="right">5651kB</td>
   <td><tt>ef3f5a1829ea9f7ed59f896c22277e323780abbe45bf14a3c5f77c2832311256</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kompare-23.08.3.tar.xz">kompare-23.08.3</a></td>
   <td align="right">962kB</td>
   <td><tt>e8469f91c005f090c42a4845411e40c31df1eb9618e8d6619840345f18a89cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kongress-23.08.3.tar.xz">kongress-23.08.3</a></td>
   <td align="right">575kB</td>
   <td><tt>cf873928bf2e14a33dd46870177f856d682510f90703c32cafd81c7173b4a6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/konqueror-23.08.3.tar.xz">konqueror-23.08.3</a></td>
   <td align="right">9834kB</td>
   <td><tt>9210904e1702b9c6098c37a904beccf3a40ebbaf3b963ce8ae72f93ebab6c42b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/konquest-23.08.3.tar.xz">konquest-23.08.3</a></td>
   <td align="right">855kB</td>
   <td><tt>deae780886c3c376d28085bf97338fb691c477003eeee130682ee69df170cd5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/konsole-23.08.3.tar.xz">konsole-23.08.3</a></td>
   <td align="right">1790kB</td>
   <td><tt>e20c3430ad1fd468590d6f34f93d1ef5ca41bbe1827fa0453a1ba41118d85323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kontact-23.08.3.tar.xz">kontact-23.08.3</a></td>
   <td align="right">855kB</td>
   <td><tt>22cd3ea61cc1f1529a548fb23f78fa1db3a9ee26232b74c2bb6912add7f8099a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kontactinterface-23.08.3.tar.xz">kontactinterface-23.08.3</a></td>
   <td align="right">39kB</td>
   <td><tt>f4211c7131c597eb38e6735095ad8337551aad4dd238e79c6450bce68e95177b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kontrast-23.08.3.tar.xz">kontrast-23.08.3</a></td>
   <td align="right">206kB</td>
   <td><tt>d8001e04c02cb356a4fda8f21cce72283d92f212b42ea0453de7f7b61c84dad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/konversation-23.08.3.tar.xz">konversation-23.08.3</a></td>
   <td align="right">4377kB</td>
   <td><tt>fd69892b5db9049d2180ff9ec83b8392f89149f7240a7a2b4c6f953428e388f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kopeninghours-23.08.3.tar.xz">kopeninghours-23.08.3</a></td>
   <td align="right">70kB</td>
   <td><tt>6e0a7a6f6259ec266a6c744ffd7bbb02bcc5f0293575c9964bc413b49c3de563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kopete-23.08.3.tar.xz">kopete-23.08.3</a></td>
   <td align="right">9924kB</td>
   <td><tt>4c0e20bbfb8a81faabfb69750689ce6560450a3a4538ac3364c997725c44bd81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/korganizer-23.08.3.tar.xz">korganizer-23.08.3</a></td>
   <td align="right">2492kB</td>
   <td><tt>d2192537a831364c293e26034b4ceefb83506e65e6b5c45a476c064941c2266c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kosmindoormap-23.08.3.tar.xz">kosmindoormap-23.08.3</a></td>
   <td align="right">371kB</td>
   <td><tt>78a1a0be20fbc18d74506cee3e7fe56a3b68920e78dc284ab3533a10830a48e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kpat-23.08.3.tar.xz">kpat-23.08.3</a></td>
   <td align="right">3666kB</td>
   <td><tt>057f8d8ff70419742d0f08a5a75175837c9591959160aaacbbed26f5f165cec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kpimtextedit-23.08.3.tar.xz">kpimtextedit-23.08.3</a></td>
   <td align="right">295kB</td>
   <td><tt>3c16724fcd0b8f915f7a8a981132838eb930d1e1a9a85fdfcfc78ab3a16204fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kpkpass-23.08.3.tar.xz">kpkpass-23.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>fda0a543546fb0f76ad6314ab561121b6ecbf2e5cbb7c7caccd8c3349db2f7ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kpmcore-23.08.3.tar.xz">kpmcore-23.08.3</a></td>
   <td align="right">608kB</td>
   <td><tt>28ab84b9a3b22c877f5f5c26616d8ad342c3f05ec2b0b6647d3edf5cdf6a6393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kpublictransport-23.08.3.tar.xz">kpublictransport-23.08.3</a></td>
   <td align="right">556kB</td>
   <td><tt>e7033bc8e5a1667aac3f26361c72f3be55388f9df24b64701d09ff5dbe4b93fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kqtquickcharts-23.08.3.tar.xz">kqtquickcharts-23.08.3</a></td>
   <td align="right">30kB</td>
   <td><tt>434f4d3c36824c58bfb03de73120e837bf0395b4e46346d030e1f026e040efac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/krdc-23.08.3.tar.xz">krdc-23.08.3</a></td>
   <td align="right">1592kB</td>
   <td><tt>fdec83b1e03775c08a9055feb5fa70b10173143eabc6223ea5668b2c38c06af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/krecorder-23.08.3.tar.xz">krecorder-23.08.3</a></td>
   <td align="right">158kB</td>
   <td><tt>e045e7ccf036d10cc373d83d777047f2317128c7c90bb416a4caa41434c2ad8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kreversi-23.08.3.tar.xz">kreversi-23.08.3</a></td>
   <td align="right">1053kB</td>
   <td><tt>821bc74569846f17cde7d0783484c401c259afb42e17e24a0a1d71fd8cab9640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/krfb-23.08.3.tar.xz">krfb-23.08.3</a></td>
   <td align="right">1289kB</td>
   <td><tt>325d36d0c93b9a2c027c638f512ed158f533a9e977edd23526446bb2e7d0e7e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kross-interpreters-23.08.3.tar.xz">kross-interpreters-23.08.3</a></td>
   <td align="right">148kB</td>
   <td><tt>7af5c1a2a0373ae1601dccf2229466f385b71556dcd0d27cafd048f4617f9ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kruler-23.08.3.tar.xz">kruler-23.08.3</a></td>
   <td align="right">281kB</td>
   <td><tt>4c6ed2b9adfee4e1cb238e96053852e17dbc7e65287c8f99788af586b37a2948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ksanecore-23.08.3.tar.xz">ksanecore-23.08.3</a></td>
   <td align="right">48kB</td>
   <td><tt>2b675a36404e5cda15cb72e864a55c551b6ad2bf86c9f873a3971981d613d703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kshisen-23.08.3.tar.xz">kshisen-23.08.3</a></td>
   <td align="right">985kB</td>
   <td><tt>69561a7e345185b92fda802c3e9162be63329b5ded19fa132c37228d4e519c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ksirk-23.08.3.tar.xz">ksirk-23.08.3</a></td>
   <td align="right">6902kB</td>
   <td><tt>726687da6d5ca6038653c57797f1aeddd082f60d39ff2690e283b88ecc91d6d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ksmtp-23.08.3.tar.xz">ksmtp-23.08.3</a></td>
   <td align="right">49kB</td>
   <td><tt>4b98a406d2ad278b43f57ec48cc7d53b981fe37758806ef90780fb7573f37f49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ksnakeduel-23.08.3.tar.xz">ksnakeduel-23.08.3</a></td>
   <td align="right">589kB</td>
   <td><tt>47414c0207ff94fb83a092a3d60224d0c95cfc08e5b62c57e387adb706dd36f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kspaceduel-23.08.3.tar.xz">kspaceduel-23.08.3</a></td>
   <td align="right">646kB</td>
   <td><tt>71de7d243b8a77e433b5df69c5b0a3dd988a3fc71114deeebf4c3d141cb4d5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ksquares-23.08.3.tar.xz">ksquares-23.08.3</a></td>
   <td align="right">306kB</td>
   <td><tt>13cc866e5a0d8973a5441cfc9e53051bda7413b1e801529fa1597e5e9081271a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ksudoku-23.08.3.tar.xz">ksudoku-23.08.3</a></td>
   <td align="right">1667kB</td>
   <td><tt>893dfff1e330dea2c59fa2112ef24cc02d4936bf46c5199e899803f9df471a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ksystemlog-23.08.3.tar.xz">ksystemlog-23.08.3</a></td>
   <td align="right">1961kB</td>
   <td><tt>1c18797e3ea7b70c1e939fe039a2c759c46c9b15a063fce917903042a751d627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kteatime-23.08.3.tar.xz">kteatime-23.08.3</a></td>
   <td align="right">307kB</td>
   <td><tt>2d85b4a3ded30ff5a3b3a4107d408ec5875d4476a26e2d00ecb321440eaacd0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ktimer-23.08.3.tar.xz">ktimer-23.08.3</a></td>
   <td align="right">396kB</td>
   <td><tt>79bbdeb085a0bb8d7810c8e70516046f904ad2061fe4bc66f1d98f5621686fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ktnef-23.08.3.tar.xz">ktnef-23.08.3</a></td>
   <td align="right">303kB</td>
   <td><tt>2d837e258ef162a794d1b1dcc40444eb0b0df7418b188d0c2d66e3fa51bd76ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ktorrent-23.08.3.tar.xz">ktorrent-23.08.3</a></td>
   <td align="right">2105kB</td>
   <td><tt>c8d8d32b23d96d1f0e42ffd2aaad93da5a91131b0cbf9c5d9f994b1941f25ab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ktouch-23.08.3.tar.xz">ktouch-23.08.3</a></td>
   <td align="right">4921kB</td>
   <td><tt>a95a4c2d404ffbcfd587c2dc56b8c0a96cebd4adfb4f55cd7e93af4d1de55a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ktrip-23.08.3.tar.xz">ktrip-23.08.3</a></td>
   <td align="right">248kB</td>
   <td><tt>8ab75c456b2d75c14be57e3ed8df7a5c422443eda22827ae4f822b5ec565ac85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/ktuberling-23.08.3.tar.xz">ktuberling-23.08.3</a></td>
   <td align="right">69730kB</td>
   <td><tt>6a375314d3df54f6c1f4aefea69658c74550a9887b59dfa89d162b2b97fd304f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kturtle-23.08.3.tar.xz">kturtle-23.08.3</a></td>
   <td align="right">2192kB</td>
   <td><tt>0a5f5375e31f02d3a5f92111e45fcd97c3b865bcb24ced99b362f1e67f12c9aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kubrick-23.08.3.tar.xz">kubrick-23.08.3</a></td>
   <td align="right">344kB</td>
   <td><tt>82b072f843bf4691a50c7acba9a61657ac6330f92b1d325ed8ccb4320706f04f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kwalletmanager-23.08.3.tar.xz">kwalletmanager-23.08.3</a></td>
   <td align="right">831kB</td>
   <td><tt>778c26773f7f671c2e81df7f75ae6ed966c096bdbb867606c78b6151cb37b472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kwave-23.08.3.tar.xz">kwave-23.08.3</a></td>
   <td align="right">6803kB</td>
   <td><tt>8da7e627595ec2e3be61455a488d51d1c6822ef012696ffcee796d49ba649b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kweather-23.08.3.tar.xz">kweather-23.08.3</a></td>
   <td align="right">924kB</td>
   <td><tt>d2c567a6c5df90e90fb0cb320f61dfc43453f315be747bf1fb85b09483c364fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/kwordquiz-23.08.3.tar.xz">kwordquiz-23.08.3</a></td>
   <td align="right">3977kB</td>
   <td><tt>e19b6a404d437d65c3d8281dd1da6631736f251bee113c62891c7b3d42570d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libgravatar-23.08.3.tar.xz">libgravatar-23.08.3</a></td>
   <td align="right">35kB</td>
   <td><tt>e3bada1f4d62784c34b04b97a48dbccd1775ad703f56855a406a59cbcd72628a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkcddb-23.08.3.tar.xz">libkcddb-23.08.3</a></td>
   <td align="right">440kB</td>
   <td><tt>bfd1516991042f6f660b5f6e85b77ea21394536ebce15ff46105cfedaedfc82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkcompactdisc-23.08.3.tar.xz">libkcompactdisc-23.08.3</a></td>
   <td align="right">97kB</td>
   <td><tt>77e28e29645eec03f37f118e267ad4c711489e7c10c54de7c3ade92f81f78628</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkdcraw-23.08.3.tar.xz">libkdcraw-23.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>5406fbbbaded4af8001581dbdb0b85fd9e8ba88df162212a4683e2e9206df32f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkdegames-23.08.3.tar.xz">libkdegames-23.08.3</a></td>
   <td align="right">5844kB</td>
   <td><tt>079d8adb5046551aaf0427b042ba9f09dfdad7bacfdeebfba3c5e593e3daea93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkdepim-23.08.3.tar.xz">libkdepim-23.08.3</a></td>
   <td align="right">278kB</td>
   <td><tt>ce655cfd538a9b1af87de33fe05ce5ba6655ab4e76d7e111c1408da7356d6d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkeduvocdocument-23.08.3.tar.xz">libkeduvocdocument-23.08.3</a></td>
   <td align="right">223kB</td>
   <td><tt>4b79dcc425c884fba890bc63d2241864dbefe50096afa5fce28a0cf7f66fa1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkexiv2-23.08.3.tar.xz">libkexiv2-23.08.3</a></td>
   <td align="right">59kB</td>
   <td><tt>07f03d40a89cb5bad2deec80784ea7d4cea702d201f06b97f3888c433df638dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkgapi-23.08.3.tar.xz">libkgapi-23.08.3</a></td>
   <td align="right">327kB</td>
   <td><tt>7a0637e07b427e88950dc87e7e6fab2a55db829035144a9a565763c4c7488705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkipi-23.08.3.tar.xz">libkipi-23.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>fbaf22df713fc32ae52188cf22480d0b43a4e78916faded68f04da4fd9d190cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkleo-23.08.3.tar.xz">libkleo-23.08.3</a></td>
   <td align="right">543kB</td>
   <td><tt>0c37f32e128a5d33e9bf32d00cf9bd61efe56990284d2d3c864aab18d83e13e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkmahjongg-23.08.3.tar.xz">libkmahjongg-23.08.3</a></td>
   <td align="right">1647kB</td>
   <td><tt>24f77c8c800841bab64310392765baa609142c9400d0fe8640e9490753f51675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libkomparediff2-23.08.3.tar.xz">libkomparediff2-23.08.3</a></td>
   <td align="right">183kB</td>
   <td><tt>e660e72b2a33e10b0e95594f8c4dae5f031c69a719d78b148437424d826870b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libksane-23.08.3.tar.xz">libksane-23.08.3</a></td>
   <td align="right">151kB</td>
   <td><tt>ce044c15a49c854fa5d447d018993cda587ae29546c740fd3f191d5cccced637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libksieve-23.08.3.tar.xz">libksieve-23.08.3</a></td>
   <td align="right">556kB</td>
   <td><tt>7e460e459c86eb75d942c078d4a9e07afce04e843e126f22908edf91b63c3c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/libktorrent-23.08.3.tar.xz">libktorrent-23.08.3</a></td>
   <td align="right">589kB</td>
   <td><tt>ca750513f7ff0c9345628c62606b605bcf4f698744b2c3f875d20b346b3f82ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/lokalize-23.08.3.tar.xz">lokalize-23.08.3</a></td>
   <td align="right">2092kB</td>
   <td><tt>42cce9c077fef98cc94327db6016b6ea1d09f4e4412b0bfe5f9247771ae578c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/lskat-23.08.3.tar.xz">lskat-23.08.3</a></td>
   <td align="right">1220kB</td>
   <td><tt>045bdd3a6841641df17960de94a0ba4d6cf1aa5b6e14ee9aa54e161815f21849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/mailcommon-23.08.3.tar.xz">mailcommon-23.08.3</a></td>
   <td align="right">745kB</td>
   <td><tt>b9f874cad93b0f862792a19c7fa7abee0741f72d93333abe258160402b885549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/mailimporter-23.08.3.tar.xz">mailimporter-23.08.3</a></td>
   <td align="right">579kB</td>
   <td><tt>b59700603663dfaabe0f6dcc043ae569359df0c0ce1e38e766a4f27ef136310a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/marble-23.08.3.tar.xz">marble-23.08.3</a></td>
   <td align="right">52525kB</td>
   <td><tt>805e175f8ea8201eea303fe2f2359aec30fc1c0a4918f0f7ab51f6e51431c298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/markdownpart-23.08.3.tar.xz">markdownpart-23.08.3</a></td>
   <td align="right">30kB</td>
   <td><tt>b776325b0b9ef5cb865a00f6489bbe95a59f05038f165ca957430a38eac988db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/mbox-importer-23.08.3.tar.xz">mbox-importer-23.08.3</a></td>
   <td align="right">29kB</td>
   <td><tt>05166958527b484e3d49a408b00fce0717e8517e3730172ee99e2d7fd47d060c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/merkuro-23.08.3.tar.xz">merkuro-23.08.3</a></td>
   <td align="right">956kB</td>
   <td><tt>9df6a1beb88192f21164432593ab6d1e611e298908100ae606cb566ce81a0fef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/messagelib-23.08.3.tar.xz">messagelib-23.08.3</a></td>
   <td align="right">11116kB</td>
   <td><tt>5b964413590f244cd8b62a1b0c957fd13b597f87d64213bf512a20eddc4d46eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/minuet-23.08.3.tar.xz">minuet-23.08.3</a></td>
   <td align="right">27038kB</td>
   <td><tt>d4617bb9237da02db0fc551bcc4163fd506b3438173ac712fb8e54d2d8441748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/neochat-23.08.3.tar.xz">neochat-23.08.3</a></td>
   <td align="right">764kB</td>
   <td><tt>9ef155dc669d29fd7e99e35c69b0a50c4ff18cc92185a0000857e59721e7f3bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/okular-23.08.3.tar.xz">okular-23.08.3</a></td>
   <td align="right">8316kB</td>
   <td><tt>4254557578d6e95c5708bc5ae0b0bc2b9b4961d56c38f3a8fdafafc9ddbd119b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/palapeli-23.08.3.tar.xz">palapeli-23.08.3</a></td>
   <td align="right">2068kB</td>
   <td><tt>9848a27ee9c96fd554d05d182a7330ab77a452443a3ed383c0891ddcac386b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/parley-23.08.3.tar.xz">parley-23.08.3</a></td>
   <td align="right">8400kB</td>
   <td><tt>548a396b48969331ed312898e999d88c87e6ea6e6febe043bf8e83550a19bd01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/partitionmanager-23.08.3.tar.xz">partitionmanager-23.08.3</a></td>
   <td align="right">2097kB</td>
   <td><tt>836939d649f8903aeb1cdf0aba9cae2ddbe95bbee1bee0efdbe4620f73a4932c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/picmi-23.08.3.tar.xz">picmi-23.08.3</a></td>
   <td align="right">1505kB</td>
   <td><tt>7b315edde6339ee21e812a5eae118e24dd49305348927d8a36bb3f4bc1fedcd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/pimcommon-23.08.3.tar.xz">pimcommon-23.08.3</a></td>
   <td align="right">340kB</td>
   <td><tt>64568187cc0fe7e8455ea1351440e3f3142813f822d2966e0d7e4f1016d1e5c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/pim-data-exporter-23.08.3.tar.xz">pim-data-exporter-23.08.3</a></td>
   <td align="right">417kB</td>
   <td><tt>91e8527614baaa942bb1b15f689e35fd118804ac162a9eb7148eaf59cf665b2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/pim-sieve-editor-23.08.3.tar.xz">pim-sieve-editor-23.08.3</a></td>
   <td align="right">455kB</td>
   <td><tt>7f2301a2cfd4061e02a991f335e1e6603c28e04882581106a7ac613bdb05040e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/plasmatube-23.08.3.tar.xz">plasmatube-23.08.3</a></td>
   <td align="right">81kB</td>
   <td><tt>25f9e101aabf074f148188121d134ff3bb4b08e2bf9d0b078d79857ea6ae5f8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/poxml-23.08.3.tar.xz">poxml-23.08.3</a></td>
   <td align="right">43kB</td>
   <td><tt>52eca9b5501d75406df3dc4898e5c235ff010465b34ab6c7742bee17e3a5b38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/print-manager-23.08.3.tar.xz">print-manager-23.08.3</a></td>
   <td align="right">282kB</td>
   <td><tt>db2a86cd1ce470a31403e66bbccc151c215a5c673656d929412a5e043801dc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/qmlkonsole-23.08.3.tar.xz">qmlkonsole-23.08.3</a></td>
   <td align="right">58kB</td>
   <td><tt>101087ead93deb5448e645c8c1d690146b46e8ff95c0bd9f0558e6666cfb126a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/rocs-23.08.3.tar.xz">rocs-23.08.3</a></td>
   <td align="right">1534kB</td>
   <td><tt>112007e89bef94692d48ce1a0e5514da0d6b4d10d6d88731af0f1ea2d1d7b30d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/signon-kwallet-extension-23.08.3.tar.xz">signon-kwallet-extension-23.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>fc83618838b87c692f9def9a1eebddd4f32dc971433ff7d046ce888f2d2070d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/skanlite-23.08.3.tar.xz">skanlite-23.08.3</a></td>
   <td align="right">2394kB</td>
   <td><tt>f276467ad5bea2c836d5c6133ad74d9459570c2fb5a437a45f325ad6b73e0779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/skanpage-23.08.3.tar.xz">skanpage-23.08.3</a></td>
   <td align="right">1283kB</td>
   <td><tt>ef87ee5dbf10b3f61ad153ace1ca110a5af8986897769edfdcacbab24fc8910e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/spectacle-23.08.3.tar.xz">spectacle-23.08.3</a></td>
   <td align="right">1320kB</td>
   <td><tt>bd45d41b5eb451363b8c927adbb53b27c4dcee952b6bb576aec08ebcb9da24db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/step-23.08.3.tar.xz">step-23.08.3</a></td>
   <td align="right">973kB</td>
   <td><tt>a94bc3e347bde56714d22103842a23959e15e1f485d8b77eba68e4058dc037a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/svgpart-23.08.3.tar.xz">svgpart-23.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>2acfed4f1a5c0fbbcb8419acc4a7eceac4333a7380220e745b9eabe5afa1cbd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/sweeper-23.08.3.tar.xz">sweeper-23.08.3</a></td>
   <td align="right">390kB</td>
   <td><tt>c04ec8f45d4e3b1ab73240bf8a259ce0ea1b1248a2a7c05599bde8bf7380f8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/telly-skout-23.08.3.tar.xz">telly-skout-23.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>2bffdea225d94e2c2d3dd2841a01a863d7b73919a50aa20008c2741b70ffb3b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/tokodon-23.08.3.tar.xz">tokodon-23.08.3</a></td>
   <td align="right">321kB</td>
   <td><tt>bd6ae10d5099cf689116f4842941a5f3e26db864f2e0af4b6a9f84409f348559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/umbrello-23.08.3.tar.xz">umbrello-23.08.3</a></td>
   <td align="right">5639kB</td>
   <td><tt>3b99a47be0b25d723cf476b18ba57eb36bf63d12b870e8df81a5420fbded7550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/yakuake-23.08.3.tar.xz">yakuake-23.08.3</a></td>
   <td align="right">421kB</td>
   <td><tt>d9b84ed35a3b602da70bb5e2eeb0f87fca5546def476bf73a20dcbfeadfa039a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.08.3/src/zanshin-23.08.3.tar.xz">zanshin-23.08.3</a></td>
   <td align="right">353kB</td>
   <td><tt>ae3f51213c16d00d296ea7754d641bfcd644e9e16c19644453b17e33f69d8a35</tt></td>
</tr>

</table>
