
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/attica-5.109.0.tar.xz">attica-5.109.0</a></td>
   <td align="right">67kB</td>
   <td><tt>4471bb8667b5381db56a5177d8a02b2165c0e6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/baloo-5.109.0.tar.xz">baloo-5.109.0</a></td>
   <td align="right">302kB</td>
   <td><tt>639ac7be4e64d6e76f7f8ec69deee118fc945a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/bluez-qt-5.109.0.tar.xz">bluez-qt-5.109.0</a></td>
   <td align="right">112kB</td>
   <td><tt>c529c354f25f6aa0afef2eab4b0fe872bfafc3b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/breeze-icons-5.109.0.tar.xz">breeze-icons-5.109.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a81b76f4058507221b9b0e7f8552c68866d6a5ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/extra-cmake-modules-5.109.0.tar.xz">extra-cmake-modules-5.109.0</a></td>
   <td align="right">323kB</td>
   <td><tt>ec79f82a86cc8310aac512c81004bc76d32e7c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/frameworkintegration-5.109.0.tar.xz">frameworkintegration-5.109.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8f7ad68372e5960e065885a0ea5aeb48ebe575c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kactivities-5.109.0.tar.xz">kactivities-5.109.0</a></td>
   <td align="right">71kB</td>
   <td><tt>a453a6f4d559bb72d6634d2c40459128b80ae55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kactivities-stats-5.109.0.tar.xz">kactivities-stats-5.109.0</a></td>
   <td align="right">82kB</td>
   <td><tt>1662dad11db176ca48b4757f18efd57fbec05f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kapidox-5.109.0.tar.xz">kapidox-5.109.0</a></td>
   <td align="right">194kB</td>
   <td><tt>b5c673b7c81e251f044b0ab84e915b8eceb9bfaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/karchive-5.109.0.tar.xz">karchive-5.109.0</a></td>
   <td align="right">998kB</td>
   <td><tt>273608cb73dc334bd18f5e5702fcd0671374a2f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kauth-5.109.0.tar.xz">kauth-5.109.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>78bb71e829944403f60e6894bf44cbddf9ad0c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kbookmarks-5.109.0.tar.xz">kbookmarks-5.109.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>73006cd3529c02e4aee0d609d5ff3a04434dd260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kcalendarcore-5.109.0.tar.xz">kcalendarcore-5.109.0</a></td>
   <td align="right">260kB</td>
   <td><tt>1368418c4efe6815bc03c9c95d6d663260134ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kcmutils-5.109.0.tar.xz">kcmutils-5.109.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>932b9c19435654c028d85573d06a30bdec3acac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kcodecs-5.109.0.tar.xz">kcodecs-5.109.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cffffccfeb8f9a66b19b9df3f4c1eebcd56fe151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kcompletion-5.109.0.tar.xz">kcompletion-5.109.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b9c2fb6c281a1554026a934fa124023903216989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kconfig-5.109.0.tar.xz">kconfig-5.109.0</a></td>
   <td align="right">287kB</td>
   <td><tt>3354d6af99d42b3b9c655c751efeef499cf2a56b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kconfigwidgets-5.109.0.tar.xz">kconfigwidgets-5.109.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c61ea500cdc4bef9eedd30916260f9250327b4ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kcontacts-5.109.0.tar.xz">kcontacts-5.109.0</a></td>
   <td align="right">208kB</td>
   <td><tt>f72a822e54a7f2153d02b20b262e00e66f103080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kcoreaddons-5.109.0.tar.xz">kcoreaddons-5.109.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>18f3de51fdcfa4247287090460e835ed625c4bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kcrash-5.109.0.tar.xz">kcrash-5.109.0</a></td>
   <td align="right">27kB</td>
   <td><tt>b325f970e265e30091bf07e4d6a4f556f54898ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kdav-5.109.0.tar.xz">kdav-5.109.0</a></td>
   <td align="right">64kB</td>
   <td><tt>d459651fd0b64a274e3a6e60100fc75bb7a782d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kdbusaddons-5.109.0.tar.xz">kdbusaddons-5.109.0</a></td>
   <td align="right">47kB</td>
   <td><tt>d2a1e324d7095a7140ebd65f1c9ec268b3dcab3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kdeclarative-5.109.0.tar.xz">kdeclarative-5.109.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>85e38e85a5d32576539ad2a80b5654742d7f8a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kded-5.109.0.tar.xz">kded-5.109.0</a></td>
   <td align="right">40kB</td>
   <td><tt>9a0f47473fe38e759ba67b5db8d37aac514c0c34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kdesu-5.109.0.tar.xz">kdesu-5.109.0</a></td>
   <td align="right">55kB</td>
   <td><tt>64620b4ee499b5ba14e1c1744d2ace9b06d1f55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kdnssd-5.109.0.tar.xz">kdnssd-5.109.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>70630c07a5acd404a0e8de1b42c2dcbfedec132b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kdoctools-5.109.0.tar.xz">kdoctools-5.109.0</a></td>
   <td align="right">454kB</td>
   <td><tt>cee418e50fbbd14b27220c8ce1c51f9d515d0ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kemoticons-5.109.0.tar.xz">kemoticons-5.109.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>786837ba383fd051caa21330e5f7e13f830d081b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kfilemetadata-5.109.0.tar.xz">kfilemetadata-5.109.0</a></td>
   <td align="right">461kB</td>
   <td><tt>814acb6010697a21059275487570dc789ee431b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kglobalaccel-5.109.0.tar.xz">kglobalaccel-5.109.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c0903a5708e7d13e3949a4ab65c0c5248865b24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kguiaddons-5.109.0.tar.xz">kguiaddons-5.109.0</a></td>
   <td align="right">76kB</td>
   <td><tt>24dc521dfeaac91fc591eb6bd4f87e5e0a3f5907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kholidays-5.109.0.tar.xz">kholidays-5.109.0</a></td>
   <td align="right">249kB</td>
   <td><tt>6ff479d822b5293d6f413db795c13e97c428fe7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/ki18n-5.109.0.tar.xz">ki18n-5.109.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c45746667c9462cb603714cbad468f2ff7583adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kiconthemes-5.109.0.tar.xz">kiconthemes-5.109.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>432d20e61f9f5fb0e9378ae1afd3bd6ce5c89abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kidletime-5.109.0.tar.xz">kidletime-5.109.0</a></td>
   <td align="right">30kB</td>
   <td><tt>cd29e927f75fdf198d86795b0eb04bab7a5deb4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kimageformats-5.109.0.tar.xz">kimageformats-5.109.0</a></td>
   <td align="right">12MB</td>
   <td><tt>600f83d1597b40c1de11066ca0ca9ad3d5a8138a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kinit-5.109.0.tar.xz">kinit-5.109.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>b75f3d48a05fe38480ad1bf3163a4381d9707f43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kio-5.109.0.tar.xz">kio-5.109.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>dbd452f6abf4f9ff3411317bfd19e5d4a3d51ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kirigami2-5.109.0.tar.xz">kirigami2-5.109.0</a></td>
   <td align="right">373kB</td>
   <td><tt>33fd0c6708ec83b71b87a6563d749ef72ebb3c2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kitemmodels-5.109.0.tar.xz">kitemmodels-5.109.0</a></td>
   <td align="right">397kB</td>
   <td><tt>b86b5a4e7b6c99a61eade98094d5807ee6de2e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kitemviews-5.109.0.tar.xz">kitemviews-5.109.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>163e0e347b3d276b22cdd588141ae0dd3ea194a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kjobwidgets-5.109.0.tar.xz">kjobwidgets-5.109.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7875cb48c8332e580651885c142215bbd9a679d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/knewstuff-5.109.0.tar.xz">knewstuff-5.109.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>9be3fb44f07eb2c3d9187b885ff44f7ddb24cd67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/knotifications-5.109.0.tar.xz">knotifications-5.109.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>77ee89cb24f86d30da9f5de318fd22fb99e1b68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/knotifyconfig-5.109.0.tar.xz">knotifyconfig-5.109.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fa8977cb510640ecc1d1d8bb3b8d268e5a9f0702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kpackage-5.109.0.tar.xz">kpackage-5.109.0</a></td>
   <td align="right">183kB</td>
   <td><tt>ec9f5ce9d3200f701340bb177cccad1d1e77fd10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kparts-5.109.0.tar.xz">kparts-5.109.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ad4e881d9abbf3388521db1f2b60f4bda05a3bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kpeople-5.109.0.tar.xz">kpeople-5.109.0</a></td>
   <td align="right">61kB</td>
   <td><tt>ef1283435dfcfd9e5e22657c794d960c323df5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kplotting-5.109.0.tar.xz">kplotting-5.109.0</a></td>
   <td align="right">32kB</td>
   <td><tt>8d5316aab575375f8e64ccbc2cfbba3e419e9a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kpty-5.109.0.tar.xz">kpty-5.109.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ff423ae46affd9347ba28e700e331fcdcdc80a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kquickcharts-5.109.0.tar.xz">kquickcharts-5.109.0</a></td>
   <td align="right">110kB</td>
   <td><tt>3ce27cd946a82ee2503c232531f20b25b0b9b928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/krunner-5.109.0.tar.xz">krunner-5.109.0</a></td>
   <td align="right">86kB</td>
   <td><tt>bd961cff25d37e0d4d0d380fa20a36971808bbd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kservice-5.109.0.tar.xz">kservice-5.109.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>76a4c0cbdf0bc6864486345976a5e0f157d9fd8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/ktexteditor-5.109.0.tar.xz">ktexteditor-5.109.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6879f57968bfbc5449c46d20b361223d57496f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/ktextwidgets-5.109.0.tar.xz">ktextwidgets-5.109.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>72ea41af74f86ca57818efe1a38f1b51a2589c90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kunitconversion-5.109.0.tar.xz">kunitconversion-5.109.0</a></td>
   <td align="right">910kB</td>
   <td><tt>cbd6f6fc9c3b674eb23e4653dc199eb9f7445f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kwallet-5.109.0.tar.xz">kwallet-5.109.0</a></td>
   <td align="right">341kB</td>
   <td><tt>d2700d7e0a6af1d2770c164b52fce12375023f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kwayland-5.109.0.tar.xz">kwayland-5.109.0</a></td>
   <td align="right">329kB</td>
   <td><tt>d314dd2b8fcc1096d9639412aabc8ad8e29f4ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kwidgetsaddons-5.109.0.tar.xz">kwidgetsaddons-5.109.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>4c9e7e89f427abeacf0645be5f0fe8306df616f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kwindowsystem-5.109.0.tar.xz">kwindowsystem-5.109.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>473784bb4ce7166a586ac3b564c95a7102dd711b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/kxmlgui-5.109.0.tar.xz">kxmlgui-5.109.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>0396540797f22cdc9bb4775a24177f761e9fd761</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/modemmanager-qt-5.109.0.tar.xz">modemmanager-qt-5.109.0</a></td>
   <td align="right">118kB</td>
   <td><tt>9f632272619d7f7ae5f982b3d260707f4318ab12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/networkmanager-qt-5.109.0.tar.xz">networkmanager-qt-5.109.0</a></td>
   <td align="right">193kB</td>
   <td><tt>8244cdb37b39b8e751faa7f07cece2cbca97eecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/oxygen-icons5-5.109.0.tar.xz">oxygen-icons5-5.109.0</a></td>
   <td align="right">227MB</td>
   <td><tt>abd4a044e9be9c9e82d15f631ccbd1b5909c88ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/plasma-framework-5.109.0.tar.xz">plasma-framework-5.109.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>cfc25256b3014e91938722b1cf01b21a2cd19ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/prison-5.109.0.tar.xz">prison-5.109.0</a></td>
   <td align="right">53kB</td>
   <td><tt>66774732da664e322aa72fda39246bd6d572197a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/purpose-5.109.0.tar.xz">purpose-5.109.0</a></td>
   <td align="right">176kB</td>
   <td><tt>762f2089aa24936ef801b50d574777b615c3abd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/qqc2-desktop-style-5.109.0.tar.xz">qqc2-desktop-style-5.109.0</a></td>
   <td align="right">67kB</td>
   <td><tt>24c1150ac59ccc96e7a87463b97bffd710a210fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/solid-5.109.0.tar.xz">solid-5.109.0</a></td>
   <td align="right">298kB</td>
   <td><tt>1a4ee6c22fcd5f2c12aa77545230ee6399c6d2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/sonnet-5.109.0.tar.xz">sonnet-5.109.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>09b0564c230c75c9544857321329c630a62f2039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/syndication-5.109.0.tar.xz">syndication-5.109.0</a></td>
   <td align="right">498kB</td>
   <td><tt>b417ddfc3e68898b6edc3e18eff6f20f432de3e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/syntax-highlighting-5.109.0.tar.xz">syntax-highlighting-5.109.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>9ec3c80d2e294a1ff1884db78226f31389bda9df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.109/threadweaver-5.109.0.tar.xz">threadweaver-5.109.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>791ed02a384e891c3661cb372d3963437f4fc0cd</tt></td>
</tr>

</table>
