
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/attica-5.95.0.tar.xz">attica-5.95.0</a></td>
   <td align="right">67kB</td>
   <td><tt>34167c36c260f249ecc95cd73036b4b10da51136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/baloo-5.95.0.tar.xz">baloo-5.95.0</a></td>
   <td align="right">283kB</td>
   <td><tt>343ae884162fe0b8f4bbf8011fefd144f7dc3d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/bluez-qt-5.95.0.tar.xz">bluez-qt-5.95.0</a></td>
   <td align="right">111kB</td>
   <td><tt>12a9c9566b9c054b1f882d49b9fb92503735459e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/breeze-icons-5.95.0.tar.xz">breeze-icons-5.95.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e65f031c278c94f2c77c08e442811c1de5546ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/extra-cmake-modules-5.95.0.tar.xz">extra-cmake-modules-5.95.0</a></td>
   <td align="right">323kB</td>
   <td><tt>ab4200dd2cd8a01ef5865c00be99d3c01f967f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/frameworkintegration-5.95.0.tar.xz">frameworkintegration-5.95.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>74c3cbe71fbb3d8e28a68b3a56d4a762735e6f07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kactivities-5.95.0.tar.xz">kactivities-5.95.0</a></td>
   <td align="right">72kB</td>
   <td><tt>c6c57f4bc8754a65293cf768b04e582c0dc097c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kactivities-stats-5.95.0.tar.xz">kactivities-stats-5.95.0</a></td>
   <td align="right">82kB</td>
   <td><tt>ae78633992902117e06ec6f9bebd9ef9e73bd79a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kapidox-5.95.0.tar.xz">kapidox-5.95.0</a></td>
   <td align="right">192kB</td>
   <td><tt>efd0f8ad19a45c1f166ba7a009ef5dadd6497d35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/karchive-5.95.0.tar.xz">karchive-5.95.0</a></td>
   <td align="right">963kB</td>
   <td><tt>ee864b2b21ebe5b40f037a00f73b6a56d590c8bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kauth-5.95.0.tar.xz">kauth-5.95.0</a></td>
   <td align="right">88kB</td>
   <td><tt>fa95923448fb17f95d03e73b39c0b676648c4e15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kbookmarks-5.95.0.tar.xz">kbookmarks-5.95.0</a></td>
   <td align="right">127kB</td>
   <td><tt>da0774eeff09534ed7802f193bf64c0b0d7e9863</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kcalendarcore-5.95.0.tar.xz">kcalendarcore-5.95.0</a></td>
   <td align="right">257kB</td>
   <td><tt>145131cf02240335ce49197d4d1984ef2dd34cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kcmutils-5.95.0.tar.xz">kcmutils-5.95.0</a></td>
   <td align="right">181kB</td>
   <td><tt>6b0fcc1fb402eeadeaf254c09ec24876ba1433a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kcodecs-5.95.0.tar.xz">kcodecs-5.95.0</a></td>
   <td align="right">231kB</td>
   <td><tt>98c0b8e17c02178bb953f2a10efc66496c7c4980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kcompletion-5.95.0.tar.xz">kcompletion-5.95.0</a></td>
   <td align="right">121kB</td>
   <td><tt>c95c33b7ea7bc0009ddfaaf35473e27a4eaf4ef5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kconfig-5.95.0.tar.xz">kconfig-5.95.0</a></td>
   <td align="right">275kB</td>
   <td><tt>410a7e70e7fdc18e3fcef53ba21a74fda8ee1f87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kconfigwidgets-5.95.0.tar.xz">kconfigwidgets-5.95.0</a></td>
   <td align="right">407kB</td>
   <td><tt>a6ee31f9fee8039af7d67e95d5b6952e2cedd4bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kcontacts-5.95.0.tar.xz">kcontacts-5.95.0</a></td>
   <td align="right">188kB</td>
   <td><tt>2e78d72f7291f325fbb4fa9054b1c01baa1f9f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kcoreaddons-5.95.0.tar.xz">kcoreaddons-5.95.0</a></td>
   <td align="right">451kB</td>
   <td><tt>dc98c18a35a3021806c832f873f19bb401961f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kcrash-5.95.0.tar.xz">kcrash-5.95.0</a></td>
   <td align="right">27kB</td>
   <td><tt>c9bc763e9c6ab48c450408b6bdf2ee8644c07891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kdav-5.95.0.tar.xz">kdav-5.95.0</a></td>
   <td align="right">63kB</td>
   <td><tt>e09a25763a6af970d0221f85ca1ebf98a90b9cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kdbusaddons-5.95.0.tar.xz">kdbusaddons-5.95.0</a></td>
   <td align="right">46kB</td>
   <td><tt>edbd1f5b740947d3ae30851783fcdd137cae958a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kdeclarative-5.95.0.tar.xz">kdeclarative-5.95.0</a></td>
   <td align="right">200kB</td>
   <td><tt>3ec9e5cd7ec9a3e9c8df1dca5ebb2564a2621131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kded-5.95.0.tar.xz">kded-5.95.0</a></td>
   <td align="right">38kB</td>
   <td><tt>28c1dab20104dda536a652c7f0f0b4ada3cd5f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kdesu-5.95.0.tar.xz">kdesu-5.95.0</a></td>
   <td align="right">54kB</td>
   <td><tt>e264b5bc22967174e31b530c112361bcd54f242d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kdnssd-5.95.0.tar.xz">kdnssd-5.95.0</a></td>
   <td align="right">59kB</td>
   <td><tt>47519125db9c5fc3e7fa615b7e1e5681ecb73186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kdoctools-5.95.0.tar.xz">kdoctools-5.95.0</a></td>
   <td align="right">430kB</td>
   <td><tt>e389ff5a2ec969bcdf346c2d3a0fc6a8631efc94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kemoticons-5.95.0.tar.xz">kemoticons-5.95.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a41ad85b460d0fe284bfa675956e76f43a4d5a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kfilemetadata-5.95.0.tar.xz">kfilemetadata-5.95.0</a></td>
   <td align="right">425kB</td>
   <td><tt>4b128e2abad2c60970d553d6d3c45bc0689bc747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kglobalaccel-5.95.0.tar.xz">kglobalaccel-5.95.0</a></td>
   <td align="right">93kB</td>
   <td><tt>d1d11f739b641ebdbd6c684bf3b3005c9d6d0dbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kguiaddons-5.95.0.tar.xz">kguiaddons-5.95.0</a></td>
   <td align="right">71kB</td>
   <td><tt>a6a427cf48154bb97aafca85559c09e180f647dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kholidays-5.95.0.tar.xz">kholidays-5.95.0</a></td>
   <td align="right">233kB</td>
   <td><tt>8364e117553ed2ea46123bcfa1a4ac9ddb38786e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/ki18n-5.95.0.tar.xz">ki18n-5.95.0</a></td>
   <td align="right">934kB</td>
   <td><tt>cabf0875c1ef566b41d11373749346c3ee2caf66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kiconthemes-5.95.0.tar.xz">kiconthemes-5.95.0</a></td>
   <td align="right">221kB</td>
   <td><tt>b3d7fc1b6028c8ccd764e3d6077d69e4b4a1b44f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kidletime-5.95.0.tar.xz">kidletime-5.95.0</a></td>
   <td align="right">28kB</td>
   <td><tt>82032ec2efae5765dd918254d62472785421baa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kimageformats-5.95.0.tar.xz">kimageformats-5.95.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>09027a43bb4162392785812bb9f00998a90b2f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kinit-5.95.0.tar.xz">kinit-5.95.0</a></td>
   <td align="right">116kB</td>
   <td><tt>3c39f2ba874b50737187b2a65914f79f6571f715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kio-5.95.0.tar.xz">kio-5.95.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>c3aad4fb619d1fd3aed08f3d0c418b2514c5f36f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kirigami2-5.95.0.tar.xz">kirigami2-5.95.0</a></td>
   <td align="right">349kB</td>
   <td><tt>2e0aebaccf5cf1c933a8865f75386d484c7e61bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kitemmodels-5.95.0.tar.xz">kitemmodels-5.95.0</a></td>
   <td align="right">397kB</td>
   <td><tt>d7283dad652ed578511394aabd985974b70b5f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kitemviews-5.95.0.tar.xz">kitemviews-5.95.0</a></td>
   <td align="right">75kB</td>
   <td><tt>9ba6a57e301c39f587beddf8eaf674fbdd65838d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kjobwidgets-5.95.0.tar.xz">kjobwidgets-5.95.0</a></td>
   <td align="right">99kB</td>
   <td><tt>ddbb16d270a5fd96f97a2feed00109c06bb1a096</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/knewstuff-5.95.0.tar.xz">knewstuff-5.95.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6696c5a2229e8639820a816fdd03c7a668dce528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/knotifications-5.95.0.tar.xz">knotifications-5.95.0</a></td>
   <td align="right">129kB</td>
   <td><tt>c403297e2d014fb9a29df751f38da52bfd0ffdbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/knotifyconfig-5.95.0.tar.xz">knotifyconfig-5.95.0</a></td>
   <td align="right">85kB</td>
   <td><tt>04636e6f9046cfb0cb747cd8c3be4faa353eb4b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kpackage-5.95.0.tar.xz">kpackage-5.95.0</a></td>
   <td align="right">138kB</td>
   <td><tt>a90d8ddc0ef72e2700fc3790dcfa9fbc86c85cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kparts-5.95.0.tar.xz">kparts-5.95.0</a></td>
   <td align="right">192kB</td>
   <td><tt>effcd06d9a5deec1818f5b251b629af9cf858578</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kpeople-5.95.0.tar.xz">kpeople-5.95.0</a></td>
   <td align="right">59kB</td>
   <td><tt>52fabf6f9c40b022b9fc4ccf4fb425d58f457db5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kplotting-5.95.0.tar.xz">kplotting-5.95.0</a></td>
   <td align="right">32kB</td>
   <td><tt>67b9e48e35cf3441b881a5d962393f837dc19a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kpty-5.95.0.tar.xz">kpty-5.95.0</a></td>
   <td align="right">58kB</td>
   <td><tt>95c271fe083be7c1c60dfd6595d348f275402143</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kquickcharts-5.95.0.tar.xz">kquickcharts-5.95.0</a></td>
   <td align="right">106kB</td>
   <td><tt>11ed76f3503f8165a8473f89d9bf6ea1ed089615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/krunner-5.95.0.tar.xz">krunner-5.95.0</a></td>
   <td align="right">85kB</td>
   <td><tt>5584dab63cea2aab717858fcb6636d9ec498b22e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kservice-5.95.0.tar.xz">kservice-5.95.0</a></td>
   <td align="right">261kB</td>
   <td><tt>7c4fb5961f8602957212f42725582a5ac44e2d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/ktexteditor-5.95.0.tar.xz">ktexteditor-5.95.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>27d2b7d8820fe90df3da258cd2dcb3c91ce6492d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/ktextwidgets-5.95.0.tar.xz">ktextwidgets-5.95.0</a></td>
   <td align="right">321kB</td>
   <td><tt>b56ee4c3e7f4d69696352653eb998b458a882c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kunitconversion-5.95.0.tar.xz">kunitconversion-5.95.0</a></td>
   <td align="right">872kB</td>
   <td><tt>3a6f952b095dac77b1eb823c3ff1c764dcdaa1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kwallet-5.95.0.tar.xz">kwallet-5.95.0</a></td>
   <td align="right">300kB</td>
   <td><tt>0b4e2a2fb161f692d5c85da91959985b4d83d522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kwayland-5.95.0.tar.xz">kwayland-5.95.0</a></td>
   <td align="right">327kB</td>
   <td><tt>e1af21b301c30a7d7ddff98e8efefd40930f3aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kwidgetsaddons-5.95.0.tar.xz">kwidgetsaddons-5.95.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8bf012e85445a265e5110524ca6514e4aa62d6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kwindowsystem-5.95.0.tar.xz">kwindowsystem-5.95.0</a></td>
   <td align="right">178kB</td>
   <td><tt>c208d3817b3589cc5717178495d97b4f99612921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/kxmlgui-5.95.0.tar.xz">kxmlgui-5.95.0</a></td>
   <td align="right">876kB</td>
   <td><tt>d298249f3eb1ab842422d1675216a972aca8ea0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/modemmanager-qt-5.95.0.tar.xz">modemmanager-qt-5.95.0</a></td>
   <td align="right">118kB</td>
   <td><tt>ebdb7cce07a09eaa336319c143b9d54c8b082e1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/networkmanager-qt-5.95.0.tar.xz">networkmanager-qt-5.95.0</a></td>
   <td align="right">192kB</td>
   <td><tt>8942204c8dd3160d4ff14c85718db8070bad4a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/oxygen-icons5-5.95.0.tar.xz">oxygen-icons5-5.95.0</a></td>
   <td align="right">227MB</td>
   <td><tt>5c0d4e5f50fffe66ee1873368707adfb0275fa98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/plasma-framework-5.95.0.tar.xz">plasma-framework-5.95.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ccbfbbd6140d03d0148ddd7e6609b69dbc618303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/prison-5.95.0.tar.xz">prison-5.95.0</a></td>
   <td align="right">54kB</td>
   <td><tt>077fbb38bac3b22ad275049088d4b322d784aa6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/purpose-5.95.0.tar.xz">purpose-5.95.0</a></td>
   <td align="right">168kB</td>
   <td><tt>2c37cc8d007b810cbe06f786ff478f4ca2d3506a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/qqc2-desktop-style-5.95.0.tar.xz">qqc2-desktop-style-5.95.0</a></td>
   <td align="right">62kB</td>
   <td><tt>3f206494e18316289710604197e4167c646bb810</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/solid-5.95.0.tar.xz">solid-5.95.0</a></td>
   <td align="right">252kB</td>
   <td><tt>f40b487839a2ee7471c1f88b45ad4eb9793e2c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/sonnet-5.95.0.tar.xz">sonnet-5.95.0</a></td>
   <td align="right">301kB</td>
   <td><tt>2778296c0ae8ce69dbf7a035d9b2ce7d9a34eff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/syndication-5.95.0.tar.xz">syndication-5.95.0</a></td>
   <td align="right">498kB</td>
   <td><tt>98665c411f0eaf15a2a8f35deb9c1e1a22f69607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/syntax-highlighting-5.95.0.tar.xz">syntax-highlighting-5.95.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5329e79370cb2250c1710f7a354c454c48f81b31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.95/threadweaver-5.95.0.tar.xz">threadweaver-5.95.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1f00ad2940cbca1bb74efb621b030cc373583539</tt></td>
</tr>

</table>
