<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/bluedevil-5.15.90.tar.xz">bluedevil-5.15.90</a></td>
   <td align="right">154kB</td>
   <td><tt>3a2f9cddd6381506c0706333407abbdd5da5f2664c1fb4c402f266339e9a43f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/breeze-5.15.90.tar.xz">breeze-5.15.90</a></td>
   <td align="right">23MB</td>
   <td><tt>0b8eb7f83c67d14cc5ab8f5f4b2b0ffd6f801749f6edb2fc11d2dd4abc39ba3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/breeze-grub-5.15.90.tar.xz">breeze-grub-5.15.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>0180b8442701feb47fac7ea4fce1dacac847e3b5c1354ccc7f65bc85fe1f3d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/breeze-gtk-5.15.90.tar.xz">breeze-gtk-5.15.90</a></td>
   <td align="right">46kB</td>
   <td><tt>ed49ca4bf65de41af34c175b4ab73e4eed6abf1c30716c82d6c9a8979d9e02db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/breeze-plymouth-5.15.90.tar.xz">breeze-plymouth-5.15.90</a></td>
   <td align="right">103kB</td>
   <td><tt>31e1e570b0ab7380763842dba8d2ccc971a49e45255b3e7d60e91580aca9f678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/discover-5.15.90.tar.xz">discover-5.15.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>9e69328bfb3b8ff597b95c5fd87f6a3751de3c25f142db0e858b916af72672d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/drkonqi-5.15.90.tar.xz">drkonqi-5.15.90</a></td>
   <td align="right">723kB</td>
   <td><tt>bf6e8f3dcffb0b4079035954ab8dcfe31717dc4578742c35ec9a4fb53fa890cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kactivitymanagerd-5.15.90.tar.xz">kactivitymanagerd-5.15.90</a></td>
   <td align="right">82kB</td>
   <td><tt>b52a8a6674b2f12d60bd265092cfa01ce13253f14388c763cf402a0f0f9a224f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kde-cli-tools-5.15.90.tar.xz">kde-cli-tools-5.15.90</a></td>
   <td align="right">573kB</td>
   <td><tt>cb72cd326aba8a4df6ebe48c7943dbbbd7374e4c58cda31108c7985c98ba46c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kde-gtk-config-5.15.90.tar.xz">kde-gtk-config-5.15.90</a></td>
   <td align="right">149kB</td>
   <td><tt>5899680ff597782c22098ef46a09f3a3c65d6cbb1d6faa1be569dd8ac562d930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kdecoration-5.15.90.tar.xz">kdecoration-5.15.90</a></td>
   <td align="right">41kB</td>
   <td><tt>094093e827170cd75c7327177177c92da4e75046dceacb7198735651488bcbaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kdeplasma-addons-5.15.90.tar.xz">kdeplasma-addons-5.15.90</a></td>
   <td align="right">581kB</td>
   <td><tt>c44839fb3781b249eaddb6cb6981cd7a9c404b6ddf689ecf299a956b30e30f65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kgamma5-5.15.90.tar.xz">kgamma5-5.15.90</a></td>
   <td align="right">77kB</td>
   <td><tt>b83121f057aca6c6372d37714b392c0dbea2d3e35d432aa54768b5bfc6c46958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/khotkeys-5.15.90.tar.xz">khotkeys-5.15.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5e4fe2d8f9d75fa149fafeced256bfc424785ccc85051af8dcafd7829cbac9be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kinfocenter-5.15.90.tar.xz">kinfocenter-5.15.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2b367415c218794db208c5b34aceee79c6f89a0886c0a3ef2e5a007fa4e0438d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kmenuedit-5.15.90.tar.xz">kmenuedit-5.15.90</a></td>
   <td align="right">792kB</td>
   <td><tt>fb4c70ed5ef8efa7c6efebccbacf60737d487469496a15f4758c9598f1ba8608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kscreen-5.15.90.tar.xz">kscreen-5.15.90</a></td>
   <td align="right">119kB</td>
   <td><tt>556c61a6db1dcf1e4bb43853139b80389161dc9c2b2d007ba02b947fcf0937c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kscreenlocker-5.15.90.tar.xz">kscreenlocker-5.15.90</a></td>
   <td align="right">119kB</td>
   <td><tt>1de6e35ade09813237ead4eb5017fd8b9ceda93d5c3dd5c9bf736ec151e6521b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/ksshaskpass-5.15.90.tar.xz">ksshaskpass-5.15.90</a></td>
   <td align="right">20kB</td>
   <td><tt>300ecdbc3302ec2ac5ff2d18c484eb2967e69dacfe7d2410bbd8fb8d4a29a57f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/ksysguard-5.15.90.tar.xz">ksysguard-5.15.90</a></td>
   <td align="right">488kB</td>
   <td><tt>374c7a1564c81c7e6685cc8bcbdbdbad68197aec7b89ffccb3848c19dfdfec95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kwallet-pam-5.15.90.tar.xz">kwallet-pam-5.15.90</a></td>
   <td align="right">19kB</td>
   <td><tt>61c6ff9419744f0dbd3367d11bda4bbba883639ab6e7f6f9962d3f134e26fb09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kwayland-integration-5.15.90.tar.xz">kwayland-integration-5.15.90</a></td>
   <td align="right">19kB</td>
   <td><tt>f84083d2763f22f518cc6e89afcc3be41bb0735cc525d8472343ab72420d4131</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kwin-5.15.90.tar.xz">kwin-5.15.90</a></td>
   <td align="right">5.9MB</td>
   <td><tt>25b07bfbf414b6cf0757db05d95a906ddfd4e0d465c60a2677acd77953515bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/kwrited-5.15.90.tar.xz">kwrited-5.15.90</a></td>
   <td align="right">19kB</td>
   <td><tt>0631de52985414294f3759d896ec52da3b918637b4ff95de35ba68e35171399e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/libkscreen-5.15.90.tar.xz">libkscreen-5.15.90</a></td>
   <td align="right">79kB</td>
   <td><tt>c4faa74541fa0bfa2addfdfb698105d0b5516bdaa1b132ed3a99f4a194a75a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/libksysguard-5.15.90.tar.xz">libksysguard-5.15.90</a></td>
   <td align="right">566kB</td>
   <td><tt>f2816a33b4c5b9e22f8620eb820c1d12ef48be0ceb944f29596e399a3056403c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/milou-5.15.90.tar.xz">milou-5.15.90</a></td>
   <td align="right">55kB</td>
   <td><tt>ef55e10a44da428384449c08e13f7a6777e0cce918b46c131acd583a77d886eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/oxygen-5.15.90.tar.xz">oxygen-5.15.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>292b32973e565af8c5fc4506336bf009e7735b0b0d8d588665b3f623f61355f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-browser-integration-5.15.90.tar.xz">plasma-browser-integration-5.15.90</a></td>
   <td align="right">119kB</td>
   <td><tt>08305991e9387488c769646d2e2b819c99078f09962b807828cf5c55873e0b2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-desktop-5.15.90.1.tar.xz">plasma-desktop-5.15.90.1</a></td>
   <td align="right">8.9MB</td>
   <td><tt>dc474c311a30751612d66eca04f0b717b3b34042cf07bc1b052e8d9e6091abad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-integration-5.15.90.tar.xz">plasma-integration-5.15.90</a></td>
   <td align="right">54kB</td>
   <td><tt>850c7c85e4b3ff393936ee7bcb46c80444756889134e0fcf86f99bc98b2dd4a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-nm-5.15.90.tar.xz">plasma-nm-5.15.90</a></td>
   <td align="right">756kB</td>
   <td><tt>844c24fb6131fb33cd17b5c651e3efe9181b3c0c4f71e9efd6da0b378aab1093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-pa-5.15.90.tar.xz">plasma-pa-5.15.90</a></td>
   <td align="right">98kB</td>
   <td><tt>491fb063fb15d6f6e45b685c321fefd5a422bb8135940f97d577ba19ba012994</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-sdk-5.15.90.tar.xz">plasma-sdk-5.15.90</a></td>
   <td align="right">244kB</td>
   <td><tt>39f469942e0863d96ddecb041c61fc5fc2c25e39f7f9dd31025568e8b0a5a5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-tests-5.15.90.tar.xz">plasma-tests-5.15.90</a></td>
   <td align="right">1kB</td>
   <td><tt>f4f984e77d25e6f34eabfa7f88d7ddff2780f0e8570395e4652a28b2db9a59b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-vault-5.15.90.tar.xz">plasma-vault-5.15.90</a></td>
   <td align="right">123kB</td>
   <td><tt>33e59157cdc1b9deedf989174321abefe8fba58d7b54b547cdeb6bd61184f295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-workspace-5.15.90.tar.xz">plasma-workspace-5.15.90</a></td>
   <td align="right">4.7MB</td>
   <td><tt>d15a98596ff3233020820b7b3fc581b1e11a08329fc103c343c6fa6096d6e0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plasma-workspace-wallpapers-5.15.90.tar.xz">plasma-workspace-wallpapers-5.15.90</a></td>
   <td align="right">24MB</td>
   <td><tt>eb2925abcb0af74263b5dbcda4e698be57fbae483bddb5e4cba75eb95810f952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/plymouth-kcm-5.15.90.tar.xz">plymouth-kcm-5.15.90</a></td>
   <td align="right">39kB</td>
   <td><tt>d8871fc0a53eee0aee90f8a1e749847854f96023e56eeb26581c92a02add59c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/polkit-kde-agent-1-5.15.90.tar.xz">polkit-kde-agent-1-5.15.90</a></td>
   <td align="right">41kB</td>
   <td><tt>cf2c6ce1a695ef7359cd29bc40f4ebe71830a71309367c9bec06b0735b9097fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/powerdevil-5.15.90.tar.xz">powerdevil-5.15.90</a></td>
   <td align="right">576kB</td>
   <td><tt>31281ce1f9d4b4caddb7c438e8162df66a5e86c608567e40c7617d148ca8f709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/sddm-kcm-5.15.90.tar.xz">sddm-kcm-5.15.90</a></td>
   <td align="right">60kB</td>
   <td><tt>19567cea9b1586a0967831535a4a94b1a6b3b7a766a2d873a9198534ad3adf2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/systemsettings-5.15.90.tar.xz">systemsettings-5.15.90</a></td>
   <td align="right">174kB</td>
   <td><tt>04164fa88c4d21812c88f02a62894721d7454fe331988032e409ccd5e89164b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/user-manager-5.15.90.tar.xz">user-manager-5.15.90</a></td>
   <td align="right">533kB</td>
   <td><tt>15f65f5e8e92f617124212d7bd5349d7aeb1a40872438ff39e029a8d93a90d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.15.90/xdg-desktop-portal-kde-5.15.90.tar.xz">xdg-desktop-portal-kde-5.15.90</a></td>
   <td align="right">60kB</td>
   <td><tt>281364477e85510479733b636393c8c65869017dfab281f8e51638c175efb93b</tt></td>
</tr>

</table>
