<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-22.08.1.tar.xz">akonadi-22.08.1</a></td>
   <td align="right">1592kB</td>
   <td><tt>10ba54f86548611af4420ebce90d50595e78385e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-calendar-22.08.1.tar.xz">akonadi-calendar-22.08.1</a></td>
   <td align="right">385kB</td>
   <td><tt>b42da093bd7ffea402c5a6e61b80e88d2c41bf64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-calendar-tools-22.08.1.tar.xz">akonadi-calendar-tools-22.08.1</a></td>
   <td align="right">232kB</td>
   <td><tt>74678ffefd24b901a4f30dea675492e76cc60b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadiconsole-22.08.1.tar.xz">akonadiconsole-22.08.1</a></td>
   <td align="right">195kB</td>
   <td><tt>6bdebc5657048d0a41f0d13c207c79021e6c1904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-contacts-22.08.1.tar.xz">akonadi-contacts-22.08.1</a></td>
   <td align="right">417kB</td>
   <td><tt>716dee19f9fd26e019a81f448beb1df7fe3d6650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-import-wizard-22.08.1.tar.xz">akonadi-import-wizard-22.08.1</a></td>
   <td align="right">500kB</td>
   <td><tt>63a5183b7e7cf353ed01e7da89a6c8600899aa75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-mime-22.08.1.tar.xz">akonadi-mime-22.08.1</a></td>
   <td align="right">146kB</td>
   <td><tt>13b48631af7d2bf4b8d1e71756c5fc125175e0f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-notes-22.08.1.tar.xz">akonadi-notes-22.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>7c9baf633ca9aec6b8d330e3f676571787cd2785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akonadi-search-22.08.1.tar.xz">akonadi-search-22.08.1</a></td>
   <td align="right">97kB</td>
   <td><tt>0e161312978f1bb9071577765a1c33cd8f637ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/akregator-22.08.1.tar.xz">akregator-22.08.1</a></td>
   <td align="right">2201kB</td>
   <td><tt>431bf9dfc2adf9a634043bf4f60312fcc717582e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/analitza-22.08.1.tar.xz">analitza-22.08.1</a></td>
   <td align="right">341kB</td>
   <td><tt>afd56a2b44bb2068222b54366a9cc0dc2ecced49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ark-22.08.1.tar.xz">ark-22.08.1</a></td>
   <td align="right">2718kB</td>
   <td><tt>47c99915c0d087433786f86b23da1a6d090a3f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/artikulate-22.08.1.tar.xz">artikulate-22.08.1</a></td>
   <td align="right">1071kB</td>
   <td><tt>58035692a545a043cfe1cbff0dc9da8b9642604f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/audiocd-kio-22.08.1.tar.xz">audiocd-kio-22.08.1</a></td>
   <td align="right">514kB</td>
   <td><tt>0b0affd08ba2b90d177a30a38075e31d14967905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/baloo-widgets-22.08.1.tar.xz">baloo-widgets-22.08.1</a></td>
   <td align="right">266kB</td>
   <td><tt>b853d15a076f2161b0996138025c85e9e2cc88c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/blinken-22.08.1.tar.xz">blinken-22.08.1</a></td>
   <td align="right">2652kB</td>
   <td><tt>03bb139bcb567ac78cff82b82b0f9a38acde2235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/bomber-22.08.1.tar.xz">bomber-22.08.1</a></td>
   <td align="right">814kB</td>
   <td><tt>21428b8e47c6a956f44e2ba2e45e7978aedef1d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/bovo-22.08.1.tar.xz">bovo-22.08.1</a></td>
   <td align="right">205kB</td>
   <td><tt>cee15b062b7c6b4e7ef00f795eb5f9a4ca4139cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/calendarsupport-22.08.1.tar.xz">calendarsupport-22.08.1</a></td>
   <td align="right">733kB</td>
   <td><tt>9df7e3bbc3f80de4c63d14775c6bdce32c4daffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/cantor-22.08.1.tar.xz">cantor-22.08.1</a></td>
   <td align="right">9004kB</td>
   <td><tt>c4f132a2e1d8e6d28c942461187698039e360607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/cervisia-22.08.1.tar.xz">cervisia-22.08.1</a></td>
   <td align="right">1869kB</td>
   <td><tt>4f291fec8ffc7475ba0c662cb8371fc419c95c6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/dolphin-22.08.1.tar.xz">dolphin-22.08.1</a></td>
   <td align="right">5243kB</td>
   <td><tt>b24095f2dcad851870e4c388d06ea93fe07f8b3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/dolphin-plugins-22.08.1.tar.xz">dolphin-plugins-22.08.1</a></td>
   <td align="right">251kB</td>
   <td><tt>9d1dad00510201e9a3c9ebc18f37b3ed2655d19b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/dragon-22.08.1.tar.xz">dragon-22.08.1</a></td>
   <td align="right">1627kB</td>
   <td><tt>09533cb28da62372e1baaf6b01294e5e8bad9160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/elisa-22.08.1.tar.xz">elisa-22.08.1</a></td>
   <td align="right">1726kB</td>
   <td><tt>465bc1a2d5c27fe70baa6b0409aab301017c4604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/eventviews-22.08.1.tar.xz">eventviews-22.08.1</a></td>
   <td align="right">450kB</td>
   <td><tt>a7c0b38c6a4a7ef94745ed216c76707dc2b46f7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/falkon-22.08.1.tar.xz">falkon-22.08.1</a></td>
   <td align="right">2444kB</td>
   <td><tt>3ec40a6c991108eb9ed9863125516f53320a1791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ffmpegthumbs-22.08.1.tar.xz">ffmpegthumbs-22.08.1</a></td>
   <td align="right">30kB</td>
   <td><tt>dbf13446b1f2969da5ad40bd215543e101ea6b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/filelight-22.08.1.tar.xz">filelight-22.08.1</a></td>
   <td align="right">681kB</td>
   <td><tt>70ca797da95dc9ad6a5a4f3de51736fe28a679ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/granatier-22.08.1.tar.xz">granatier-22.08.1</a></td>
   <td align="right">2057kB</td>
   <td><tt>05c5db4f9bf35b4f605bd4d3d4ee103663c3d1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/grantlee-editor-22.08.1.tar.xz">grantlee-editor-22.08.1</a></td>
   <td align="right">110kB</td>
   <td><tt>24edda188042a8231d8086eaef3e1d5300fe200a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/grantleetheme-22.08.1.tar.xz">grantleetheme-22.08.1</a></td>
   <td align="right">60kB</td>
   <td><tt>801e20007199fee49b09694100bc727a8cfe1de8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/gwenview-22.08.1.tar.xz">gwenview-22.08.1</a></td>
   <td align="right">6665kB</td>
   <td><tt>a7c7bdb418eae763207ad025d3107be0fcbca196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/incidenceeditor-22.08.1.tar.xz">incidenceeditor-22.08.1</a></td>
   <td align="right">547kB</td>
   <td><tt>7d911bdbfbaa06a1fb32aa1f284077d2955350da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/itinerary-22.08.1.tar.xz">itinerary-22.08.1</a></td>
   <td align="right">558kB</td>
   <td><tt>15ad379813e97ed772507eec28d492482d3b301f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/juk-22.08.1.tar.xz">juk-22.08.1</a></td>
   <td align="right">1968kB</td>
   <td><tt>43e0311ac017f62b65f36a493cf6a4ace7d936b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/k3b-22.08.1.tar.xz">k3b-22.08.1</a></td>
   <td align="right">10510kB</td>
   <td><tt>38f7c41ecb30165f0c4055cac264fcb013fb8bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kaccounts-integration-22.08.1.tar.xz">kaccounts-integration-22.08.1</a></td>
   <td align="right">86kB</td>
   <td><tt>1d7ae645c6e4fe4305c89a1e92dad6987abe1df2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kaccounts-providers-22.08.1.tar.xz">kaccounts-providers-22.08.1</a></td>
   <td align="right">63kB</td>
   <td><tt>5bbf81f80b84d70029e82a98d9085d9442c12812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kaddressbook-22.08.1.tar.xz">kaddressbook-22.08.1</a></td>
   <td align="right">3256kB</td>
   <td><tt>8e43b3cdfdc0251ef3e0a155deb6ad2a9d0c640b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kajongg-22.08.1.tar.xz">kajongg-22.08.1</a></td>
   <td align="right">4459kB</td>
   <td><tt>63243656cac130f38c1d0379730894a0367f0e09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kalarm-22.08.1.tar.xz">kalarm-22.08.1</a></td>
   <td align="right">2309kB</td>
   <td><tt>3d68c07657aff3b186b8d58157d7a67a33adf237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kalendar-22.08.1.tar.xz">kalendar-22.08.1</a></td>
   <td align="right">454kB</td>
   <td><tt>d50cf6f1622d2de3fdf18e01e12bc07cb7b086a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kalgebra-22.08.1.tar.xz">kalgebra-22.08.1</a></td>
   <td align="right">1008kB</td>
   <td><tt>f2e6de4600df9bed45f4d1debcdc8ea08ec36744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kalzium-22.08.1.tar.xz">kalzium-22.08.1</a></td>
   <td align="right">23880kB</td>
   <td><tt>10544002f86615dad86fcbd9716827e7c9875dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kamera-22.08.1.tar.xz">kamera-22.08.1</a></td>
   <td align="right">117kB</td>
   <td><tt>64674d37579f3471f4d5da3b91154c42e08e5f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kamoso-22.08.1.tar.xz">kamoso-22.08.1</a></td>
   <td align="right">221kB</td>
   <td><tt>b4960c4f3152ddb9ecb4454fb0bd39dd970d129d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kanagram-22.08.1.tar.xz">kanagram-22.08.1</a></td>
   <td align="right">7856kB</td>
   <td><tt>531395eb24f61bf6b51510e4f63f40d036ab4158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kapman-22.08.1.tar.xz">kapman-22.08.1</a></td>
   <td align="right">2418kB</td>
   <td><tt>9dea0d7aad56e607109135dc76f7eed8bf12b865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kapptemplate-22.08.1.tar.xz">kapptemplate-22.08.1</a></td>
   <td align="right">327kB</td>
   <td><tt>15ea0aa6319e5370f05b53e7ad7818c278ee7984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kate-22.08.1.tar.xz">kate-22.08.1</a></td>
   <td align="right">7483kB</td>
   <td><tt>ef1084a2a4f838d4396d818cc19057a27cdc55ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/katomic-22.08.1.tar.xz">katomic-22.08.1</a></td>
   <td align="right">1403kB</td>
   <td><tt>c488c9fcf0421b3f1a4bd86f4ffffe19438eeb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kbackup-22.08.1.tar.xz">kbackup-22.08.1</a></td>
   <td align="right">383kB</td>
   <td><tt>aedfe618d75ef7536bed46be185c042df9423f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kblackbox-22.08.1.tar.xz">kblackbox-22.08.1</a></td>
   <td align="right">516kB</td>
   <td><tt>c6203883892fc5823df9e977cf16e70f7aa968d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kblocks-22.08.1.tar.xz">kblocks-22.08.1</a></td>
   <td align="right">2054kB</td>
   <td><tt>6221fec96c268dc4ec3bbad3196ad860511fab95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kbounce-22.08.1.tar.xz">kbounce-22.08.1</a></td>
   <td align="right">3449kB</td>
   <td><tt>f5b9ff2c5d7b17ca1de02aba87b91b4119101962</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kbreakout-22.08.1.tar.xz">kbreakout-22.08.1</a></td>
   <td align="right">2494kB</td>
   <td><tt>2dc49f0a09cf18f14fe52fd564c153992e57ba4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kbruch-22.08.1.tar.xz">kbruch-22.08.1</a></td>
   <td align="right">5501kB</td>
   <td><tt>03673c20ba390bda8803fbfb24f486101474abf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kcachegrind-22.08.1.tar.xz">kcachegrind-22.08.1</a></td>
   <td align="right">858kB</td>
   <td><tt>edab6f9853da1eaeaeb6694cd87b96bf02e8804d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kcalc-22.08.1.tar.xz">kcalc-22.08.1</a></td>
   <td align="right">385kB</td>
   <td><tt>f630af710d7227aff7db6aa35e41da0f37918517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kcalutils-22.08.1.tar.xz">kcalutils-22.08.1</a></td>
   <td align="right">340kB</td>
   <td><tt>52bd642e411c747108953b2c43377cbfe6e36ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kcharselect-22.08.1.tar.xz">kcharselect-22.08.1</a></td>
   <td align="right">366kB</td>
   <td><tt>6df601c68ff69001ac0e9bcb0c1bfe6dd0adc7c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kcolorchooser-22.08.1.tar.xz">kcolorchooser-22.08.1</a></td>
   <td align="right">30kB</td>
   <td><tt>ae7ae90467e174761ad725251a9b84939efdb4c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kcron-22.08.1.tar.xz">kcron-22.08.1</a></td>
   <td align="right">895kB</td>
   <td><tt>6b38e51c0f528a0926bba452350541fe16be40ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdebugsettings-22.08.1.tar.xz">kdebugsettings-22.08.1</a></td>
   <td align="right">92kB</td>
   <td><tt>f579a32c7c461fc85d264799aa13187477d3491e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdeconnect-kde-22.08.1.tar.xz">kdeconnect-kde-22.08.1</a></td>
   <td align="right">609kB</td>
   <td><tt>3ff8ae1c08a1f7105c66e4606f49ec91f3f41de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kde-dev-scripts-22.08.1.tar.xz">kde-dev-scripts-22.08.1</a></td>
   <td align="right">358kB</td>
   <td><tt>8c67dd0b8f727ba52625da5104d77857fa6074d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kde-dev-utils-22.08.1.tar.xz">kde-dev-utils-22.08.1</a></td>
   <td align="right">66kB</td>
   <td><tt>f8d7a4cebb57ffb5534ed590442f13266774b0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdeedu-data-22.08.1.tar.xz">kdeedu-data-22.08.1</a></td>
   <td align="right">328kB</td>
   <td><tt>6ac07b4dc57a31a313df3bb507ad94f208740989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdegraphics-mobipocket-22.08.1.tar.xz">kdegraphics-mobipocket-22.08.1</a></td>
   <td align="right">12kB</td>
   <td><tt>48f13f87e2b30898884bd3af90a20b0183705722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdegraphics-thumbnailers-22.08.1.tar.xz">kdegraphics-thumbnailers-22.08.1</a></td>
   <td align="right">47kB</td>
   <td><tt>96eef1626b412732fdb2b388ca09b18cb4d5c6a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdenetwork-filesharing-22.08.1.tar.xz">kdenetwork-filesharing-22.08.1</a></td>
   <td align="right">369kB</td>
   <td><tt>13bc54f07146d4ca3fe39a6d52830c8e2a5bd4da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdenlive-22.08.1.tar.xz">kdenlive-22.08.1</a></td>
   <td align="right">12136kB</td>
   <td><tt>5a5138a2201683160fc19269b789ce1279f88746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdepim-addons-22.08.1.tar.xz">kdepim-addons-22.08.1</a></td>
   <td align="right">2237kB</td>
   <td><tt>ab67dc473d4e637ca88ab25173524bccc1e02d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdepim-runtime-22.08.1.tar.xz">kdepim-runtime-22.08.1</a></td>
   <td align="right">1776kB</td>
   <td><tt>47239b4af8bac0b86cfaf4d86880a72f3fd8ab95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdesdk-kio-22.08.1.tar.xz">kdesdk-kio-22.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>3d52d7c9e478c5aed7d540a02e2ecdd571a502dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdesdk-thumbnailers-22.08.1.tar.xz">kdesdk-thumbnailers-22.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>c87e2a557285b9a44d6018dae9bff0975dd9340e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdevelop-22.08.1.tar.xz">kdevelop-22.08.1</a></td>
   <td align="right">8248kB</td>
   <td><tt>8795e33bc66c3054f8e354bbed57cc58690594bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdev-php-22.08.1.tar.xz">kdev-php-22.08.1</a></td>
   <td align="right">1055kB</td>
   <td><tt>e751194b6c356eaa04c63fe3c532d1e4bed2e3a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdev-python-22.08.1.tar.xz">kdev-python-22.08.1</a></td>
   <td align="right">1065kB</td>
   <td><tt>94621b5c8d1174f237d4dfd45223114ca8463cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdf-22.08.1.tar.xz">kdf-22.08.1</a></td>
   <td align="right">466kB</td>
   <td><tt>3359dd2b5e7f5992cf75b5b9fcf644ea45030ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdialog-22.08.1.tar.xz">kdialog-22.08.1</a></td>
   <td align="right">113kB</td>
   <td><tt>0c58258464bbeca013954b6daa3d2cc542a9e43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kdiamond-22.08.1.tar.xz">kdiamond-22.08.1</a></td>
   <td align="right">4593kB</td>
   <td><tt>183f9613de99fd01c1c9ab2e5ebc3de9fd15270a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/keditbookmarks-22.08.1.tar.xz">keditbookmarks-22.08.1</a></td>
   <td align="right">199kB</td>
   <td><tt>9c69f42ba30a65b6ffadb4a7e408594834e27661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kfind-22.08.1.tar.xz">kfind-22.08.1</a></td>
   <td align="right">283kB</td>
   <td><tt>727e1da8d2a9ae8eaf5b242c3608c72e0d7a6a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kfloppy-22.08.1.tar.xz">kfloppy-22.08.1</a></td>
   <td align="right">208kB</td>
   <td><tt>0dd4559dc7f6d6ecdefe43529800710af5a01ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kfourinline-22.08.1.tar.xz">kfourinline-22.08.1</a></td>
   <td align="right">705kB</td>
   <td><tt>9d041d67f448bb43107055a4c5f7afa8c46996f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kgeography-22.08.1.tar.xz">kgeography-22.08.1</a></td>
   <td align="right">10825kB</td>
   <td><tt>83ab36e0092101667c87b3a4e2d11370a6764433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kget-22.08.1.tar.xz">kget-22.08.1</a></td>
   <td align="right">5316kB</td>
   <td><tt>6c6f60a5ec4176bb63b0512f6145812b3d1dd4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kgoldrunner-22.08.1.tar.xz">kgoldrunner-22.08.1</a></td>
   <td align="right">4675kB</td>
   <td><tt>e5ef0362c5e7d8623caadc90964ebf6ceb3ac77c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kgpg-22.08.1.tar.xz">kgpg-22.08.1</a></td>
   <td align="right">2883kB</td>
   <td><tt>bfcb0c7fea781be2ebf515decdb53c40b1091a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/khangman-22.08.1.tar.xz">khangman-22.08.1</a></td>
   <td align="right">7249kB</td>
   <td><tt>06f296415cf2361256a6de9f89ac5271f4ebbe9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/khelpcenter-22.08.1.tar.xz">khelpcenter-22.08.1</a></td>
   <td align="right">4209kB</td>
   <td><tt>2cb677aba349e8139d8de40581e77b2cf0dcb4b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kidentitymanagement-22.08.1.tar.xz">kidentitymanagement-22.08.1</a></td>
   <td align="right">156kB</td>
   <td><tt>bedc8a5c0ad4dc2a7d47b76278bdc3ffdb6db60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kig-22.08.1.tar.xz">kig-22.08.1</a></td>
   <td align="right">3109kB</td>
   <td><tt>e6780e4c103c75bdac701a514c89de1e5ab67040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kigo-22.08.1.tar.xz">kigo-22.08.1</a></td>
   <td align="right">5132kB</td>
   <td><tt>111967753a309a2607eac7a84ddf3283464fd259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/killbots-22.08.1.tar.xz">killbots-22.08.1</a></td>
   <td align="right">1169kB</td>
   <td><tt>a4984685878e2798435099d1550e22369ad3f4ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kimagemapeditor-22.08.1.tar.xz">kimagemapeditor-22.08.1</a></td>
   <td align="right">1065kB</td>
   <td><tt>ccd7bf28dd8edcbd517bc114b519e62d09a52557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kimap-22.08.1.tar.xz">kimap-22.08.1</a></td>
   <td align="right">127kB</td>
   <td><tt>4f398c11359243f7a60611b80493cf3d5e6ac188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kio-extras-22.08.1.tar.xz">kio-extras-22.08.1</a></td>
   <td align="right">628kB</td>
   <td><tt>baeea4846ca2bc513cc2bbd47d47a4d767c13c20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kio-gdrive-22.08.1.tar.xz">kio-gdrive-22.08.1</a></td>
   <td align="right">71kB</td>
   <td><tt>9031fa4c1658c694c4c96dbb0c03e6776b0533a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kio-zeroconf-22.08.1.tar.xz">kio-zeroconf-22.08.1</a></td>
   <td align="right">38kB</td>
   <td><tt>63c7c728b823a1d132862862f8589e5c30142ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kipi-plugins-22.08.1.tar.xz">kipi-plugins-22.08.1</a></td>
   <td align="right">1488kB</td>
   <td><tt>875cced3809a08388f2fb094650d1d244c58d816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kirigami-gallery-22.08.1.tar.xz">kirigami-gallery-22.08.1</a></td>
   <td align="right">333kB</td>
   <td><tt>6e1438f2f9d9a9e9d5e145338ea08a372bbd6730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kiriki-22.08.1.tar.xz">kiriki-22.08.1</a></td>
   <td align="right">357kB</td>
   <td><tt>737df0a4b3f0617243bf71ebaf1cc7a481d7cf58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kiten-22.08.1.tar.xz">kiten-22.08.1</a></td>
   <td align="right">11050kB</td>
   <td><tt>7d931e36ad6497102a26fda5cab45054a90c8bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kitinerary-22.08.1.tar.xz">kitinerary-22.08.1</a></td>
   <td align="right">1650kB</td>
   <td><tt>8b5b8ae80f25913654f3eb42f3d832339699faca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kjumpingcube-22.08.1.tar.xz">kjumpingcube-22.08.1</a></td>
   <td align="right">318kB</td>
   <td><tt>57bd18d4d39d771d080bdce7a382186d03c7b3ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kldap-22.08.1.tar.xz">kldap-22.08.1</a></td>
   <td align="right">169kB</td>
   <td><tt>544db307c7b7d1d7e214576173085ef007840fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kleopatra-22.08.1.tar.xz">kleopatra-22.08.1</a></td>
   <td align="right">2321kB</td>
   <td><tt>2d882b607a513f698679de98d80095705d11f6e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/klettres-22.08.1.tar.xz">klettres-22.08.1</a></td>
   <td align="right">46081kB</td>
   <td><tt>2a42a8c5c23734a331b16b857a18ea14af63a5dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/klickety-22.08.1.tar.xz">klickety-22.08.1</a></td>
   <td align="right">1461kB</td>
   <td><tt>796f4d04aa0a2736674b0324f6f4daed8b09c8f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/klines-22.08.1.tar.xz">klines-22.08.1</a></td>
   <td align="right">1687kB</td>
   <td><tt>e7173196a5c95a1ca3394468b3d18870f9353b6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmag-22.08.1.tar.xz">kmag-22.08.1</a></td>
   <td align="right">693kB</td>
   <td><tt>7afe86ecc0e32ab5de6681bd3340f8233876fc27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmahjongg-22.08.1.tar.xz">kmahjongg-22.08.1</a></td>
   <td align="right">3977kB</td>
   <td><tt>b713971c5c8c06d622f1c14734d3db0e9a4f6860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmail-22.08.1.tar.xz">kmail-22.08.1</a></td>
   <td align="right">6946kB</td>
   <td><tt>650a078546b843eaae793214c0b3a020df72dfe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmail-account-wizard-22.08.1.tar.xz">kmail-account-wizard-22.08.1</a></td>
   <td align="right">170kB</td>
   <td><tt>1ed575e1e42bc41e07cd13ee7647ab724fe0a417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmailtransport-22.08.1.tar.xz">kmailtransport-22.08.1</a></td>
   <td align="right">173kB</td>
   <td><tt>5ed07e4ec15e0520af541a230e32b9157bdc5de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmbox-22.08.1.tar.xz">kmbox-22.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>70882335557579df2765f3f5afa6853112c0f8b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmime-22.08.1.tar.xz">kmime-22.08.1</a></td>
   <td align="right">152kB</td>
   <td><tt>8bddb22461f3950c2e9b297427c4f120b645bba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmines-22.08.1.tar.xz">kmines-22.08.1</a></td>
   <td align="right">970kB</td>
   <td><tt>df326db50f93fe8bff37a2c0f5d57c4e5e1e20b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmix-22.08.1.tar.xz">kmix-22.08.1</a></td>
   <td align="right">1136kB</td>
   <td><tt>2db86d86d2cd6115eac80c69807591a19bf48f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmousetool-22.08.1.tar.xz">kmousetool-22.08.1</a></td>
   <td align="right">119kB</td>
   <td><tt>a004dfcba46bdcd8146f6827eee358914a9d68ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmouth-22.08.1.tar.xz">kmouth-22.08.1</a></td>
   <td align="right">2006kB</td>
   <td><tt>50168489cd3719062622a6f9dd502d3c66a08b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kmplot-22.08.1.tar.xz">kmplot-22.08.1</a></td>
   <td align="right">2975kB</td>
   <td><tt>b2dd606a8ed3c9191b0c704d844f6d7e2d6cf8fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/knavalbattle-22.08.1.tar.xz">knavalbattle-22.08.1</a></td>
   <td align="right">1348kB</td>
   <td><tt>c9a763a81d807dc7f9b5dd964f4a1ed16a086d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/knetwalk-22.08.1.tar.xz">knetwalk-22.08.1</a></td>
   <td align="right">1072kB</td>
   <td><tt>d4702530f7c9d4a8e45ee95fc778c4393b7f8f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/knights-22.08.1.tar.xz">knights-22.08.1</a></td>
   <td align="right">3246kB</td>
   <td><tt>e62dab5557028d77b2dc8ffbaf167bd2afa6b485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/knotes-22.08.1.tar.xz">knotes-22.08.1</a></td>
   <td align="right">337kB</td>
   <td><tt>c06a874a34863341669a3a6fe89f31ce87746197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kolf-22.08.1.tar.xz">kolf-22.08.1</a></td>
   <td align="right">1027kB</td>
   <td><tt>6629b186c03e7a456a5e5c93152897c81a289934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kollision-22.08.1.tar.xz">kollision-22.08.1</a></td>
   <td align="right">295kB</td>
   <td><tt>72eabe2669b9452b1e17781bda3240288c2c9e2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kolourpaint-22.08.1.tar.xz">kolourpaint-22.08.1</a></td>
   <td align="right">5584kB</td>
   <td><tt>fb22049ea95c8e113ccc3fdd629a85d8392e2940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kompare-22.08.1.tar.xz">kompare-22.08.1</a></td>
   <td align="right">928kB</td>
   <td><tt>378e7983353ce95c4ea7eeafecee6e0d809e67cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/konqueror-22.08.1.tar.xz">konqueror-22.08.1</a></td>
   <td align="right">7489kB</td>
   <td><tt>2cc05aa035d6e3b6a5340c1a2e6de3a94200cdc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/konquest-22.08.1.tar.xz">konquest-22.08.1</a></td>
   <td align="right">842kB</td>
   <td><tt>9cfc067ce1f2f1732a92287f40414b06e2e73869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/konsole-22.08.1.tar.xz">konsole-22.08.1</a></td>
   <td align="right">1467kB</td>
   <td><tt>01bfabd383192c676b9844a4376c4194df79d006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kontact-22.08.1.tar.xz">kontact-22.08.1</a></td>
   <td align="right">805kB</td>
   <td><tt>b103bbe92188598f4d85d46365847d80526c2c22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kontactinterface-22.08.1.tar.xz">kontactinterface-22.08.1</a></td>
   <td align="right">39kB</td>
   <td><tt>899a90c14426e1f4ac4ee4c8d3e04197507b62f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kontrast-22.08.1.tar.xz">kontrast-22.08.1</a></td>
   <td align="right">124kB</td>
   <td><tt>b63c99f3a1798a63ec09557ced53267f6fa7af7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/konversation-22.08.1.tar.xz">konversation-22.08.1</a></td>
   <td align="right">4185kB</td>
   <td><tt>f7cc6b806222f757b4ab6710e119f34584bcadfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kopeninghours-22.08.1.tar.xz">kopeninghours-22.08.1</a></td>
   <td align="right">68kB</td>
   <td><tt>9614fe8ede085d1fed32cc66683dfe95801535d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kopete-22.08.1.tar.xz">kopete-22.08.1</a></td>
   <td align="right">9440kB</td>
   <td><tt>c10d4e42eddbb753e9741007dec4a35c5314bac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/korganizer-22.08.1.tar.xz">korganizer-22.08.1</a></td>
   <td align="right">2266kB</td>
   <td><tt>d1fb220727179c594151de6f72a1c03cd1e7e8e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kosmindoormap-22.08.1.tar.xz">kosmindoormap-22.08.1</a></td>
   <td align="right">347kB</td>
   <td><tt>7766be2057153a94639e1dfc1150bca2fbb83f9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kpat-22.08.1.tar.xz">kpat-22.08.1</a></td>
   <td align="right">3643kB</td>
   <td><tt>b76a4ef89c47a8c684d61ae3d5a4516a7b6b53cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kpimtextedit-22.08.1.tar.xz">kpimtextedit-22.08.1</a></td>
   <td align="right">211kB</td>
   <td><tt>36a973a99f753936d13b8ab8d9ab684a666a51ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kpkpass-22.08.1.tar.xz">kpkpass-22.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>56154dde0b87727600439d01cbaf02362680e3ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kpmcore-22.08.1.tar.xz">kpmcore-22.08.1</a></td>
   <td align="right">580kB</td>
   <td><tt>ad431c9dfd5524749518d4f1bfe1848d31b2bd9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kpublictransport-22.08.1.tar.xz">kpublictransport-22.08.1</a></td>
   <td align="right">476kB</td>
   <td><tt>53f314427fc2c26b796abff02e3e4fd1a37cce04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kqtquickcharts-22.08.1.tar.xz">kqtquickcharts-22.08.1</a></td>
   <td align="right">29kB</td>
   <td><tt>548ac9f9990c8d817aeacc6655966ba37cd8eddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/krdc-22.08.1.tar.xz">krdc-22.08.1</a></td>
   <td align="right">1539kB</td>
   <td><tt>fa954459e92319ce6e7ad301e25205745a783563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kreversi-22.08.1.tar.xz">kreversi-22.08.1</a></td>
   <td align="right">1038kB</td>
   <td><tt>af3730d0a273a07f2947d4ebefe5f2cd585e1b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/krfb-22.08.1.tar.xz">krfb-22.08.1</a></td>
   <td align="right">1265kB</td>
   <td><tt>77f02603b82ceedcffab6987f77841eb3dc59d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kross-interpreters-22.08.1.tar.xz">kross-interpreters-22.08.1</a></td>
   <td align="right">148kB</td>
   <td><tt>2999c136c436c8168cda596e7c2406c163719497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kruler-22.08.1.tar.xz">kruler-22.08.1</a></td>
   <td align="right">269kB</td>
   <td><tt>2be77a29292cc5baeb1fb1c7cf23c5ef5d52f762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ksanecore-22.08.1.tar.xz">ksanecore-22.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>e3a7edd712c098386df1e27a365c3a645e596664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kshisen-22.08.1.tar.xz">kshisen-22.08.1</a></td>
   <td align="right">970kB</td>
   <td><tt>3728d57335172438c2ffe54989f26483f2072d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ksirk-22.08.1.tar.xz">ksirk-22.08.1</a></td>
   <td align="right">6843kB</td>
   <td><tt>280543518288c358aab316612b5430cfb58cd8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ksmtp-22.08.1.tar.xz">ksmtp-22.08.1</a></td>
   <td align="right">47kB</td>
   <td><tt>fc4b68d92e92cd4d04c7fd11da05ba8c5d203898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ksnakeduel-22.08.1.tar.xz">ksnakeduel-22.08.1</a></td>
   <td align="right">593kB</td>
   <td><tt>34b45ba1e078d98e06e0e26b8bca31c43750670d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kspaceduel-22.08.1.tar.xz">kspaceduel-22.08.1</a></td>
   <td align="right">636kB</td>
   <td><tt>06de17da4aa0e2b27ae26a0a6e3e3522022c69a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ksquares-22.08.1.tar.xz">ksquares-22.08.1</a></td>
   <td align="right">301kB</td>
   <td><tt>b10897adbbe000c8abe1cf32931bf341890abfb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ksudoku-22.08.1.tar.xz">ksudoku-22.08.1</a></td>
   <td align="right">1650kB</td>
   <td><tt>fbe81f28180f5dff56e200eb4b692ec54370d835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ksystemlog-22.08.1.tar.xz">ksystemlog-22.08.1</a></td>
   <td align="right">1923kB</td>
   <td><tt>592e5ba6424067d1441a541f60ad48241aeace94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kteatime-22.08.1.tar.xz">kteatime-22.08.1</a></td>
   <td align="right">295kB</td>
   <td><tt>f61682973fe886c75149d7014fc6ad78aa37d3f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktimer-22.08.1.tar.xz">ktimer-22.08.1</a></td>
   <td align="right">385kB</td>
   <td><tt>457a048c392142f8451011a3158dcd07784c7e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktnef-22.08.1.tar.xz">ktnef-22.08.1</a></td>
   <td align="right">296kB</td>
   <td><tt>ddca757625879be240579ed18f49acf67ad0a949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktorrent-22.08.1.tar.xz">ktorrent-22.08.1</a></td>
   <td align="right">2006kB</td>
   <td><tt>2ae954d83add69a89c6b3653ae28df6d179b3c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktouch-22.08.1.tar.xz">ktouch-22.08.1</a></td>
   <td align="right">4873kB</td>
   <td><tt>4768bb28382399a774058b178cff1473db6e394c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-accounts-kcm-22.08.1.tar.xz">ktp-accounts-kcm-22.08.1</a></td>
   <td align="right">260kB</td>
   <td><tt>873ba43e3b8113f907511bfe95fd8ec9b09d790a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-approver-22.08.1.tar.xz">ktp-approver-22.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>5b55bd05329925463714f68591dee1e0866930ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-auth-handler-22.08.1.tar.xz">ktp-auth-handler-22.08.1</a></td>
   <td align="right">46kB</td>
   <td><tt>d54d76dd4f66c5e5157177d0f644759fc6ad44f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-call-ui-22.08.1.tar.xz">ktp-call-ui-22.08.1</a></td>
   <td align="right">96kB</td>
   <td><tt>6f1c053e638a95fe1dfd2a7416a7ba30f2ee912f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-common-internals-22.08.1.tar.xz">ktp-common-internals-22.08.1</a></td>
   <td align="right">440kB</td>
   <td><tt>92b76c1e061935370b684eb51695fb5cee786675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-contact-list-22.08.1.tar.xz">ktp-contact-list-22.08.1</a></td>
   <td align="right">152kB</td>
   <td><tt>369ed6102e84f50e220154b54ad85f906ed9029d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-contact-runner-22.08.1.tar.xz">ktp-contact-runner-22.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>5c24def0651212f0f3e20f2a2995772448686862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-desktop-applets-22.08.1.tar.xz">ktp-desktop-applets-22.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>b40aa538126824431991d78181faa937bfcb31c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-filetransfer-handler-22.08.1.tar.xz">ktp-filetransfer-handler-22.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>3c5d97a006692e860e6fa60f6047089c28641520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-kded-module-22.08.1.tar.xz">ktp-kded-module-22.08.1</a></td>
   <td align="right">98kB</td>
   <td><tt>8bb12f9b7d9917233c03dff52097f31170808e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-send-file-22.08.1.tar.xz">ktp-send-file-22.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>04f97dbb1f02f47bfc405a79d0f54acdeb1b9930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktp-text-ui-22.08.1.tar.xz">ktp-text-ui-22.08.1</a></td>
   <td align="right">463kB</td>
   <td><tt>3e8fac245e8b9264827caf97ebb09cfb2b73864f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/ktuberling-22.08.1.tar.xz">ktuberling-22.08.1</a></td>
   <td align="right">69742kB</td>
   <td><tt>c60755a9c4c7a8db3a5fc4d0c6bacc68448b9931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kturtle-22.08.1.tar.xz">kturtle-22.08.1</a></td>
   <td align="right">1921kB</td>
   <td><tt>0cea78f2bf5c186323d1f642bf75814758bbb0f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kubrick-22.08.1.tar.xz">kubrick-22.08.1</a></td>
   <td align="right">335kB</td>
   <td><tt>0ca8ee90b534e1094ac6e6f68c7600fe7d892cd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kwalletmanager-22.08.1.tar.xz">kwalletmanager-22.08.1</a></td>
   <td align="right">783kB</td>
   <td><tt>109c020ed1fde600c782557a17092fff9f678c78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kwave-22.08.1.tar.xz">kwave-22.08.1</a></td>
   <td align="right">6793kB</td>
   <td><tt>0cc852085828a00ffd05bc7c3f093869d2e8c47a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/kwordquiz-22.08.1.tar.xz">kwordquiz-22.08.1</a></td>
   <td align="right">4117kB</td>
   <td><tt>fbab16041cbfe8087f20098b299ba441ed16a7cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libgravatar-22.08.1.tar.xz">libgravatar-22.08.1</a></td>
   <td align="right">35kB</td>
   <td><tt>2c512aaed9ed2c0f5569c92cb5d397bbaa9714d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkcddb-22.08.1.tar.xz">libkcddb-22.08.1</a></td>
   <td align="right">425kB</td>
   <td><tt>a3f2f4fae4429689473bca89b3492403530bb732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkcompactdisc-22.08.1.tar.xz">libkcompactdisc-22.08.1</a></td>
   <td align="right">95kB</td>
   <td><tt>680a069a6980c4cde16ca6b051e88edfe9ee88e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkdcraw-22.08.1.tar.xz">libkdcraw-22.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>57b4843156d85a8ec9b382f3312ad6329fad35ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkdegames-22.08.1.tar.xz">libkdegames-22.08.1</a></td>
   <td align="right">5810kB</td>
   <td><tt>deebc90f969a779d1756c148a689c185620e521c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkdepim-22.08.1.tar.xz">libkdepim-22.08.1</a></td>
   <td align="right">243kB</td>
   <td><tt>6b85f23665fe1da4f50770a563f69f01bd08e955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkeduvocdocument-22.08.1.tar.xz">libkeduvocdocument-22.08.1</a></td>
   <td align="right">209kB</td>
   <td><tt>14c7cc3078c0aae079aa17b844ce398ef6143e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkexiv2-22.08.1.tar.xz">libkexiv2-22.08.1</a></td>
   <td align="right">58kB</td>
   <td><tt>ad4cf35b5c8315623174095f17aaff3c95153bb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkgapi-22.08.1.tar.xz">libkgapi-22.08.1</a></td>
   <td align="right">236kB</td>
   <td><tt>13d71d7a683c0f2a053ef2bc4c565733a1717f26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkipi-22.08.1.tar.xz">libkipi-22.08.1</a></td>
   <td align="right">86kB</td>
   <td><tt>d83e5dc5eebf97d84501cc903f8d4d5d0819a320</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkleo-22.08.1.tar.xz">libkleo-22.08.1</a></td>
   <td align="right">458kB</td>
   <td><tt>840e73e87341afb60369ab30872840fb1712be16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkmahjongg-22.08.1.tar.xz">libkmahjongg-22.08.1</a></td>
   <td align="right">1646kB</td>
   <td><tt>b9e990899fbcf03bd83ba37ef766c3553a3a15ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libkomparediff2-22.08.1.tar.xz">libkomparediff2-22.08.1</a></td>
   <td align="right">165kB</td>
   <td><tt>1d8f1b6f6c7679d0b891bbcfebd24c274bb67733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libksane-22.08.1.tar.xz">libksane-22.08.1</a></td>
   <td align="right">144kB</td>
   <td><tt>214a0c03c2d2ae58cb1c8f8f4b1c3d0e0b7f96be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libksieve-22.08.1.tar.xz">libksieve-22.08.1</a></td>
   <td align="right">563kB</td>
   <td><tt>3c07922ee53e754a7e0ac9b1a148a08285fe45e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/libktorrent-22.08.1.tar.xz">libktorrent-22.08.1</a></td>
   <td align="right">581kB</td>
   <td><tt>b248ea2c38c3e2eabb512b5ea39b4a377f4e92cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/lokalize-22.08.1.tar.xz">lokalize-22.08.1</a></td>
   <td align="right">2021kB</td>
   <td><tt>1410a5f3d3b5332db72a54eaeb2267867fecb1f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/lskat-22.08.1.tar.xz">lskat-22.08.1</a></td>
   <td align="right">1206kB</td>
   <td><tt>e9b09cca28da087dc803142963f19ccd4210af51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/mailcommon-22.08.1.tar.xz">mailcommon-22.08.1</a></td>
   <td align="right">728kB</td>
   <td><tt>56b1b6ff4fa35e36b3fbe29bf5a448b1f3d29689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/mailimporter-22.08.1.tar.xz">mailimporter-22.08.1</a></td>
   <td align="right">546kB</td>
   <td><tt>dde3eb03876133d68a50ed31a49620714350f9ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/marble-22.08.1.tar.xz">marble-22.08.1</a></td>
   <td align="right">52406kB</td>
   <td><tt>6d9642635829e1c11ccd039f7f74a22fa0309273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/markdownpart-22.08.1.tar.xz">markdownpart-22.08.1</a></td>
   <td align="right">29kB</td>
   <td><tt>f4d85a61d2ef73a9e511ce80ce2d8787953df727</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/mbox-importer-22.08.1.tar.xz">mbox-importer-22.08.1</a></td>
   <td align="right">28kB</td>
   <td><tt>0ef5e38fbaa675c0ec0b3362caef0fefc7bf06ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/messagelib-22.08.1.tar.xz">messagelib-22.08.1</a></td>
   <td align="right">10510kB</td>
   <td><tt>38ed381833be5ec96c92b172e3fc1bf882238305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/minuet-22.08.1.tar.xz">minuet-22.08.1</a></td>
   <td align="right">27029kB</td>
   <td><tt>f34d392b3b18cef92264ecf1739610ad17de1344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/okular-22.08.1.tar.xz">okular-22.08.1</a></td>
   <td align="right">8032kB</td>
   <td><tt>8f6b063bc8c90f053e8789fe081114b2c0b8da82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/palapeli-22.08.1.tar.xz">palapeli-22.08.1</a></td>
   <td align="right">2053kB</td>
   <td><tt>88225f058fc75053f595866086e440f495ab881f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/parley-22.08.1.tar.xz">parley-22.08.1</a></td>
   <td align="right">8285kB</td>
   <td><tt>e4931015e70ed1fcc11f2fad99462c6673460dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/partitionmanager-22.08.1.tar.xz">partitionmanager-22.08.1</a></td>
   <td align="right">2051kB</td>
   <td><tt>2504636a311bfeaec8313b649e43810f71987a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/picmi-22.08.1.tar.xz">picmi-22.08.1</a></td>
   <td align="right">1502kB</td>
   <td><tt>cfbddbb929ce937b0deb04b79dc208fbd9324ba0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/pimcommon-22.08.1.tar.xz">pimcommon-22.08.1</a></td>
   <td align="right">362kB</td>
   <td><tt>d5d171fe6128d25cefbfe5936fac8f1c7e353472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/pim-data-exporter-22.08.1.tar.xz">pim-data-exporter-22.08.1</a></td>
   <td align="right">406kB</td>
   <td><tt>a22502365fe16266cad03fa76771d084c14c866a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/pim-sieve-editor-22.08.1.tar.xz">pim-sieve-editor-22.08.1</a></td>
   <td align="right">447kB</td>
   <td><tt>8d58ad9450f7d2392521da26fae36a8d70c12bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/poxml-22.08.1.tar.xz">poxml-22.08.1</a></td>
   <td align="right">43kB</td>
   <td><tt>8ff2e830653659c4f9cb1cbe736de9e3f330f19f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/print-manager-22.08.1.tar.xz">print-manager-22.08.1</a></td>
   <td align="right">271kB</td>
   <td><tt>9f9f40f7c5dc8ff143caa74e5b71588ab14c5c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/rocs-22.08.1.tar.xz">rocs-22.08.1</a></td>
   <td align="right">1527kB</td>
   <td><tt>663ce70d09ec91e2649ce806fac0b9fefe2bdf7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/signon-kwallet-extension-22.08.1.tar.xz">signon-kwallet-extension-22.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>91985f6be23d199b7cd20e25b1c2ee140418e9a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/skanlite-22.08.1.tar.xz">skanlite-22.08.1</a></td>
   <td align="right">2384kB</td>
   <td><tt>7ed599d18d8ccdd5289c9cca3d3134f86cf9e0b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/skanpage-22.08.1.tar.xz">skanpage-22.08.1</a></td>
   <td align="right">1260kB</td>
   <td><tt>b379fce4953bbb85b246c04d1369eb10efbdfec7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/spectacle-22.08.1.tar.xz">spectacle-22.08.1</a></td>
   <td align="right">1225kB</td>
   <td><tt>2a76e0c47c6375c9a8f382c9a05ffb8e05b943b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/step-22.08.1.tar.xz">step-22.08.1</a></td>
   <td align="right">915kB</td>
   <td><tt>26570f17503fe9c35d3e32c5d18f35ced73966bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/svgpart-22.08.1.tar.xz">svgpart-22.08.1</a></td>
   <td align="right">26kB</td>
   <td><tt>5874574583f8362425e084fcba297e9802dfe68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/sweeper-22.08.1.tar.xz">sweeper-22.08.1</a></td>
   <td align="right">369kB</td>
   <td><tt>10c11130dd2da9eaedc2ac83ebf1c6ec9eaa6d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/umbrello-22.08.1.tar.xz">umbrello-22.08.1</a></td>
   <td align="right">5553kB</td>
   <td><tt>be2353305813feb1c3eb8e7e789f8dc4f0a0f1b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/yakuake-22.08.1.tar.xz">yakuake-22.08.1</a></td>
   <td align="right">403kB</td>
   <td><tt>a251164464319f60d176e07473e82e1d97913d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.1/src/zanshin-22.08.1.tar.xz">zanshin-22.08.1</a></td>
   <td align="right">346kB</td>
   <td><tt>b262e2db557db02d0c49591f571935bc8ecbb6d8</tt></td>
</tr>

</table>
