<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/bluedevil-5.10.5.tar.xz">bluedevil-5.10.5</a></td>
   <td align="right">141kB</td>
   <td><tt>394945cbb8a9c2b3249f9aa7601874a10b0cbfc6ffd425fd77cfcf19df73d006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/breeze-5.10.5.tar.xz">breeze-5.10.5</a></td>
   <td align="right">16MB</td>
   <td><tt>1ba46701e13f983b97c7e7dd01da8637a2f17ee818928064f4729895ac1dac66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/breeze-grub-5.10.5.tar.xz">breeze-grub-5.10.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2e0eac19f5b5831787d809afb373d7ac27c01cc7021f9054f359678f1b85a12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/breeze-gtk-5.10.5.tar.xz">breeze-gtk-5.10.5</a></td>
   <td align="right">206kB</td>
   <td><tt>0a7063950663bed3d5d97ad541725ec35e7df1e5ce636146e19c0798706ead44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/breeze-plymouth-5.10.5.tar.xz">breeze-plymouth-5.10.5</a></td>
   <td align="right">102kB</td>
   <td><tt>653438029242366983e0378568c77346cc5f6bf044f43f4c704323b82b41efa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/discover-5.10.5.tar.xz">discover-5.10.5</a></td>
   <td align="right">9.7MB</td>
   <td><tt>ae13990f3d9afcffd713d04d2fc6e072a54c2efe6746d19714211b953cc0b420</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kactivitymanagerd-5.10.5.tar.xz">kactivitymanagerd-5.10.5</a></td>
   <td align="right">82kB</td>
   <td><tt>67937165a443b9d1dd9cb5f97000cabb488a83d278d76e58dfa460e5e34982a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kde-cli-tools-5.10.5.tar.xz">kde-cli-tools-5.10.5</a></td>
   <td align="right">490kB</td>
   <td><tt>731f962e72a741bba5e3608fc4acca1deb896c670c140e82d814d3bffbca4ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kdecoration-5.10.5.tar.xz">kdecoration-5.10.5</a></td>
   <td align="right">34kB</td>
   <td><tt>c355b29165df1d84d640a257ce10c304dd5ba6b46c99e15cb4225dbb747c443c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kde-gtk-config-5.10.5.tar.xz">kde-gtk-config-5.10.5</a></td>
   <td align="right">148kB</td>
   <td><tt>a5bedaa880d416a8ab259c59dc84b4086a1cb8582d95d8632d79c3e9a746b8a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kdeplasma-addons-5.10.5.tar.xz">kdeplasma-addons-5.10.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>25af1f57b594a4b2a5c629b012b48c5db8d3300b9decd8cd25a20313d150baf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kgamma5-5.10.5.tar.xz">kgamma5-5.10.5</a></td>
   <td align="right">59kB</td>
   <td><tt>610f916b19f8ae74448bc856647aa6037b569971456ae1b8e2d1c1aaca269165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/khotkeys-5.10.5.tar.xz">khotkeys-5.10.5</a></td>
   <td align="right">682kB</td>
   <td><tt>3a168921f5c5d5d41ed012ff898e7c5a18b38ed69b868cb188c48d6f5158bdc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kinfocenter-5.10.5.tar.xz">kinfocenter-5.10.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>5527a3f1bb608dbaf092747c9e0c1ac24305987f31eb10604a536c73af978e3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kmenuedit-5.10.5.tar.xz">kmenuedit-5.10.5</a></td>
   <td align="right">635kB</td>
   <td><tt>5555aacc9b97d8c64073fa5007659520bbf4fc4996f50d036e2381fa0a35e82c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kscreen-5.10.5.tar.xz">kscreen-5.10.5</a></td>
   <td align="right">114kB</td>
   <td><tt>6e9f010165b1abc77c355c730cadecb88e55e1812d0d0db8d84a5acc89c20ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kscreenlocker-5.10.5.tar.xz">kscreenlocker-5.10.5</a></td>
   <td align="right">115kB</td>
   <td><tt>777f7a67539f9e32e687525e5b119774ce1c9dd6ebd64339205b52e97d03300e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/ksshaskpass-5.10.5.tar.xz">ksshaskpass-5.10.5</a></td>
   <td align="right">19kB</td>
   <td><tt>5c4a166ca5d6a9d99f91c8640121f02db2002a1480b299e47995533651508ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/ksysguard-5.10.5.tar.xz">ksysguard-5.10.5</a></td>
   <td align="right">475kB</td>
   <td><tt>16cba11ec6f046f2d9587c84a1046af3fedd8b9d8d773ad8a90ff824ba029f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kwallet-pam-5.10.5.tar.xz">kwallet-pam-5.10.5</a></td>
   <td align="right">17kB</td>
   <td><tt>c42e444c9c85dc5bbc60bbd666d20ea72162ddd38dc18254c47c48a0ca404073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kwayland-integration-5.10.5.tar.xz">kwayland-integration-5.10.5</a></td>
   <td align="right">18kB</td>
   <td><tt>be55e85c78635a075946be5fc14ea2dddf7a5b9d0e9911bd2a85d82777863e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kwin-5.10.5.tar.xz">kwin-5.10.5</a></td>
   <td align="right">4.4MB</td>
   <td><tt>cc7f6b6c5d86270b30a8c7087f00152b084e67dfd515ae009c2903a0c2b0bedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/kwrited-5.10.5.tar.xz">kwrited-5.10.5</a></td>
   <td align="right">19kB</td>
   <td><tt>894d7f3231e8842676560a5a1e872532e2c70dd302f647e7a2676143c982f072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/libkscreen-5.10.5.tar.xz">libkscreen-5.10.5</a></td>
   <td align="right">91kB</td>
   <td><tt>c6025440b2e8d81c44ee8063dd2c32c8461d033a8840bbdb6bf65c8e6ece5428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/libksysguard-5.10.5.tar.xz">libksysguard-5.10.5</a></td>
   <td align="right">551kB</td>
   <td><tt>d6e72c2c01da59c833b08b72b36b667eab2971471e468118e79681e0bbbcac51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/milou-5.10.5.tar.xz">milou-5.10.5</a></td>
   <td align="right">54kB</td>
   <td><tt>ff917f7480a2df10e351e92ce07a0c9fdd7f07d05711018adfc6c848934e781a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/oxygen-5.10.5.tar.xz">oxygen-5.10.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>a97a01d0db02b4b1574f5652a9ff1ffef84b085ed67c2b8f68b3818d56d6315c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-desktop-5.10.5.tar.xz">plasma-desktop-5.10.5</a></td>
   <td align="right">5.7MB</td>
   <td><tt>15bfd43b9589654f1c8c56601fc392a1a16f07b2979ae1d92d4f9570c514beeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-integration-5.10.5.tar.xz">plasma-integration-5.10.5</a></td>
   <td align="right">50kB</td>
   <td><tt>56c2adf52399536278dbad3605c1088e214ef6c57c72e06f297da2739be69d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-nm-5.10.5.tar.xz">plasma-nm-5.10.5</a></td>
   <td align="right">690kB</td>
   <td><tt>7101d07fb1c64cd45591256e756134f85051966762530d8d5a0a93e3ddac9600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-pa-5.10.5.tar.xz">plasma-pa-5.10.5</a></td>
   <td align="right">77kB</td>
   <td><tt>e15a12e060fd920012fd2ff71d780489b971aad3f810a92f2fcbc37af8e8000c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-sdk-5.10.5.tar.xz">plasma-sdk-5.10.5</a></td>
   <td align="right">240kB</td>
   <td><tt>cb833632b3baa4c9952c0096924acf8b1a0b918d4d162eb136c46631026f5656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-tests-5.10.5.tar.xz">plasma-tests-5.10.5</a></td>
   <td align="right">1kB</td>
   <td><tt>08f68baf032ede2f28e946daea3c955bc350f2eb4f2d190016c512d67e19d055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-workspace-5.10.5.tar.xz">plasma-workspace-5.10.5</a></td>
   <td align="right">6.6MB</td>
   <td><tt>54927297f46fbc9556d6027880712f94eeccf39f09b613e79fcdc26ce5df22d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plasma-workspace-wallpapers-5.10.5.tar.xz">plasma-workspace-wallpapers-5.10.5</a></td>
   <td align="right">43MB</td>
   <td><tt>0831c8a1749f1bb50558c8113db32e78dac2d607e2c9427b1343c06ed3c4f5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/plymouth-kcm-5.10.5.tar.xz">plymouth-kcm-5.10.5</a></td>
   <td align="right">33kB</td>
   <td><tt>5e1cd096b7b196a7c38abd49da2a13710cc95cd5fdec6c02b6abd7d1b0526e87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/polkit-kde-agent-1-5.10.5.tar.xz">polkit-kde-agent-1-5.10.5</a></td>
   <td align="right">40kB</td>
   <td><tt>e2dafa312e4cd4cd01f883408b12efe38aa9d99c9a844e41b6c57c678e9b1495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/powerdevil-5.10.5.tar.xz">powerdevil-5.10.5</a></td>
   <td align="right">351kB</td>
   <td><tt>67774545bc5fdd6edd96d28aa68835444cf5e0df2af80418dccb3ba4f6a3f035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/sddm-kcm-5.10.5.tar.xz">sddm-kcm-5.10.5</a></td>
   <td align="right">57kB</td>
   <td><tt>5c2731f34e76fff4c6a228163426a1777f6658fe08284987341af6665769148e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/systemsettings-5.10.5.tar.xz">systemsettings-5.10.5</a></td>
   <td align="right">151kB</td>
   <td><tt>22e645fe21dc8b906ccfd2daa1a424f6b661a218ffdec9e289f50b295dbd7c2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/user-manager-5.10.5.tar.xz">user-manager-5.10.5</a></td>
   <td align="right">531kB</td>
   <td><tt>d84a059f32be294f0da407655c867c559818b6660913ecf8eb503b25c58131ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.10.5/xdg-desktop-portal-kde-5.10.5.tar.xz">xdg-desktop-portal-kde-5.10.5</a></td>
   <td align="right">27kB</td>
   <td><tt>6a85d83a0595f881a4998b10b249d326028bc8b07156861edc5ff23cb125fb65</tt></td>
</tr>

</table>
