
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/attica-5.21.0.tar.xz">attica-5.21.0</a></td>
   <td align="right">58kB</td>
   <td><tt>b77168cd535857e63489080b3ce503f39aa6c5ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/baloo-5.21.0.tar.xz">baloo-5.21.0</a></td>
   <td align="right">179kB</td>
   <td><tt>c6f355ee580c387ab74c1ea2e1ed3278a7caa7e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/bluez-qt-5.21.0.tar.xz">bluez-qt-5.21.0</a></td>
   <td align="right">71kB</td>
   <td><tt>60e615a91c079bc3ce8d27253ee1ab7e59bbfa10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/breeze-icons-5.21.0.tar.xz">breeze-icons-5.21.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cf5ece18e8bcb8e4132b10986851916c61571816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/extra-cmake-modules-5.21.0.tar.xz">extra-cmake-modules-5.21.0</a></td>
   <td align="right">278kB</td>
   <td><tt>a8f2752452c00f5ff4e71efe83cab74a2e72637a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/frameworkintegration-5.21.0.tar.xz">frameworkintegration-5.21.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>76e487ca1d1fd4fce98c2cf1401d12e5282537f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kactivities-5.21.0.tar.xz">kactivities-5.21.0</a></td>
   <td align="right">56kB</td>
   <td><tt>86f4a68257ba7f0548c061173e7c75eb5edf793f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kactivities-stats-5.21.0.tar.xz">kactivities-stats-5.21.0</a></td>
   <td align="right">56kB</td>
   <td><tt>6591ab2e3d525c11d3b82ff6220422be3cde1dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kapidox-5.21.0.tar.xz">kapidox-5.21.0</a></td>
   <td align="right">143kB</td>
   <td><tt>ba35256b44a0e2b764cb5eeb3c965d288343acc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/karchive-5.21.0.tar.xz">karchive-5.21.0</a></td>
   <td align="right">106kB</td>
   <td><tt>6e2a810ba6d8ab54926ce33055b1e2c79a107a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kauth-5.21.0.tar.xz">kauth-5.21.0</a></td>
   <td align="right">80kB</td>
   <td><tt>5b42fa11273319431f27de67a5d3b28075760a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kbookmarks-5.21.0.tar.xz">kbookmarks-5.21.0</a></td>
   <td align="right">112kB</td>
   <td><tt>788b1ecac01d436d67498011ef3d4106f1b981ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kcmutils-5.21.0.tar.xz">kcmutils-5.21.0</a></td>
   <td align="right">229kB</td>
   <td><tt>6f419f631669ab109826febd43af4ae0b19d62c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kcodecs-5.21.0.tar.xz">kcodecs-5.21.0</a></td>
   <td align="right">212kB</td>
   <td><tt>bf825ab54cbbd015894e7e2794beb330f32f9544</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kcompletion-5.21.0.tar.xz">kcompletion-5.21.0</a></td>
   <td align="right">113kB</td>
   <td><tt>80a3be5f2d761554436dfbb6b7beadecf08c649e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kconfig-5.21.0.tar.xz">kconfig-5.21.0</a></td>
   <td align="right">219kB</td>
   <td><tt>89be0b9be8108b3f0e0a99bb504b15afd1ab5585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kconfigwidgets-5.21.0.tar.xz">kconfigwidgets-5.21.0</a></td>
   <td align="right">350kB</td>
   <td><tt>5fd659e206fa0e48bb61f961d1ffb455069af82e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kcoreaddons-5.21.0.tar.xz">kcoreaddons-5.21.0</a></td>
   <td align="right">306kB</td>
   <td><tt>36f8e50020851ec835787fe1806b548048034538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kcrash-5.21.0.tar.xz">kcrash-5.21.0</a></td>
   <td align="right">19kB</td>
   <td><tt>f81f809b4199bcc8867c2763ed82175edd590061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kdbusaddons-5.21.0.tar.xz">kdbusaddons-5.21.0</a></td>
   <td align="right">33kB</td>
   <td><tt>edccdb06814b686749a623aedd6cf813b12eead0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kdeclarative-5.21.0.tar.xz">kdeclarative-5.21.0</a></td>
   <td align="right">163kB</td>
   <td><tt>d98f24436d9703c9b75338aa70e730141a533033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kded-5.21.0.tar.xz">kded-5.21.0</a></td>
   <td align="right">35kB</td>
   <td><tt>22a0624b07e1c771da63389bdb7f20abab7c02c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kdesignerplugin-5.21.0.tar.xz">kdesignerplugin-5.21.0</a></td>
   <td align="right">85kB</td>
   <td><tt>031762611e3e5b1a9856c625b2f614fa525f12b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kdesu-5.21.0.tar.xz">kdesu-5.21.0</a></td>
   <td align="right">43kB</td>
   <td><tt>d76de8bea9c7c230a4abf2bcc44cb296063b0a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kdewebkit-5.21.0.tar.xz">kdewebkit-5.21.0</a></td>
   <td align="right">28kB</td>
   <td><tt>dbe2225c961de0a61dcf17e9d4afbb8260702572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kdnssd-5.21.0.tar.xz">kdnssd-5.21.0</a></td>
   <td align="right">55kB</td>
   <td><tt>ae97ff2416b0a7c7c03e2a3ccf6e87daf10c8a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kdoctools-5.21.0.tar.xz">kdoctools-5.21.0</a></td>
   <td align="right">398kB</td>
   <td><tt>1cf8a531e62947f3e6ff70db74dd86fb6fc59ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kemoticons-5.21.0.tar.xz">kemoticons-5.21.0</a></td>
   <td align="right">211kB</td>
   <td><tt>da51c456d30f3e124e6fa71fca2b7c57e0c11fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kfilemetadata-5.21.0.tar.xz">kfilemetadata-5.21.0</a></td>
   <td align="right">123kB</td>
   <td><tt>9ab47b8a829a80455f4006f2ae9b4a94780e26c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kglobalaccel-5.21.0.tar.xz">kglobalaccel-5.21.0</a></td>
   <td align="right">79kB</td>
   <td><tt>500411f6b388967965ec338646f887e5aeec374b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kguiaddons-5.21.0.tar.xz">kguiaddons-5.21.0</a></td>
   <td align="right">38kB</td>
   <td><tt>63b84b981001b6d6041d7610d80f4c20a88de58d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/ki18n-5.21.0.tar.xz">ki18n-5.21.0</a></td>
   <td align="right">589kB</td>
   <td><tt>3360ed9d70bb9df4ede76591396f2ddeb982fd1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kiconthemes-5.21.0.tar.xz">kiconthemes-5.21.0</a></td>
   <td align="right">191kB</td>
   <td><tt>e6a2b4d5c48efe0c1bfc5005d41c9a078bfb12d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kidletime-5.21.0.tar.xz">kidletime-5.21.0</a></td>
   <td align="right">25kB</td>
   <td><tt>ed50b4022c048be7a4a29390e7ba27c5f96bfc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kimageformats-5.21.0.tar.xz">kimageformats-5.21.0</a></td>
   <td align="right">199kB</td>
   <td><tt>5f1476511f7bb801b0bd4bb76f28a58ae4f3407e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kinit-5.21.0.tar.xz">kinit-5.21.0</a></td>
   <td align="right">114kB</td>
   <td><tt>1e590cab38a8602762b77d85f2e6a38d771beb78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kio-5.21.0.tar.xz">kio-5.21.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>ee3edfcc0d803fd3ff740519d8e79fb3357982bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kitemmodels-5.21.0.tar.xz">kitemmodels-5.21.0</a></td>
   <td align="right">377kB</td>
   <td><tt>36928591169f1778d7039f67732e7482460b815e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kitemviews-5.21.0.tar.xz">kitemviews-5.21.0</a></td>
   <td align="right">72kB</td>
   <td><tt>7142daeebddcd5e11bba6576869ca8182eca742e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kjobwidgets-5.21.0.tar.xz">kjobwidgets-5.21.0</a></td>
   <td align="right">86kB</td>
   <td><tt>2f28b07dcf8cf2190fe55785768cec3709bf6396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/knewstuff-5.21.0.tar.xz">knewstuff-5.21.0</a></td>
   <td align="right">839kB</td>
   <td><tt>9990fe64e0489674a601307ac8e9c2d89fbe0072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/knotifications-5.21.0.tar.xz">knotifications-5.21.0</a></td>
   <td align="right">93kB</td>
   <td><tt>4f454f892fa26a721c8064503487420753de4d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/knotifyconfig-5.21.0.tar.xz">knotifyconfig-5.21.0</a></td>
   <td align="right">81kB</td>
   <td><tt>4a634cc74eef090a7d7cdfe109e14f306831c77f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kpackage-5.21.0.tar.xz">kpackage-5.21.0</a></td>
   <td align="right">105kB</td>
   <td><tt>e54a97f3cc80dc4b62f375a97ae17a32c6176f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kparts-5.21.0.tar.xz">kparts-5.21.0</a></td>
   <td align="right">150kB</td>
   <td><tt>870687002d7eb4f91d99f45f6b252a20ea5baebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kpeople-5.21.0.tar.xz">kpeople-5.21.0</a></td>
   <td align="right">56kB</td>
   <td><tt>fa254a7f95939a50ae42123cbdd1729b25a6cb65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kplotting-5.21.0.tar.xz">kplotting-5.21.0</a></td>
   <td align="right">28kB</td>
   <td><tt>5019ba30579e2749daf73310c12739f9228c7b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kpty-5.21.0.tar.xz">kpty-5.21.0</a></td>
   <td align="right">55kB</td>
   <td><tt>48ee95eecb20d4e124f5d6b2466f6b479f50c699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kservice-5.21.0.tar.xz">kservice-5.21.0</a></td>
   <td align="right">262kB</td>
   <td><tt>504084ddeb5fdcc83dfa5641e62680583d1aac98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/ktexteditor-5.21.0.tar.xz">ktexteditor-5.21.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>7cf14bd7c8c8307fb2088402ba2ab66f4972ab06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/ktextwidgets-5.21.0.tar.xz">ktextwidgets-5.21.0</a></td>
   <td align="right">299kB</td>
   <td><tt>40c9d732958cce083b450a0388b7cfd0162d299d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kunitconversion-5.21.0.tar.xz">kunitconversion-5.21.0</a></td>
   <td align="right">603kB</td>
   <td><tt>d58f61491f71b14ffca046bda749f57520fe2499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kwallet-5.21.0.tar.xz">kwallet-5.21.0</a></td>
   <td align="right">281kB</td>
   <td><tt>3904cd96561452c4c64854496aad9a4b8cb4d814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kwidgetsaddons-5.21.0.tar.xz">kwidgetsaddons-5.21.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>06a9b571a5acc5f54caab4fee4a819b26457de65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kwindowsystem-5.21.0.tar.xz">kwindowsystem-5.21.0</a></td>
   <td align="right">159kB</td>
   <td><tt>a72fcb501d8f4c539d88ba6b13e3ae178e958281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kxmlgui-5.21.0.tar.xz">kxmlgui-5.21.0</a></td>
   <td align="right">847kB</td>
   <td><tt>de1a813dfd9532b7da924fef082a6bc535560a13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/kxmlrpcclient-5.21.0.tar.xz">kxmlrpcclient-5.21.0</a></td>
   <td align="right">27kB</td>
   <td><tt>01ff86f99a57020d24e0ae12ca8e75f826eadf4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/modemmanager-qt-5.21.0.tar.xz">modemmanager-qt-5.21.0</a></td>
   <td align="right">96kB</td>
   <td><tt>c8ce6e544b93c786db8e409623624e3e486165ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/networkmanager-qt-5.21.0.tar.xz">networkmanager-qt-5.21.0</a></td>
   <td align="right">154kB</td>
   <td><tt>50bb6052e41d16861be796263d7244936d2c0daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/oxygen-icons5-5.21.0.tar.xz">oxygen-icons5-5.21.0</a></td>
   <td align="right">222MB</td>
   <td><tt>18a2d85a57034d922e408b2cea9ef8254f2fc5ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/plasma-framework-5.21.0.tar.xz">plasma-framework-5.21.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>3ce885ef701f2b3e031be17152770cb94aafda24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/solid-5.21.0.tar.xz">solid-5.21.0</a></td>
   <td align="right">261kB</td>
   <td><tt>44b8ee1836854e0a87453f98a9236936fe8ffc20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/sonnet-5.21.0.tar.xz">sonnet-5.21.0</a></td>
   <td align="right">275kB</td>
   <td><tt>5634e8b7b4c259b81686a3108be10587e35fc96f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.21/threadweaver-5.21.0.tar.xz">threadweaver-5.21.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>209199db5e6d73b234637e31a10c3c7f62cccd93</tt></td>
</tr>

</table>
