
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.29/kpackage-5.29.1.tar.xz">kpackage-5.29.1</a></td>
   <td align="right">163kB</td>
   <td><tt>fbd2dd47605792c1a144fdcc89140e99aa87c4e2</tt></td>
</tr>

</table>
