
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/attica-5.55.0.tar.xz">attica-5.55.0</a></td>
   <td align="right">61kB</td>
   <td><tt>89f2461fee3226508dc713995c860aff72a2ba0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/baloo-5.55.0.tar.xz">baloo-5.55.0</a></td>
   <td align="right">231kB</td>
   <td><tt>62407491334b7254b47b9116d077db68b12bf440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/bluez-qt-5.55.0.tar.xz">bluez-qt-5.55.0</a></td>
   <td align="right">78kB</td>
   <td><tt>03b739c1b83b60a51764e98eda5c2abe60b8d45c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/breeze-icons-5.55.0.tar.xz">breeze-icons-5.55.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>efd2dccfed3b8555ff50530d3f88ab4d8e4131a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/extra-cmake-modules-5.55.0.tar.xz">extra-cmake-modules-5.55.0</a></td>
   <td align="right">317kB</td>
   <td><tt>e2818a12a1fce6cafb112c96aa575c5fda8c5ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/frameworkintegration-5.55.0.tar.xz">frameworkintegration-5.55.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7721192ae03187bafe55c85727b3b629c51471a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kactivities-5.55.0.tar.xz">kactivities-5.55.0</a></td>
   <td align="right">60kB</td>
   <td><tt>6b28ed075d50d55813de5367d69109b61c3c874e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kactivities-stats-5.55.0.tar.xz">kactivities-stats-5.55.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6e858991460e7a15e251e31136fc954d59a864bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kapidox-5.55.0.tar.xz">kapidox-5.55.0</a></td>
   <td align="right">387kB</td>
   <td><tt>abec5e17b8c58ccc4cf91cf19cc7da8d8abc8060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/karchive-5.55.0.tar.xz">karchive-5.55.0</a></td>
   <td align="right">429kB</td>
   <td><tt>6425d0d842f759375358fc4c5c7d50ff325a1b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kauth-5.55.0.tar.xz">kauth-5.55.0</a></td>
   <td align="right">82kB</td>
   <td><tt>556cc92d8b257c2fb79b00da998f18e699e1c0b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kbookmarks-5.55.0.tar.xz">kbookmarks-5.55.0</a></td>
   <td align="right">115kB</td>
   <td><tt>5d28e007ace16a7187c0a13533db5b42d7bf9357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kcmutils-5.55.0.tar.xz">kcmutils-5.55.0</a></td>
   <td align="right">231kB</td>
   <td><tt>2d80abb77b0b97e064c8163841b23fe08c96d236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kcodecs-5.55.0.tar.xz">kcodecs-5.55.0</a></td>
   <td align="right">214kB</td>
   <td><tt>e2f986c4ad142c1a9ea15f9953eb1755be512128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kcompletion-5.55.0.tar.xz">kcompletion-5.55.0</a></td>
   <td align="right">112kB</td>
   <td><tt>41ff5a4dea7eea130a173199e4ff429da8062aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kconfig-5.55.0.tar.xz">kconfig-5.55.0</a></td>
   <td align="right">233kB</td>
   <td><tt>59c003b60acf76b1263f468cace0b8e803f74dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kconfigwidgets-5.55.0.tar.xz">kconfigwidgets-5.55.0</a></td>
   <td align="right">367kB</td>
   <td><tt>9add075fb679fe00e40b745699c4974bf45cb9c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kcoreaddons-5.55.0.tar.xz">kcoreaddons-5.55.0</a></td>
   <td align="right">350kB</td>
   <td><tt>690377bdde6cae35751c80efe8001fa18c237870</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kcrash-5.55.0.tar.xz">kcrash-5.55.0</a></td>
   <td align="right">22kB</td>
   <td><tt>f9fc745f82c9107baa1d1e663a9e1245e0b9aba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kdbusaddons-5.55.0.tar.xz">kdbusaddons-5.55.0</a></td>
   <td align="right">36kB</td>
   <td><tt>c5dd6d9bbe7aa06c0274207fba2fce7a4be73260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kdeclarative-5.55.0.tar.xz">kdeclarative-5.55.0</a></td>
   <td align="right">168kB</td>
   <td><tt>ad97943074d8dc46dcfbeaa5854ddba2729ca17c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kded-5.55.0.tar.xz">kded-5.55.0</a></td>
   <td align="right">37kB</td>
   <td><tt>05effff0c23668d12f1214fe7611ca27ebb11ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kdesignerplugin-5.55.0.tar.xz">kdesignerplugin-5.55.0</a></td>
   <td align="right">88kB</td>
   <td><tt>641fd312e5dc5e4e5bb668181f5c6c13f765c825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kdesu-5.55.0.tar.xz">kdesu-5.55.0</a></td>
   <td align="right">45kB</td>
   <td><tt>0c61c839831d22ca9d9d19516a2b06969dddecfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kdewebkit-5.55.0.tar.xz">kdewebkit-5.55.0</a></td>
   <td align="right">28kB</td>
   <td><tt>bf505981b2487fb469fe5a30101e5106433c4cf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kdnssd-5.55.0.tar.xz">kdnssd-5.55.0</a></td>
   <td align="right">56kB</td>
   <td><tt>91d9e2bbb1f062bb57b91dccf6c7ebe0681b1184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kdoctools-5.55.0.tar.xz">kdoctools-5.55.0</a></td>
   <td align="right">414kB</td>
   <td><tt>862dde1704c4144fd3e0d7618a62d15580690b5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kemoticons-5.55.0.tar.xz">kemoticons-5.55.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>321fea9df797185f842443fec7c17a3142b9ed05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kfilemetadata-5.55.0.tar.xz">kfilemetadata-5.55.0</a></td>
   <td align="right">295kB</td>
   <td><tt>001783b156b1186e2f7efbfa4fca24ed834c1608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kglobalaccel-5.55.0.tar.xz">kglobalaccel-5.55.0</a></td>
   <td align="right">81kB</td>
   <td><tt>808b0db7592fb2a9d294465f376f94f262fdbcf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kguiaddons-5.55.0.tar.xz">kguiaddons-5.55.0</a></td>
   <td align="right">39kB</td>
   <td><tt>049e3277babdb7dd3e0f85739e57f46a637ee2e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kholidays-5.55.0.tar.xz">kholidays-5.55.0</a></td>
   <td align="right">197kB</td>
   <td><tt>97cb215d3717f80e85ee7a262a5924c143c6a4b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/ki18n-5.55.0.tar.xz">ki18n-5.55.0</a></td>
   <td align="right">573kB</td>
   <td><tt>271b63e0dc4da2359b3b3897a861c3ca63ad1649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kiconthemes-5.55.0.tar.xz">kiconthemes-5.55.0</a></td>
   <td align="right">202kB</td>
   <td><tt>6d67f0dc7f887a189a5c4fc92bcfcacfee83a2fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kidletime-5.55.0.tar.xz">kidletime-5.55.0</a></td>
   <td align="right">25kB</td>
   <td><tt>2927ff3983f28220c896ad83ed72b56ff57b13f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kimageformats-5.55.0.tar.xz">kimageformats-5.55.0</a></td>
   <td align="right">199kB</td>
   <td><tt>d5fd3a76d62ceb2723a87476ae374d8b7621b156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kinit-5.55.0.tar.xz">kinit-5.55.0</a></td>
   <td align="right">117kB</td>
   <td><tt>7836164cb0724f8d8e6ade8c3477c5a098b07124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kio-5.55.0.tar.xz">kio-5.55.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>0935e9d892e483ee28e0b2273a193f0074008926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kirigami2-5.55.0.tar.xz">kirigami2-5.55.0</a></td>
   <td align="right">123kB</td>
   <td><tt>d1bbaf37fcaa2b764161d58d5c6264028f180342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kitemmodels-5.55.0.tar.xz">kitemmodels-5.55.0</a></td>
   <td align="right">380kB</td>
   <td><tt>4c122ac8989820e261d3dc3a617f731982edbc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kitemviews-5.55.0.tar.xz">kitemviews-5.55.0</a></td>
   <td align="right">73kB</td>
   <td><tt>90ec3cd4a7a37156f88ef6581197ab6ee334c490</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kjobwidgets-5.55.0.tar.xz">kjobwidgets-5.55.0</a></td>
   <td align="right">85kB</td>
   <td><tt>4fe748f631c07d1b8695742fc98ce2942cf90197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/knewstuff-5.55.0.tar.xz">knewstuff-5.55.0</a></td>
   <td align="right">986kB</td>
   <td><tt>25e38b40bf3359124750d5e985f572c78c8be25a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/knotifications-5.55.0.tar.xz">knotifications-5.55.0</a></td>
   <td align="right">110kB</td>
   <td><tt>03fba9deafb41333d6d1f69db38798099c36489a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/knotifyconfig-5.55.0.tar.xz">knotifyconfig-5.55.0</a></td>
   <td align="right">81kB</td>
   <td><tt>5f45ce3283a81c3dbd3c5a3978ad69cee5e61306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kpackage-5.55.0.tar.xz">kpackage-5.55.0</a></td>
   <td align="right">129kB</td>
   <td><tt>a013292b86c32a709ae5b84335b19c6861279f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kparts-5.55.0.tar.xz">kparts-5.55.0</a></td>
   <td align="right">171kB</td>
   <td><tt>41ff8cd31476e20218054121325f1fbebcb305ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kpeople-5.55.0.tar.xz">kpeople-5.55.0</a></td>
   <td align="right">59kB</td>
   <td><tt>da5db18a553249861787ecd3621d187af8791308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kplotting-5.55.0.tar.xz">kplotting-5.55.0</a></td>
   <td align="right">29kB</td>
   <td><tt>f6bf5881047854a055eae9fb079a10147a220fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kpty-5.55.0.tar.xz">kpty-5.55.0</a></td>
   <td align="right">56kB</td>
   <td><tt>45b0b73b0050398058ab6fb3c0b167a4b8f977f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/krunner-5.55.0.tar.xz">krunner-5.55.0</a></td>
   <td align="right">60kB</td>
   <td><tt>bd0a93b1e1d9008e43b8d3014464e1127c3bd1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kservice-5.55.0.tar.xz">kservice-5.55.0</a></td>
   <td align="right">245kB</td>
   <td><tt>12f923f5b0674f0167982acbcaf9b72018c9d71f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/ktexteditor-5.55.0.tar.xz">ktexteditor-5.55.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>227d28ac397a17bdeea0fa08d5d67fca14948d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/ktextwidgets-5.55.0.tar.xz">ktextwidgets-5.55.0</a></td>
   <td align="right">300kB</td>
   <td><tt>3e69e48769fde9e6c1006d02e370735b836bc109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kunitconversion-5.55.0.tar.xz">kunitconversion-5.55.0</a></td>
   <td align="right">754kB</td>
   <td><tt>1315a2c77d805ab228cf4512068541d4fad240fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kwallet-5.55.0.tar.xz">kwallet-5.55.0</a></td>
   <td align="right">300kB</td>
   <td><tt>df112129dfd6101567c56320554ac0064f1c5980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kwayland-5.55.0.tar.xz">kwayland-5.55.0</a></td>
   <td align="right">331kB</td>
   <td><tt>d300afca589f81c6649013c9157d912c25fd244c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kwidgetsaddons-5.55.0.tar.xz">kwidgetsaddons-5.55.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>82101907cd4c133d399cf8767010e46a256c1c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kwindowsystem-5.55.0.tar.xz">kwindowsystem-5.55.0</a></td>
   <td align="right">165kB</td>
   <td><tt>562a5b81674d03a19dde81fa117b88dda8d6d59f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kxmlgui-5.55.0.tar.xz">kxmlgui-5.55.0</a></td>
   <td align="right">849kB</td>
   <td><tt>7b9a1124d6bfe0bc00eb211e4759657d2c525c3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/kxmlrpcclient-5.55.0.tar.xz">kxmlrpcclient-5.55.0</a></td>
   <td align="right">28kB</td>
   <td><tt>489b793e0c7008e65bd2c08911262b73a35c19e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/modemmanager-qt-5.55.0.tar.xz">modemmanager-qt-5.55.0</a></td>
   <td align="right">98kB</td>
   <td><tt>07e5c9dfa366070581ca17fa66f8da4180b71d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/networkmanager-qt-5.55.0.tar.xz">networkmanager-qt-5.55.0</a></td>
   <td align="right">176kB</td>
   <td><tt>10cdccdc55f0d81012e7e0cb026f355e4f0f43aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/oxygen-icons5-5.55.0.tar.xz">oxygen-icons5-5.55.0</a></td>
   <td align="right">225MB</td>
   <td><tt>30f2dcfa2a46d71ae1b8a63c057ccd19c327f6ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/plasma-framework-5.55.0.tar.xz">plasma-framework-5.55.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>f6a8dd7c3b4ae8ef2116f4aa09dde82c6f82aeb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/prison-5.55.0.tar.xz">prison-5.55.0</a></td>
   <td align="right">40kB</td>
   <td><tt>857dc70a6e28e4222886d44e63c110b54d3a17f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/purpose-5.55.0.tar.xz">purpose-5.55.0</a></td>
   <td align="right">139kB</td>
   <td><tt>dc40c91a39ec236113e29ce8871a4ab8f873c2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/qqc2-desktop-style-5.55.0.tar.xz">qqc2-desktop-style-5.55.0</a></td>
   <td align="right">42kB</td>
   <td><tt>526be296ee31f7d44118b1b61c46bd5a72385d44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/solid-5.55.0.tar.xz">solid-5.55.0</a></td>
   <td align="right">252kB</td>
   <td><tt>0f4515c7f24010d71f1cabf865aac46afcc59303</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/sonnet-5.55.0.tar.xz">sonnet-5.55.0</a></td>
   <td align="right">280kB</td>
   <td><tt>f609cae6ae7fa70f06e9522f1906e66254c2adc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/syndication-5.55.0.tar.xz">syndication-5.55.0</a></td>
   <td align="right">155kB</td>
   <td><tt>0cbbcd69895e8a38297ca4c8a8d389a6013caf16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/syntax-highlighting-5.55.0.tar.xz">syntax-highlighting-5.55.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1e8fe5f59210bfa104923867222de0920b4c96f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.55/threadweaver-5.55.0.tar.xz">threadweaver-5.55.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e4f078958ab315a7ad5d466ce9d2ddb9a77458b2</tt></td>
</tr>

</table>
