<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/aura-browser-5.27.9.tar.xz">aura-browser-5.27.9</a></td>
   <td align="right">2.9MB</td>
   <td><tt>de816c87f80c907c040782d86310784f938fbfe3ccf8948191fb7b51ea80c2a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/bluedevil-5.27.9.tar.xz">bluedevil-5.27.9</a></td>
   <td align="right">357kB</td>
   <td><tt>668168641d287d01c15d1e6324aa670ff1daaedc973ac656e86b564d95624b6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/breeze-5.27.9.tar.xz">breeze-5.27.9</a></td>
   <td align="right">83MB</td>
   <td><tt>5ac516295e975feeff5f16d6df5e5757cd40e636842fbba35b0b4f0e71f2464f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/breeze-grub-5.27.9.tar.xz">breeze-grub-5.27.9</a></td>
   <td align="right">3.0MB</td>
   <td><tt>c96e46c47304398b0b686a8096edda361bab0a401485c1c7caf877b08ae475ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/breeze-gtk-5.27.9.tar.xz">breeze-gtk-5.27.9</a></td>
   <td align="right">39kB</td>
   <td><tt>a86b3954415eee451405ba4d38d17be0792b5d5a173eaa2f81e7e600f39a010e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/breeze-plymouth-5.27.9.tar.xz">breeze-plymouth-5.27.9</a></td>
   <td align="right">108kB</td>
   <td><tt>3900f90136a8b03f4b1f306fe901e47da23f248b9c2bbb3b13aaf227f97716f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/discover-5.27.9.tar.xz">discover-5.27.9</a></td>
   <td align="right">850kB</td>
   <td><tt>e739aec39cba2e68477e38e03968dfa0ae44b05177abaa601304098185fd27d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/drkonqi-5.27.9.tar.xz">drkonqi-5.27.9</a></td>
   <td align="right">841kB</td>
   <td><tt>55c397f8758b998cb3fd1da9f105d5d956714cb032045382618d95ff260fdd12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/flatpak-kcm-5.27.9.tar.xz">flatpak-kcm-5.27.9</a></td>
   <td align="right">225kB</td>
   <td><tt>1a959b24207306d4f30112b00f8bbd2a06046782b1a972c152675cbbd46c8a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kactivitymanagerd-5.27.9.tar.xz">kactivitymanagerd-5.27.9</a></td>
   <td align="right">124kB</td>
   <td><tt>568f8971965ab2429355d39decc269aa667614737c92e273aa92623fb350c9be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kde-cli-tools-5.27.9.tar.xz">kde-cli-tools-5.27.9</a></td>
   <td align="right">651kB</td>
   <td><tt>06f1a69f15e1fe1e815ea598008700d166becd285a6d108e1d74d26a5e477d06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kdecoration-5.27.9.tar.xz">kdecoration-5.27.9</a></td>
   <td align="right">51kB</td>
   <td><tt>759d7f673d437e406c64edc7bafa6df9d9b184f2bd95da9edee60fce6f28537e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kde-gtk-config-5.27.9.tar.xz">kde-gtk-config-5.27.9</a></td>
   <td align="right">75kB</td>
   <td><tt>804bd87e4e2e910869574bcc09437376ae2561b78ad7c421f64e526c95619912</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kdeplasma-addons-5.27.9.tar.xz">kdeplasma-addons-5.27.9</a></td>
   <td align="right">803kB</td>
   <td><tt>fa26d2db5348459f3389e008cb41a3e74d0de8e8023dcf53efdc7f907f2e4f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kgamma5-5.27.9.tar.xz">kgamma5-5.27.9</a></td>
   <td align="right">86kB</td>
   <td><tt>c84a9bfb43cf7dd616db1226a154334fd73bc520ed3a818104e75426767044cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/khotkeys-5.27.9.tar.xz">khotkeys-5.27.9</a></td>
   <td align="right">1.8MB</td>
   <td><tt>761a5d29cba572e9b478173f803de34a08ce4999c581ef2d92618cbfb087dce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kinfocenter-5.27.9.tar.xz">kinfocenter-5.27.9</a></td>
   <td align="right">992kB</td>
   <td><tt>03bf74b0b9ccb24fe54cfffa0e18d3498c8722f7e9acc198b3981c2dc54ae862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kmenuedit-5.27.9.tar.xz">kmenuedit-5.27.9</a></td>
   <td align="right">910kB</td>
   <td><tt>c8366bca69a41ce2a5b18596f82314f9d203ea16827f34a6c5e5ea97e571ebd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kpipewire-5.27.9.tar.xz">kpipewire-5.27.9</a></td>
   <td align="right">58kB</td>
   <td><tt>1b7b4f116c208f6ef5279efe99c5715e3ccea98efb7a9ee4565947b45c15d020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kscreen-5.27.9.tar.xz">kscreen-5.27.9</a></td>
   <td align="right">181kB</td>
   <td><tt>32e693581202ebfe2b99d98bcf291a5d8710238e4df0764d4d5c401245a5e15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kscreenlocker-5.27.9.tar.xz">kscreenlocker-5.27.9</a></td>
   <td align="right">157kB</td>
   <td><tt>e780a48c0a3686fcf34e250ff29fbb9b05ac88fa1114a15194c6b8959391874d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/ksshaskpass-5.27.9.tar.xz">ksshaskpass-5.27.9</a></td>
   <td align="right">27kB</td>
   <td><tt>c7d8d070bfaca1385ef3374a0c66ab1f3d914b6ec96fa69dafbce68e78cf8a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/ksystemstats-5.27.9.tar.xz">ksystemstats-5.27.9</a></td>
   <td align="right">113kB</td>
   <td><tt>32dab5aa06edf7fb2702c16576bf4946a0d216abdb2265b0571883b325417951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kwallet-pam-5.27.9.tar.xz">kwallet-pam-5.27.9</a></td>
   <td align="right">22kB</td>
   <td><tt>76990faabb916c57d003b1774109485d40e6ec6a36d9b365aad7764750cb52ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kwayland-integration-5.27.9.tar.xz">kwayland-integration-5.27.9</a></td>
   <td align="right">25kB</td>
   <td><tt>9617f0084eb3154ddf44e5040df16a31cb8b7a87d47238576869d3e4b3dfe2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kwin-5.27.9.tar.xz">kwin-5.27.9</a></td>
   <td align="right">7.2MB</td>
   <td><tt>d94f691fa6f88966d74d1307554cda59847d5907539f86e79171170a655578bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/kwrited-5.27.9.tar.xz">kwrited-5.27.9</a></td>
   <td align="right">22kB</td>
   <td><tt>e6a8e32646311c8fd51e21377806fbfebc7ab15247dfc41863ee72bb506455f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/layer-shell-qt-5.27.9.tar.xz">layer-shell-qt-5.27.9</a></td>
   <td align="right">18kB</td>
   <td><tt>67207ed9f764280da309d735dd1b0788187a7a9efcbb4f5b2849c723ee66886f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/libkscreen-5.27.9.tar.xz">libkscreen-5.27.9</a></td>
   <td align="right">113kB</td>
   <td><tt>fa3db2a4e97f5b95ba3e6f4b30ae75d6d0ad28059650f7833b0220e220c39b2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/libksysguard-5.27.9.tar.xz">libksysguard-5.27.9</a></td>
   <td align="right">864kB</td>
   <td><tt>70f4ac5eeba0ddc82ba0e5537ca1e0cbb85cd46f90e387aded36dd1cc3722176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/milou-5.27.9.tar.xz">milou-5.27.9</a></td>
   <td align="right">57kB</td>
   <td><tt>e896c11a4026f0025ed4d705674c6bf57347028d5134bcb51a66c87a5f8a5af8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/oxygen-5.27.9.tar.xz">oxygen-5.27.9</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6420ebc7986d31c7e277a5862c9aaed959386e534530d10355d217b3cd36a973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/oxygen-sounds-5.27.9.tar.xz">oxygen-sounds-5.27.9</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e1fdcbcbdd4f965dcb966b885258f94c08faf6ea359c8ac926941bdd49a63759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plank-player-5.27.9.tar.xz">plank-player-5.27.9</a></td>
   <td align="right">155kB</td>
   <td><tt>6dac0f8290a037f28deba330aec7395707003cd51a1a39c8fff12ce5c652d56d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-bigscreen-5.27.9.tar.xz">plasma-bigscreen-5.27.9</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8b930d27390747c9319eef798b80fc2dbaf41e1940cb8af257d766b4aa1eb891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-browser-integration-5.27.9.tar.xz">plasma-browser-integration-5.27.9</a></td>
   <td align="right">206kB</td>
   <td><tt>a50c63df61b6ab03423f84f29aa46deb8bced5ddfad9de63e7b16375af332eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-desktop-5.27.9.tar.xz">plasma-desktop-5.27.9</a></td>
   <td align="right">14MB</td>
   <td><tt>6dd6f5b0bf9fa15b12b7e9424fed4fc81e330532025e052f8ba00b45f5c1f2e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-disks-5.27.9.tar.xz">plasma-disks-5.27.9</a></td>
   <td align="right">91kB</td>
   <td><tt>5ce5c6924338e12e3af2391d0de570a09b3aeb6b0be91a62612b0952362f7f46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-firewall-5.27.9.tar.xz">plasma-firewall-5.27.9</a></td>
   <td align="right">354kB</td>
   <td><tt>f9c2c7d957e9c1ca74deb2f85c3523bf3714f92df669582a1568447facf97356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-integration-5.27.9.tar.xz">plasma-integration-5.27.9</a></td>
   <td align="right">87kB</td>
   <td><tt>582a874a33d45f709e003dbd92a6c2a6e2ac0b495961536bc122d398b23e5db3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-mobile-5.27.9.tar.xz">plasma-mobile-5.27.9</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e0d91eb27d70ca269c81c2db7160cdcea7e11c385a72ba049c37b21f9295ae24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-nano-5.27.9.tar.xz">plasma-nano-5.27.9</a></td>
   <td align="right">72kB</td>
   <td><tt>c622439874144dc8cf5c13ad458f8396b622834df6ec815f35a014d039f66dbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-nm-5.27.9.tar.xz">plasma-nm-5.27.9</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2a3c6264d8c05fdae2fe0a7c2b4e3db990ce7b50e7f926ac9876cc049cef584c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-pa-5.27.9.tar.xz">plasma-pa-5.27.9</a></td>
   <td align="right">159kB</td>
   <td><tt>24d5773c0fc245b98dca87f3c98f434df601a9a5630c4177c933496de60c551d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-remotecontrollers-5.27.9.tar.xz">plasma-remotecontrollers-5.27.9</a></td>
   <td align="right">79kB</td>
   <td><tt>be88e8812c4c79acb7c63c7f18e018515bc04da6f5bca00c97f3df9f7d19f383</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-sdk-5.27.9.tar.xz">plasma-sdk-5.27.9</a></td>
   <td align="right">313kB</td>
   <td><tt>7d2c30d1fd14eebef67a3d8e5a53845204808bfc23c5ab8d8e0f05d346863a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-systemmonitor-5.27.9.tar.xz">plasma-systemmonitor-5.27.9</a></td>
   <td align="right">169kB</td>
   <td><tt>6c9c3fe107ff1d8790b536391a2a8b29ecd92c1b129850c6180304d1ddf734b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-thunderbolt-5.27.9.tar.xz">plasma-thunderbolt-5.27.9</a></td>
   <td align="right">70kB</td>
   <td><tt>6988d9e4165aa607a9a6e02adf61595a25022cb9fde78c75f9ca4f0616907565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-vault-5.27.9.tar.xz">plasma-vault-5.27.9</a></td>
   <td align="right">182kB</td>
   <td><tt>511007e8f01d309285c7882596846123c6c2d0ac1b320a54746be47cf16edcdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-welcome-5.27.9.tar.xz">plasma-welcome-5.27.9</a></td>
   <td align="right">816kB</td>
   <td><tt>36c40b657d6796af4a666ab851e60b0d8f9c80c2013a806e3add80acc2d247d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-workspace-5.27.9.1.tar.xz">plasma-workspace-5.27.9.1</a></td>
   <td align="right">18MB</td>
   <td><tt>8d00b691cfbb4d7218f97d0c68a677f41cba6eaf18e8fe29976c92d3718201b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plasma-workspace-wallpapers-5.27.9.tar.xz">plasma-workspace-wallpapers-5.27.9</a></td>
   <td align="right">89MB</td>
   <td><tt>8eb33f3a7b3e0aa4563fd72dfce6ce16ba96f974b0054bd2c0ce2f7c612473be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/plymouth-kcm-5.27.9.tar.xz">plymouth-kcm-5.27.9</a></td>
   <td align="right">44kB</td>
   <td><tt>6b0cf3ced46a5ca57d4c90b0e3579ce394f0b3c02430b016f552b1d0638d9d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/polkit-kde-agent-1-5.27.9.tar.xz">polkit-kde-agent-1-5.27.9</a></td>
   <td align="right">51kB</td>
   <td><tt>03b8c12f1dde30b1bf7ee61e55a269b5fd542a32a1d1b6b8bc5d080bdf400892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/powerdevil-5.27.9.tar.xz">powerdevil-5.27.9</a></td>
   <td align="right">769kB</td>
   <td><tt>ee402c18f7239eaf8a0b1c66b316d6bf5ffa08a0a33128d3a1d2fc38a964e8f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/qqc2-breeze-style-5.27.9.tar.xz">qqc2-breeze-style-5.27.9</a></td>
   <td align="right">64kB</td>
   <td><tt>8d1aa29cd68852711ee48e2595f23684903874bdf0ef4e56d928ea50f2d694aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/sddm-kcm-5.27.9.tar.xz">sddm-kcm-5.27.9</a></td>
   <td align="right">91kB</td>
   <td><tt>61ee7fc52d8eab1ab673741736424afd0905c1c9296563acee70ac5d3fe6ba68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/systemsettings-5.27.9.tar.xz">systemsettings-5.27.9</a></td>
   <td align="right">223kB</td>
   <td><tt>4ba52f3abf57cee224071d9ecf1fd0a110b66ba225b81c05bfc0351be2f13861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.27.9/xdg-desktop-portal-kde-5.27.9.tar.xz">xdg-desktop-portal-kde-5.27.9</a></td>
   <td align="right">139kB</td>
   <td><tt>abb15e026724300ebf325403a711128328af57fcf518998ecbc8741af4c45dc4</tt></td>
</tr>

</table>
