<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-21.12.2.tar.xz">akonadi-21.12.2</a></td>
   <td align="right">1573kB</td>
   <td><tt>7c1ccef6699d0f60c397453691c7eb9b0249bb80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-calendar-21.12.2.tar.xz">akonadi-calendar-21.12.2</a></td>
   <td align="right">344kB</td>
   <td><tt>633cbbe37f03b8c700d644d6c59b216114474c7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-calendar-tools-21.12.2.tar.xz">akonadi-calendar-tools-21.12.2</a></td>
   <td align="right">230kB</td>
   <td><tt>af2ea2b0466f17193361c7461234770ab04934b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadiconsole-21.12.2.tar.xz">akonadiconsole-21.12.2</a></td>
   <td align="right">195kB</td>
   <td><tt>840a30978cdbf17845b1bc08b181de315945335f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-contacts-21.12.2.tar.xz">akonadi-contacts-21.12.2</a></td>
   <td align="right">415kB</td>
   <td><tt>858d0777d3774e7544b6068a021778a72a8b72ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-import-wizard-21.12.2.tar.xz">akonadi-import-wizard-21.12.2</a></td>
   <td align="right">498kB</td>
   <td><tt>e2ee706a0ad27dcb63e49f2e4e1200b3af31a228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-mime-21.12.2.tar.xz">akonadi-mime-21.12.2</a></td>
   <td align="right">138kB</td>
   <td><tt>71c990edab93d64d8b3bc30699264df2c8303deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-notes-21.12.2.tar.xz">akonadi-notes-21.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>12b84f8bea07f06e38e276f754930172f20b16ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akonadi-search-21.12.2.tar.xz">akonadi-search-21.12.2</a></td>
   <td align="right">95kB</td>
   <td><tt>b260ae7f56e928f45b0f6e727a8b6df2fc52a01d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/akregator-21.12.2.tar.xz">akregator-21.12.2</a></td>
   <td align="right">2206kB</td>
   <td><tt>3436b9bca3cbfba74188d88295c60d9db59bce7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/analitza-21.12.2.tar.xz">analitza-21.12.2</a></td>
   <td align="right">339kB</td>
   <td><tt>b8700f93aa606cf825ac006e24e053af7ac4e706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ark-21.12.2.tar.xz">ark-21.12.2</a></td>
   <td align="right">2705kB</td>
   <td><tt>330b47587a965a71f1e2a96b0d7b1c2031c30b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/artikulate-21.12.2.tar.xz">artikulate-21.12.2</a></td>
   <td align="right">1065kB</td>
   <td><tt>83d04e6d58d42da05a4ee3af5c7b3f6c45ee129d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/audiocd-kio-21.12.2.tar.xz">audiocd-kio-21.12.2</a></td>
   <td align="right">510kB</td>
   <td><tt>4ec951ad514b859f4056bc12c561178454668f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/baloo-widgets-21.12.2.tar.xz">baloo-widgets-21.12.2</a></td>
   <td align="right">255kB</td>
   <td><tt>724a14156f62e3e4f35539cb9c9fc2860533f684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/blinken-21.12.2.tar.xz">blinken-21.12.2</a></td>
   <td align="right">2650kB</td>
   <td><tt>564259e918ba1a0a38cb83c09c95e5c1b7552619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/bomber-21.12.2.tar.xz">bomber-21.12.2</a></td>
   <td align="right">811kB</td>
   <td><tt>0e9395903cffff576e7fe712fb1db7396908dcae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/bovo-21.12.2.tar.xz">bovo-21.12.2</a></td>
   <td align="right">204kB</td>
   <td><tt>e1edd564903b107082d79290f27866feb46e26d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/calendarsupport-21.12.2.tar.xz">calendarsupport-21.12.2</a></td>
   <td align="right">746kB</td>
   <td><tt>3ca81f82924e7ff9507de531af92a37659e4e63e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/cantor-21.12.2.tar.xz">cantor-21.12.2</a></td>
   <td align="right">8972kB</td>
   <td><tt>5c903736c09faeaf9dd6157fd9edd473adbf46e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/cervisia-21.12.2.tar.xz">cervisia-21.12.2</a></td>
   <td align="right">1867kB</td>
   <td><tt>8628e9c34c3774d896577cb6d194440cad313732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/dolphin-21.12.2.tar.xz">dolphin-21.12.2</a></td>
   <td align="right">5213kB</td>
   <td><tt>437beffcba607fc23fe285f577117ecc0f517f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/dolphin-plugins-21.12.2.tar.xz">dolphin-plugins-21.12.2</a></td>
   <td align="right">248kB</td>
   <td><tt>10b082e0f5cf20ad06774fedf4f634427c6c96af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/dragon-21.12.2.tar.xz">dragon-21.12.2</a></td>
   <td align="right">1626kB</td>
   <td><tt>686c6ed4c390fb7c37b0b0aa442a911c5214559e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/elisa-21.12.2.tar.xz">elisa-21.12.2</a></td>
   <td align="right">1704kB</td>
   <td><tt>2dad75dbbdc25dadff7313376d7fb2048e3241c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/eventviews-21.12.2.tar.xz">eventviews-21.12.2</a></td>
   <td align="right">443kB</td>
   <td><tt>1a1a46b78dcc9f332ff9887aad4b1dcfb6ef6ad3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ffmpegthumbs-21.12.2.tar.xz">ffmpegthumbs-21.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>7b76306108aabc3b9d1f0350af0c28896705402f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/filelight-21.12.2.tar.xz">filelight-21.12.2</a></td>
   <td align="right">668kB</td>
   <td><tt>4dcdf261ca7c70045d0c0f444efbc0296d40a596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/granatier-21.12.2.tar.xz">granatier-21.12.2</a></td>
   <td align="right">2052kB</td>
   <td><tt>386a02c16c18b3c8937796070da89c6dbf066345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/grantlee-editor-21.12.2.tar.xz">grantlee-editor-21.12.2</a></td>
   <td align="right">108kB</td>
   <td><tt>9adeedfc4ab84c9250c233d278b6f26abc6b2fd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/grantleetheme-21.12.2.tar.xz">grantleetheme-21.12.2</a></td>
   <td align="right">58kB</td>
   <td><tt>98a48d9ddcf363ea25033e95f25b17dbdb197d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/gwenview-21.12.2.tar.xz">gwenview-21.12.2</a></td>
   <td align="right">6633kB</td>
   <td><tt>c9555ccc5baaf3c9cd8914bd18f1bea32ad88e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/incidenceeditor-21.12.2.tar.xz">incidenceeditor-21.12.2</a></td>
   <td align="right">533kB</td>
   <td><tt>d19513de9661e3d666eb826eb1e5cc20e4b78696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/itinerary-21.12.2.tar.xz">itinerary-21.12.2</a></td>
   <td align="right">459kB</td>
   <td><tt>c00a08bc6f1c498e8719c22509e52ca20a0a50b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/juk-21.12.2.tar.xz">juk-21.12.2</a></td>
   <td align="right">1966kB</td>
   <td><tt>e0d4fac24dc9d410c03583ff82246ad5e0fb8b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/k3b-21.12.2.tar.xz">k3b-21.12.2</a></td>
   <td align="right">10497kB</td>
   <td><tt>18f45cea8bbfb05e3785406b4fe5c0afad203a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kaccounts-integration-21.12.2.tar.xz">kaccounts-integration-21.12.2</a></td>
   <td align="right">85kB</td>
   <td><tt>7ffc1be37d22ce5b6af82c7e04ad8447af5a440f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kaccounts-providers-21.12.2.tar.xz">kaccounts-providers-21.12.2</a></td>
   <td align="right">62kB</td>
   <td><tt>7281e30003618d93e4a92a433eaf451d44ae569b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kaddressbook-21.12.2.tar.xz">kaddressbook-21.12.2</a></td>
   <td align="right">3247kB</td>
   <td><tt>bec8eb5a9cdf4eba10ad62b680c1e4846c12a176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kajongg-21.12.2.tar.xz">kajongg-21.12.2</a></td>
   <td align="right">4453kB</td>
   <td><tt>0cc2b0e7094da4cee78a51672c524a3d9d836492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kalarm-21.12.2.tar.xz">kalarm-21.12.2</a></td>
   <td align="right">2145kB</td>
   <td><tt>f9422e2761b45558e3b5cdd42a459685640fc79c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kalarmcal-21.12.2.tar.xz">kalarmcal-21.12.2</a></td>
   <td align="right">615kB</td>
   <td><tt>293ae2936d0c1e0a06cd8aa009aea4ee00623b3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kalgebra-21.12.2.tar.xz">kalgebra-21.12.2</a></td>
   <td align="right">1002kB</td>
   <td><tt>1aaea6943e6a6f0620500d804f9e043cb8b48763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kalzium-21.12.2.tar.xz">kalzium-21.12.2</a></td>
   <td align="right">24015kB</td>
   <td><tt>347da440daa31f19f647333efc720d6e595c74b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kamera-21.12.2.tar.xz">kamera-21.12.2</a></td>
   <td align="right">114kB</td>
   <td><tt>c76fac67718320fc7e31ad73d6e748f791b1ea83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kamoso-21.12.2.tar.xz">kamoso-21.12.2</a></td>
   <td align="right">210kB</td>
   <td><tt>3591ed495a6004e06a733fec399b081f2b5f2d2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kanagram-21.12.2.tar.xz">kanagram-21.12.2</a></td>
   <td align="right">7855kB</td>
   <td><tt>cb138a91959f376d9293d74674d1b6b4367a5b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kapman-21.12.2.tar.xz">kapman-21.12.2</a></td>
   <td align="right">2413kB</td>
   <td><tt>b0d06b6cb3a342fc7c441a6859d012b29ea89e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kapptemplate-21.12.2.tar.xz">kapptemplate-21.12.2</a></td>
   <td align="right">327kB</td>
   <td><tt>72ef4761dba298166bcedb1388b2b9d028a24cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kate-21.12.2.tar.xz">kate-21.12.2</a></td>
   <td align="right">7220kB</td>
   <td><tt>88291e60ca48d1e18a2e70b0de1138a061ceefb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/katomic-21.12.2.tar.xz">katomic-21.12.2</a></td>
   <td align="right">1401kB</td>
   <td><tt>599ddaac874dcb7ec7a5a0f0919c02802e9b54fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kbackup-21.12.2.tar.xz">kbackup-21.12.2</a></td>
   <td align="right">380kB</td>
   <td><tt>9f9915decb7d8cb2aecbb4799f8d153714c87737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kblackbox-21.12.2.tar.xz">kblackbox-21.12.2</a></td>
   <td align="right">511kB</td>
   <td><tt>8fc11de29def0a921418e263974ab7b6f6bd9288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kblocks-21.12.2.tar.xz">kblocks-21.12.2</a></td>
   <td align="right">2051kB</td>
   <td><tt>39b7153bb1046570e2aa79d0fb15d1c4a4a73f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kbounce-21.12.2.tar.xz">kbounce-21.12.2</a></td>
   <td align="right">3445kB</td>
   <td><tt>11770d501ace4e35bb4c910eba15622a0bd729a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kbreakout-21.12.2.tar.xz">kbreakout-21.12.2</a></td>
   <td align="right">2492kB</td>
   <td><tt>77ddb64834785d530a6ff95de3422b11233099f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kbruch-21.12.2.tar.xz">kbruch-21.12.2</a></td>
   <td align="right">5496kB</td>
   <td><tt>b48a30c5170b23f1ef686711dbee1f63a74c5dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kcachegrind-21.12.2.tar.xz">kcachegrind-21.12.2</a></td>
   <td align="right">844kB</td>
   <td><tt>c45ec579acf61bf406d0fcba7f95d700e54dbb74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kcalc-21.12.2.tar.xz">kcalc-21.12.2</a></td>
   <td align="right">374kB</td>
   <td><tt>0e1cbf236fbeaa9b75a3fbec48d9d68931bb8e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kcalutils-21.12.2.tar.xz">kcalutils-21.12.2</a></td>
   <td align="right">330kB</td>
   <td><tt>9927f1d2de2f787b9fde423e9171b71490e60e1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kcharselect-21.12.2.tar.xz">kcharselect-21.12.2</a></td>
   <td align="right">364kB</td>
   <td><tt>f958e752d8f2e651e48bd0c8572b7628ec277343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kcolorchooser-21.12.2.tar.xz">kcolorchooser-21.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>89d2f99479e675e6e51c6a03f49daf9a578102f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kcron-21.12.2.tar.xz">kcron-21.12.2</a></td>
   <td align="right">894kB</td>
   <td><tt>71b393b03680665fb8302dfc0a56008eaa24aede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdebugsettings-21.12.2.tar.xz">kdebugsettings-21.12.2</a></td>
   <td align="right">90kB</td>
   <td><tt>3320c4315b233e9da9b0f3ff6a87009f0bc891b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdeconnect-kde-21.12.2.tar.xz">kdeconnect-kde-21.12.2</a></td>
   <td align="right">594kB</td>
   <td><tt>1e5b53a4b9b2977c8f010aed1b6356fe2568ee33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kde-dev-scripts-21.12.2.tar.xz">kde-dev-scripts-21.12.2</a></td>
   <td align="right">357kB</td>
   <td><tt>285b437386f7beedf15625cb825568cf7d50911e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kde-dev-utils-21.12.2.tar.xz">kde-dev-utils-21.12.2</a></td>
   <td align="right">66kB</td>
   <td><tt>fc63e33d11a68fe7dd546fcaf60eef5c5c88a683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdeedu-data-21.12.2.tar.xz">kdeedu-data-21.12.2</a></td>
   <td align="right">327kB</td>
   <td><tt>0fd25193d5552212884b7d7d438e7c790a59c59c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdegraphics-mobipocket-21.12.2.tar.xz">kdegraphics-mobipocket-21.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>8a64e01f2ff18182a21bbb74b4d08390682b480f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdegraphics-thumbnailers-21.12.2.tar.xz">kdegraphics-thumbnailers-21.12.2</a></td>
   <td align="right">46kB</td>
   <td><tt>4f4bc823ee1bf05707e7a9e55c4350acf8bb0cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdenetwork-filesharing-21.12.2.tar.xz">kdenetwork-filesharing-21.12.2</a></td>
   <td align="right">371kB</td>
   <td><tt>776fbe242deaa6c02abc8dd069a9c1a90ab4f5a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdenlive-21.12.2.tar.xz">kdenlive-21.12.2</a></td>
   <td align="right">12000kB</td>
   <td><tt>bde15d5dbfc0c0962baef0623d9d4c3d5f9c7ecf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdepim-addons-21.12.2.tar.xz">kdepim-addons-21.12.2</a></td>
   <td align="right">2242kB</td>
   <td><tt>a70cc049f0033063a46210963d5412b3f4609313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdepim-runtime-21.12.2.tar.xz">kdepim-runtime-21.12.2</a></td>
   <td align="right">1764kB</td>
   <td><tt>5fc73ed0df160e2579c181155d25d163f84770a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdesdk-kioslaves-21.12.2.tar.xz">kdesdk-kioslaves-21.12.2</a></td>
   <td align="right">38kB</td>
   <td><tt>19f27efc653f0918c3ec6372f2a8a9017dba6eef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdesdk-thumbnailers-21.12.2.tar.xz">kdesdk-thumbnailers-21.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>28c2f2a0885ee8645ad4951e4ff66bf79abb7a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdevelop-21.12.2.tar.xz">kdevelop-21.12.2</a></td>
   <td align="right">8194kB</td>
   <td><tt>b9ef3e6cdd68cdcd4284c2094a761db3994025ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdev-php-21.12.2.tar.xz">kdev-php-21.12.2</a></td>
   <td align="right">1054kB</td>
   <td><tt>08c5b286468d53292af0138f54d466951a72bd64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdev-python-21.12.2.tar.xz">kdev-python-21.12.2</a></td>
   <td align="right">1064kB</td>
   <td><tt>502102cdd5b29f95c4aaf4277270ba20fda6ac26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdf-21.12.2.tar.xz">kdf-21.12.2</a></td>
   <td align="right">463kB</td>
   <td><tt>5e8e108ad5d0d682884aa2bbe47df6dd91f76dd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdialog-21.12.2.tar.xz">kdialog-21.12.2</a></td>
   <td align="right">113kB</td>
   <td><tt>6664d8a81b1149cf00b1b3df0f0ad691bb29eda4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kdiamond-21.12.2.tar.xz">kdiamond-21.12.2</a></td>
   <td align="right">4590kB</td>
   <td><tt>51053cd51518da0ffbe347f04e7f95e2b548489d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/keditbookmarks-21.12.2.tar.xz">keditbookmarks-21.12.2</a></td>
   <td align="right">199kB</td>
   <td><tt>39059aedffe2a2cc688c0245eb681cb477d9c492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kfind-21.12.2.tar.xz">kfind-21.12.2</a></td>
   <td align="right">280kB</td>
   <td><tt>15b65472c8db3a2a49798fbf7ab090c7c3f06237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kfloppy-21.12.2.tar.xz">kfloppy-21.12.2</a></td>
   <td align="right">208kB</td>
   <td><tt>9aea5dfb6dadf131200a36dc36c6714376a6038b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kfourinline-21.12.2.tar.xz">kfourinline-21.12.2</a></td>
   <td align="right">702kB</td>
   <td><tt>78d450dc6d4aaf6bff4a95bda5c8643ae84c2516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kgeography-21.12.2.tar.xz">kgeography-21.12.2</a></td>
   <td align="right">10819kB</td>
   <td><tt>932c357744c3f201e154ee5c8e3de9680d977e37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kget-21.12.2.tar.xz">kget-21.12.2</a></td>
   <td align="right">5501kB</td>
   <td><tt>d447f3c857bb28d065b10097f53fdaf359d7f0fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kgoldrunner-21.12.2.tar.xz">kgoldrunner-21.12.2</a></td>
   <td align="right">4656kB</td>
   <td><tt>65c3db69043ac81f9f72ea0a458cd479e041c3c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kgpg-21.12.2.tar.xz">kgpg-21.12.2</a></td>
   <td align="right">2878kB</td>
   <td><tt>1157f4cec869ccabfca3601c24c6f5391f89127c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/khangman-21.12.2.tar.xz">khangman-21.12.2</a></td>
   <td align="right">7249kB</td>
   <td><tt>7e99e2a1014d7803b55936d24f2113ac28422a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/khelpcenter-21.12.2.tar.xz">khelpcenter-21.12.2</a></td>
   <td align="right">4191kB</td>
   <td><tt>27d965a13045a903955cdd4721c1296f392d52d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kidentitymanagement-21.12.2.tar.xz">kidentitymanagement-21.12.2</a></td>
   <td align="right">154kB</td>
   <td><tt>169a198fb4e65245e183d8fe890e44d34bcdc997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kig-21.12.2.tar.xz">kig-21.12.2</a></td>
   <td align="right">3100kB</td>
   <td><tt>3810da8c665a7db753acbd0cc09d681e8c563681</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kigo-21.12.2.tar.xz">kigo-21.12.2</a></td>
   <td align="right">5129kB</td>
   <td><tt>78da2706cd87cd95d571133549397f213f09be66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/killbots-21.12.2.tar.xz">killbots-21.12.2</a></td>
   <td align="right">1165kB</td>
   <td><tt>0ac2e2862af8f3acb7b90867e96e381ee212d659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kimagemapeditor-21.12.2.tar.xz">kimagemapeditor-21.12.2</a></td>
   <td align="right">1064kB</td>
   <td><tt>a93614bd65fdd47cea4829fa460cafeb4238901f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kimap-21.12.2.tar.xz">kimap-21.12.2</a></td>
   <td align="right">125kB</td>
   <td><tt>9b840f6c7cea20605e64fd2f5f7ebaa7778f60c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kio-extras-21.12.2.tar.xz">kio-extras-21.12.2</a></td>
   <td align="right">618kB</td>
   <td><tt>39329e1ff961ccec45a1b96c7ce4f57a5f4c7a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kio-gdrive-21.12.2.tar.xz">kio-gdrive-21.12.2</a></td>
   <td align="right">68kB</td>
   <td><tt>effc1b1a1ef25d928a51bc7d19063bca0101c46a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kipi-plugins-21.12.2.tar.xz">kipi-plugins-21.12.2</a></td>
   <td align="right">1509kB</td>
   <td><tt>aa52ca3c96513dcceec8ae4caacdb3a941d18f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kirigami-gallery-21.12.2.tar.xz">kirigami-gallery-21.12.2</a></td>
   <td align="right">321kB</td>
   <td><tt>c8de9f386fb36c8ea1b60b693323add157c17709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kiriki-21.12.2.tar.xz">kiriki-21.12.2</a></td>
   <td align="right">356kB</td>
   <td><tt>9d89c426e187a1af1567f8128fa1b7125221c92a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kiten-21.12.2.tar.xz">kiten-21.12.2</a></td>
   <td align="right">11048kB</td>
   <td><tt>f9ff58b8e65756b12873a712ef5da951758bd4d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kitinerary-21.12.2.tar.xz">kitinerary-21.12.2</a></td>
   <td align="right">1814kB</td>
   <td><tt>a13adcdd00fbcf4e33d5d7fd502f95e0e7756dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kjumpingcube-21.12.2.tar.xz">kjumpingcube-21.12.2</a></td>
   <td align="right">315kB</td>
   <td><tt>2219028b67410e01ee6a2fe0fb7b22cd31fa370a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kldap-21.12.2.tar.xz">kldap-21.12.2</a></td>
   <td align="right">168kB</td>
   <td><tt>306ee94cdf9dcbbc2143a93f854404fa2b3473c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kleopatra-21.12.2.tar.xz">kleopatra-21.12.2</a></td>
   <td align="right">2100kB</td>
   <td><tt>b1f3c731c1c7240487295a9e347bca6977ebe290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/klettres-21.12.2.tar.xz">klettres-21.12.2</a></td>
   <td align="right">46036kB</td>
   <td><tt>aa60977f993ca011b031cf4a22fd98297a8045d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/klickety-21.12.2.tar.xz">klickety-21.12.2</a></td>
   <td align="right">1457kB</td>
   <td><tt>333806465f052d40f9ef95a24a0fbac0f438e664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/klines-21.12.2.tar.xz">klines-21.12.2</a></td>
   <td align="right">1683kB</td>
   <td><tt>39dde17b1742d2cc042f80070294d91fb17ca368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmag-21.12.2.tar.xz">kmag-21.12.2</a></td>
   <td align="right">692kB</td>
   <td><tt>a631e1d9e1417ce832189b7eccd8f7d37469dbb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmahjongg-21.12.2.tar.xz">kmahjongg-21.12.2</a></td>
   <td align="right">3972kB</td>
   <td><tt>dc59d1d15a860cdbdb84603cba4601a8f6b031c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmail-21.12.2.tar.xz">kmail-21.12.2</a></td>
   <td align="right">6971kB</td>
   <td><tt>daa35e4b4a4674a83937da7f32ef63d5e7d98eae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmail-account-wizard-21.12.2.tar.xz">kmail-account-wizard-21.12.2</a></td>
   <td align="right">164kB</td>
   <td><tt>2d125be1740661e5c8f6097654f61abf60197061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmailtransport-21.12.2.tar.xz">kmailtransport-21.12.2</a></td>
   <td align="right">169kB</td>
   <td><tt>f4ed0e602579a4e67c1b3c6273b8c2bcc28f9e1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmbox-21.12.2.tar.xz">kmbox-21.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>a1897fa28697049a2d7469d3753c7aff063ed368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmime-21.12.2.tar.xz">kmime-21.12.2</a></td>
   <td align="right">151kB</td>
   <td><tt>6f389142d5bc8aee15ddb0fbc931145cfab1bccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmines-21.12.2.tar.xz">kmines-21.12.2</a></td>
   <td align="right">968kB</td>
   <td><tt>3ebf3cc2707fe526c2567947563f9af267955a49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmix-21.12.2.tar.xz">kmix-21.12.2</a></td>
   <td align="right">1136kB</td>
   <td><tt>46aaabae2e87a0de974b1633f4cbeaf243e78742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmousetool-21.12.2.tar.xz">kmousetool-21.12.2</a></td>
   <td align="right">118kB</td>
   <td><tt>cfcf0ec2e574d20dde130cf4c4c43dfb9f5efdc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmouth-21.12.2.tar.xz">kmouth-21.12.2</a></td>
   <td align="right">2057kB</td>
   <td><tt>36869c13fa1a1b0d531b548bfba85e7a7c01c13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kmplot-21.12.2.tar.xz">kmplot-21.12.2</a></td>
   <td align="right">2972kB</td>
   <td><tt>d61d14ee0d6ce597921ded465dd7d661366edbbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/knavalbattle-21.12.2.tar.xz">knavalbattle-21.12.2</a></td>
   <td align="right">1343kB</td>
   <td><tt>288ff7cf230412b07c2a87fc85534f4ce18ca57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/knetwalk-21.12.2.tar.xz">knetwalk-21.12.2</a></td>
   <td align="right">1068kB</td>
   <td><tt>cf9ba0f4edae3a350fae19867a6903d25b5686b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/knights-21.12.2.tar.xz">knights-21.12.2</a></td>
   <td align="right">3242kB</td>
   <td><tt>508c8e67e99c39309c859b88db27fff06beadb58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/knotes-21.12.2.tar.xz">knotes-21.12.2</a></td>
   <td align="right">336kB</td>
   <td><tt>5860ebd2d92f6536e8d33d3504e9ca7497b1b078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kolf-21.12.2.tar.xz">kolf-21.12.2</a></td>
   <td align="right">1026kB</td>
   <td><tt>593cdbbc020aa00bfc5bd23ca1a242861cbe9683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kollision-21.12.2.tar.xz">kollision-21.12.2</a></td>
   <td align="right">291kB</td>
   <td><tt>4859d68972fb93ef5ed0bee87526b42142cccc72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kolourpaint-21.12.2.tar.xz">kolourpaint-21.12.2</a></td>
   <td align="right">5581kB</td>
   <td><tt>b8083588b4d19a3a0f0d46d6d45140021378813d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kompare-21.12.2.tar.xz">kompare-21.12.2</a></td>
   <td align="right">920kB</td>
   <td><tt>349795b00809e3f0ec3d1f245abe211c04ef0d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/konqueror-21.12.2.tar.xz">konqueror-21.12.2</a></td>
   <td align="right">7254kB</td>
   <td><tt>8b91b15b0e6c7585bde19d33609234a76070f52c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/konquest-21.12.2.tar.xz">konquest-21.12.2</a></td>
   <td align="right">840kB</td>
   <td><tt>39ea25c2740480b22a81277f32f7547be9bea7ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/konsole-21.12.2.tar.xz">konsole-21.12.2</a></td>
   <td align="right">1357kB</td>
   <td><tt>8fef4fb01c64db95cf85543afa0a4a0beb179977</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kontact-21.12.2.tar.xz">kontact-21.12.2</a></td>
   <td align="right">804kB</td>
   <td><tt>3f36d9ccd1868aec5b7c921fff68cb5b403253dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kontactinterface-21.12.2.tar.xz">kontactinterface-21.12.2</a></td>
   <td align="right">38kB</td>
   <td><tt>aa3789a33868c1babf03f9027c082b424017bb55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kontrast-21.12.2.tar.xz">kontrast-21.12.2</a></td>
   <td align="right">122kB</td>
   <td><tt>17c34b05f7fbaf73e23e0146edfc2f3c4424df97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/konversation-21.12.2.tar.xz">konversation-21.12.2</a></td>
   <td align="right">4153kB</td>
   <td><tt>88ae4d2794880f26dcddfae22e8c75d946f80c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kopeninghours-21.12.2.tar.xz">kopeninghours-21.12.2</a></td>
   <td align="right">67kB</td>
   <td><tt>1b1c62de9997076f8fa737dddf35a739f29e7823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kopete-21.12.2.tar.xz">kopete-21.12.2</a></td>
   <td align="right">9439kB</td>
   <td><tt>f5042458e35e6213130e2e1c5f7a5cdb429e8613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/korganizer-21.12.2.tar.xz">korganizer-21.12.2</a></td>
   <td align="right">2340kB</td>
   <td><tt>fb622f9d63b942cdd8368578ba2fe3e089bbb5a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kosmindoormap-21.12.2.tar.xz">kosmindoormap-21.12.2</a></td>
   <td align="right">342kB</td>
   <td><tt>cc1436318c7d8fb4c304b00e4b4c9204d03c7de2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kpat-21.12.2.tar.xz">kpat-21.12.2</a></td>
   <td align="right">3642kB</td>
   <td><tt>d9b6f057e123cabd9be15f8386c2d5479473dc54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kpimtextedit-21.12.2.tar.xz">kpimtextedit-21.12.2</a></td>
   <td align="right">206kB</td>
   <td><tt>b0dbf0fe015c5952c183b94058cb9d5f2e1eb466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kpkpass-21.12.2.tar.xz">kpkpass-21.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>94fab1db4ed0b635710329602f809d4e69d2c0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kpmcore-21.12.2.tar.xz">kpmcore-21.12.2</a></td>
   <td align="right">580kB</td>
   <td><tt>7bb450e876f52528bcddc18946b965118188bbc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kpublictransport-21.12.2.tar.xz">kpublictransport-21.12.2</a></td>
   <td align="right">469kB</td>
   <td><tt>23f1a8a351ead2c28fd26b54769e56774042eeee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kqtquickcharts-21.12.2.tar.xz">kqtquickcharts-21.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>519c745deccc6e943a43d3f478134a20de959da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/krdc-21.12.2.tar.xz">krdc-21.12.2</a></td>
   <td align="right">1546kB</td>
   <td><tt>2d4887a14bcfdafc4950ee9ca2a5d25ceecb78e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kreversi-21.12.2.tar.xz">kreversi-21.12.2</a></td>
   <td align="right">1035kB</td>
   <td><tt>bbb99b11f6540454b53d104baf1c0fbaf8450321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/krfb-21.12.2.tar.xz">krfb-21.12.2</a></td>
   <td align="right">1271kB</td>
   <td><tt>574c03ec7f4377381acecf9a17d80adf8cfa6758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kross-interpreters-21.12.2.tar.xz">kross-interpreters-21.12.2</a></td>
   <td align="right">147kB</td>
   <td><tt>21a01bb4cfbf025b4560a0969249808c77a7e223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kruler-21.12.2.tar.xz">kruler-21.12.2</a></td>
   <td align="right">270kB</td>
   <td><tt>135cdfdc951587ca2f88f70b98e97fa41ef97a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kshisen-21.12.2.tar.xz">kshisen-21.12.2</a></td>
   <td align="right">965kB</td>
   <td><tt>74b21be132b3db162f3ec06b848a0481e100be0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ksirk-21.12.2.tar.xz">ksirk-21.12.2</a></td>
   <td align="right">6839kB</td>
   <td><tt>9637d0b9910413990cb7c175a18818ed5e58c481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ksmtp-21.12.2.tar.xz">ksmtp-21.12.2</a></td>
   <td align="right">46kB</td>
   <td><tt>ac1562d1c74ebd6e8db546e71e20bac080ea103e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ksnakeduel-21.12.2.tar.xz">ksnakeduel-21.12.2</a></td>
   <td align="right">589kB</td>
   <td><tt>cafb3162ea0f06c51a196877ca2ddc97e63e8a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kspaceduel-21.12.2.tar.xz">kspaceduel-21.12.2</a></td>
   <td align="right">633kB</td>
   <td><tt>a91d11773ed3b30c05084a5a6b42ef4e565de33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ksquares-21.12.2.tar.xz">ksquares-21.12.2</a></td>
   <td align="right">297kB</td>
   <td><tt>210a5fbe72128ecdbd56adf432f9ba13a8876e56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ksudoku-21.12.2.tar.xz">ksudoku-21.12.2</a></td>
   <td align="right">1646kB</td>
   <td><tt>d06c4fa9ebfd633d3f163302a1acfb9c36047ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ksystemlog-21.12.2.tar.xz">ksystemlog-21.12.2</a></td>
   <td align="right">1921kB</td>
   <td><tt>c4ae221afec6b271d50bfe655801354d3b2322fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kteatime-21.12.2.tar.xz">kteatime-21.12.2</a></td>
   <td align="right">295kB</td>
   <td><tt>9e9b7ea084cb08a7c3558c60793853c81ea2cd72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktimer-21.12.2.tar.xz">ktimer-21.12.2</a></td>
   <td align="right">383kB</td>
   <td><tt>845d6e915d934440b9c3d86aca063807331e7729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktnef-21.12.2.tar.xz">ktnef-21.12.2</a></td>
   <td align="right">298kB</td>
   <td><tt>de1fa29718dc1750769d9056c0786b7dbf5c7860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktorrent-21.12.2.tar.xz">ktorrent-21.12.2</a></td>
   <td align="right">2014kB</td>
   <td><tt>820752960f4d58547280d6f24a4d4aed6c24898c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktouch-21.12.2.tar.xz">ktouch-21.12.2</a></td>
   <td align="right">4851kB</td>
   <td><tt>c233c4ddcc60985e75c258a61c9c49ddf2cca639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-accounts-kcm-21.12.2.tar.xz">ktp-accounts-kcm-21.12.2</a></td>
   <td align="right">260kB</td>
   <td><tt>66556214a6b8d47eec92d9917b3b8ace52b592f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-approver-21.12.2.tar.xz">ktp-approver-21.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>876d694cf9941dcc54b4aaedc828ca26d78ec16e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-auth-handler-21.12.2.tar.xz">ktp-auth-handler-21.12.2</a></td>
   <td align="right">46kB</td>
   <td><tt>09ea3fe58c9e5f4b0f4f287fc8fc2dd74d2dbab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-call-ui-21.12.2.tar.xz">ktp-call-ui-21.12.2</a></td>
   <td align="right">96kB</td>
   <td><tt>504f196366b6987f1d02ba0f5a61f769e3c594c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-common-internals-21.12.2.tar.xz">ktp-common-internals-21.12.2</a></td>
   <td align="right">440kB</td>
   <td><tt>137a55cf4410d26a9fcd1e60b211ffc18e1833d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-contact-list-21.12.2.tar.xz">ktp-contact-list-21.12.2</a></td>
   <td align="right">150kB</td>
   <td><tt>0a8ea7907e8c6d352f474ad8c576e8ce8056cc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-contact-runner-21.12.2.tar.xz">ktp-contact-runner-21.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>883cc905959bccbdb441422312b577beef9eb898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-desktop-applets-21.12.2.tar.xz">ktp-desktop-applets-21.12.2</a></td>
   <td align="right">43kB</td>
   <td><tt>167cb0bc931c70411c52bfc4d73b6da4650d1852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-filetransfer-handler-21.12.2.tar.xz">ktp-filetransfer-handler-21.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>330496019fa9aa8ba57dd0ffb793d7102548e02f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-kded-module-21.12.2.tar.xz">ktp-kded-module-21.12.2</a></td>
   <td align="right">97kB</td>
   <td><tt>09d10dfeeb7ab39021924c6be3d2aceed092e18f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-send-file-21.12.2.tar.xz">ktp-send-file-21.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>23cfc2640b7d881928a2548f80ff547e499ee68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktp-text-ui-21.12.2.tar.xz">ktp-text-ui-21.12.2</a></td>
   <td align="right">463kB</td>
   <td><tt>2030133a471b5e421f50d76ea0dabf4292211b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/ktuberling-21.12.2.tar.xz">ktuberling-21.12.2</a></td>
   <td align="right">69164kB</td>
   <td><tt>386e4448eb77f8e1975cbae5fba203db18e312e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kturtle-21.12.2.tar.xz">kturtle-21.12.2</a></td>
   <td align="right">1925kB</td>
   <td><tt>6e2c6beb29edb67263804ec7c70ae3df999d61b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kubrick-21.12.2.tar.xz">kubrick-21.12.2</a></td>
   <td align="right">335kB</td>
   <td><tt>6f74ea551db31cb6254f8ef71e0c34761c7c2a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kwalletmanager-21.12.2.tar.xz">kwalletmanager-21.12.2</a></td>
   <td align="right">781kB</td>
   <td><tt>32fa415443feeb65730a3109c7d8a849e906cbac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kwave-21.12.2.tar.xz">kwave-21.12.2</a></td>
   <td align="right">6791kB</td>
   <td><tt>40c524ba2a40c9af2ef7b034195235238cbd828d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/kwordquiz-21.12.2.tar.xz">kwordquiz-21.12.2</a></td>
   <td align="right">4108kB</td>
   <td><tt>0f89eb448b239330174e320478a688527475632e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libgravatar-21.12.2.tar.xz">libgravatar-21.12.2</a></td>
   <td align="right">34kB</td>
   <td><tt>c8ac02a9f6c9b41f13075985403e1ab3c990d65b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkcddb-21.12.2.tar.xz">libkcddb-21.12.2</a></td>
   <td align="right">425kB</td>
   <td><tt>260694c6e56f42eceb1f1ea8c35f53541bc76a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkcompactdisc-21.12.2.tar.xz">libkcompactdisc-21.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>97e57509196f1801565629e6c9ccf78bad161bc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkdcraw-21.12.2.tar.xz">libkdcraw-21.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>4ffa9d2a268c73a4acc374364ee6a2359258fc0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkdegames-21.12.2.tar.xz">libkdegames-21.12.2</a></td>
   <td align="right">5837kB</td>
   <td><tt>5462a94fb770b312b9d8ae009fc10a4e6e9b06bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkdepim-21.12.2.tar.xz">libkdepim-21.12.2</a></td>
   <td align="right">247kB</td>
   <td><tt>427a8470da5b5ff8892da0c3faaca049042d754b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkeduvocdocument-21.12.2.tar.xz">libkeduvocdocument-21.12.2</a></td>
   <td align="right">212kB</td>
   <td><tt>0d5e1cae2575e3dbd3f5b99095f2caafca948948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkexiv2-21.12.2.tar.xz">libkexiv2-21.12.2</a></td>
   <td align="right">58kB</td>
   <td><tt>71e2507b45916111c2207a20415abc0625e31c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkgapi-21.12.2.tar.xz">libkgapi-21.12.2</a></td>
   <td align="right">239kB</td>
   <td><tt>e8320cfe1c2d779c0aa9601e2bb95af537464e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkipi-21.12.2.tar.xz">libkipi-21.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>41125cc47957e91f165255edcf344e658cc7c103</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkleo-21.12.2.tar.xz">libkleo-21.12.2</a></td>
   <td align="right">435kB</td>
   <td><tt>f44e3bb7692d0d35d2a480998c070941047858f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkmahjongg-21.12.2.tar.xz">libkmahjongg-21.12.2</a></td>
   <td align="right">1641kB</td>
   <td><tt>7206340dd1b06a4b15b1b015862c69450874e407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libkomparediff2-21.12.2.tar.xz">libkomparediff2-21.12.2</a></td>
   <td align="right">168kB</td>
   <td><tt>84e9caffb1cf2ad817fad5f976d36f865436d533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libksane-21.12.2.tar.xz">libksane-21.12.2</a></td>
   <td align="right">159kB</td>
   <td><tt>caf45e6e5bb4fcab597a7fd52edbd7df539da8c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libksieve-21.12.2.tar.xz">libksieve-21.12.2</a></td>
   <td align="right">558kB</td>
   <td><tt>b81e7bfc63905c076e0aaeb8c876aab8e4ba1c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/libktorrent-21.12.2.tar.xz">libktorrent-21.12.2</a></td>
   <td align="right">591kB</td>
   <td><tt>b43fa544ed98078cc755c87fea33ef4b23cbc9d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/lokalize-21.12.2.tar.xz">lokalize-21.12.2</a></td>
   <td align="right">2013kB</td>
   <td><tt>7afbb93f5c318745500b12438df645e16678f296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/lskat-21.12.2.tar.xz">lskat-21.12.2</a></td>
   <td align="right">1203kB</td>
   <td><tt>c062aa544c4f3432186a5c8380e9511153397c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/mailcommon-21.12.2.tar.xz">mailcommon-21.12.2</a></td>
   <td align="right">718kB</td>
   <td><tt>e7e1a8a9eaee5720952d568f3e3d0031cf82fe42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/mailimporter-21.12.2.tar.xz">mailimporter-21.12.2</a></td>
   <td align="right">545kB</td>
   <td><tt>26a70ee1c2c82a0cf7094f686bb6071b981a59c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/marble-21.12.2.tar.xz">marble-21.12.2</a></td>
   <td align="right">52398kB</td>
   <td><tt>cb63bd4d3572efdbf11e585ec59aaf11c5dc40d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/markdownpart-21.12.2.tar.xz">markdownpart-21.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>9bf4147e9a011d904235a851b373945c3201de41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/mbox-importer-21.12.2.tar.xz">mbox-importer-21.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>994fdb02b20c6fc7fdd5684c61ea59789cb5e671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/messagelib-21.12.2.tar.xz">messagelib-21.12.2</a></td>
   <td align="right">10546kB</td>
   <td><tt>5ee0b43f94cd07be06eccb51735f5741923faa20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/minuet-21.12.2.tar.xz">minuet-21.12.2</a></td>
   <td align="right">27022kB</td>
   <td><tt>7f7db430e48a016975c93f355f69a11d2737285d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/okular-21.12.2.tar.xz">okular-21.12.2</a></td>
   <td align="right">7952kB</td>
   <td><tt>04e35a0b00f8a43c9507bdb2e1b90a24cfd531e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/palapeli-21.12.2.tar.xz">palapeli-21.12.2</a></td>
   <td align="right">2048kB</td>
   <td><tt>3c67e893954d0d65946cac0ebec554f180ae7a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/parley-21.12.2.tar.xz">parley-21.12.2</a></td>
   <td align="right">8286kB</td>
   <td><tt>051932f31e7a32bc7f64d7485c3e0533a6571068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/partitionmanager-21.12.2.tar.xz">partitionmanager-21.12.2</a></td>
   <td align="right">2049kB</td>
   <td><tt>8729da5ae36ed71e4f357eccd062fffb50edf6d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/picmi-21.12.2.tar.xz">picmi-21.12.2</a></td>
   <td align="right">1501kB</td>
   <td><tt>c066ef92ba8fc0e0b2d43e63acb9dba6ba28edf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/pimcommon-21.12.2.tar.xz">pimcommon-21.12.2</a></td>
   <td align="right">363kB</td>
   <td><tt>a66c5c610a155b04e44a28b6ddf50ac562ed5de7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/pim-data-exporter-21.12.2.tar.xz">pim-data-exporter-21.12.2</a></td>
   <td align="right">394kB</td>
   <td><tt>bba53db30704944d8aa1d108e30fbb48b0015828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/pim-sieve-editor-21.12.2.tar.xz">pim-sieve-editor-21.12.2</a></td>
   <td align="right">446kB</td>
   <td><tt>72b608b44a7cb97ae9b1c2ada06684300611c204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/poxml-21.12.2.tar.xz">poxml-21.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>35b33063c19f4e1eeb844c92afd41abf3126ba68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/print-manager-21.12.2.tar.xz">print-manager-21.12.2</a></td>
   <td align="right">264kB</td>
   <td><tt>e9b4ce91094de13f5fb30a934560f28c0402299e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/rocs-21.12.2.tar.xz">rocs-21.12.2</a></td>
   <td align="right">1522kB</td>
   <td><tt>b4cc74ec2788b8448acdde66e0096a4fb027a7d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/signon-kwallet-extension-21.12.2.tar.xz">signon-kwallet-extension-21.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>76639f4159c9d0e372ee61d75a43b0341f827dca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/skanlite-21.12.2.tar.xz">skanlite-21.12.2</a></td>
   <td align="right">2386kB</td>
   <td><tt>187689c711feea429bedbb136e301e86d221c0c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/spectacle-21.12.2.tar.xz">spectacle-21.12.2</a></td>
   <td align="right">1224kB</td>
   <td><tt>408d2a3dc0b999e1bd4e5059a8b15b0368b9b7ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/step-21.12.2.tar.xz">step-21.12.2</a></td>
   <td align="right">903kB</td>
   <td><tt>df82f40b2920a659c48ef1b61e22b74cd4af0633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/svgpart-21.12.2.tar.xz">svgpart-21.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>c7e084192bc60a38bfc774ed603ad493f639dc69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/sweeper-21.12.2.tar.xz">sweeper-21.12.2</a></td>
   <td align="right">369kB</td>
   <td><tt>84ca7f3f51e7a26c812ce6cf10befa779fff91ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/umbrello-21.12.2.tar.xz">umbrello-21.12.2</a></td>
   <td align="right">5525kB</td>
   <td><tt>dc375b078b29d2f05f06409658b83287d66ab34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/yakuake-21.12.2.tar.xz">yakuake-21.12.2</a></td>
   <td align="right">393kB</td>
   <td><tt>71fac219bf18bc2ef2847dd191a427d3bc7197b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/zanshin-21.12.2.tar.xz">zanshin-21.12.2</a></td>
   <td align="right">343kB</td>
   <td><tt>b3303b132b103086749dd92d606e3696b050921a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.12.2/src/zeroconf-ioslave-21.12.2.tar.xz">zeroconf-ioslave-21.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>54c1f60db548663ecb7a2b1bd4e134f272162130</tt></td>
</tr>

</table>
