<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-21.04.1.tar.xz">akonadi-21.04.1</a></td>
   <td align="right">1561kB</td>
   <td><tt>40d9f6eb0b0eead83bd88754be9b58c356e2c78e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-calendar-21.04.1.tar.xz">akonadi-calendar-21.04.1</a></td>
   <td align="right">339kB</td>
   <td><tt>fc2d2d5c777033c541e35efbce9efdd18a9dc6b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-calendar-tools-21.04.1.tar.xz">akonadi-calendar-tools-21.04.1</a></td>
   <td align="right">223kB</td>
   <td><tt>364ce91cfcfb707322cb5c8e77d932e0222cba88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadiconsole-21.04.1.tar.xz">akonadiconsole-21.04.1</a></td>
   <td align="right">197kB</td>
   <td><tt>aa898b4c88c9d62a7460105da6eddad91feaf81d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-contacts-21.04.1.tar.xz">akonadi-contacts-21.04.1</a></td>
   <td align="right">409kB</td>
   <td><tt>b4616da73d733bb8703c9beb6ba4030a0287d533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-import-wizard-21.04.1.tar.xz">akonadi-import-wizard-21.04.1</a></td>
   <td align="right">499kB</td>
   <td><tt>1e5b1a76d6504418d1c9c722e995f61cfec18069</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-mime-21.04.1.tar.xz">akonadi-mime-21.04.1</a></td>
   <td align="right">137kB</td>
   <td><tt>a63414858bbd79514acd693440ed7a084ce31b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-notes-21.04.1.tar.xz">akonadi-notes-21.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>a7bccd634762517f052bb0293046715340006549</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akonadi-search-21.04.1.tar.xz">akonadi-search-21.04.1</a></td>
   <td align="right">95kB</td>
   <td><tt>d1285b998573deeeab7405a9cf15d73d7f1139ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/akregator-21.04.1.tar.xz">akregator-21.04.1</a></td>
   <td align="right">2162kB</td>
   <td><tt>78155793063bbec09bbbb28e4b0bfa0c5b256dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/analitza-21.04.1.tar.xz">analitza-21.04.1</a></td>
   <td align="right">334kB</td>
   <td><tt>a9e03995cd941d4615d8e3908e5e75308c24eba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ark-21.04.1.tar.xz">ark-21.04.1</a></td>
   <td align="right">2662kB</td>
   <td><tt>84c58d50c76f272e9f76d465007c6147ccea1632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/artikulate-21.04.1.tar.xz">artikulate-21.04.1</a></td>
   <td align="right">1061kB</td>
   <td><tt>414f358e33ed73fc231bcd059d9eecd3bb7cee25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/audiocd-kio-21.04.1.tar.xz">audiocd-kio-21.04.1</a></td>
   <td align="right">493kB</td>
   <td><tt>8bd27e88b6a753ca290c9c212566c84d27169020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/baloo-widgets-21.04.1.tar.xz">baloo-widgets-21.04.1</a></td>
   <td align="right">256kB</td>
   <td><tt>612bc83f4d96b59be4477031b18d2e6ea7e2feae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/blinken-21.04.1.tar.xz">blinken-21.04.1</a></td>
   <td align="right">2646kB</td>
   <td><tt>3f2aad1c45e9fa7dbe758af67cc2e8a750502c88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/bomber-21.04.1.tar.xz">bomber-21.04.1</a></td>
   <td align="right">809kB</td>
   <td><tt>c1b8a0cc5af11489440a9963d7245fb6f18d1a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/bovo-21.04.1.tar.xz">bovo-21.04.1</a></td>
   <td align="right">201kB</td>
   <td><tt>c87be340b4ea891f8b7b97d45d8362ec3de8de9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/calendarsupport-21.04.1.tar.xz">calendarsupport-21.04.1</a></td>
   <td align="right">655kB</td>
   <td><tt>66c1b64b598c7dfe3795d501b2d272c09b2d4e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/cantor-21.04.1.tar.xz">cantor-21.04.1</a></td>
   <td align="right">8920kB</td>
   <td><tt>2ae1bae0647c1cff24d6d52806a92f5e857ce7e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/cervisia-21.04.1.tar.xz">cervisia-21.04.1</a></td>
   <td align="right">1844kB</td>
   <td><tt>3c350bd7bf51bf3f9bfe28f906c6f47b83bf547e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/dolphin-21.04.1.tar.xz">dolphin-21.04.1</a></td>
   <td align="right">5042kB</td>
   <td><tt>d35ca2e85ce00bf91d91d29efc93bc3e31577d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/dolphin-plugins-21.04.1.tar.xz">dolphin-plugins-21.04.1</a></td>
   <td align="right">241kB</td>
   <td><tt>84173a72a8cc2eb6c122e69aed7aff16727cbfe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/dragon-21.04.1.tar.xz">dragon-21.04.1</a></td>
   <td align="right">1625kB</td>
   <td><tt>a3f26dd5fa14ad89d050c8ce5bd34446a7df86d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/elisa-21.04.1.tar.xz">elisa-21.04.1</a></td>
   <td align="right">1681kB</td>
   <td><tt>ebafce5059fc1d4d791eafb3b0258f5324288829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/eventviews-21.04.1.tar.xz">eventviews-21.04.1</a></td>
   <td align="right">436kB</td>
   <td><tt>556c5a888b0f787dbc4c9be6619af20a5ef040aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ffmpegthumbs-21.04.1.tar.xz">ffmpegthumbs-21.04.1</a></td>
   <td align="right">32kB</td>
   <td><tt>fac599642167833a6007fdaf4fdf604659581001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/filelight-21.04.1.tar.xz">filelight-21.04.1</a></td>
   <td align="right">663kB</td>
   <td><tt>29b78a2b45d88ee0033a4fea64a2f7efdc1bf1ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/granatier-21.04.1.tar.xz">granatier-21.04.1</a></td>
   <td align="right">1907kB</td>
   <td><tt>db54b9c029f7c01842ca3bcd8fc7cd9b557086e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/grantlee-editor-21.04.1.tar.xz">grantlee-editor-21.04.1</a></td>
   <td align="right">109kB</td>
   <td><tt>498f2f921406a2686fe4df748b372bfb0f662f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/grantleetheme-21.04.1.tar.xz">grantleetheme-21.04.1</a></td>
   <td align="right">59kB</td>
   <td><tt>b7534362a9367d27e646b5552d5a492f432bd724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/gwenview-21.04.1.tar.xz">gwenview-21.04.1</a></td>
   <td align="right">6599kB</td>
   <td><tt>3c4aeb338e4278f40ff78e571713970578da144d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/incidenceeditor-21.04.1.tar.xz">incidenceeditor-21.04.1</a></td>
   <td align="right">527kB</td>
   <td><tt>03cb82c28a2602440c2ccab5b2b845de56b8c8da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/itinerary-21.04.1.tar.xz">itinerary-21.04.1</a></td>
   <td align="right">371kB</td>
   <td><tt>48b2b4bc6830f1a44c1b40e85a2fff3af2d5bdfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/juk-21.04.1.tar.xz">juk-21.04.1</a></td>
   <td align="right">1946kB</td>
   <td><tt>653821ed7bcbb5bfe3e265837a887f6da47ee0f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/k3b-21.04.1.tar.xz">k3b-21.04.1</a></td>
   <td align="right">10457kB</td>
   <td><tt>ad4d4cc743bbfd8d2980dd23dbc38d837d389882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kaccounts-integration-21.04.1.tar.xz">kaccounts-integration-21.04.1</a></td>
   <td align="right">82kB</td>
   <td><tt>6d6dc00bf11f99b6ca15456c4a5177d099285953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kaccounts-providers-21.04.1.tar.xz">kaccounts-providers-21.04.1</a></td>
   <td align="right">60kB</td>
   <td><tt>a02d78f71985638c53cbedaa0a86f861a4b1983b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kaddressbook-21.04.1.tar.xz">kaddressbook-21.04.1</a></td>
   <td align="right">3185kB</td>
   <td><tt>0d40dae784b35da8a888423e6c21cf07ebe228b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kajongg-21.04.1.tar.xz">kajongg-21.04.1</a></td>
   <td align="right">4368kB</td>
   <td><tt>96f6cf3ce1c71b5741e3fa9b0c243c76156ec1fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kalarm-21.04.1.tar.xz">kalarm-21.04.1</a></td>
   <td align="right">2026kB</td>
   <td><tt>86efd3bf0e0ffb7fdbd6cb2587c40b8491c06e0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kalarmcal-21.04.1.tar.xz">kalarmcal-21.04.1</a></td>
   <td align="right">566kB</td>
   <td><tt>90356d272823155eb34094c2cec97147cf2e0a19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kalgebra-21.04.1.tar.xz">kalgebra-21.04.1</a></td>
   <td align="right">998kB</td>
   <td><tt>12a635b8700da315ef6df61d01b37d9ac154aa0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kalzium-21.04.1.tar.xz">kalzium-21.04.1</a></td>
   <td align="right">23968kB</td>
   <td><tt>ef14641eef74253b24389bb99991b47829f07e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kamera-21.04.1.tar.xz">kamera-21.04.1</a></td>
   <td align="right">107kB</td>
   <td><tt>440e0fd783485e72d04ac9af31b832975666fbbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kamoso-21.04.1.tar.xz">kamoso-21.04.1</a></td>
   <td align="right">207kB</td>
   <td><tt>54ed010f8e09d46b4e8c8e2d73c13feb161f5fa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kanagram-21.04.1.tar.xz">kanagram-21.04.1</a></td>
   <td align="right">7845kB</td>
   <td><tt>82400412a5d297142d60c37a174b231b1927cfb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kapman-21.04.1.tar.xz">kapman-21.04.1</a></td>
   <td align="right">2471kB</td>
   <td><tt>f0f382e4a8e509367e45f0d59c6e0505894a9f1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kapptemplate-21.04.1.tar.xz">kapptemplate-21.04.1</a></td>
   <td align="right">325kB</td>
   <td><tt>7b6d9b8ab00232ae80e9d0d50701f82e1f114952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kate-21.04.1.tar.xz">kate-21.04.1</a></td>
   <td align="right">7016kB</td>
   <td><tt>2cff388583ee783b4095d77a74fe2280d01f47ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/katomic-21.04.1.tar.xz">katomic-21.04.1</a></td>
   <td align="right">1395kB</td>
   <td><tt>030c3e27cf24b528273b59a88cdbc363de8ae26c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kbackup-21.04.1.tar.xz">kbackup-21.04.1</a></td>
   <td align="right">374kB</td>
   <td><tt>27066958653a10680bb29c711c1a3f6486578a4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kblackbox-21.04.1.tar.xz">kblackbox-21.04.1</a></td>
   <td align="right">439kB</td>
   <td><tt>006093340071421e40c46cdb364983f0c1a40ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kblocks-21.04.1.tar.xz">kblocks-21.04.1</a></td>
   <td align="right">1865kB</td>
   <td><tt>533a4cb8b3fbe420dbb2f16b726042bc90d97a2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kbounce-21.04.1.tar.xz">kbounce-21.04.1</a></td>
   <td align="right">3361kB</td>
   <td><tt>aa1d77508d4ab54296e3522b47b3b3573a3aa43c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kbreakout-21.04.1.tar.xz">kbreakout-21.04.1</a></td>
   <td align="right">2228kB</td>
   <td><tt>a2779fdaec21e1272a40e46781aff9366a9488df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kbruch-21.04.1.tar.xz">kbruch-21.04.1</a></td>
   <td align="right">5484kB</td>
   <td><tt>df7e61c3abc5c9f235ffb376e5806e4cb505d4a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kcachegrind-21.04.1.tar.xz">kcachegrind-21.04.1</a></td>
   <td align="right">809kB</td>
   <td><tt>829bcce27cb240079235ce7b1f40cd7c17b94748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kcalc-21.04.1.tar.xz">kcalc-21.04.1</a></td>
   <td align="right">352kB</td>
   <td><tt>91b1698751b8a25e6da07f5ca6682b76bf806a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kcalutils-21.04.1.tar.xz">kcalutils-21.04.1</a></td>
   <td align="right">325kB</td>
   <td><tt>6a1ca356fc9898044101808238db9ad0a33dab7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kcharselect-21.04.1.tar.xz">kcharselect-21.04.1</a></td>
   <td align="right">358kB</td>
   <td><tt>8029f471844d458622e5c3531e40baae7c0bb1e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kcolorchooser-21.04.1.tar.xz">kcolorchooser-21.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>7743e755471aa2646e9a9d33f859596828855fed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kcron-21.04.1.tar.xz">kcron-21.04.1</a></td>
   <td align="right">880kB</td>
   <td><tt>718d6bd863ad7b412d833cb8d64918ec150e24a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdebugsettings-21.04.1.tar.xz">kdebugsettings-21.04.1</a></td>
   <td align="right">84kB</td>
   <td><tt>049f504ed4610f40cbf118fbbab2858e0f1d5011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdeconnect-kde-21.04.1.tar.xz">kdeconnect-kde-21.04.1</a></td>
   <td align="right">546kB</td>
   <td><tt>3ae8d50ae9324509ba6fa25c1d4537f13a903e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kde-dev-scripts-21.04.1.tar.xz">kde-dev-scripts-21.04.1</a></td>
   <td align="right">357kB</td>
   <td><tt>712e0ce6639924f2b70710f0f24e1c652f835c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kde-dev-utils-21.04.1.tar.xz">kde-dev-utils-21.04.1</a></td>
   <td align="right">64kB</td>
   <td><tt>98452a21dedf3b31d2815f73204e1449dda32b1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdeedu-data-21.04.1.tar.xz">kdeedu-data-21.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>e3879fbe0c83383eba637f7da74feb8c161f213f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdegraphics-mobipocket-21.04.1.tar.xz">kdegraphics-mobipocket-21.04.1</a></td>
   <td align="right">16kB</td>
   <td><tt>0cd667fe163153b7a43e8ea82d8f9b65c4de1412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdegraphics-thumbnailers-21.04.1.tar.xz">kdegraphics-thumbnailers-21.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>09c586e7f9c030132f21503055608a58aa9319e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdenetwork-filesharing-21.04.1.tar.xz">kdenetwork-filesharing-21.04.1</a></td>
   <td align="right">346kB</td>
   <td><tt>2425150f6101fd8e2a93987f9b4952dba1e80612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdenlive-21.04.1.tar.xz">kdenlive-21.04.1</a></td>
   <td align="right">11448kB</td>
   <td><tt>8dedb3256815f47b3a0053d1e79f8e52e6b3d38f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdepim-addons-21.04.1.tar.xz">kdepim-addons-21.04.1</a></td>
   <td align="right">2108kB</td>
   <td><tt>832789c8b4b26793d10c5e17ddb4526a1ddd28b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdepim-runtime-21.04.1.tar.xz">kdepim-runtime-21.04.1</a></td>
   <td align="right">1770kB</td>
   <td><tt>3273e277601f7ca0c5a80d7ee44da52818980d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdesdk-kioslaves-21.04.1.tar.xz">kdesdk-kioslaves-21.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>7224770463617932bd6751dbee5f31a8a997adc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdesdk-thumbnailers-21.04.1.tar.xz">kdesdk-thumbnailers-21.04.1</a></td>
   <td align="right">17kB</td>
   <td><tt>9113cf6fd60d450213ad366795ba92cd383c26a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdf-21.04.1.tar.xz">kdf-21.04.1</a></td>
   <td align="right">456kB</td>
   <td><tt>c258bbc6276e5679936f2460d80b432d4ab78ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdialog-21.04.1.tar.xz">kdialog-21.04.1</a></td>
   <td align="right">106kB</td>
   <td><tt>cd1bc771ee3390e9d744a5bc842f4426fe4f5218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kdiamond-21.04.1.tar.xz">kdiamond-21.04.1</a></td>
   <td align="right">4587kB</td>
   <td><tt>d4807972f7593b2765341b617e37b7cedc15c3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/keditbookmarks-21.04.1.tar.xz">keditbookmarks-21.04.1</a></td>
   <td align="right">186kB</td>
   <td><tt>454db40fb3c0357217c054536703b4b341324e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kfind-21.04.1.tar.xz">kfind-21.04.1</a></td>
   <td align="right">265kB</td>
   <td><tt>92d8297f9572829365a9ce4c796bd2c0eee507b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kfloppy-21.04.1.tar.xz">kfloppy-21.04.1</a></td>
   <td align="right">200kB</td>
   <td><tt>eacfc0196e8c27e5351694fd2019e4573c40b13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kfourinline-21.04.1.tar.xz">kfourinline-21.04.1</a></td>
   <td align="right">629kB</td>
   <td><tt>9bb7e5585dd494b3fa224c8ef16aa8355784a9ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kgeography-21.04.1.tar.xz">kgeography-21.04.1</a></td>
   <td align="right">10510kB</td>
   <td><tt>cb9fc9a1f989daa9e9a93f2a9f0bc2f1e453866f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kget-21.04.1.tar.xz">kget-21.04.1</a></td>
   <td align="right">5458kB</td>
   <td><tt>a8b4e1350e33af1835f1d1baaa549b17341c995d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kgoldrunner-21.04.1.tar.xz">kgoldrunner-21.04.1</a></td>
   <td align="right">4346kB</td>
   <td><tt>62568f9fcde7139d26333f66081f5a11c20acc71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kgpg-21.04.1.tar.xz">kgpg-21.04.1</a></td>
   <td align="right">2818kB</td>
   <td><tt>87f0c9af14d4fad0fed4b6c82b29a4e768e330ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/khangman-21.04.1.tar.xz">khangman-21.04.1</a></td>
   <td align="right">7243kB</td>
   <td><tt>ded4c9cb414c24b90943588a76ed8ce6d4fe6961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/khelpcenter-21.04.1.tar.xz">khelpcenter-21.04.1</a></td>
   <td align="right">4169kB</td>
   <td><tt>769db8f9a17ff02984c78fe76aa0e6ba1eaab001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kidentitymanagement-21.04.1.tar.xz">kidentitymanagement-21.04.1</a></td>
   <td align="right">152kB</td>
   <td><tt>4e8a93e614d6c10f990cb6171b897ce5ff64fa55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kig-21.04.1.tar.xz">kig-21.04.1</a></td>
   <td align="right">3054kB</td>
   <td><tt>3cece9a500c88163d118e742ab5fd815faa68c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kigo-21.04.1.tar.xz">kigo-21.04.1</a></td>
   <td align="right">5122kB</td>
   <td><tt>8220fee264a3f8dc8e627ee9fca8714cbed9474c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/killbots-21.04.1.tar.xz">killbots-21.04.1</a></td>
   <td align="right">1158kB</td>
   <td><tt>54719acf47f20cecc480f606e7c71a7ad2558528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kimagemapeditor-21.04.1.tar.xz">kimagemapeditor-21.04.1</a></td>
   <td align="right">1054kB</td>
   <td><tt>16c36c0cd62486963b9ee5fe28423a6aa18062f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kimap-21.04.1.tar.xz">kimap-21.04.1</a></td>
   <td align="right">125kB</td>
   <td><tt>9644f30ca71ff98484bd1396908f65b0241d85ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kio-extras-21.04.1.tar.xz">kio-extras-21.04.1</a></td>
   <td align="right">631kB</td>
   <td><tt>51362cc148ada74258204e9fe2b85c8ac1a08f3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kio-gdrive-21.04.1.tar.xz">kio-gdrive-21.04.1</a></td>
   <td align="right">66kB</td>
   <td><tt>50c8306ecd333a61cae982907f5a378c2fc47cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kipi-plugins-21.04.1.tar.xz">kipi-plugins-21.04.1</a></td>
   <td align="right">1612kB</td>
   <td><tt>35e8bd3bcc29ad16114f9f4e308da598e85c3e00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kirigami-gallery-21.04.1.tar.xz">kirigami-gallery-21.04.1</a></td>
   <td align="right">321kB</td>
   <td><tt>abe18274a9b66fdb067cf8d4e78109308ce86e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kiriki-21.04.1.tar.xz">kiriki-21.04.1</a></td>
   <td align="right">370kB</td>
   <td><tt>26a0d18ee893b3222166039e3a5e189131c8e176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kiten-21.04.1.tar.xz">kiten-21.04.1</a></td>
   <td align="right">11037kB</td>
   <td><tt>14c622437b7a311788a885f0b885a2a1e5017124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kitinerary-21.04.1.tar.xz">kitinerary-21.04.1</a></td>
   <td align="right">1778kB</td>
   <td><tt>6267b509e9b93ad36ca704f409863cda4545fe71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kjumpingcube-21.04.1.tar.xz">kjumpingcube-21.04.1</a></td>
   <td align="right">284kB</td>
   <td><tt>f41aed37b427a392abee04285626aa5b7fec79ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kldap-21.04.1.tar.xz">kldap-21.04.1</a></td>
   <td align="right">166kB</td>
   <td><tt>cea34ecb72c1e837d2b98aadd2a1454dd02fd49b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kleopatra-21.04.1.tar.xz">kleopatra-21.04.1</a></td>
   <td align="right">2006kB</td>
   <td><tt>4c326c60da9f9e05802c236209fbe817d4f52680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/klettres-21.04.1.tar.xz">klettres-21.04.1</a></td>
   <td align="right">46025kB</td>
   <td><tt>d31d8695620665dd5fc2acfdcfc5fe52bf764aea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/klickety-21.04.1.tar.xz">klickety-21.04.1</a></td>
   <td align="right">1361kB</td>
   <td><tt>1ac835cf5d77846d71efb0aaacb332deb5716cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/klines-21.04.1.tar.xz">klines-21.04.1</a></td>
   <td align="right">1747kB</td>
   <td><tt>9c24b4f10c28116391194edc7d15c8c61cae5e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmag-21.04.1.tar.xz">kmag-21.04.1</a></td>
   <td align="right">682kB</td>
   <td><tt>3c29763fd69aa7dbac8e24529c16c164433df6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmahjongg-21.04.1.tar.xz">kmahjongg-21.04.1</a></td>
   <td align="right">3353kB</td>
   <td><tt>756142e2131558a63fbd9a4de1758bee95b1b0e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmail-21.04.1.tar.xz">kmail-21.04.1</a></td>
   <td align="right">6151kB</td>
   <td><tt>376bde889321795a207775522faa178831328d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmail-account-wizard-21.04.1.tar.xz">kmail-account-wizard-21.04.1</a></td>
   <td align="right">161kB</td>
   <td><tt>279e44058e1835ea20365375e5a1ea823f3f873a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmailtransport-21.04.1.tar.xz">kmailtransport-21.04.1</a></td>
   <td align="right">168kB</td>
   <td><tt>a0dc5c4b10d7a570451283a20b52edaac4d3d029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmbox-21.04.1.tar.xz">kmbox-21.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>702e58e94a584436c832c4d925283c2e4f7a940d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmime-21.04.1.tar.xz">kmime-21.04.1</a></td>
   <td align="right">150kB</td>
   <td><tt>ebb55e732948c6a1bee72021911f2c8d9bad8a55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmines-21.04.1.tar.xz">kmines-21.04.1</a></td>
   <td align="right">936kB</td>
   <td><tt>915a7ff0d257a20923847280027acd5c3e4e3ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmix-21.04.1.tar.xz">kmix-21.04.1</a></td>
   <td align="right">1124kB</td>
   <td><tt>45ca79d3ed0bb983777ab01d8a3e5efdf0736955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmousetool-21.04.1.tar.xz">kmousetool-21.04.1</a></td>
   <td align="right">114kB</td>
   <td><tt>bbc4e0e227669ecec7c558d691bdf95145b48f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmouth-21.04.1.tar.xz">kmouth-21.04.1</a></td>
   <td align="right">2035kB</td>
   <td><tt>28d9ae4dfda806d4e04ada541ec97ccd881e876c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kmplot-21.04.1.tar.xz">kmplot-21.04.1</a></td>
   <td align="right">2940kB</td>
   <td><tt>b6456b781bdba8b6099e325444931cf88b2b9f3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/knavalbattle-21.04.1.tar.xz">knavalbattle-21.04.1</a></td>
   <td align="right">1334kB</td>
   <td><tt>7bc328ba1060f062e9d549f53306a92de2cd051a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/knetwalk-21.04.1.tar.xz">knetwalk-21.04.1</a></td>
   <td align="right">1239kB</td>
   <td><tt>b6fb18bd2c99bafc29bf6563a53dd3aad6bd4473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/knights-21.04.1.tar.xz">knights-21.04.1</a></td>
   <td align="right">3453kB</td>
   <td><tt>88ac3eb31d3f24ee25e986320b6b324646626d08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/knotes-21.04.1.tar.xz">knotes-21.04.1</a></td>
   <td align="right">326kB</td>
   <td><tt>970bd0c6817460fdfe1b67c7720ababfd0ff635b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kolf-21.04.1.tar.xz">kolf-21.04.1</a></td>
   <td align="right">1008kB</td>
   <td><tt>ba2699734490fba4f6949d607367ab33b09f269f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kollision-21.04.1.tar.xz">kollision-21.04.1</a></td>
   <td align="right">283kB</td>
   <td><tt>54c93ab65a722fe27480fb95022ca2b7b2eaee16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kolourpaint-21.04.1.tar.xz">kolourpaint-21.04.1</a></td>
   <td align="right">5557kB</td>
   <td><tt>d7a5f8625eee244ebdea001472647aa9f4712492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kompare-21.04.1.tar.xz">kompare-21.04.1</a></td>
   <td align="right">905kB</td>
   <td><tt>7a9ff98027b3ce451a0ef37d78a1e91a8f72aae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/konqueror-21.04.1.tar.xz">konqueror-21.04.1</a></td>
   <td align="right">7086kB</td>
   <td><tt>c381f12a91261fd029901e504795fa626949d62d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/konquest-21.04.1.tar.xz">konquest-21.04.1</a></td>
   <td align="right">650kB</td>
   <td><tt>668871158421dc5382cb854f1e124d52a2c59d94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/konsole-21.04.1.tar.xz">konsole-21.04.1</a></td>
   <td align="right">1247kB</td>
   <td><tt>089b12633ae47270f1956a59232bb3b09cb43809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kontact-21.04.1.tar.xz">kontact-21.04.1</a></td>
   <td align="right">775kB</td>
   <td><tt>dfdba5915c33be5081671362f59142db933c3b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kontactinterface-21.04.1.tar.xz">kontactinterface-21.04.1</a></td>
   <td align="right">39kB</td>
   <td><tt>ca9cac2ee5c02b5b7f0ede1dddddde6066947e19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kontrast-21.04.1.tar.xz">kontrast-21.04.1</a></td>
   <td align="right">120kB</td>
   <td><tt>90cd152a02b599266067d873e7fd0d8d1dc940aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/konversation-21.04.1.tar.xz">konversation-21.04.1</a></td>
   <td align="right">4131kB</td>
   <td><tt>2775502f05da4c950040864a90c0295af63caf30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kopeninghours-21.04.1.tar.xz">kopeninghours-21.04.1</a></td>
   <td align="right">60kB</td>
   <td><tt>bc7dc8365d837d098b150c16d5c8f3f1c9da5bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kopete-21.04.1.tar.xz">kopete-21.04.1</a></td>
   <td align="right">9193kB</td>
   <td><tt>b4a1ccbaf4e818d3798ad346a93796adfba8c673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/korganizer-21.04.1.tar.xz">korganizer-21.04.1</a></td>
   <td align="right">2270kB</td>
   <td><tt>4dd24389f36eb642a70c0a5103c4d31f6d477d17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kosmindoormap-21.04.1.tar.xz">kosmindoormap-21.04.1</a></td>
   <td align="right">325kB</td>
   <td><tt>ebea590f4183b4375d27c279c0f8baf51ea87ae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kpat-21.04.1.tar.xz">kpat-21.04.1</a></td>
   <td align="right">3563kB</td>
   <td><tt>bded084db487a2fb641ae87f3fe8d8a110a5ec4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kpimtextedit-21.04.1.tar.xz">kpimtextedit-21.04.1</a></td>
   <td align="right">200kB</td>
   <td><tt>db6266e1f8e1c927a42c525bc7994d1be2b62e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kpkpass-21.04.1.tar.xz">kpkpass-21.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>24a067cf83fb34094caa2bfd05299c5d10ba6838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kpmcore-21.04.1.tar.xz">kpmcore-21.04.1</a></td>
   <td align="right">572kB</td>
   <td><tt>e919b0dbf89f0559c580e4e3ffd1d6f37027dc68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kpublictransport-21.04.1.tar.xz">kpublictransport-21.04.1</a></td>
   <td align="right">382kB</td>
   <td><tt>e863af0df7ac2c2aec1c512853d3d8b2cd8b6ba1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kqtquickcharts-21.04.1.tar.xz">kqtquickcharts-21.04.1</a></td>
   <td align="right">29kB</td>
   <td><tt>dc683454679787f1f0671e571cdde0c9eda69c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/krdc-21.04.1.tar.xz">krdc-21.04.1</a></td>
   <td align="right">1531kB</td>
   <td><tt>5b30dbb799b10183576d99bf7413d699f7b4893c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kreversi-21.04.1.tar.xz">kreversi-21.04.1</a></td>
   <td align="right">933kB</td>
   <td><tt>592ade45d6f2ce27ec2543e31212347f7143f6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/krfb-21.04.1.tar.xz">krfb-21.04.1</a></td>
   <td align="right">1253kB</td>
   <td><tt>e10e72df221fa1188d88359290851bc8b7aea0f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kross-interpreters-21.04.1.tar.xz">kross-interpreters-21.04.1</a></td>
   <td align="right">148kB</td>
   <td><tt>0398bb00c659f066660f2ad688c772168f9ab15c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kruler-21.04.1.tar.xz">kruler-21.04.1</a></td>
   <td align="right">266kB</td>
   <td><tt>3dbf047fc55a8445d0858a762504738136d11d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kshisen-21.04.1.tar.xz">kshisen-21.04.1</a></td>
   <td align="right">808kB</td>
   <td><tt>7cb80b5e485af656a000a362684767d62de4b232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ksirk-21.04.1.tar.xz">ksirk-21.04.1</a></td>
   <td align="right">6832kB</td>
   <td><tt>82ce2d02a082f8d069587ae8ad1a7862c4a96a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ksmtp-21.04.1.tar.xz">ksmtp-21.04.1</a></td>
   <td align="right">46kB</td>
   <td><tt>17c87e06304377c9fb1762cadd8f1cbcedf9fa06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ksnakeduel-21.04.1.tar.xz">ksnakeduel-21.04.1</a></td>
   <td align="right">530kB</td>
   <td><tt>5ffb1db522c6f15d43b5b3b501d4d85c285500c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kspaceduel-21.04.1.tar.xz">kspaceduel-21.04.1</a></td>
   <td align="right">603kB</td>
   <td><tt>dc80ffff212f4a186f6d0fcb44e783b2033b2f3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ksquares-21.04.1.tar.xz">ksquares-21.04.1</a></td>
   <td align="right">260kB</td>
   <td><tt>ca67d3839d21ff156f0153c5c3aebd28beb8a3c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ksudoku-21.04.1.tar.xz">ksudoku-21.04.1</a></td>
   <td align="right">1639kB</td>
   <td><tt>ec71511edacde7b58bf7062b216055452375d01b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ksystemlog-21.04.1.tar.xz">ksystemlog-21.04.1</a></td>
   <td align="right">1908kB</td>
   <td><tt>0834cbd04ba48102bade36c821a1bf2d059e0ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kteatime-21.04.1.tar.xz">kteatime-21.04.1</a></td>
   <td align="right">288kB</td>
   <td><tt>88452d44d04f93f867d0d04ceee7d88db53aea9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktimer-21.04.1.tar.xz">ktimer-21.04.1</a></td>
   <td align="right">376kB</td>
   <td><tt>1b96cace6d16eb9ef6d97a82b24ace267d16f45a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktnef-21.04.1.tar.xz">ktnef-21.04.1</a></td>
   <td align="right">296kB</td>
   <td><tt>77994b12f48040cf704d2d551db7a1a30628463c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktorrent-21.04.1.tar.xz">ktorrent-21.04.1</a></td>
   <td align="right">2023kB</td>
   <td><tt>0a3ceb2c4a3713e20eec5fd75191814507ca8ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktouch-21.04.1.tar.xz">ktouch-21.04.1</a></td>
   <td align="right">4829kB</td>
   <td><tt>f142d3f8e54af30f8d5c2b090fb20117bd9a158d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-accounts-kcm-21.04.1.tar.xz">ktp-accounts-kcm-21.04.1</a></td>
   <td align="right">257kB</td>
   <td><tt>abb004917568642547389e1e3acbdc12e7991c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-approver-21.04.1.tar.xz">ktp-approver-21.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>7703d61cdcbafa86a2ce450959ba4e0763da800d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-auth-handler-21.04.1.tar.xz">ktp-auth-handler-21.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>2cee2eacc5d2718c58d3ce1deb2fe4da7b2c373e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-call-ui-21.04.1.tar.xz">ktp-call-ui-21.04.1</a></td>
   <td align="right">95kB</td>
   <td><tt>873a5c3c14f2d65e35c6bf8321a2de1bc7deb3eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-common-internals-21.04.1.tar.xz">ktp-common-internals-21.04.1</a></td>
   <td align="right">440kB</td>
   <td><tt>cd58148d0aced8d2308ef35b030288fe57c2e122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-contact-list-21.04.1.tar.xz">ktp-contact-list-21.04.1</a></td>
   <td align="right">147kB</td>
   <td><tt>7d17b093e344f40abbafafd0239da5c1334d1e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-contact-runner-21.04.1.tar.xz">ktp-contact-runner-21.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>07307b60676278443ac356ca55f4e2a0c0af6719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-desktop-applets-21.04.1.tar.xz">ktp-desktop-applets-21.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>f0bb1347ffd54c01ab5c5721241b3ea9814253ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-filetransfer-handler-21.04.1.tar.xz">ktp-filetransfer-handler-21.04.1</a></td>
   <td align="right">45kB</td>
   <td><tt>ee869803cd4af8d1d2f872357856611a2c3a2ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-kded-module-21.04.1.tar.xz">ktp-kded-module-21.04.1</a></td>
   <td align="right">96kB</td>
   <td><tt>9663b3c94ded12944ce246fa5bd2113da377eff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-send-file-21.04.1.tar.xz">ktp-send-file-21.04.1</a></td>
   <td align="right">27kB</td>
   <td><tt>3c374dcd50e04c283b99f3c43a23982ef0dbdc70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktp-text-ui-21.04.1.tar.xz">ktp-text-ui-21.04.1</a></td>
   <td align="right">462kB</td>
   <td><tt>0ab2eb4b961c6bd7d5089ec63116208ead638161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/ktuberling-21.04.1.tar.xz">ktuberling-21.04.1</a></td>
   <td align="right">69089kB</td>
   <td><tt>131ce09e14068f9aa67ee6300ef149d2549facb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kturtle-21.04.1.tar.xz">kturtle-21.04.1</a></td>
   <td align="right">1795kB</td>
   <td><tt>2c7b58c10f07b46c27cd40fc3a091774910e0cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kubrick-21.04.1.tar.xz">kubrick-21.04.1</a></td>
   <td align="right">333kB</td>
   <td><tt>8148a6f5b8e66c72868d3d7bb6a1d7bfac3feab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kwalletmanager-21.04.1.tar.xz">kwalletmanager-21.04.1</a></td>
   <td align="right">763kB</td>
   <td><tt>74264b3ef4b8fb8266db696d629013af2aa29a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kwave-21.04.1.tar.xz">kwave-21.04.1</a></td>
   <td align="right">6719kB</td>
   <td><tt>748ea33c3c724ae3434793c9d6e9c3461860fd5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/kwordquiz-21.04.1.tar.xz">kwordquiz-21.04.1</a></td>
   <td align="right">4091kB</td>
   <td><tt>d4f60041dbf6679220cad82dc38d9371d866558c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libgravatar-21.04.1.tar.xz">libgravatar-21.04.1</a></td>
   <td align="right">34kB</td>
   <td><tt>87b46b51105f5323c6229ab361f050f7c9643409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkcddb-21.04.1.tar.xz">libkcddb-21.04.1</a></td>
   <td align="right">414kB</td>
   <td><tt>71c18ae3f44e866c19aa290fae5ff32560b87981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkcompactdisc-21.04.1.tar.xz">libkcompactdisc-21.04.1</a></td>
   <td align="right">94kB</td>
   <td><tt>548230bb8efb8fe56c8211132e182aa35b76aa51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkdcraw-21.04.1.tar.xz">libkdcraw-21.04.1</a></td>
   <td align="right">36kB</td>
   <td><tt>f7a11d69cef8162dd8b3a20fdd694f327baeb7e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkdegames-21.04.1.tar.xz">libkdegames-21.04.1</a></td>
   <td align="right">6239kB</td>
   <td><tt>bc9d5bba521eb06a62f9bd110fd6b01d5a274e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkdepim-21.04.1.tar.xz">libkdepim-21.04.1</a></td>
   <td align="right">236kB</td>
   <td><tt>5dd34e0daab8dcec61855e1f4400ff4020480fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkeduvocdocument-21.04.1.tar.xz">libkeduvocdocument-21.04.1</a></td>
   <td align="right">206kB</td>
   <td><tt>83d9a94ff99122c83c9799cc5d32d0b29da31dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkexiv2-21.04.1.tar.xz">libkexiv2-21.04.1</a></td>
   <td align="right">58kB</td>
   <td><tt>73333feeb004de146966297c0fce0fdfaef37fe7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkgapi-21.04.1.tar.xz">libkgapi-21.04.1</a></td>
   <td align="right">243kB</td>
   <td><tt>cb8b10d8361b79629f4f24b8e2c1aa0f913e9cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkipi-21.04.1.tar.xz">libkipi-21.04.1</a></td>
   <td align="right">101kB</td>
   <td><tt>a9dbe24523889286b215c937069b007f0380f68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkleo-21.04.1.tar.xz">libkleo-21.04.1</a></td>
   <td align="right">363kB</td>
   <td><tt>88bac49a165542a900a1330630903a9c35c0c7ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkmahjongg-21.04.1.tar.xz">libkmahjongg-21.04.1</a></td>
   <td align="right">1641kB</td>
   <td><tt>85df557c49e1dcdc2b0d8d573dffe19beda02fdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libkomparediff2-21.04.1.tar.xz">libkomparediff2-21.04.1</a></td>
   <td align="right">155kB</td>
   <td><tt>8b1fddd5cbb668ca2836bdc3f8d1db32d863739b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libksane-21.04.1.tar.xz">libksane-21.04.1</a></td>
   <td align="right">140kB</td>
   <td><tt>11a4137893bc6f237be1c7c3dccfa0579578cf0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libksieve-21.04.1.tar.xz">libksieve-21.04.1</a></td>
   <td align="right">551kB</td>
   <td><tt>54e85818395e7b04fa42adfd1a8910495bf03d54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/libktorrent-21.04.1.tar.xz">libktorrent-21.04.1</a></td>
   <td align="right">589kB</td>
   <td><tt>2f2421e59ef40544f34016e8d8aa6e2365a541b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/lokalize-21.04.1.tar.xz">lokalize-21.04.1</a></td>
   <td align="right">1946kB</td>
   <td><tt>a861a4b49afd57577fffeec99259e305e11a47c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/lskat-21.04.1.tar.xz">lskat-21.04.1</a></td>
   <td align="right">1193kB</td>
   <td><tt>0ba2f59abbac82585826bb0c80f46ed74197fd7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/mailcommon-21.04.1.tar.xz">mailcommon-21.04.1</a></td>
   <td align="right">710kB</td>
   <td><tt>401a9bae24cd491ced4fe1088d2c7b0edab505d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/mailimporter-21.04.1.tar.xz">mailimporter-21.04.1</a></td>
   <td align="right">540kB</td>
   <td><tt>ddc20b1d6a4cc5d547ba68a8da8204c94d739411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/marble-21.04.1.tar.xz">marble-21.04.1</a></td>
   <td align="right">51150kB</td>
   <td><tt>391777196c458423d76732c735b271a92d56a7c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/markdownpart-21.04.1.tar.xz">markdownpart-21.04.1</a></td>
   <td align="right">26kB</td>
   <td><tt>78b11b79f0ebc0a124e0ae2a4e851c48de194dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/mbox-importer-21.04.1.tar.xz">mbox-importer-21.04.1</a></td>
   <td align="right">28kB</td>
   <td><tt>b26b981ebad190283b5613d7a5adab9851882b5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/messagelib-21.04.1.tar.xz">messagelib-21.04.1</a></td>
   <td align="right">10385kB</td>
   <td><tt>112e91095af02a08f1a29beb4f52922840f54043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/minuet-21.04.1.tar.xz">minuet-21.04.1</a></td>
   <td align="right">27075kB</td>
   <td><tt>057e10887d158b6be00284be03b7395c17341068</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/okular-21.04.1.tar.xz">okular-21.04.1</a></td>
   <td align="right">7812kB</td>
   <td><tt>d72f3610c0fa5a7b84d2755ba0515bd2848fadf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/palapeli-21.04.1.tar.xz">palapeli-21.04.1</a></td>
   <td align="right">2027kB</td>
   <td><tt>7d65fc02029a60f0e56dc38a21197747dd5cda1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/parley-21.04.1.tar.xz">parley-21.04.1</a></td>
   <td align="right">8636kB</td>
   <td><tt>a6ae639e2950540116172f4f4c600b9aa7a1842d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/partitionmanager-21.04.1.tar.xz">partitionmanager-21.04.1</a></td>
   <td align="right">2040kB</td>
   <td><tt>069ea6f8f6cfc83fa492d95be4022834fc0fe170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/picmi-21.04.1.tar.xz">picmi-21.04.1</a></td>
   <td align="right">1337kB</td>
   <td><tt>915688587e7e88dffa1782bdac0ae77ea2014ca6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/pimcommon-21.04.1.tar.xz">pimcommon-21.04.1</a></td>
   <td align="right">360kB</td>
   <td><tt>e69313794b0a24b317939a0a19db168beaf2cb68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/pim-data-exporter-21.04.1.tar.xz">pim-data-exporter-21.04.1</a></td>
   <td align="right">389kB</td>
   <td><tt>ff02875b4d837e2937bec5cb4444628f78d25d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/pim-sieve-editor-21.04.1.tar.xz">pim-sieve-editor-21.04.1</a></td>
   <td align="right">447kB</td>
   <td><tt>57c6590c2b2f23d256796107138474327f9de2de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/poxml-21.04.1.tar.xz">poxml-21.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>2a6f2175c7a727e3f44127ce086c33e4bd5ee05f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/print-manager-21.04.1.tar.xz">print-manager-21.04.1</a></td>
   <td align="right">253kB</td>
   <td><tt>2c6a7bfca7d82eea5598d2aacc33458b1f67878b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/rocs-21.04.1.tar.xz">rocs-21.04.1</a></td>
   <td align="right">1505kB</td>
   <td><tt>a8d4b908963482479315111debc1188d137e2d80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/signon-kwallet-extension-21.04.1.tar.xz">signon-kwallet-extension-21.04.1</a></td>
   <td align="right">10kB</td>
   <td><tt>7f80df14684691d09025d31d70b0aedad9e7e557</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/spectacle-21.04.1.tar.xz">spectacle-21.04.1</a></td>
   <td align="right">1141kB</td>
   <td><tt>9f797d177f63d6bd412f45ea0eef5ce44933641e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/step-21.04.1.tar.xz">step-21.04.1</a></td>
   <td align="right">941kB</td>
   <td><tt>bdd338e95ad7b97e6c2e08698eccdc116e456b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/svgpart-21.04.1.tar.xz">svgpart-21.04.1</a></td>
   <td align="right">23kB</td>
   <td><tt>76c698ebb9d1eea53c2b6a49343d15e68feb36a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/sweeper-21.04.1.tar.xz">sweeper-21.04.1</a></td>
   <td align="right">363kB</td>
   <td><tt>c2952b5f58de52a818792d1cfcbc5585627c84a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/umbrello-21.04.1.tar.xz">umbrello-21.04.1</a></td>
   <td align="right">5441kB</td>
   <td><tt>f9d8079c257df630519b9b4b3414bae89da50865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/yakuake-21.04.1.tar.xz">yakuake-21.04.1</a></td>
   <td align="right">382kB</td>
   <td><tt>7aa82555b1ce0ff36ccdb6770bfdf6fafbff3b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.1/src/zeroconf-ioslave-21.04.1.tar.xz">zeroconf-ioslave-21.04.1</a></td>
   <td align="right">42kB</td>
   <td><tt>b0cdaeb15d5f9b2b53a8e77e53ce0b8a2e24be56</tt></td>
</tr>

</table>
