<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/bluedevil-5.3.95.tar.xz">bluedevil-5.3.95</a></td>
   <td align="right">123kB</td>
   <td><tt>3ef8cd4cb168ef6d1a72cf183ba43e66e9da1be345e90d856e72d0b1ac230011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/breeze-5.3.95.tar.xz">breeze-5.3.95</a></td>
   <td align="right">40MB</td>
   <td><tt>28f8e3c17dfc73ac485b7701ad828c5de6dc31ab05b4b666579b48c81906010a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kde-cli-tools-5.3.95.tar.xz">kde-cli-tools-5.3.95</a></td>
   <td align="right">473kB</td>
   <td><tt>9969dfeec3935a673e2056594a58c2e14e735c1ad657620ebe3eab15a9145cf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kdecoration-5.3.95.tar.xz">kdecoration-5.3.95</a></td>
   <td align="right">32kB</td>
   <td><tt>9025cf7dc72755094c96c72e06985fee967b93d3ae12231855f8a57cfaf5b079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kde-gtk-config-5.3.95.tar.xz">kde-gtk-config-5.3.95</a></td>
   <td align="right">140kB</td>
   <td><tt>924763a70741841a8c5367e9771c780148fa7f419452c547f20a0adad272b28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kdeplasma-addons-5.3.95.tar.xz">kdeplasma-addons-5.3.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d09abd8d0c8a4d18e3c5e533904078a0ffb6fa77b063b5d05517fe1cef3167e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kgamma5-5.3.95.tar.xz">kgamma5-5.3.95</a></td>
   <td align="right">58kB</td>
   <td><tt>988be2aac1136a040b7df6b14ff3830cb5120ba66ad6a491da689fd720ad37cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/khelpcenter-5.3.95.tar.xz">khelpcenter-5.3.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1bbb5091aabe028f137d9ad56510665b412f92ac4ebd91b4719ca42b3f060f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/khotkeys-5.3.95.tar.xz">khotkeys-5.3.95</a></td>
   <td align="right">593kB</td>
   <td><tt>39ac263039a2ad2c11101f3bb657829eff46a5eaec7a62691643bd24432f10e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kinfocenter-5.3.95.tar.xz">kinfocenter-5.3.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>acaecde182cc9bcd71b2ae20ccebb55bdbed656bd1c5b6971712ceda0c18f13a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kmenuedit-5.3.95.tar.xz">kmenuedit-5.3.95</a></td>
   <td align="right">431kB</td>
   <td><tt>d36998983e93538733e2f488eb2a3ae613a875179ea91e48a74cc91d6f74f3e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kscreen-5.3.95.tar.xz">kscreen-5.3.95</a></td>
   <td align="right">97kB</td>
   <td><tt>d46259a1d37126efbd022d5777fbb902e606d278df5fe83c74c294258bd2640f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/ksshaskpass-5.3.95.tar.xz">ksshaskpass-5.3.95</a></td>
   <td align="right">18kB</td>
   <td><tt>908d6b60cc7c21cf3da4b5eabbe51a39dd0dd11c14492104c8948d54464b778b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/ksysguard-5.3.95.tar.xz">ksysguard-5.3.95</a></td>
   <td align="right">474kB</td>
   <td><tt>7b69905e17c108c8547d523b8ed4f09b60d7b42b9b23be75d7724741ea6933f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kwallet-pam-5.3.95.tar.xz">kwallet-pam-5.3.95</a></td>
   <td align="right">15kB</td>
   <td><tt>e46e42ed7ca5fc11283f856a082b248af1b365ed9a12ba166d8b76b6b526b444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kwayland-5.3.95.tar.xz">kwayland-5.3.95</a></td>
   <td align="right">109kB</td>
   <td><tt>efd787061e7897d28ccdd92a932c583844ee1e0fbcf895882e040b295ba32992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kwayland-integration-5.3.95.tar.xz">kwayland-integration-5.3.95</a></td>
   <td align="right">13kB</td>
   <td><tt>2cac139906a2499df3a339f686e794186d51e36b5990906572978c424c35a9fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kwin-5.3.95.tar.xz">kwin-5.3.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>956dca9e3e5d29b357707defb5984ecf4e023960d12286a0a815436fca708123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/kwrited-5.3.95.tar.xz">kwrited-5.3.95</a></td>
   <td align="right">19kB</td>
   <td><tt>dfd5528059e23b33177659163e0bfc608a5c404d04889ad7831f861832d478a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/libkscreen-5.3.95.tar.xz">libkscreen-5.3.95</a></td>
   <td align="right">70kB</td>
   <td><tt>aa6e559ea1b58ce25d2bbfd85570cf6aaf53813199594a3dbff99dfbbe84291f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/libksysguard-5.3.95.tar.xz">libksysguard-5.3.95</a></td>
   <td align="right">548kB</td>
   <td><tt>682d9acc9388b2cd6b22670aced954607084ffc5924c703b74f19aa8b8182ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/milou-5.3.95.tar.xz">milou-5.3.95</a></td>
   <td align="right">49kB</td>
   <td><tt>138aca05e08dc097ef52d7761b192ef628b5bf065c95613ebca86bc7cd7ab2ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/muon-5.3.95.tar.xz">muon-5.3.95</a></td>
   <td align="right">993kB</td>
   <td><tt>404d0c8ae329e32a99850fb0e35ebc0d0e33097478112aad3168b7bd45d4020e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/oxygen-5.3.95.tar.xz">oxygen-5.3.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>173fadc8212de797e3f45556a6b3a05b9311363f234774a22d0f5ad095f4a96e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/oxygen-fonts-5.3.95.tar.xz">oxygen-fonts-5.3.95</a></td>
   <td align="right">157kB</td>
   <td><tt>85eeac2c7911b7f3138d040149eb943daea877f0f2943d32e063ba67f8196c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/plasma-desktop-5.3.95.tar.xz">plasma-desktop-5.3.95</a></td>
   <td align="right">5.9MB</td>
   <td><tt>b02fd351c0f88a5d66b0237ca56d6df6e5c6737b59c6bd5ca28b1c02898fe3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/plasma-mediacenter-5.3.95.tar.xz">plasma-mediacenter-5.3.95</a></td>
   <td align="right">154kB</td>
   <td><tt>5cca297dc1e7fa60a2eb2d41824c322d8d9f98cbe090f9c81d8d236d2c999b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/plasma-nm-5.3.95.tar.xz">plasma-nm-5.3.95</a></td>
   <td align="right">534kB</td>
   <td><tt>12b5f0c6881d87d55702b2a7ed592b14aa51f57f7c1185e387a94b09fcd19ce4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/plasma-pa-5.3.95.tar.xz">plasma-pa-5.3.95</a></td>
   <td align="right">36kB</td>
   <td><tt>1161991165a3dbb39451f4c8c8528e3c75c9187762e9278c96e5b47e2edbb915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/plasma-sdk-5.3.95.tar.xz">plasma-sdk-5.3.95</a></td>
   <td align="right">630kB</td>
   <td><tt>f5d0dd910ffac5e6988737892b9bd2b15aba1d08f78ace0097a02bb7117777ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/plasma-workspace-5.3.95.tar.xz">plasma-workspace-5.3.95</a></td>
   <td align="right">6.5MB</td>
   <td><tt>80227f1f5bbf45ad71c397fc670eef3f7ae8dc888942a11a4799b5c661b8bd7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/plasma-workspace-wallpapers-5.3.95.tar.xz">plasma-workspace-wallpapers-5.3.95</a></td>
   <td align="right">53MB</td>
   <td><tt>e58adcda8c4fb597a5972021233169e94213c87db0302006c9f6f619866e0968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/polkit-kde-agent-1-5.3.95.tar.xz">polkit-kde-agent-1-5.3.95</a></td>
   <td align="right">38kB</td>
   <td><tt>c2fca3bdd756f365420bc2a974cdcd841712598f4d7c1adbf916289ef3c9623a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/powerdevil-5.3.95.tar.xz">powerdevil-5.3.95</a></td>
   <td align="right">339kB</td>
   <td><tt>78849ea26722d95ed3d15159470c2265a3945b10fdaa361565b4a14f339d94b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/sddm-kcm-5.3.95.tar.xz">sddm-kcm-5.3.95</a></td>
   <td align="right">46kB</td>
   <td><tt>3e653315a7bc72b63c5a50bc4465170bb93f5c20e088edcf22292597faa1b036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/systemsettings-5.3.95.tar.xz">systemsettings-5.3.95</a></td>
   <td align="right">153kB</td>
   <td><tt>dfe1ffada733d9d1bb214f6a29114534fd2c44a8feeddc5452aad671e8d7c75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.3.95/user-manager-5.3.95.tar.xz">user-manager-5.3.95</a></td>
   <td align="right">53kB</td>
   <td><tt>ca92aec52aa5db3de8416d41d6d2f41c1453605149d3ac3179aada663e341e7b</tt></td>
</tr>

</table>
