<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-21.11.80.tar.xz">akonadi-21.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f5842664e70f0f21d63c8bd62cbec6bdcca42055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-calendar-21.11.80.tar.xz">akonadi-calendar-21.11.80</a></td>
   <td align="right">344kB</td>
   <td><tt>71408012489612c99ff60fce0cf9240d006e65aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-calendar-tools-21.11.80.tar.xz">akonadi-calendar-tools-21.11.80</a></td>
   <td align="right">231kB</td>
   <td><tt>7aeca21a94415435c4e14d9ee93fb40de0f4c275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadiconsole-21.11.80.tar.xz">akonadiconsole-21.11.80</a></td>
   <td align="right">196kB</td>
   <td><tt>9082350e90cf43faeb9852067a131e612f6ad862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-contacts-21.11.80.tar.xz">akonadi-contacts-21.11.80</a></td>
   <td align="right">415kB</td>
   <td><tt>f1564c41b373111419b9d9b3b87834cfad36e28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-import-wizard-21.11.80.tar.xz">akonadi-import-wizard-21.11.80</a></td>
   <td align="right">499kB</td>
   <td><tt>e1c2c4e2e8fcfbe190d8e3ed4baa38c8417f7b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-mime-21.11.80.tar.xz">akonadi-mime-21.11.80</a></td>
   <td align="right">139kB</td>
   <td><tt>c3ff9e6735b87a4246f44c834121ee8dd0adf43f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-notes-21.11.80.tar.xz">akonadi-notes-21.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>fc482e55c70d7588ce0b265dd8c93bdac35a1fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akonadi-search-21.11.80.tar.xz">akonadi-search-21.11.80</a></td>
   <td align="right">95kB</td>
   <td><tt>7374e603cba17c3d7b6338d9ac16930e99efc936</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/akregator-21.11.80.tar.xz">akregator-21.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>14705d72fa15ab630a798d41f3379a1d10f2cc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/analitza-21.11.80.tar.xz">analitza-21.11.80</a></td>
   <td align="right">338kB</td>
   <td><tt>37e6116cf47766e3553ba866579d8e6685c443d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ark-21.11.80.tar.xz">ark-21.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>34080c4389f0b77e003c4b58d51170d8043c912c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/artikulate-21.11.80.tar.xz">artikulate-21.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1d98a6ea6268c16d5d9f5c8944924a9034268fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/audiocd-kio-21.11.80.tar.xz">audiocd-kio-21.11.80</a></td>
   <td align="right">510kB</td>
   <td><tt>2c4313dd254cfe6b10b78e5d55e17302c1feb9eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/baloo-widgets-21.11.80.tar.xz">baloo-widgets-21.11.80</a></td>
   <td align="right">256kB</td>
   <td><tt>2788b1558319cf7d522569a6ca5f5551f43a0595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/blinken-21.11.80.tar.xz">blinken-21.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>ccf49ec6666856fdc48b90117d67437e7649542e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/bomber-21.11.80.tar.xz">bomber-21.11.80</a></td>
   <td align="right">811kB</td>
   <td><tt>15f02a708a4bc3e509dcd8e7f3ae5ae1ff2f860d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/bovo-21.11.80.tar.xz">bovo-21.11.80</a></td>
   <td align="right">204kB</td>
   <td><tt>1ae4a01db2758149f73e4687ced0f9791654e7f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/calendarsupport-21.11.80.tar.xz">calendarsupport-21.11.80</a></td>
   <td align="right">747kB</td>
   <td><tt>daf00718c7ac1f3ec31165eb82789287e339fa10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/cantor-21.11.80.tar.xz">cantor-21.11.80</a></td>
   <td align="right">8.7MB</td>
   <td><tt>7c4c56c19c8786124175b02384e1ae8a2774ee83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/cervisia-21.11.80.tar.xz">cervisia-21.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c5419f246946850a24c81d31af5066b657a46065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/dolphin-21.11.80.tar.xz">dolphin-21.11.80</a></td>
   <td align="right">5.0MB</td>
   <td><tt>875aa8c53fac7b01dd93121db7d54e78b612b7c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/dolphin-plugins-21.11.80.tar.xz">dolphin-plugins-21.11.80</a></td>
   <td align="right">248kB</td>
   <td><tt>a310db1964f5662f9854dd9263f2d50535566bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/dragon-21.11.80.tar.xz">dragon-21.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9787c16379c1bfda084599430ed84fec1a7a54ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/elisa-21.11.80.tar.xz">elisa-21.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cc3a93cc32641cea550b339d59adfb72579ba080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/eventviews-21.11.80.tar.xz">eventviews-21.11.80</a></td>
   <td align="right">444kB</td>
   <td><tt>53d5cfef215f540bb3030bb90e1f54d4a2e456f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ffmpegthumbs-21.11.80.tar.xz">ffmpegthumbs-21.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>b8abdbb915594eaebf8e89e7a48bc325d3fe9d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/filelight-21.11.80.tar.xz">filelight-21.11.80</a></td>
   <td align="right">668kB</td>
   <td><tt>d015604a835b351bc7ae3e320c0d0207b72f3a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/granatier-21.11.80.tar.xz">granatier-21.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6d8b276bb22fbc47195ec8635bcafe8b1f6734d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/grantlee-editor-21.11.80.tar.xz">grantlee-editor-21.11.80</a></td>
   <td align="right">108kB</td>
   <td><tt>107790564712e94b420227951f0b5977bb505534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/grantleetheme-21.11.80.tar.xz">grantleetheme-21.11.80</a></td>
   <td align="right">58kB</td>
   <td><tt>ed58ac1a806b002496ff36e8c6948f669de9d768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/gwenview-21.11.80.tar.xz">gwenview-21.11.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>1d8b7d7e4afb75a0625cb7ae7c27e8fc33105027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/incidenceeditor-21.11.80.tar.xz">incidenceeditor-21.11.80</a></td>
   <td align="right">533kB</td>
   <td><tt>3a1e5dfab1a86eb9aabb865365231f1fbd7ed1e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/itinerary-21.11.80.tar.xz">itinerary-21.11.80</a></td>
   <td align="right">456kB</td>
   <td><tt>7ac23d838e81ee60b47b549d1bd082394fe037eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/juk-21.11.80.tar.xz">juk-21.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5253edb1619044baf0a6ca030345d36d06c10748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/k3b-21.11.80.tar.xz">k3b-21.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>6f1bb6a65c6d256c10317d8114e3a29e5a26dedf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kaccounts-integration-21.11.80.tar.xz">kaccounts-integration-21.11.80</a></td>
   <td align="right">85kB</td>
   <td><tt>65eb3b318720a42e593172ed96bc327343b8914d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kaccounts-providers-21.11.80.tar.xz">kaccounts-providers-21.11.80</a></td>
   <td align="right">62kB</td>
   <td><tt>826e58a98ef8c6f6bb011c9352740d1f61344c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kaddressbook-21.11.80.tar.xz">kaddressbook-21.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>c52e4ffebee5af1dfd890e2427392aeb2ab27cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kajongg-21.11.80.tar.xz">kajongg-21.11.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>972876a2c5eafe9a2eb1a851427e95be6e031f00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kalarm-21.11.80.tar.xz">kalarm-21.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d27e8a0bb97b5d2795a4f4964ed351e80b1818a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kalarmcal-21.11.80.tar.xz">kalarmcal-21.11.80</a></td>
   <td align="right">615kB</td>
   <td><tt>4cd163c331390583525421cb23e9bcfe5f2b8aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kalgebra-21.11.80.tar.xz">kalgebra-21.11.80</a></td>
   <td align="right">1002kB</td>
   <td><tt>9ea8ec6efcc3ac65116f9e4ce0a1b22c2247550f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kalzium-21.11.80.tar.xz">kalzium-21.11.80</a></td>
   <td align="right">23MB</td>
   <td><tt>b510ad2db3170c713db23814c1ddf2e0ee85b3ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kamera-21.11.80.tar.xz">kamera-21.11.80</a></td>
   <td align="right">114kB</td>
   <td><tt>cfbe3ac2d7678535570bf6c34b97cb7237c42203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kamoso-21.11.80.tar.xz">kamoso-21.11.80</a></td>
   <td align="right">209kB</td>
   <td><tt>c9bb036e92886344f56cfbf83381ead8736d9a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kanagram-21.11.80.tar.xz">kanagram-21.11.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>742008092c65573f1fc8fb4c28ec04b76651b6c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kapman-21.11.80.tar.xz">kapman-21.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>bc74dae49719ae7c88c5fff225fe5edbf8953a8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kapptemplate-21.11.80.tar.xz">kapptemplate-21.11.80</a></td>
   <td align="right">326kB</td>
   <td><tt>639e7763ac4a4ce3211238614c25471d86460f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kate-21.11.80.tar.xz">kate-21.11.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c1439823fe321c81f27617fd90c68d19eb51f26b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/katomic-21.11.80.tar.xz">katomic-21.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d921928b30fd2aaeed2504e247767d5009fc2622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kbackup-21.11.80.tar.xz">kbackup-21.11.80</a></td>
   <td align="right">379kB</td>
   <td><tt>d8387bfbfb3b0a382cabcd8917c8b23409ce7e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kblackbox-21.11.80.tar.xz">kblackbox-21.11.80</a></td>
   <td align="right">511kB</td>
   <td><tt>1b6b672e3d738ac29ac26252927d463807aa9b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kblocks-21.11.80.tar.xz">kblocks-21.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>8e69423faeca9490557b0a36b2a5aa1493a3b5a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kbounce-21.11.80.tar.xz">kbounce-21.11.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>8d93f5286ab2c99850fc154931c7585e056a7b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kbreakout-21.11.80.tar.xz">kbreakout-21.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f9295c24dcc1041b8883ec88e1be630105a0d8b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kbruch-21.11.80.tar.xz">kbruch-21.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>9ee4181ef8f1c1b1df7dd3e1de64d42beee2599f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kcachegrind-21.11.80.tar.xz">kcachegrind-21.11.80</a></td>
   <td align="right">834kB</td>
   <td><tt>f32a2ae1dbd4e216ef0bd578414d4d610cffb18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kcalc-21.11.80.tar.xz">kcalc-21.11.80</a></td>
   <td align="right">374kB</td>
   <td><tt>ec825716ba9a98051c83caae6237e28648d9c714</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kcalutils-21.11.80.tar.xz">kcalutils-21.11.80</a></td>
   <td align="right">331kB</td>
   <td><tt>09f3904cb52f2b2fec5844c06faa63c9bbe549af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kcharselect-21.11.80.tar.xz">kcharselect-21.11.80</a></td>
   <td align="right">364kB</td>
   <td><tt>ff17124f1710f5a70bcd1da74d445334117238bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kcolorchooser-21.11.80.tar.xz">kcolorchooser-21.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>39ec7d85eedfc87990441f033df9c98587af3934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kcron-21.11.80.tar.xz">kcron-21.11.80</a></td>
   <td align="right">893kB</td>
   <td><tt>96186d434e67e90684f2f28571b5065efea90e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdebugsettings-21.11.80.tar.xz">kdebugsettings-21.11.80</a></td>
   <td align="right">90kB</td>
   <td><tt>985fc361c662390c406ed48d9777ef2e6659a30a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdeconnect-kde-21.11.80.tar.xz">kdeconnect-kde-21.11.80</a></td>
   <td align="right">590kB</td>
   <td><tt>5b93a5bcdd9030f41a1ad4533516fe9d93a21cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kde-dev-scripts-21.11.80.tar.xz">kde-dev-scripts-21.11.80</a></td>
   <td align="right">357kB</td>
   <td><tt>d5bb7fd01ea445d98a477110da7951604a3047f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kde-dev-utils-21.11.80.tar.xz">kde-dev-utils-21.11.80</a></td>
   <td align="right">66kB</td>
   <td><tt>f65f2098814f0852d7539a8260706df7dd986e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdeedu-data-21.11.80.tar.xz">kdeedu-data-21.11.80</a></td>
   <td align="right">327kB</td>
   <td><tt>7a703a5c95674d695a644cbf4ec63e98ff2ef683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdegraphics-mobipocket-21.11.80.tar.xz">kdegraphics-mobipocket-21.11.80</a></td>
   <td align="right">16kB</td>
   <td><tt>1f9c62df494b0e8b66837679a34ff141ffcecc3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdegraphics-thumbnailers-21.11.80.tar.xz">kdegraphics-thumbnailers-21.11.80</a></td>
   <td align="right">46kB</td>
   <td><tt>47d9ae9655d4f84e65becc01f55b31f669ab790f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdenetwork-filesharing-21.11.80.tar.xz">kdenetwork-filesharing-21.11.80</a></td>
   <td align="right">369kB</td>
   <td><tt>fc6a31157b469a1c2d3d3a5aa49fed1876f30ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdenlive-21.11.80.tar.xz">kdenlive-21.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>700637358165d0912808b43ab78dcd8fd54b2d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdepim-addons-21.11.80.tar.xz">kdepim-addons-21.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>217e22536115412d7716f3fed31ec3779f47a062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdepim-runtime-21.11.80.tar.xz">kdepim-runtime-21.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0fadabd80878fee5d5aed241c68e75b1b35f0f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdesdk-kioslaves-21.11.80.tar.xz">kdesdk-kioslaves-21.11.80</a></td>
   <td align="right">38kB</td>
   <td><tt>5a3866dfc4d9d7bad0be4f1cc3e853082a88e803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdesdk-thumbnailers-21.11.80.tar.xz">kdesdk-thumbnailers-21.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>b10e67a6d3e66ccb40e172617ea4e490a25ebc06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdevelop-21.11.80.tar.xz">kdevelop-21.11.80</a></td>
   <td align="right">8.0MB</td>
   <td><tt>899621592da1bd77a683c128c0ed93f387aebf6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdev-php-21.11.80.tar.xz">kdev-php-21.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>96af9166fb6c67c1a381b9a62e446722daa2a760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdev-python-21.11.80.tar.xz">kdev-python-21.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7bdb0fafc82f695af88f5314a2f444e9ac66cd54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdf-21.11.80.tar.xz">kdf-21.11.80</a></td>
   <td align="right">463kB</td>
   <td><tt>4c46064ae6c3570f42ad6923a3ccac8793ac83cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdialog-21.11.80.tar.xz">kdialog-21.11.80</a></td>
   <td align="right">113kB</td>
   <td><tt>2dab0a41b653242753df0e6ecb6abbc08b2c9313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kdiamond-21.11.80.tar.xz">kdiamond-21.11.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>7d85e9f64c45566be8f1e2e49a4f4c3739620da0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/keditbookmarks-21.11.80.tar.xz">keditbookmarks-21.11.80</a></td>
   <td align="right">198kB</td>
   <td><tt>7385cbd6abdaa837eff79975044c4a68b364fd36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kfind-21.11.80.tar.xz">kfind-21.11.80</a></td>
   <td align="right">280kB</td>
   <td><tt>a1aab01e68e771bd71a90e7f545c04260f548ea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kfloppy-21.11.80.tar.xz">kfloppy-21.11.80</a></td>
   <td align="right">208kB</td>
   <td><tt>86e69452fb3f659e74403ee0cedc97812708e661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kfourinline-21.11.80.tar.xz">kfourinline-21.11.80</a></td>
   <td align="right">702kB</td>
   <td><tt>ab76128f1ae18bd0a058e32c91eb2da7df06e554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kgeography-21.11.80.tar.xz">kgeography-21.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>1ef1c35584c1760559453b20fd922926b6753290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kget-21.11.80.tar.xz">kget-21.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>2ca8d67eb69147c1085a79f316088e5f01d1b408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kgoldrunner-21.11.80.tar.xz">kgoldrunner-21.11.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>8387831f69eb6b2d39ab22abd89792c92a055132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kgpg-21.11.80.tar.xz">kgpg-21.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>0c3fa27205446d97fd6bd9f72cbe88bb45de4c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/khangman-21.11.80.tar.xz">khangman-21.11.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>1b5d8e1f8c0ce44d6b49feefd63868499ceacbc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/khelpcenter-21.11.80.tar.xz">khelpcenter-21.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>8d6354e8e284397f65ba42906254de521cb373f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kidentitymanagement-21.11.80.tar.xz">kidentitymanagement-21.11.80</a></td>
   <td align="right">154kB</td>
   <td><tt>36d5e1ec5ca696058e763f0047707ac897894bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kig-21.11.80.tar.xz">kig-21.11.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>bddfdbe7aa0e47427a7b4a0f389be5f6f9f5b28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kigo-21.11.80.tar.xz">kigo-21.11.80</a></td>
   <td align="right">5.0MB</td>
   <td><tt>ebc7f5cdd5675d0230c6b9dfcf6cd99288f5490d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/killbots-21.11.80.tar.xz">killbots-21.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5fab5e93390aa01e728a0a82c25aafe8ea1884ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kimagemapeditor-21.11.80.tar.xz">kimagemapeditor-21.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>402d76246e8ebb0cfaa97d9486fad9c8790b8155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kimap-21.11.80.tar.xz">kimap-21.11.80</a></td>
   <td align="right">125kB</td>
   <td><tt>ffea41b598d631630da592aaab9bb06f6f019b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kio-extras-21.11.80.tar.xz">kio-extras-21.11.80</a></td>
   <td align="right">618kB</td>
   <td><tt>f9a1e3c60a9ad444abb0f84a35f682042d73f502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kio-gdrive-21.11.80.tar.xz">kio-gdrive-21.11.80</a></td>
   <td align="right">68kB</td>
   <td><tt>e781099a71116a78ef392f1fb40536bff68eb7dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kipi-plugins-21.11.80.tar.xz">kipi-plugins-21.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>30fc2130aca93d3a21478a6c8db98e79e1eee176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kirigami-gallery-21.11.80.tar.xz">kirigami-gallery-21.11.80</a></td>
   <td align="right">323kB</td>
   <td><tt>7af8073154ae61dbac24ab3c96549b6055d5bc39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kiriki-21.11.80.tar.xz">kiriki-21.11.80</a></td>
   <td align="right">356kB</td>
   <td><tt>80a5912cc254fa971c5eb6419ca032bc52d4e91e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kiten-21.11.80.tar.xz">kiten-21.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>a46a38597c0766a117eab42f32f9117890258d48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kitinerary-21.11.80.tar.xz">kitinerary-21.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>5b4a51abb9269160ded2e8e193af787114ea51a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kjumpingcube-21.11.80.tar.xz">kjumpingcube-21.11.80</a></td>
   <td align="right">315kB</td>
   <td><tt>a03e7d63f32e8784978a8a4af983a83b2d05f450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kldap-21.11.80.tar.xz">kldap-21.11.80</a></td>
   <td align="right">168kB</td>
   <td><tt>515ab05aba583d7f514c7a6c6a3197c2867c5aea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kleopatra-21.11.80.tar.xz">kleopatra-21.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>05ad055c8c2d362f5ab130d019236fbad75ccb33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/klettres-21.11.80.tar.xz">klettres-21.11.80</a></td>
   <td align="right">44MB</td>
   <td><tt>b67bc4be8b94acb0cc178958c1a440850ccf0fdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/klickety-21.11.80.tar.xz">klickety-21.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8c050f61461b4dbb6558dd8900b5bb4e176aa350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/klines-21.11.80.tar.xz">klines-21.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ba8b814753e55ab0d23f33a0084afa5df5aa1ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmag-21.11.80.tar.xz">kmag-21.11.80</a></td>
   <td align="right">689kB</td>
   <td><tt>57f4d6cbaa683443fa60699b13c823ef84a9b105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmahjongg-21.11.80.tar.xz">kmahjongg-21.11.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>6693402ebbe6a563ce0c1189a6d2ca583d66870c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmail-21.11.80.tar.xz">kmail-21.11.80</a></td>
   <td align="right">6.7MB</td>
   <td><tt>12cac0e008f3658b49fc4f0368d351ca0fadf44c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmail-account-wizard-21.11.80.tar.xz">kmail-account-wizard-21.11.80</a></td>
   <td align="right">165kB</td>
   <td><tt>063d769b31f249506efeca5a5c2ee2c139281280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmailtransport-21.11.80.tar.xz">kmailtransport-21.11.80</a></td>
   <td align="right">169kB</td>
   <td><tt>ceba9312d7388dad9203965ce4363304082fec69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmbox-21.11.80.tar.xz">kmbox-21.11.80</a></td>
   <td align="right">27kB</td>
   <td><tt>18ca9db410697885bd5b9b12e3dfb02dea74a5c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmime-21.11.80.tar.xz">kmime-21.11.80</a></td>
   <td align="right">152kB</td>
   <td><tt>70afcd33a176a6eb6b99e8e66a7380f3ad175c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmines-21.11.80.tar.xz">kmines-21.11.80</a></td>
   <td align="right">967kB</td>
   <td><tt>9e5fd8d15ec41e2cf1a962de4a2507638e52d8f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmix-21.11.80.tar.xz">kmix-21.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2cb8140a7d3335ed6407db160fe486232ce339e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmousetool-21.11.80.tar.xz">kmousetool-21.11.80</a></td>
   <td align="right">118kB</td>
   <td><tt>1fc693bcdb4624f3a73629cc1e9c9fffd0c6282f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmouth-21.11.80.tar.xz">kmouth-21.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>db460b03ba3dcc45cc8717564db474f259b9f1ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kmplot-21.11.80.tar.xz">kmplot-21.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>cf8decef0ba6dd4d9a5c2051bbb9a7a10179cd07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/knavalbattle-21.11.80.tar.xz">knavalbattle-21.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f713f02d5b7cbcf2e66e5512a02f330523a11266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/knetwalk-21.11.80.tar.xz">knetwalk-21.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4ab15ef4381165859b2e5cd7605380469d7da729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/knights-21.11.80.tar.xz">knights-21.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f5806984587bd77afff87769007e837b7ca20ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/knotes-21.11.80.tar.xz">knotes-21.11.80</a></td>
   <td align="right">333kB</td>
   <td><tt>acb1f4af4a4a11384420cc183c81369ed32f0592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kolf-21.11.80.tar.xz">kolf-21.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>11e66df0f21f670affb20e87aa051f56032fd0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kollision-21.11.80.tar.xz">kollision-21.11.80</a></td>
   <td align="right">291kB</td>
   <td><tt>150f94991beb119729fdd312e852939436caff86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kolourpaint-21.11.80.tar.xz">kolourpaint-21.11.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>c0396932c267e762434b9cec00fb0fc5d861990a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kompare-21.11.80.tar.xz">kompare-21.11.80</a></td>
   <td align="right">920kB</td>
   <td><tt>d9740de9404d58ecc5d96148bb568d0a3c9e7440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/konqueror-21.11.80.tar.xz">konqueror-21.11.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>bad9e42371250051b130c3a9c80d659df15e0df4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/konquest-21.11.80.tar.xz">konquest-21.11.80</a></td>
   <td align="right">840kB</td>
   <td><tt>a6876ae19acb6cebc66f2962703d92500c95808f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/konsole-21.11.80.tar.xz">konsole-21.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7af3eae14119797e01c234562f04922282e3971e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kontact-21.11.80.tar.xz">kontact-21.11.80</a></td>
   <td align="right">798kB</td>
   <td><tt>0dac842761b0b108080d32a0d4e6e8ba4588a9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kontactinterface-21.11.80.tar.xz">kontactinterface-21.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>28e9a341b66a480fbd437d352c2ce090967c3844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kontrast-21.11.80.tar.xz">kontrast-21.11.80</a></td>
   <td align="right">122kB</td>
   <td><tt>214e6e04d19a9f6e7c4bd1f04adba894b5044e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/konversation-21.11.80.tar.xz">konversation-21.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>446f1477f3b9ac1fcedf7ece7f14d0ec17b68aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kopeninghours-21.11.80.tar.xz">kopeninghours-21.11.80</a></td>
   <td align="right">65kB</td>
   <td><tt>f3bb444fb4d2099fea711110bea3f07d7c871b3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kopete-21.11.80.tar.xz">kopete-21.11.80</a></td>
   <td align="right">9.2MB</td>
   <td><tt>eead77ffaac200aadecbfb3882c03e97b524970e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/korganizer-21.11.80.tar.xz">korganizer-21.11.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>18d165d126ca154f082727055c78a4c4454be833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kosmindoormap-21.11.80.tar.xz">kosmindoormap-21.11.80</a></td>
   <td align="right">342kB</td>
   <td><tt>c558d91db7ffdb67143fdd790d7e5f77a031c896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kpat-21.11.80.tar.xz">kpat-21.11.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>4e9dc3aabc93e3446236673766d98fcf4883b57a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kpimtextedit-21.11.80.tar.xz">kpimtextedit-21.11.80</a></td>
   <td align="right">206kB</td>
   <td><tt>3fbb529de67d3e443f2bcdadcf9dd42a35c4945f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kpkpass-21.11.80.tar.xz">kpkpass-21.11.80</a></td>
   <td align="right">27kB</td>
   <td><tt>240c79cab7213cc357f1d0a49d4265a7425c21e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kpmcore-21.11.80.tar.xz">kpmcore-21.11.80</a></td>
   <td align="right">576kB</td>
   <td><tt>da5daf8135eefd3ea3a576f9e987624f54153f02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kpublictransport-21.11.80.tar.xz">kpublictransport-21.11.80</a></td>
   <td align="right">467kB</td>
   <td><tt>5ddf5482d78ea7c968e832a0880bf8d925967faa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kqtquickcharts-21.11.80.tar.xz">kqtquickcharts-21.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>bd0f46dd22d47e2fe18c7680d7d7ced34a4983c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/krdc-21.11.80.tar.xz">krdc-21.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0a1466552392a530b9e793bb42a1537225014f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kreversi-21.11.80.tar.xz">kreversi-21.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>21d6e85a5c8b78d9028faf1905a6ebfc4c425861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/krfb-21.11.80.tar.xz">krfb-21.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>e6dfeb52ba5b631678bdc073005e04e1fecaffbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kross-interpreters-21.11.80.tar.xz">kross-interpreters-21.11.80</a></td>
   <td align="right">147kB</td>
   <td><tt>dc677d4f0c4ac74d7330630dc2d9ea68697d4c02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kruler-21.11.80.tar.xz">kruler-21.11.80</a></td>
   <td align="right">270kB</td>
   <td><tt>73d79f37148c53dff8ec0ab2b0378c280341ff5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kshisen-21.11.80.tar.xz">kshisen-21.11.80</a></td>
   <td align="right">964kB</td>
   <td><tt>5c2b30998dc5bd6325bd93fc6e7e188f00634e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ksirk-21.11.80.tar.xz">ksirk-21.11.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>28234df695369480971678ea320c029058e09ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ksmtp-21.11.80.tar.xz">ksmtp-21.11.80</a></td>
   <td align="right">47kB</td>
   <td><tt>fd5caeef08ffb21e9c053775a407c7645fa5cff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ksnakeduel-21.11.80.tar.xz">ksnakeduel-21.11.80</a></td>
   <td align="right">589kB</td>
   <td><tt>e8d932ac92d9d93523faa26d3065253b4ba83008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kspaceduel-21.11.80.tar.xz">kspaceduel-21.11.80</a></td>
   <td align="right">633kB</td>
   <td><tt>2e19e62efac86d4830953da96128461a8da707a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ksquares-21.11.80.tar.xz">ksquares-21.11.80</a></td>
   <td align="right">297kB</td>
   <td><tt>0f9540d60618026e741c10c0ffc88671681d5718</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ksudoku-21.11.80.tar.xz">ksudoku-21.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>03f12dd75455dc58325a05eedbd698ffe6e42cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ksystemlog-21.11.80.tar.xz">ksystemlog-21.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e89f16e3a509a29899834eaadd1714281eea0720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kteatime-21.11.80.tar.xz">kteatime-21.11.80</a></td>
   <td align="right">293kB</td>
   <td><tt>c3851c3b3b75ffb9d47ae00645375d8c3b10d10f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktimer-21.11.80.tar.xz">ktimer-21.11.80</a></td>
   <td align="right">382kB</td>
   <td><tt>b668e66558b79721f6aa4dbbff3e9fafe49bbefe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktnef-21.11.80.tar.xz">ktnef-21.11.80</a></td>
   <td align="right">298kB</td>
   <td><tt>3cc4ffb85b150dc074ba1dd3ca678e478d702869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktorrent-21.11.80.tar.xz">ktorrent-21.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ff38c264c2fde305da17d68aa4b72852eca4f7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktouch-21.11.80.tar.xz">ktouch-21.11.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>92693e4124b64bb2eac8f1df8a03bd70a6210dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-accounts-kcm-21.11.80.tar.xz">ktp-accounts-kcm-21.11.80</a></td>
   <td align="right">260kB</td>
   <td><tt>65fa6f312722560e59edf9ad19302a602a8c01e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-approver-21.11.80.tar.xz">ktp-approver-21.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>6995f7cb80815417e1b079ef906900f830356895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-auth-handler-21.11.80.tar.xz">ktp-auth-handler-21.11.80</a></td>
   <td align="right">46kB</td>
   <td><tt>0f80ebd21d08750c283393378b969f5b642ce99c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-call-ui-21.11.80.tar.xz">ktp-call-ui-21.11.80</a></td>
   <td align="right">96kB</td>
   <td><tt>18ab1d1bdffa65f9704fba9468065c1981acaba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-common-internals-21.11.80.tar.xz">ktp-common-internals-21.11.80</a></td>
   <td align="right">440kB</td>
   <td><tt>a949d7aad776cee2a9290d38685f67320342b89f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-contact-list-21.11.80.tar.xz">ktp-contact-list-21.11.80</a></td>
   <td align="right">150kB</td>
   <td><tt>90677dddd1dd50eb4985023d78b76bedf2708d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-contact-runner-21.11.80.tar.xz">ktp-contact-runner-21.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>97098af849dd9b4fa9a72a19b222ae595ce51c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-desktop-applets-21.11.80.tar.xz">ktp-desktop-applets-21.11.80</a></td>
   <td align="right">43kB</td>
   <td><tt>eae3d318e217ebcf9ca77e6d53909e4b0d1e7dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-filetransfer-handler-21.11.80.tar.xz">ktp-filetransfer-handler-21.11.80</a></td>
   <td align="right">45kB</td>
   <td><tt>a18fe0385312d9a794ba5182fd764b6452421350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-kded-module-21.11.80.tar.xz">ktp-kded-module-21.11.80</a></td>
   <td align="right">97kB</td>
   <td><tt>bad12461833d5566ca515fd5b61f4fbed8c57a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-send-file-21.11.80.tar.xz">ktp-send-file-21.11.80</a></td>
   <td align="right">28kB</td>
   <td><tt>c04411fdb2f16150b31bef1e6ab050bf6d18a4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktp-text-ui-21.11.80.tar.xz">ktp-text-ui-21.11.80</a></td>
   <td align="right">463kB</td>
   <td><tt>046793a99814ef55729aebeeba248d5916bd3670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/ktuberling-21.11.80.tar.xz">ktuberling-21.11.80</a></td>
   <td align="right">67MB</td>
   <td><tt>eac1653938227b72ce31ddc901a0944c5e737dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kturtle-21.11.80.tar.xz">kturtle-21.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>80f7b73c7f8ba7143bec19ee12f322929706c1d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kubrick-21.11.80.tar.xz">kubrick-21.11.80</a></td>
   <td align="right">335kB</td>
   <td><tt>80341c292c9514613b6657584e79aca3565c2315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kwalletmanager-21.11.80.tar.xz">kwalletmanager-21.11.80</a></td>
   <td align="right">781kB</td>
   <td><tt>a3bb807089726080a1e92387f039400611101dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kwave-21.11.80.tar.xz">kwave-21.11.80</a></td>
   <td align="right">6.5MB</td>
   <td><tt>66e14af756b3b4c2941a1843955324b99440526f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/kwordquiz-21.11.80.tar.xz">kwordquiz-21.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3de82bbab06c8b0db5f273893a1dc297ce4787b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libgravatar-21.11.80.tar.xz">libgravatar-21.11.80</a></td>
   <td align="right">34kB</td>
   <td><tt>5637d1c411ef36121aed134260050f75cc637b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkcddb-21.11.80.tar.xz">libkcddb-21.11.80</a></td>
   <td align="right">422kB</td>
   <td><tt>2ee512de755b0cd509faba12af179e534050556c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkcompactdisc-21.11.80.tar.xz">libkcompactdisc-21.11.80</a></td>
   <td align="right">94kB</td>
   <td><tt>d1bade432727fa843532348c210e039c88a0fd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkdcraw-21.11.80.tar.xz">libkdcraw-21.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>2b7927f1098eba2bcf08fe0eef57a891016ffc3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkdegames-21.11.80.tar.xz">libkdegames-21.11.80</a></td>
   <td align="right">5.7MB</td>
   <td><tt>ccff7d59622116282ac82262c82be5e2bc5ba230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkdepim-21.11.80.tar.xz">libkdepim-21.11.80</a></td>
   <td align="right">247kB</td>
   <td><tt>691db8e87c29dbaf810995a5114b8878c7804cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkeduvocdocument-21.11.80.tar.xz">libkeduvocdocument-21.11.80</a></td>
   <td align="right">212kB</td>
   <td><tt>7dff426e26f46880b0dec60107c8af79c265fb0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkexiv2-21.11.80.tar.xz">libkexiv2-21.11.80</a></td>
   <td align="right">58kB</td>
   <td><tt>fb81b4ad5c19a7b2a427ca433ff687c26ac3f794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkgapi-21.11.80.tar.xz">libkgapi-21.11.80</a></td>
   <td align="right">239kB</td>
   <td><tt>c3eec8740d86451883eaa1524ea858843a4a62de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkipi-21.11.80.tar.xz">libkipi-21.11.80</a></td>
   <td align="right">101kB</td>
   <td><tt>f53cec5a127a0dc1df2127cb863902589b3aecca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkleo-21.11.80.tar.xz">libkleo-21.11.80</a></td>
   <td align="right">435kB</td>
   <td><tt>0546cefdf8d2f1d3ca30c7a3d15c05c79da0b7d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkmahjongg-21.11.80.tar.xz">libkmahjongg-21.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6df66905bd8b84319c4ca90c6c1db08ac6f6e4d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libkomparediff2-21.11.80.tar.xz">libkomparediff2-21.11.80</a></td>
   <td align="right">168kB</td>
   <td><tt>0136237f178ed2638c81f06705226346a9a5a31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libksane-21.11.80.tar.xz">libksane-21.11.80</a></td>
   <td align="right">158kB</td>
   <td><tt>f33db5d6bc233afd962a42e33af51be20af3732a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libksieve-21.11.80.tar.xz">libksieve-21.11.80</a></td>
   <td align="right">558kB</td>
   <td><tt>c520989a808df7e30bab343ed2c3846b3de4c721</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/libktorrent-21.11.80.tar.xz">libktorrent-21.11.80</a></td>
   <td align="right">591kB</td>
   <td><tt>f55ceb0c2af34001bc19438e6d79dfe6557b34e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/lokalize-21.11.80.tar.xz">lokalize-21.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>98e4bbf162ccb4aba00ab538fedeb9553f72591b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/lskat-21.11.80.tar.xz">lskat-21.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7b85d632a0048547781a942d6dbdc46a8316f828</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/mailcommon-21.11.80.tar.xz">mailcommon-21.11.80</a></td>
   <td align="right">719kB</td>
   <td><tt>73a7fcb443a9f7325d9879aee2cedcd9ab70ca63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/mailimporter-21.11.80.tar.xz">mailimporter-21.11.80</a></td>
   <td align="right">545kB</td>
   <td><tt>46d192c9ef137b076ae4507c6c7a6e1dcd4a3eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/marble-21.11.80.tar.xz">marble-21.11.80</a></td>
   <td align="right">51MB</td>
   <td><tt>a2121a83efce964fffdc677f6c081251aa7219b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/markdownpart-21.11.80.tar.xz">markdownpart-21.11.80</a></td>
   <td align="right">27kB</td>
   <td><tt>becf42bac0a5a31c4e69eeb9c2d760522cfa0281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/mbox-importer-21.11.80.tar.xz">mbox-importer-21.11.80</a></td>
   <td align="right">28kB</td>
   <td><tt>a2e3b094c36b8283c16625773a31e0a960a68bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/messagelib-21.11.80.tar.xz">messagelib-21.11.80</a></td>
   <td align="right">10MB</td>
   <td><tt>5b293e20dcf0ae7bd6b10dd33433923003c2249e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/minuet-21.11.80.tar.xz">minuet-21.11.80</a></td>
   <td align="right">26MB</td>
   <td><tt>15a33950b2ef733bd61af3879a92419ab52d1804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/okular-21.11.80.tar.xz">okular-21.11.80</a></td>
   <td align="right">7.7MB</td>
   <td><tt>8528bf33957544cffff0c6923c240240b337c688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/palapeli-21.11.80.tar.xz">palapeli-21.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8f9f7d9fe759ad95d6a912a0d7f8190358f6a9b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/parley-21.11.80.tar.xz">parley-21.11.80</a></td>
   <td align="right">8.0MB</td>
   <td><tt>b7cc032e7d3fd6e16100f39e65e82239f4bc59f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/partitionmanager-21.11.80.tar.xz">partitionmanager-21.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>33eaae41b4663691206e348675ff9925aee0373d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/picmi-21.11.80.tar.xz">picmi-21.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9933913901a178c5cbe6b5e20093a16c4f476bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/pimcommon-21.11.80.tar.xz">pimcommon-21.11.80</a></td>
   <td align="right">361kB</td>
   <td><tt>b1ae54f64c30206144e2a3d586824cdcc2402941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/pim-data-exporter-21.11.80.tar.xz">pim-data-exporter-21.11.80</a></td>
   <td align="right">393kB</td>
   <td><tt>e50412e709e7bebc614dc35716f36784f72c2da2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/pim-sieve-editor-21.11.80.tar.xz">pim-sieve-editor-21.11.80</a></td>
   <td align="right">447kB</td>
   <td><tt>1b82c075133d47010c774a90cde04f0e2a78fe4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/poxml-21.11.80.tar.xz">poxml-21.11.80</a></td>
   <td align="right">42kB</td>
   <td><tt>b217931906121c4a9c10fe17f548c28ca4babd69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/print-manager-21.11.80.tar.xz">print-manager-21.11.80</a></td>
   <td align="right">265kB</td>
   <td><tt>de57bfb798be4355e1d51e31a83f56ab6b8292b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/rocs-21.11.80.tar.xz">rocs-21.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b39d1c5f99b911db6b3da4dda32d378711695ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/signon-kwallet-extension-21.11.80.tar.xz">signon-kwallet-extension-21.11.80</a></td>
   <td align="right">10kB</td>
   <td><tt>39c4bd7b84c2c8290ee679d18287036b3871cb06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/skanlite-21.11.80.tar.xz">skanlite-21.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>49be5ecafabfc6804d4c65c8a6af54c0c7dab694</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/spectacle-21.11.80.tar.xz">spectacle-21.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b51d140dbc8f839b36838de70e2c4cad27a0b63b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/step-21.11.80.tar.xz">step-21.11.80</a></td>
   <td align="right">899kB</td>
   <td><tt>89f1bf58a24d16adf64d5fb7cb061c36b1a8e5d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/svgpart-21.11.80.tar.xz">svgpart-21.11.80</a></td>
   <td align="right">24kB</td>
   <td><tt>aabe69ed63378d7502fe716eed5b48ca4612db2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/sweeper-21.11.80.tar.xz">sweeper-21.11.80</a></td>
   <td align="right">368kB</td>
   <td><tt>7f2efdacb8d236866d4cce0f2772356d434d22e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/umbrello-21.11.80.tar.xz">umbrello-21.11.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>94d62207904fa6f262eb024fef64a20702b555ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/yakuake-21.11.80.tar.xz">yakuake-21.11.80</a></td>
   <td align="right">391kB</td>
   <td><tt>e5243bff603d0eed840ac3105ddc1126a45db69b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/zanshin-21.11.80.tar.xz">zanshin-21.11.80</a></td>
   <td align="right">342kB</td>
   <td><tt>b21ea59184dff1532f1c6a51bfeb548401ce1675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/21.11.80/src/zeroconf-ioslave-21.11.80.tar.xz">zeroconf-ioslave-21.11.80</a></td>
   <td align="right">37kB</td>
   <td><tt>ff346eea94b4b0886e46f1b5f4c295edebdc41aa</tt></td>
</tr>

</table>
