<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-23.04.3.tar.xz">akonadi-23.04.3</a></td>
   <td align="right">1628kB</td>
   <td><tt>2b53d72291c6cfb692f0683a3a089b2294adeb8f9d0794b2c174d15c5a48f74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-calendar-23.04.3.tar.xz">akonadi-calendar-23.04.3</a></td>
   <td align="right">402kB</td>
   <td><tt>9a9d679aeef1a881fbf9fdeb306c8c8fb0f829a5c4bb2b7613ed78264fa9dd98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-calendar-tools-23.04.3.tar.xz">akonadi-calendar-tools-23.04.3</a></td>
   <td align="right">250kB</td>
   <td><tt>07602e364145028301edc794537e27bdf03b49e0afeec8729091136370dd4bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadiconsole-23.04.3.tar.xz">akonadiconsole-23.04.3</a></td>
   <td align="right">267kB</td>
   <td><tt>938e1c582e5cea6f69bc869a06f010781cb295e76a9bf7c4fa67c4d7f3c0bc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-contacts-23.04.3.tar.xz">akonadi-contacts-23.04.3</a></td>
   <td align="right">432kB</td>
   <td><tt>8679f5ebc097111cc916b914300aec938bcbd126219a779cf637e86b8afc7483</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-import-wizard-23.04.3.tar.xz">akonadi-import-wizard-23.04.3</a></td>
   <td align="right">502kB</td>
   <td><tt>8088f9a628916d65e3bb6b1af9da38dd0574875d609bb76c82a2d16dfb664736</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-mime-23.04.3.tar.xz">akonadi-mime-23.04.3</a></td>
   <td align="right">152kB</td>
   <td><tt>05d2c9e6bf7f2b3d1b56fadbc5c02c32dc9415050f4bd22248f4e844b0d863e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-notes-23.04.3.tar.xz">akonadi-notes-23.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>db18d163bf6073ee6cd64062bd6352701856be60830bedb33ee3b3c64820aa68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akonadi-search-23.04.3.tar.xz">akonadi-search-23.04.3</a></td>
   <td align="right">100kB</td>
   <td><tt>a702539fd0352298248069713fee843927beccf84a54a6a5da95aab398a3ecc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/akregator-23.04.3.tar.xz">akregator-23.04.3</a></td>
   <td align="right">2270kB</td>
   <td><tt>899701bacf2c6c5db95d908618725d0e4787cc8ac8dd605e89e8c63f0a31213d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/alligator-23.04.3.tar.xz">alligator-23.04.3</a></td>
   <td align="right">185kB</td>
   <td><tt>0422fac02c58c8d9ab919ee560c500ebc76866740db045db4e4b55524d9dde76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/analitza-23.04.3.tar.xz">analitza-23.04.3</a></td>
   <td align="right">344kB</td>
   <td><tt>354c447ea4e4f2b39e7073fc56a2f2fe2f6ee7897302d8462af422cbec029ad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/angelfish-23.04.3.tar.xz">angelfish-23.04.3</a></td>
   <td align="right">239kB</td>
   <td><tt>500563ff05e674e6a5b460f5cf843c50f5aab63483b58b9e175d9708fccf665e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ark-23.04.3.tar.xz">ark-23.04.3</a></td>
   <td align="right">2940kB</td>
   <td><tt>81f87fb5bfbb28f74f1a360a40e0251864f83524b1d0d61b79dd1fe412e63a20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/artikulate-23.04.3.tar.xz">artikulate-23.04.3</a></td>
   <td align="right">1068kB</td>
   <td><tt>e96baa6a4333b1c25a35e133211419aae67f9c812464c13809b55d461910974e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/audiocd-kio-23.04.3.tar.xz">audiocd-kio-23.04.3</a></td>
   <td align="right">549kB</td>
   <td><tt>144fc3d9f01df0c29fac719df9a1fc6f48886c061273ca16430893e27191804e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/audiotube-23.04.3.tar.xz">audiotube-23.04.3</a></td>
   <td align="right">109kB</td>
   <td><tt>04623367cbcbc70ad3e34f04bde88f32c6967cc6403fbab4c842061431196be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/baloo-widgets-23.04.3.tar.xz">baloo-widgets-23.04.3</a></td>
   <td align="right">269kB</td>
   <td><tt>e67f47b9a7e77c73682de27f03ff2051506f1940404bb28f29ed6d917f9d6806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/blinken-23.04.3.tar.xz">blinken-23.04.3</a></td>
   <td align="right">2659kB</td>
   <td><tt>15c6fcf374ea7714f034ea0aa8f2289efc6ebeb62a85c5387b234966ee02bcaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/bomber-23.04.3.tar.xz">bomber-23.04.3</a></td>
   <td align="right">818kB</td>
   <td><tt>12d3b97ca6d7569a52403bcd4a89d07730a7c79330a491628956b2492becf161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/bovo-23.04.3.tar.xz">bovo-23.04.3</a></td>
   <td align="right">209kB</td>
   <td><tt>21c2b82b04f14ef12f5179ed19a97eece8634b0cd743a785d2c4b19a4933bafd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/calendarsupport-23.04.3.tar.xz">calendarsupport-23.04.3</a></td>
   <td align="right">964kB</td>
   <td><tt>522f0bbc3097dd53355faf49a88428afe1db414261c04f6951a73168cb9e66fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/calindori-23.04.3.tar.xz">calindori-23.04.3</a></td>
   <td align="right">372kB</td>
   <td><tt>ad6dac4664d2c2cf062a0531f585b747ba113eb2de5d4eef9bd538e06ef64ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/cantor-23.04.3.tar.xz">cantor-23.04.3</a></td>
   <td align="right">9049kB</td>
   <td><tt>9cf2485fa3e8cc741bdda0330df0d9cb92a068f91841067f7791ccbae7cf2d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/cervisia-23.04.3.tar.xz">cervisia-23.04.3</a></td>
   <td align="right">1898kB</td>
   <td><tt>2c2839abee339384d08cf3b6914312184ebcf02ef072ded36707611a0801aca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/colord-kde-23.04.3.tar.xz">colord-kde-23.04.3</a></td>
   <td align="right">105kB</td>
   <td><tt>e0cf5bf671e07e866c7ca13f2e0ca11a20b7a27608fdb3cca432e85a39ad16a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/dolphin-23.04.3.tar.xz">dolphin-23.04.3</a></td>
   <td align="right">5603kB</td>
   <td><tt>28cab05a6390e067f3a9c5ca176ec412f52bf20f78dc82a12a460d252211da2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/dolphin-plugins-23.04.3.tar.xz">dolphin-plugins-23.04.3</a></td>
   <td align="right">266kB</td>
   <td><tt>1b11c0f832a5d16846358c9cf3a4aeac5d6673522799d2731faf481653292b40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/dragon-23.04.3.tar.xz">dragon-23.04.3</a></td>
   <td align="right">1629kB</td>
   <td><tt>c813c8cd25bd94d50895f8931b9d83b41612c105ad22ff7948bf7b0b6e6b9156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/elisa-23.04.3.tar.xz">elisa-23.04.3</a></td>
   <td align="right">1767kB</td>
   <td><tt>421032a33e072303097918fc3f82a86118e9d0ae6adce812ee61307e24acc4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/eventviews-23.04.3.tar.xz">eventviews-23.04.3</a></td>
   <td align="right">453kB</td>
   <td><tt>f4b4f1a70fddb600e492923d9c93f7243b83a7e41df61b48f45a6ae0e55108da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/falkon-23.04.3.tar.xz">falkon-23.04.3</a></td>
   <td align="right">2493kB</td>
   <td><tt>a399e24bd44f8df172d04661abd228921d13bbe15b3f64a0724bfd56238f2187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ffmpegthumbs-23.04.3.tar.xz">ffmpegthumbs-23.04.3</a></td>
   <td align="right">31kB</td>
   <td><tt>9dde20b530d33a2c6b70e54b3807c49b54658f06724ea2592fa5e588b1849b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/filelight-23.04.3.tar.xz">filelight-23.04.3</a></td>
   <td align="right">680kB</td>
   <td><tt>36d8666ec284f4cc03c07e03c57a360eb51f7a63046a591a4c1c6f3b670b94d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ghostwriter-23.04.3.tar.xz">ghostwriter-23.04.3</a></td>
   <td align="right">3002kB</td>
   <td><tt>37a72eb79946abeeab6e138553074b2bfae7233c7516e922f56e4d2b4d8579e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/granatier-23.04.3.tar.xz">granatier-23.04.3</a></td>
   <td align="right">2062kB</td>
   <td><tt>7ba0e0c9b73455c208253ee8ced2ba23542da3c7a5b4ff90385dbf6b5f6dcaff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/grantlee-editor-23.04.3.tar.xz">grantlee-editor-23.04.3</a></td>
   <td align="right">114kB</td>
   <td><tt>4ac835b11782100235557cc0fc097545eb39e232024466523993651027147bea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/grantleetheme-23.04.3.tar.xz">grantleetheme-23.04.3</a></td>
   <td align="right">61kB</td>
   <td><tt>9cd89d7a711416e7f0cd8e425fec64a963baf9a46fdaaea44887c16efc907306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/gwenview-23.04.3.tar.xz">gwenview-23.04.3</a></td>
   <td align="right">6730kB</td>
   <td><tt>8884fb24efeeaaedc77d8dacf32e44d6cd2e6efbeb102c9b56e4921308d6326e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/incidenceeditor-23.04.3.tar.xz">incidenceeditor-23.04.3</a></td>
   <td align="right">556kB</td>
   <td><tt>400de8a341a00ebb435724421a89ec472d0dffbe98df27b4bd2b9e8fdfa10edf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/itinerary-23.04.3.tar.xz">itinerary-23.04.3</a></td>
   <td align="right">568kB</td>
   <td><tt>d1b8dfa26e8fe019fe63344977c813b56057a3762de63d5fa7545dc238325d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/juk-23.04.3.tar.xz">juk-23.04.3</a></td>
   <td align="right">2031kB</td>
   <td><tt>0313962a3013781d687f2f7ca064e06d1edefac9a4ac861e68d2584b760419e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/k3b-23.04.3.tar.xz">k3b-23.04.3</a></td>
   <td align="right">10694kB</td>
   <td><tt>abd2db6a9553a20956623b440e31703804dbb4172ff3ecf9ff07697e098721cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kaccounts-integration-23.04.3.tar.xz">kaccounts-integration-23.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>4cd939f4c852fea00d9b1883ac24f2e1cb03522eaf62e08b7faa8a5c7827c6d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kaccounts-providers-23.04.3.tar.xz">kaccounts-providers-23.04.3</a></td>
   <td align="right">64kB</td>
   <td><tt>c0a16a225a930f32438230fb4e3130674c375a26d1a0a205bdf6fa04b29135d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kaddressbook-23.04.3.tar.xz">kaddressbook-23.04.3</a></td>
   <td align="right">3377kB</td>
   <td><tt>581af99330a24564f121bbf0491eb2df1f63b0af6b626922b73bc11652cc4b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kajongg-23.04.3.tar.xz">kajongg-23.04.3</a></td>
   <td align="right">4470kB</td>
   <td><tt>d1a5f415866e5edf855db4dc493188ff4b5bcfb2dd3574af4cd3cd88413f689b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kalarm-23.04.3.tar.xz">kalarm-23.04.3</a></td>
   <td align="right">2525kB</td>
   <td><tt>e0a1519e8d078c9599be70a113365c6d5bf339daa1d05ed36b3cc584902f1888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kalendar-23.04.3.tar.xz">kalendar-23.04.3</a></td>
   <td align="right">805kB</td>
   <td><tt>c0474ae2ce25cb1f5935b385174c34ab371f444b06a2b30d9a34878a367da6f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kalgebra-23.04.3.tar.xz">kalgebra-23.04.3</a></td>
   <td align="right">1012kB</td>
   <td><tt>85b77f1915dda61d12b58c6b8f341c9d795fa530a92a34ae9392a83f0ed0cf13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kalk-23.04.3.tar.xz">kalk-23.04.3</a></td>
   <td align="right">81kB</td>
   <td><tt>0dd9c0e970c00f584b7ad2dbb59a53837b489521025e6746c546e0b5de063da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kalzium-23.04.3.tar.xz">kalzium-23.04.3</a></td>
   <td align="right">24065kB</td>
   <td><tt>fc1fa165817f9309a4f6419ec2a9a655916814089a809c24edbd7d5f3ccd3510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kamera-23.04.3.tar.xz">kamera-23.04.3</a></td>
   <td align="right">127kB</td>
   <td><tt>29bed330aef6349d8c9f4af1b82ffc4500adb2eb13b915f1150d5d3ad98b1827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kamoso-23.04.3.tar.xz">kamoso-23.04.3</a></td>
   <td align="right">226kB</td>
   <td><tt>94e5667b010f02f7aae0de89b149b14dbb00918c25c7474de4c5bd88c31806b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kanagram-23.04.3.tar.xz">kanagram-23.04.3</a></td>
   <td align="right">7873kB</td>
   <td><tt>33dd9182260e6d6443d0a14dd6457fbbdf94102ec9424cb17340a62a46add8f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kapman-23.04.3.tar.xz">kapman-23.04.3</a></td>
   <td align="right">2422kB</td>
   <td><tt>672f9233d5ce598bba8baefd65758b7c41446f2d7c9a606caa74bc784fd38d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kapptemplate-23.04.3.tar.xz">kapptemplate-23.04.3</a></td>
   <td align="right">330kB</td>
   <td><tt>95ef7415f1c2b162d871a8a87347afe7ea5e6d3ec1b14e954562f4c21149b1cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kasts-23.04.3.tar.xz">kasts-23.04.3</a></td>
   <td align="right">536kB</td>
   <td><tt>2be1acf8db91d0084c1d518a0556edcca68985602bac2b82133e07821801ec62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kate-23.04.3.tar.xz">kate-23.04.3</a></td>
   <td align="right">7799kB</td>
   <td><tt>066d98071e984854c3965c4e0cbb4a084ca73f640dbecaf5f94aff7d8380d07b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/katomic-23.04.3.tar.xz">katomic-23.04.3</a></td>
   <td align="right">1417kB</td>
   <td><tt>010afa0ef3dfc1f128a6a11f7a97cacfe4bbe876fd2aefaff142a78c0a08a728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kbackup-23.04.3.tar.xz">kbackup-23.04.3</a></td>
   <td align="right">387kB</td>
   <td><tt>37c1ed2e232daea273d2f81274afdf715a82378a87bc9358b718e1ba23293c88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kblackbox-23.04.3.tar.xz">kblackbox-23.04.3</a></td>
   <td align="right">537kB</td>
   <td><tt>77499af8cc81ae6ec5970e616a32a82e46a2b313f7e7fec6afdb8bf24ef3eb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kblocks-23.04.3.tar.xz">kblocks-23.04.3</a></td>
   <td align="right">2057kB</td>
   <td><tt>fd4b2de477b5befa8c9f60bc1978a1dd69d08494057159e92e00ba6aef17aefc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kbounce-23.04.3.tar.xz">kbounce-23.04.3</a></td>
   <td align="right">3461kB</td>
   <td><tt>fa74dd111fcf55042380223b8ff2f46f5ade28295d3d7efc4315594f1cc16019</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kbreakout-23.04.3.tar.xz">kbreakout-23.04.3</a></td>
   <td align="right">2499kB</td>
   <td><tt>d8a5e9665ec79f0ea6c43445ec2f5ef757ea0bbbdafceebf344f85c38206d821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kbruch-23.04.3.tar.xz">kbruch-23.04.3</a></td>
   <td align="right">5523kB</td>
   <td><tt>67cc5e159c73dae00a32f87ecb910f224a4eb8a6d4762c330d47b14c7b69253f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kcachegrind-23.04.3.tar.xz">kcachegrind-23.04.3</a></td>
   <td align="right">898kB</td>
   <td><tt>4b188f1dd9f58164677d1de78010445e9ab3a28d7f2ca9db3ab74557c353ab9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kcalc-23.04.3.tar.xz">kcalc-23.04.3</a></td>
   <td align="right">426kB</td>
   <td><tt>c11bec7523c56058be470b61d53fd7b3e5309fe680fe009f4c091a8b398bb812</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kcalutils-23.04.3.tar.xz">kcalutils-23.04.3</a></td>
   <td align="right">350kB</td>
   <td><tt>94ee31390e12caf91bcb6528d3e62a3576ad88307eee36f87b9dfd22a22aeec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kcharselect-23.04.3.tar.xz">kcharselect-23.04.3</a></td>
   <td align="right">373kB</td>
   <td><tt>3dbe72377a819f14bec6797b3a94eeebec0546d7cf9ce1affb4166be9004e817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kclock-23.04.3.tar.xz">kclock-23.04.3</a></td>
   <td align="right">710kB</td>
   <td><tt>39d5b65116631d8a064c63fce3728f719689359460523cc0f1b4ca79fcd9c1e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kcolorchooser-23.04.3.tar.xz">kcolorchooser-23.04.3</a></td>
   <td align="right">32kB</td>
   <td><tt>9853019c4ad78cb5f2202e447d7350916a20d161c92b169fe5999c4885dd37e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kcron-23.04.3.tar.xz">kcron-23.04.3</a></td>
   <td align="right">921kB</td>
   <td><tt>efed01ccebee178e12381360eb33e54ff98dc1940745b454ecf33fd20ae9f980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdebugsettings-23.04.3.tar.xz">kdebugsettings-23.04.3</a></td>
   <td align="right">95kB</td>
   <td><tt>1fef591a025df8eddef2a99d325d765c5e78f8e7ef1ad9ee40aab3e0337a2f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdeconnect-kde-23.04.3.tar.xz">kdeconnect-kde-23.04.3</a></td>
   <td align="right">634kB</td>
   <td><tt>bff9126f65c86d3cc1d5bec4a3202a61dd65a6a9ecb07d59a5038a7224c695bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kde-dev-scripts-23.04.3.tar.xz">kde-dev-scripts-23.04.3</a></td>
   <td align="right">363kB</td>
   <td><tt>753fc7994e9815cce390623720ba4c98137a6cf335b5dfb87f7d497cb2df3c1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kde-dev-utils-23.04.3.tar.xz">kde-dev-utils-23.04.3</a></td>
   <td align="right">71kB</td>
   <td><tt>741e99af9c7658dd01a324f24d3545158503dd64fee6c8b35174e28e93ee4d3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdeedu-data-23.04.3.tar.xz">kdeedu-data-23.04.3</a></td>
   <td align="right">325kB</td>
   <td><tt>cc7962e698deaab73aa3e4a5a2e7f2a3abda4587c2021b3d733573b8ac127162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdegraphics-mobipocket-23.04.3.tar.xz">kdegraphics-mobipocket-23.04.3</a></td>
   <td align="right">12kB</td>
   <td><tt>bb65bd302a97466ed08c34668d32f61e50cfeadade73f3365d7a93566033168e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdegraphics-thumbnailers-23.04.3.tar.xz">kdegraphics-thumbnailers-23.04.3</a></td>
   <td align="right">48kB</td>
   <td><tt>c0dfa679467ee9a3f748ec62277e3f97594cedfedc2cb3cab3e4a0b491d3e69b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kde-inotify-survey-23.04.3.tar.xz">kde-inotify-survey-23.04.3</a></td>
   <td align="right">223kB</td>
   <td><tt>e8040dbbed1d4c74816cc8d5628dcac1c332fb9c909f56ce7705b08cb9dc34d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdenetwork-filesharing-23.04.3.tar.xz">kdenetwork-filesharing-23.04.3</a></td>
   <td align="right">460kB</td>
   <td><tt>cb2a79dfc44b5f0d6f132cfc3bdc3e2f9ea764dc0d38b8d48abf972f17f13fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdenlive-23.04.3.tar.xz">kdenlive-23.04.3</a></td>
   <td align="right">12296kB</td>
   <td><tt>313b4e0cc2c789c6c58b848b6282df45336c90b5863780de2c9bb9a8572dc94b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdepim-addons-23.04.3.tar.xz">kdepim-addons-23.04.3</a></td>
   <td align="right">2587kB</td>
   <td><tt>1fd729d43f0723f8f170f9857567fbc680d967c35473bf5f863a38c6f82151d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdepim-runtime-23.04.3.tar.xz">kdepim-runtime-23.04.3</a></td>
   <td align="right">1820kB</td>
   <td><tt>844f5bbef7103ce006353f494ead0f20a20ab4ca9866ec118454fe6ff08a7cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdesdk-kio-23.04.3.tar.xz">kdesdk-kio-23.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>7a71ece7610ebe18dcd740c1efc14c9b25282a8b025ff06fb5712ddef995ad6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdesdk-thumbnailers-23.04.3.tar.xz">kdesdk-thumbnailers-23.04.3</a></td>
   <td align="right">26kB</td>
   <td><tt>ca71246ab363dbd1b761a69444aebbed05f29405ff83e3c3899b311a3335dc11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdevelop-23.04.3.tar.xz">kdevelop-23.04.3</a></td>
   <td align="right">8456kB</td>
   <td><tt>9b38cfba8c3040b125571c1d77d53b45cd6f663b7c4650105aa4f1d3a12d3854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdev-php-23.04.3.tar.xz">kdev-php-23.04.3</a></td>
   <td align="right">1060kB</td>
   <td><tt>37e839fa90643d4bcefda97d2cf6f9c38e6f802f062bebdd39de31e863712ddb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdev-python-23.04.3.tar.xz">kdev-python-23.04.3</a></td>
   <td align="right">1070kB</td>
   <td><tt>d1fb8bcb81bb0da3b261d39c8a9cb0cfac237409c9c603b9ffee15408e5a39c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdf-23.04.3.tar.xz">kdf-23.04.3</a></td>
   <td align="right">480kB</td>
   <td><tt>4a99c3226755034a352186dbf101d489703748ad15c8e86858d0153cdd62cd86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdialog-23.04.3.tar.xz">kdialog-23.04.3</a></td>
   <td align="right">138kB</td>
   <td><tt>5def1a148f19b087adaa7eb634f45e17266d69657dec776e37593d9bdaf94a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kdiamond-23.04.3.tar.xz">kdiamond-23.04.3</a></td>
   <td align="right">4598kB</td>
   <td><tt>d6471d7c8771ca4c29278238db79df59aaf2a38ef5e5443cfb85d483c6bd140d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/keditbookmarks-23.04.3.tar.xz">keditbookmarks-23.04.3</a></td>
   <td align="right">233kB</td>
   <td><tt>6a27be70913fbb7865b5b8a7fadbd78d223b68cd2528f4faa0257f6d97f38f21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/keysmith-23.04.3.tar.xz">keysmith-23.04.3</a></td>
   <td align="right">158kB</td>
   <td><tt>924eb9a378bae98a7581746dfd3c20e38b8d6e0e0a926e4f613ed2a64c28d7e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kfind-23.04.3.tar.xz">kfind-23.04.3</a></td>
   <td align="right">335kB</td>
   <td><tt>2e8252876f6af2217d5fee1c4dc56590a898d9d285adcf7fb2c28dcb8165e90d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kfloppy-23.04.3.tar.xz">kfloppy-23.04.3</a></td>
   <td align="right">239kB</td>
   <td><tt>9d247ce63ba98bf52e5f13fb7d6ec181f489f1f0aa71e9f3abca9c71b75c63e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kfourinline-23.04.3.tar.xz">kfourinline-23.04.3</a></td>
   <td align="right">722kB</td>
   <td><tt>f56b958c0dc174c1ccd7df764a11a0b81349bb60b85be4b771455f32c1950e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kgeography-23.04.3.tar.xz">kgeography-23.04.3</a></td>
   <td align="right">12257kB</td>
   <td><tt>4591b8439fccd16b8ff9c03c295916a094bab7d1646617a9fea5099ecf777b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kget-23.04.3.tar.xz">kget-23.04.3</a></td>
   <td align="right">5430kB</td>
   <td><tt>f99c7e6fbc2acc864e35e99f8864055b29c14645f962f5d1cee491a843b53cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kgoldrunner-23.04.3.tar.xz">kgoldrunner-23.04.3</a></td>
   <td align="right">4790kB</td>
   <td><tt>aeab6b420ed8362bd40ea794a0d9b39041c568fa6aa8734a5f78719afcda8a29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kgpg-23.04.3.tar.xz">kgpg-23.04.3</a></td>
   <td align="right">2972kB</td>
   <td><tt>5f0ed34b314f7a889e370b8d4d9e7b6583897765ad65536fb9ec604d74e01dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/khangman-23.04.3.tar.xz">khangman-23.04.3</a></td>
   <td align="right">7262kB</td>
   <td><tt>fc9fb08ec3c108520136d95db8e3b316e50df401733e0e34e1a790b3dc34f4e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/khelpcenter-23.04.3.tar.xz">khelpcenter-23.04.3</a></td>
   <td align="right">4266kB</td>
   <td><tt>bea4a435e05f0ee2d595e149f05d195e8381267f81fc8326876593c08adc3183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kidentitymanagement-23.04.3.tar.xz">kidentitymanagement-23.04.3</a></td>
   <td align="right">160kB</td>
   <td><tt>77fcbd30a34ba79d0671e10b6993af93e5f18aeadac73414b53ef2323af86e0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kig-23.04.3.tar.xz">kig-23.04.3</a></td>
   <td align="right">3204kB</td>
   <td><tt>7a31b3935bf13ba975267fdb0962d1190879a54aeea220810a0bd78a142bb4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kigo-23.04.3.tar.xz">kigo-23.04.3</a></td>
   <td align="right">5141kB</td>
   <td><tt>c3ec67e07cce1a131643631f9c94bd844b5fea5c62edd7320802a1a233bda963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/killbots-23.04.3.tar.xz">killbots-23.04.3</a></td>
   <td align="right">1174kB</td>
   <td><tt>8ba5cb899945caf0961296f1a9c72424222ddfdfc81cab6de21ff3732b13ef79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kimagemapeditor-23.04.3.tar.xz">kimagemapeditor-23.04.3</a></td>
   <td align="right">1077kB</td>
   <td><tt>ac616a260e809a37e764ab9f205f81337ab790794ae0db77e292c2f84e078315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kimap-23.04.3.tar.xz">kimap-23.04.3</a></td>
   <td align="right">127kB</td>
   <td><tt>33a6c7f5723284d39bd65eaf4383d903da3d36ae940c808f2bce32e142424223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kio-admin-23.04.3.tar.xz">kio-admin-23.04.3</a></td>
   <td align="right">34kB</td>
   <td><tt>e07f8c4941c989ee64c38018f202b229dd00e8ad75f7ba5edc7f08f7ea02f4ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kio-extras-23.04.3.tar.xz">kio-extras-23.04.3</a></td>
   <td align="right">1394kB</td>
   <td><tt>0d23f5cb5027f6dac110ade375f3b40eb8577c2122b0485b70efb6280c76fdf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kio-gdrive-23.04.3.tar.xz">kio-gdrive-23.04.3</a></td>
   <td align="right">77kB</td>
   <td><tt>da025804700f53d2b443edfac338950b5ab4df6a56c482760ef019f28bf8f368</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kio-zeroconf-23.04.3.tar.xz">kio-zeroconf-23.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>aa84c9dd5544c80a0f1cc0e83c217cc3e82eb92bde5758fc30fa3de6762cf72c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kipi-plugins-23.04.3.tar.xz">kipi-plugins-23.04.3</a></td>
   <td align="right">1527kB</td>
   <td><tt>7f152b352755f6af0a4afadf13b09a379d90afb6bc9fece135528a68bd2de888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kirigami-gallery-23.04.3.tar.xz">kirigami-gallery-23.04.3</a></td>
   <td align="right">342kB</td>
   <td><tt>02827a16579492c074d46eba18f08e387a444d118d17a631c7a9cdd0de4be148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kiriki-23.04.3.tar.xz">kiriki-23.04.3</a></td>
   <td align="right">361kB</td>
   <td><tt>3b103ca994e38142f1b07eb8ad7a426cf7f499c2ee67b6404d19913be1ba9f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kiten-23.04.3.tar.xz">kiten-23.04.3</a></td>
   <td align="right">11068kB</td>
   <td><tt>45f8e81f2126af1b120ea042df4fb24c858b02a36874e27193dee559157b6c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kitinerary-23.04.3.tar.xz">kitinerary-23.04.3</a></td>
   <td align="right">1852kB</td>
   <td><tt>c9a00754edec31efeed10eefa2d52f11b7f366301ed7df1dc367d7074f8f9839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kjournald-23.04.3.tar.xz">kjournald-23.04.3</a></td>
   <td align="right">501kB</td>
   <td><tt>9859bea0a1e5732e43bd26ef69c8dfdbce636c00a776c79d5450a483d6b0ce56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kjumpingcube-23.04.3.tar.xz">kjumpingcube-23.04.3</a></td>
   <td align="right">328kB</td>
   <td><tt>d1219ffb11791fc1ccf57493705e61537b2e4eff9adc0b6d33c55af9f7297025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kldap-23.04.3.tar.xz">kldap-23.04.3</a></td>
   <td align="right">178kB</td>
   <td><tt>1546245e58ad67c04e2c91cef52129199477aa7a1f7f6381eb21413e0590e542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kleopatra-23.04.3.tar.xz">kleopatra-23.04.3</a></td>
   <td align="right">2559kB</td>
   <td><tt>20269175dde85b8426e64d4ad96d821b24017eb95311a1016e4869183d109451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/klettres-23.04.3.tar.xz">klettres-23.04.3</a></td>
   <td align="right">46721kB</td>
   <td><tt>432cbddea9b6c1d408b22c914d12dcd37686c769f795956a580bc22359a77327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/klickety-23.04.3.tar.xz">klickety-23.04.3</a></td>
   <td align="right">1464kB</td>
   <td><tt>22bb725aafe17b220d8f1c98b0aafc0f4b4a33aa90fe27ee298270da8695eb59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/klines-23.04.3.tar.xz">klines-23.04.3</a></td>
   <td align="right">1697kB</td>
   <td><tt>64f61b778c74fdc912428751dff6b8314942bcebbbdfbcdeda838124353fdeb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmag-23.04.3.tar.xz">kmag-23.04.3</a></td>
   <td align="right">707kB</td>
   <td><tt>e4fca3788ae295b45d115da75208c7a05419525d2fe3c6422165beb1fd19598d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmahjongg-23.04.3.tar.xz">kmahjongg-23.04.3</a></td>
   <td align="right">4000kB</td>
   <td><tt>4230fd8a46c9b2ca4dbac8d468f8b78e3a4fabf98f4cbc65264811363cc24ae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmail-23.04.3.tar.xz">kmail-23.04.3</a></td>
   <td align="right">7466kB</td>
   <td><tt>86c126d00ae022c3416959a49c63719dabe99cdf6a5b993cf5f306654f04ff99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmail-account-wizard-23.04.3.tar.xz">kmail-account-wizard-23.04.3</a></td>
   <td align="right">180kB</td>
   <td><tt>bd9f7f163dd084c059797ffffccaac59bfb86da26f8cb5f0fb62729c9ffc80a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmailtransport-23.04.3.tar.xz">kmailtransport-23.04.3</a></td>
   <td align="right">187kB</td>
   <td><tt>4cf0cb46b591ecd0b7a4b60b3f40ada6d349181de70382e53924224577aa7593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmbox-23.04.3.tar.xz">kmbox-23.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>e6d8ff2b7ddac750a04bbb9117639fc771eedd98a5dc9e4d90c22b73b9740d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmime-23.04.3.tar.xz">kmime-23.04.3</a></td>
   <td align="right">158kB</td>
   <td><tt>4de0ec9ca5a252aac90dbb8e05a51b6d7c5b4cf24afa3e0542443494347868c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmines-23.04.3.tar.xz">kmines-23.04.3</a></td>
   <td align="right">985kB</td>
   <td><tt>6981b4840756063d4018216640cc933aae35ddbab0e816c6561ad87b750b6074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmix-23.04.3.tar.xz">kmix-23.04.3</a></td>
   <td align="right">1168kB</td>
   <td><tt>b247681b588773870bec1ae5b337231c05f60ed1c0a846c43715dee08dd2ee26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmousetool-23.04.3.tar.xz">kmousetool-23.04.3</a></td>
   <td align="right">126kB</td>
   <td><tt>4140b25dd9b6e146e46462e70d418a8cf10e4bf172b1f446ea1574fe5b4f30df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmouth-23.04.3.tar.xz">kmouth-23.04.3</a></td>
   <td align="right">2038kB</td>
   <td><tt>436b8ee6e57ac7f61777c8658ad8a8204bfff388e95893e1594c69b619c1df63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kmplot-23.04.3.tar.xz">kmplot-23.04.3</a></td>
   <td align="right">3027kB</td>
   <td><tt>cb0492e2be18c3bc19a5c955ef691e1aa5f387a965596f05d26b56d09f2296f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/knavalbattle-23.04.3.tar.xz">knavalbattle-23.04.3</a></td>
   <td align="right">1368kB</td>
   <td><tt>18d860e1e8edcf8cde08cda99b3cd5ddf54e03aa4267bd3639eebeea771332af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/knetwalk-23.04.3.tar.xz">knetwalk-23.04.3</a></td>
   <td align="right">1078kB</td>
   <td><tt>ff4dad4335e4e47b5004dc024788811186473b537639755aac0bb95197e618f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/knights-23.04.3.tar.xz">knights-23.04.3</a></td>
   <td align="right">3251kB</td>
   <td><tt>2ab2e4c90caec9ca8b4abe2b0156ad299bf3d18c1887e73bc33b80e58a396c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/knotes-23.04.3.tar.xz">knotes-23.04.3</a></td>
   <td align="right">366kB</td>
   <td><tt>ea1b4e14005b555a05ed400267ec5721f5beb1ae967328d2f109242e7c4f4a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/koko-23.04.3.tar.xz">koko-23.04.3</a></td>
   <td align="right">134kB</td>
   <td><tt>09a5fdadeb3bd94ab5039a63fef6d47c534ec586f41af2517a389792e475e6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kolf-23.04.3.tar.xz">kolf-23.04.3</a></td>
   <td align="right">1045kB</td>
   <td><tt>1b7a2bb60cbe3d095e7c2d4c1f228326148b6d577fe12bf497355ac328bb6d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kollision-23.04.3.tar.xz">kollision-23.04.3</a></td>
   <td align="right">299kB</td>
   <td><tt>f16173d7ae97a9a48e95940af5a845a567db0c18dc539929672b5ae4daf8363d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kolourpaint-23.04.3.tar.xz">kolourpaint-23.04.3</a></td>
   <td align="right">5649kB</td>
   <td><tt>3b49af6894631ee87bca72236d3a44bec2af303a6542e8a4710585a5a7d969a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kompare-23.04.3.tar.xz">kompare-23.04.3</a></td>
   <td align="right">959kB</td>
   <td><tt>9e679a237bd281fc83ebc55d07abe4f4415417e84cf56834ee9fa55c2cc81915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kongress-23.04.3.tar.xz">kongress-23.04.3</a></td>
   <td align="right">574kB</td>
   <td><tt>17e4dd902de3d2f274bbea08c456e366eb8793bb32044e873e76ed188f20dafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/konqueror-23.04.3.tar.xz">konqueror-23.04.3</a></td>
   <td align="right">8293kB</td>
   <td><tt>e0c614f94825ad589967bbe4e500c32b0b75e229e960ed18f64061f9a8f6d663</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/konquest-23.04.3.tar.xz">konquest-23.04.3</a></td>
   <td align="right">855kB</td>
   <td><tt>ce4d9a53fce98127c939d79b7f0b7546a8daf5997c48edcd683d6ca457547f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/konsole-23.04.3.tar.xz">konsole-23.04.3</a></td>
   <td align="right">1775kB</td>
   <td><tt>e06f400d03967ab6c43090fb52571e613981439f5006f45bf87a8d3762f0c8cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kontact-23.04.3.tar.xz">kontact-23.04.3</a></td>
   <td align="right">852kB</td>
   <td><tt>3e99b92058cda77471e838cc0885f4c42624c52e80c9be1912d87977c16f6e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kontactinterface-23.04.3.tar.xz">kontactinterface-23.04.3</a></td>
   <td align="right">39kB</td>
   <td><tt>daba6cfaf5cd5350262bf7f555c599634bd27fe92431e79808a9eff42111cf99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kontrast-23.04.3.tar.xz">kontrast-23.04.3</a></td>
   <td align="right">201kB</td>
   <td><tt>22e9debd7456371f8c19d27eced7ac64b4c3978daaf34d450043aeb204db1c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/konversation-23.04.3.tar.xz">konversation-23.04.3</a></td>
   <td align="right">4350kB</td>
   <td><tt>3bc890e9f682859bd6d25a046d848167624842e286ad7b012d4db9703e95e0c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kopeninghours-23.04.3.tar.xz">kopeninghours-23.04.3</a></td>
   <td align="right">70kB</td>
   <td><tt>69abc93f070bc38f59851e6a5944cdcc517d53f957b14005690a93950ee5a492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kopete-23.04.3.tar.xz">kopete-23.04.3</a></td>
   <td align="right">9907kB</td>
   <td><tt>f189a472ba49735de2f00e21a904c8e8b4c07f056e08b9f817be850b087946df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/korganizer-23.04.3.tar.xz">korganizer-23.04.3</a></td>
   <td align="right">2478kB</td>
   <td><tt>7f2bf6adf16f54bedcfc0cde0b66fa146008a14b52f523dddea90065ab96e1ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kosmindoormap-23.04.3.tar.xz">kosmindoormap-23.04.3</a></td>
   <td align="right">366kB</td>
   <td><tt>83e26d1c09fc1cc667a0ba0d68a07c5dbdf5d6e1744140e3951c2533d8cb36f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kpat-23.04.3.tar.xz">kpat-23.04.3</a></td>
   <td align="right">3664kB</td>
   <td><tt>74aea1d6de8f261b97b018506920e8809534e1331b44e2657e9ab60df6268395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kpimtextedit-23.04.3.tar.xz">kpimtextedit-23.04.3</a></td>
   <td align="right">213kB</td>
   <td><tt>ab2049ddecb1440acfe1d08878a9f430f9f6f45b4bfb16b3561b23ca570a3ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kpkpass-23.04.3.tar.xz">kpkpass-23.04.3</a></td>
   <td align="right">28kB</td>
   <td><tt>6986ba289ac03760c0ae8dddadabcbdf45835634a7b89b05cbea4bf7fd1873d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kpmcore-23.04.3.tar.xz">kpmcore-23.04.3</a></td>
   <td align="right">608kB</td>
   <td><tt>89068cbec609a2ed2e48ec609dfe35eff4f3cb39456c84e7a647754dd0bfe033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kpublictransport-23.04.3.tar.xz">kpublictransport-23.04.3</a></td>
   <td align="right">525kB</td>
   <td><tt>0bc66e0820b55b1dea482b9dffa2be127ca1f27e681927eb9d1ace57754cca11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kqtquickcharts-23.04.3.tar.xz">kqtquickcharts-23.04.3</a></td>
   <td align="right">30kB</td>
   <td><tt>3b6479e5784a5b46fcea6a7a2df7d5c4c92b67eda35edb35f1e05b3565130189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/krdc-23.04.3.tar.xz">krdc-23.04.3</a></td>
   <td align="right">1595kB</td>
   <td><tt>20cba64113baf0481790ae9dab2c3dc9d3657bf0202e4d7a24f5ba102c396a4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/krecorder-23.04.3.tar.xz">krecorder-23.04.3</a></td>
   <td align="right">156kB</td>
   <td><tt>73342f97398d6b03628df8daf67eefd792fa6bf9de8ec75f74b5aa294d42bfb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kreversi-23.04.3.tar.xz">kreversi-23.04.3</a></td>
   <td align="right">1052kB</td>
   <td><tt>dbb965b56233b39fee617eb81888ba341fedb0ace2055ae58de796c97dee61d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/krfb-23.04.3.tar.xz">krfb-23.04.3</a></td>
   <td align="right">1288kB</td>
   <td><tt>c767786d9767f9db2e0ebaa3eff06b2e2ff7ecc477e0dbc20f4e0dc585db7961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kross-interpreters-23.04.3.tar.xz">kross-interpreters-23.04.3</a></td>
   <td align="right">148kB</td>
   <td><tt>2c2e67a06f25fce53fa2fb14f9b476a51995d75e9d6437b3c4b6a1307e4727b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kruler-23.04.3.tar.xz">kruler-23.04.3</a></td>
   <td align="right">280kB</td>
   <td><tt>8303e61eb076998edb6b92a58c5abaf11415f1ce9a8d6b7a5246d76e4cac331d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ksanecore-23.04.3.tar.xz">ksanecore-23.04.3</a></td>
   <td align="right">49kB</td>
   <td><tt>f10c41e012f8f36ed5754951d1eaf0f325fcb6ad9ba3cf7ba568cd9a3c29ada5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kshisen-23.04.3.tar.xz">kshisen-23.04.3</a></td>
   <td align="right">984kB</td>
   <td><tt>e8c7067010f7d21dea799b8a284c2a71f960ecd88d1d073b76ba0cca9735d32d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ksirk-23.04.3.tar.xz">ksirk-23.04.3</a></td>
   <td align="right">6883kB</td>
   <td><tt>a41758155aefe94cd6f3be1ac363d57c16690621874ff05ddc6e64e42cace5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ksmtp-23.04.3.tar.xz">ksmtp-23.04.3</a></td>
   <td align="right">49kB</td>
   <td><tt>22c011f810015a114887892aff3829b0a111d20ab1a55606edc2a261eb3ee15f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ksnakeduel-23.04.3.tar.xz">ksnakeduel-23.04.3</a></td>
   <td align="right">587kB</td>
   <td><tt>a387db8ed347ebb0f754dc9ad401a2dfd15fc5b02ce49549f750834b8c495fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kspaceduel-23.04.3.tar.xz">kspaceduel-23.04.3</a></td>
   <td align="right">644kB</td>
   <td><tt>2a9e629c1292866853f50d9447575542664d07ac9e0bee3b1763c4bdc7f1f9d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ksquares-23.04.3.tar.xz">ksquares-23.04.3</a></td>
   <td align="right">305kB</td>
   <td><tt>351b527b3cbe6d1b5f29557460643b7980c3390551463ebb24b954e8604a792c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ksudoku-23.04.3.tar.xz">ksudoku-23.04.3</a></td>
   <td align="right">1662kB</td>
   <td><tt>6347833d0fc0d661f4f89b336aa24f1b36f0273d6c807b0f5eadc3cfb7e7190e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ksystemlog-23.04.3.tar.xz">ksystemlog-23.04.3</a></td>
   <td align="right">1956kB</td>
   <td><tt>95e2cd94ec82c2efabffa108b64ff5540115f9173e7f099b127d3d465b808195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kteatime-23.04.3.tar.xz">kteatime-23.04.3</a></td>
   <td align="right">305kB</td>
   <td><tt>a7fa5e68345333bb246600dc5cdb1e03129cd7ac1708eff9a6b129e082908309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktimer-23.04.3.tar.xz">ktimer-23.04.3</a></td>
   <td align="right">394kB</td>
   <td><tt>e5170979b1083b1de8b466a02786c062a8e7a8c44e1d573e450283f558f9aad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktnef-23.04.3.tar.xz">ktnef-23.04.3</a></td>
   <td align="right">302kB</td>
   <td><tt>339676879ff3a48691e56c4d1360a5e4f0c140e174923bc52ef877c97d65b301</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktorrent-23.04.3.tar.xz">ktorrent-23.04.3</a></td>
   <td align="right">2100kB</td>
   <td><tt>e507cb5b176b11bbe9293ee92cb026838498e1f8bfad5097c5fd13b8ec8e069f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktouch-23.04.3.tar.xz">ktouch-23.04.3</a></td>
   <td align="right">4916kB</td>
   <td><tt>28b1b1a3810974a1ed1db91d548eddab80f53939c4feea63f394c95dde92f4ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-accounts-kcm-23.04.3.tar.xz">ktp-accounts-kcm-23.04.3</a></td>
   <td align="right">271kB</td>
   <td><tt>347b85d2ded8fb80d9155ea9e5adf6d6e3e3ca92213d20909b49cf240475e31a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-approver-23.04.3.tar.xz">ktp-approver-23.04.3</a></td>
   <td align="right">38kB</td>
   <td><tt>f9f6e434a673e26458a03af52ab2384d720f713a7e8fcd84f2ad27db053a3642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-auth-handler-23.04.3.tar.xz">ktp-auth-handler-23.04.3</a></td>
   <td align="right">47kB</td>
   <td><tt>09efc70f63dce9ecbb3deffbff30b6375b098d5f460adb330aec7bc27252c3c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-call-ui-23.04.3.tar.xz">ktp-call-ui-23.04.3</a></td>
   <td align="right">101kB</td>
   <td><tt>fe20ffbefeaa828af69bc65d0786be980b8b7a9a6539dfd04c4e7c2d6151e5bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-common-internals-23.04.3.tar.xz">ktp-common-internals-23.04.3</a></td>
   <td align="right">448kB</td>
   <td><tt>7a71f10053ee8b5c09a6039a27f19e847fb62b6074448583851e21c62d510b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-contact-list-23.04.3.tar.xz">ktp-contact-list-23.04.3</a></td>
   <td align="right">156kB</td>
   <td><tt>36d7a216b95e35e9dc13a7aaffe737d1c6bf3d1bb241b3c1251e09dcdcca21b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-contact-runner-23.04.3.tar.xz">ktp-contact-runner-23.04.3</a></td>
   <td align="right">44kB</td>
   <td><tt>0bdfb381dcb37a58a77b3d8b4e5a10a9cb9fb23fd65d30c0fd9b4815b948d243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-desktop-applets-23.04.3.tar.xz">ktp-desktop-applets-23.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>59d8c07ed86bb19eb4ff471c0e98dda730ee273f91808d0a01b0365ded6631eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-filetransfer-handler-23.04.3.tar.xz">ktp-filetransfer-handler-23.04.3</a></td>
   <td align="right">46kB</td>
   <td><tt>25c5f8189b3b7b4e3a755a171b46d88977069193de3ffa599ffe96283b6ad8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-kded-module-23.04.3.tar.xz">ktp-kded-module-23.04.3</a></td>
   <td align="right">101kB</td>
   <td><tt>8b0d3d0c47194231e349652d44280d0df5421582ac15e533fb7f0ed1aacc0fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-send-file-23.04.3.tar.xz">ktp-send-file-23.04.3</a></td>
   <td align="right">29kB</td>
   <td><tt>abb2abfb3833c6228b635386ffa4b77a70653e840a44b73ad69e6f84224273c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktp-text-ui-23.04.3.tar.xz">ktp-text-ui-23.04.3</a></td>
   <td align="right">475kB</td>
   <td><tt>dd6d0f4f3fbb6f2a2fce7b71400f49386ef11793e6e788e839cb3626009d3107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktrip-23.04.3.tar.xz">ktrip-23.04.3</a></td>
   <td align="right">248kB</td>
   <td><tt>3419928577d100c631e2ab3631063483c84a15df7e0bdfa09412812dcb5f4ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/ktuberling-23.04.3.tar.xz">ktuberling-23.04.3</a></td>
   <td align="right">69727kB</td>
   <td><tt>f37c1fa9069adda54144302254d56dcdbfe5613db81f29f429a6087265e4677e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kturtle-23.04.3.tar.xz">kturtle-23.04.3</a></td>
   <td align="right">1954kB</td>
   <td><tt>49912cb1a72544137d4440982799f7f8caf40cfad117848c0bd5a959ccab7642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kubrick-23.04.3.tar.xz">kubrick-23.04.3</a></td>
   <td align="right">340kB</td>
   <td><tt>7ab5229f48ef6e41474fcb7b7abb5e978befa18498850ab8769d30a25e985659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kwalletmanager-23.04.3.tar.xz">kwalletmanager-23.04.3</a></td>
   <td align="right">830kB</td>
   <td><tt>7e35ec613f565bc060f9db4de6641499d9acc1bd4e9459bd90d19f3dc5e07ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kwave-23.04.3.tar.xz">kwave-23.04.3</a></td>
   <td align="right">6801kB</td>
   <td><tt>5d92998c67964305e2e2b38cffb1c8da743b345e292811a5e392d2c59f443c69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kweather-23.04.3.tar.xz">kweather-23.04.3</a></td>
   <td align="right">995kB</td>
   <td><tt>962fd6d06fd0a71532941394650997e20250d8dc65b6e4efc3a5a6d49ea28784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/kwordquiz-23.04.3.tar.xz">kwordquiz-23.04.3</a></td>
   <td align="right">4162kB</td>
   <td><tt>2147d84b264a0aad1214144dc1616d469aa6cf042f9dc5ea0a4b80cb58f74b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libgravatar-23.04.3.tar.xz">libgravatar-23.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>47f651cbb87d4502b2e0690629caacd2468da30b2ced08b751c69310d6b5f00f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkcddb-23.04.3.tar.xz">libkcddb-23.04.3</a></td>
   <td align="right">447kB</td>
   <td><tt>a2fcb5b2062503150a7dc7ba3e04ccfa7719ca065adcddff23010e66aa7920e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkcompactdisc-23.04.3.tar.xz">libkcompactdisc-23.04.3</a></td>
   <td align="right">96kB</td>
   <td><tt>61153245f328a63e3f96d979db5c0f4f3119a34fc7a30c7a42728fef600d823e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkdcraw-23.04.3.tar.xz">libkdcraw-23.04.3</a></td>
   <td align="right">36kB</td>
   <td><tt>1c859ed548572eb23ee4941a2b4fff57210a9a56edcf7bb5733bb0732421996f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkdegames-23.04.3.tar.xz">libkdegames-23.04.3</a></td>
   <td align="right">5852kB</td>
   <td><tt>982ba27058bf2e7c962a7b4b5832496bde3c0638301cdf1c68c5f699b5bb2cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkdepim-23.04.3.tar.xz">libkdepim-23.04.3</a></td>
   <td align="right">279kB</td>
   <td><tt>9b1c41754efa00d184057037a5c9cfda0188ddd2c847dbb774143ed23026acc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkeduvocdocument-23.04.3.tar.xz">libkeduvocdocument-23.04.3</a></td>
   <td align="right">224kB</td>
   <td><tt>c026afc4c945c9f724bd7204d91731bc5cff68c1146f6b8af60090e13d541613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkexiv2-23.04.3.tar.xz">libkexiv2-23.04.3</a></td>
   <td align="right">59kB</td>
   <td><tt>949550f0d7d41172b59f7000010b7e6c2acaaddade2f6139cfca5fb2143b8b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkgapi-23.04.3.tar.xz">libkgapi-23.04.3</a></td>
   <td align="right">326kB</td>
   <td><tt>7a25304f90805c50946950393e8f3e84cb954231b69e45d6efbf8c88cfcd4ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkipi-23.04.3.tar.xz">libkipi-23.04.3</a></td>
   <td align="right">86kB</td>
   <td><tt>48124278382a1d24933e7fe768aa2fb936d03e0af7e01e6db96786d6b63dd7bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkleo-23.04.3.tar.xz">libkleo-23.04.3</a></td>
   <td align="right">501kB</td>
   <td><tt>4538152adbfa4f696dd72a76affc71f18014e56f3319b83f6530ed451bb1e750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkmahjongg-23.04.3.tar.xz">libkmahjongg-23.04.3</a></td>
   <td align="right">1647kB</td>
   <td><tt>4331aa00fe4acd8043a0bb0b06c38da14263572423196f4ee7dd174806060ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libkomparediff2-23.04.3.tar.xz">libkomparediff2-23.04.3</a></td>
   <td align="right">181kB</td>
   <td><tt>7bbd6ab9ca47fde4258ee077a110fb5929d546715e41e8ff89212fb7b2f771fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libksane-23.04.3.tar.xz">libksane-23.04.3</a></td>
   <td align="right">151kB</td>
   <td><tt>26c3cf34a741bb2b50cfdbbc20a5dffd58fc7b7ab2580a356bd047ccf2ccba42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libksieve-23.04.3.tar.xz">libksieve-23.04.3</a></td>
   <td align="right">542kB</td>
   <td><tt>e69e2ad4f030d318ff3cf91e5c358fb08f8b0ed9846ad6ea42a64030f618df18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/libktorrent-23.04.3.tar.xz">libktorrent-23.04.3</a></td>
   <td align="right">589kB</td>
   <td><tt>4bf1ca829fc125aedd765bd225569189a971b063cf40c753c647b7b8c2f4cfd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/lokalize-23.04.3.tar.xz">lokalize-23.04.3</a></td>
   <td align="right">2067kB</td>
   <td><tt>1f71524b19d754d11f3057afda0cd02ea51a4b157a603bf92fcb13325b59f333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/lskat-23.04.3.tar.xz">lskat-23.04.3</a></td>
   <td align="right">1221kB</td>
   <td><tt>af57cf6caf682230a1ed2e3d2ad8919a0e154de053e64235621c1b9103fbf0e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/mailcommon-23.04.3.tar.xz">mailcommon-23.04.3</a></td>
   <td align="right">740kB</td>
   <td><tt>1bdbc41de76b9a2b93d36e189d9885677312bb7d9b13ae6f130689681c06aa98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/mailimporter-23.04.3.tar.xz">mailimporter-23.04.3</a></td>
   <td align="right">577kB</td>
   <td><tt>ecfa82d9623e8d21a36dcc9c0d46027524646187b2c1d6ab78c4bc7c7ebf50a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/marble-23.04.3.tar.xz">marble-23.04.3</a></td>
   <td align="right">52502kB</td>
   <td><tt>88feb03e4b3b1fcfc17e7ea4cd4bd4ddc7f08fd30fa550393171406e9d4fda93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/markdownpart-23.04.3.tar.xz">markdownpart-23.04.3</a></td>
   <td align="right">30kB</td>
   <td><tt>e4fa7407b8b9eecdfc8a03ce34db908be7c1f3d687f66163d46fd5ac17756a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/mbox-importer-23.04.3.tar.xz">mbox-importer-23.04.3</a></td>
   <td align="right">29kB</td>
   <td><tt>62f4853261dc37d8a0f41b0bae254250a303632665f6caa5790ad7974c265f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/messagelib-23.04.3.tar.xz">messagelib-23.04.3</a></td>
   <td align="right">11024kB</td>
   <td><tt>3a16934f3de74e66a6e508012d8ae78f49eea8da114cd9f1c89633432e600a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/minuet-23.04.3.tar.xz">minuet-23.04.3</a></td>
   <td align="right">27033kB</td>
   <td><tt>8ed64b365f4490f1e042813c113e615b89bead81412647d15c67642645a956d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/neochat-23.04.3.tar.xz">neochat-23.04.3</a></td>
   <td align="right">557kB</td>
   <td><tt>2e7a006e24eea80049a0213897048291d1ddb52d484aae8d2d0f48bbb020af04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/okular-23.04.3.tar.xz">okular-23.04.3</a></td>
   <td align="right">8282kB</td>
   <td><tt>71815773b282aa12160a504065f2343b161036c6ad2ef52138a2fd6af0c4eced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/palapeli-23.04.3.tar.xz">palapeli-23.04.3</a></td>
   <td align="right">2062kB</td>
   <td><tt>3bff4ecb83377c94ae4814be43c0c34f1919b122eadddad622159105f300b0a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/parley-23.04.3.tar.xz">parley-23.04.3</a></td>
   <td align="right">8393kB</td>
   <td><tt>aba6488a1f35148095cb5f9355b2984a4924e5f081b5e6d775375db0db7ede8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/partitionmanager-23.04.3.tar.xz">partitionmanager-23.04.3</a></td>
   <td align="right">2093kB</td>
   <td><tt>1563a70d438e982790cffac34f61cbf691459328bec786ac9c6fe627a01dbd0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/picmi-23.04.3.tar.xz">picmi-23.04.3</a></td>
   <td align="right">1504kB</td>
   <td><tt>5dba9076011c56d15d837fff1e61f832c4b903dc9c907e5da35c028294d931f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/pimcommon-23.04.3.tar.xz">pimcommon-23.04.3</a></td>
   <td align="right">338kB</td>
   <td><tt>747c11c02ff5cebfbf9ddad352104399a09ce9596836c7d9922adc0407da56ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/pim-data-exporter-23.04.3.tar.xz">pim-data-exporter-23.04.3</a></td>
   <td align="right">415kB</td>
   <td><tt>c0f24acfe333816c378dfea712d9960fdc5cbf092445d66cec15d336b32e90af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/pim-sieve-editor-23.04.3.tar.xz">pim-sieve-editor-23.04.3</a></td>
   <td align="right">453kB</td>
   <td><tt>8ad09b853fc3da3819757bacc9d7683374035c268cf3c403946747ab113a33fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/plasmatube-23.04.3.tar.xz">plasmatube-23.04.3</a></td>
   <td align="right">78kB</td>
   <td><tt>8fdd54e00d7fa4fea6fa0e28f2a16eec5f23024b9240982cfccb8fd510fcbf72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/poxml-23.04.3.tar.xz">poxml-23.04.3</a></td>
   <td align="right">43kB</td>
   <td><tt>cd70b79bce554fe98f8c8e386ea29c1aae8086af2c89022246ce780de1693887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/print-manager-23.04.3.tar.xz">print-manager-23.04.3</a></td>
   <td align="right">282kB</td>
   <td><tt>a268a806979621b1e988e8a94932826715c7b85e3d44c9381bf98ed9459fcbba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/qmlkonsole-23.04.3.tar.xz">qmlkonsole-23.04.3</a></td>
   <td align="right">66kB</td>
   <td><tt>32755ab335f04ee3e71eee046890b5f1c2f9a78889a966117fa28efc7e3ecc90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/rocs-23.04.3.tar.xz">rocs-23.04.3</a></td>
   <td align="right">1532kB</td>
   <td><tt>ab2e8ce85b3299c4e35c358eb7d57962aff99c2233badbe6c18e7acda2ee7f8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/signon-kwallet-extension-23.04.3.tar.xz">signon-kwallet-extension-23.04.3</a></td>
   <td align="right">10kB</td>
   <td><tt>74735f639497ae5aa11d18f3037d293d18acf817b19770b7b82167bd6ba3f418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/skanlite-23.04.3.tar.xz">skanlite-23.04.3</a></td>
   <td align="right">2392kB</td>
   <td><tt>f2b10ad9af654ac9ffc4d2ec6cbe0a113e48f7c48505e9a1ae0cf56d421dd73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/skanpage-23.04.3.tar.xz">skanpage-23.04.3</a></td>
   <td align="right">1267kB</td>
   <td><tt>22fe379a043b4b4b50d6d3ba45dc6053dfcd20cd655dfd3658d9e67a0c56b2c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/spectacle-23.04.3.tar.xz">spectacle-23.04.3</a></td>
   <td align="right">1309kB</td>
   <td><tt>35b97923252c82dd4a3d5a05703332c7540573396a4eea96eacd7ef037a3d3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/step-23.04.3.tar.xz">step-23.04.3</a></td>
   <td align="right">961kB</td>
   <td><tt>e010da63bb016f55b4d24a5741009e73edbd1ed21ba9317fc04a6bc27720cf2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/svgpart-23.04.3.tar.xz">svgpart-23.04.3</a></td>
   <td align="right">27kB</td>
   <td><tt>91d64acab9378949f8e801d5973a181203685a99965dc555add4a78023598431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/sweeper-23.04.3.tar.xz">sweeper-23.04.3</a></td>
   <td align="right">389kB</td>
   <td><tt>67258e4dbf6d0910237aeceaa317b589b1cd9486abb67b09c4a4b1f6984063a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/telly-skout-23.04.3.tar.xz">telly-skout-23.04.3</a></td>
   <td align="right">93kB</td>
   <td><tt>2b3f9c9f96c1dcfaee213bd6e6787998f9a6b6d360e21159592e62b4bf6dd166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/tokodon-23.04.3.tar.xz">tokodon-23.04.3</a></td>
   <td align="right">231kB</td>
   <td><tt>7e86cfce2f51592baa2bd9cc4c99f4fd2586e4292c2dae657a477548f2683708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/umbrello-23.04.3.tar.xz">umbrello-23.04.3</a></td>
   <td align="right">5638kB</td>
   <td><tt>fcaf4df00c3d3f95e78b86fc8ade2d6484de9a60bed37d3e3e136f427b3a67d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/yakuake-23.04.3.tar.xz">yakuake-23.04.3</a></td>
   <td align="right">418kB</td>
   <td><tt>5e9e144e97493b0e322c37309daacfe4c1412f654023d2c82b587e5a7ea9d49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/23.04.3/src/zanshin-23.04.3.tar.xz">zanshin-23.04.3</a></td>
   <td align="right">341kB</td>
   <td><tt>d20bff1e4c2696c41c063c2dabce590d45bf2554cea6fd17c6c7d39d1c17cd38</tt></td>
</tr>

</table>
