a.block-nav:hover, a.shadow:hover {
  transform: translateY(-1vh);
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12); }

.block-nav *, .block-nav *:hover {
  color: black; }
#top {
background: #01d486;
background: linear-gradient(128deg, #01d486 0%, #3daee8 100%);
text-shadow: 0 0 0px #fff;
color: white;
}
.block-nav, .shadow {
  display: block;
  position: relative
}

.tool:hover, .block-nav:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
@media (prefers-color-scheme: dark) {
  .block-nav {
    background-color: #212020;
  }
  .card-body {
    color: white;
  }
}

.donnorbox {
  max-width: 400px;
  min-width: 250px;
  max-height: none !important;
  padding-top: 0.1rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  h2 {
    margin-top: 0.5rem;
  }
}
