{{ define "main" }}
<main>
  <div class="container bluefriday">
    <div class="row">
      <div class="col-lg-8 col-12">
        <h1>{{ i18n "support-plasma6" }}</h1>
        {{ .Content }}
        <img class="d-none d-lg-block" style="width: 100%; max-width: 1500px;" alt="" src="/fundraisers/konqi-katie-donation.jpg">
      </div>
      <div class="col-lg-4">
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script>
        <div class="donorbox">
          <iframe style="border-radius: 8px;" src="https://donorbox.org/embed/kde-become-a-member" name="donorbox" width="100%" height="600px" frameborder="0" scrolling="no" seamless="seamless"></iframe>
          <div class="p-4">{{ .Params.more | markdownify }}</div>
          <br />
          <br />
        </div>
        <div class="hof mt-5 p-4">
          <h2 class="mt-0">{{ i18n "hall-of-fame" }}</h2>
	        <p>David Walluscheck ⭐ Paul Merryfellow ⭐ Luis Garcia ⭐ Laust Lund Kristensen ⭐ Harald Gall ⭐ Chad McCullough ⭐ Moritz Lammerich ⭐ Robert Levine ⭐ Janis Bundschu ⭐ Stefan Hellwig ⭐ Michael Bolleininger ⭐ Alicja Michalska ⭐ Andrew Rosenwinkel ⭐ Jeroen Tor ⭐ Tommy Beauclair-Mariotti ⭐ Patrick Nagel ⭐ Angus Kelsey ⭐ Lukas Kucerik ⭐ Cory Adkins ⭐ Tobias Brunner ⭐ Mustafa Muhammad ⭐ Reid Wiggins ⭐ Bel Lord-Williams ⭐ Grider Li ⭐ Victor Castillo ⭐ Turritopsis Dohrnii Teo En Ming ⭐ Antoni Aloy Torrens ⭐ Brett Hagen ⭐ Dino Čobo ⭐ Matthias Born ⭐ Carlos Gonzalez Cortes ⭐ Michel Filipe ⭐ Tone Milazzo ⭐ Brandon Jones ⭐ Ryan Chambers ⭐ Travis Suel ⭐ Evan Chang ⭐ Marijo Mustač ⭐ Jennifer Radtke ⭐ Sander Smid-Merlijn ⭐ Martin Beck ⭐ Timo Büttner ⭐ Jonas Büttner ⭐ Zacharie Monnet ⭐ Michael Brunner ⭐ Thomas ROBIN ⭐ Vladimir Baskakov ⭐ Kristian Kriehl ⭐ Lasse Danegod ⭐ Alistair Bain ⭐ JIMI ROSS ⭐ Julian Raschke ⭐ Teodor Calin Sirbu ⭐ Brian Aberts ⭐ Timo Büttner ⭐ Nils Martens ⭐ Christoffer Jansson ⭐ Antonio Teixeira ⭐ Florian Dazinger ⭐ Benjamin Xiao ⭐ Batuhan Taskaya ⭐ Cass Midkiff ⭐ Bailey Hollis ⭐ Antti Luoma ⭐ Bryan Zaffino ⭐ Aleksei Liudskoi ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Travis Suel ⭐ Jens Erdmann ⭐ Frank Mankel ⭐ Cristian Le ⭐ Kiril Vladimirov ⭐ OC Blanco ⭐ Julian Borrero ⭐ Igor Stojkovic ⭐ Wolfgang Kerschbaumer ⭐ José Couto ⭐ Andre Ramnitz ⭐ Jimmy Lindsey ⭐ Christopher Clarke ⭐ Tom Schwarz ⭐ Jacob Ludvigsen ⭐ Daniel Hurtado ⭐ Curtis Bullock ⭐ Angelos Skembris ⭐ Matthew Brunelle ⭐ Tubo Shi ⭐ Asim Shrestha ⭐ Florian Dittmer ⭐ Roger Granrud ⭐ Warren Krettek ⭐ Aurélien COUDERC ⭐ Artem Puzikov ⭐ Jeroen Huijsman ⭐ Paul Porubsky ⭐ David Martinez ⭐ Yishu Wang ⭐ Eduard Nikoleisen ⭐ Byron Fröhlich ⭐ Florian Stadler ⭐ Mark Woltman ⭐ Dougie Beney ⭐ Diego Saavedra Aguirre ⭐ Robert Riemann ⭐ Klemen Košir ⭐ Daniel Bagge ⭐ Klaus Wagner ⭐ Linda Polman ⭐ Niklas Kämper ⭐ Lizoblyud Lika ⭐ Srikar Gottipati ⭐ Fred Dickens ⭐ Jakob Rath ⭐ Moritz Schulte ⭐ Helge Bahmann ⭐ Martin Bednar ⭐ Jonas Gamao ⭐ Thibaud Franchetti ⭐ Jonas Mutke ⭐ Michal Hlaváč ⭐ Gerbrand van Dieyen ⭐ Paulo Dias ⭐ Tapio Metsälä ⭐ Markus Meier ⭐ Tommy Beauclair-Mariotti ⭐ Michael Winters ⭐ Sebastian Paul ⭐ Florian Dittmer ⭐ Alexander Gurenko ⭐ Gerardus Franciscus Maria van Iersel ⭐ Marius Hergel ⭐ Nicola Feltrin ⭐ Christoph Singer ⭐ Bjørnar Hausken ⭐ Nina Wanca ⭐ Eric NGUYEN ⭐ Benjamin Xiao ⭐ Lars Jose ⭐ Patrick Gianelli ⭐ Robert Wolniak ⭐ Samuel Jordan Kleinman ⭐ Lee Courington ⭐ Bernhard Breinbauer ⭐ Ian Boll ⭐ Stewart Webb ⭐ Timothy Carr ⭐ Severin Hamader ⭐ Lenno Nagel ⭐ Xuetian Weng ⭐ Tony James ⭐ Jim Crawford ⭐ Max Buchholz ⭐ Sergei Golimbievsky ⭐ Solomatin Vladimir ⭐ Kormos Krisztián ⭐ Christian Gmeiner ⭐ Ryan McCullough ⭐ OC Blanco ⭐ Leif-Jöran Olsson ⭐ Àlex Magaz Graça ⭐ Zach B ⭐ Lauren Howe ⭐ Björn Bauer ⭐ Julius Binder ⭐ Alonso Mendoza ⭐ David Germain ⭐ Paul Elliott ⭐ Richard BEOLET ⭐ Max R ⭐ Stanislas Leduc ⭐ Vojtech Kuchar ⭐ Andrea Scartazza ⭐ Christian Hartmann ⭐ Malte Jürgens ⭐ Jakub Judas ⭐ Adrian Friedli ⭐ Mikko Mensonen ⭐ Nathaniel Housman ⭐ Manuel Bödder ⭐ Artem Puzikov ⭐ Fco Javier Bolívar ⭐ Samir Nassar ⭐ E. Mau. ⭐ Vojtech Kuchar ⭐ Artur Pieniążek ⭐ Joshua Phelps ⭐ Dmitry Misharov ⭐ Luis Büchi ⭐ Gaurav Dasharathe ⭐ Aroun Clément Baudouin-van Os ⭐ Dirk Ziegelmeier ⭐ Łukasz Konieczny ⭐ Alexander Verweinen ⭐ André Barata ⭐ Angus Kelsey ⭐ Andy Meier ⭐ Luis Alvarado ⭐ Batuhan Cinar ⭐ Bernie Innocenti ⭐ Ryein Goddard ⭐ Regina Abendroth ⭐ Milton Hagler ⭐ Brendan Foote ⭐ Shuyuan Liu ⭐ Zane Godden ⭐ Pascal Mages ⭐ Peter Permenter ⭐ Aaron Bockelie ⭐ Störm Poorun ⭐ Tapio Metsälä ⭐ Joshua Phelps ⭐ Jed Baldwin ⭐ Sébastien Monassa ⭐ Stefan Zurucker-Burda ⭐ Techin Eamrurksiri ⭐ Paul Fleischer ⭐ Boji Tony ⭐ Frédéric LAURENT ⭐ Jack Case ⭐ Conny Magnusson ⭐ Joan Aluja Oraá ⭐ D Ennis ⭐ Justin Geigley ⭐ Long Vu ⭐ Alejandro Cholaquidis ⭐ Lucas Ji ⭐ Martin Bednar ⭐ Bentleigh Beugelaar ⭐ Peter Simonsson ⭐ Mustafa Muhammad ⭐ Elijah Helms ⭐ Moritz Füssel ⭐ Bob Richter ⭐ Dyllan Kobal ⭐ Dan Heneise ⭐ Jay Tuckey ⭐ Dennis Schumann ⭐ Guruprasad L ⭐ Coty Ternes ⭐ Jérémy Friche ⭐ Marco Götze ⭐ Florentin Rack ⭐ Cody Harrison ⭐ Marko Hehl ⭐ Pjol . ⭐ Paul McAuley ⭐ Martin Supan ⭐ R.A. Bijl ⭐ Zhangzhi Hu ⭐ Christian Moesgaard ⭐ Andreas Paul ⭐ Michael Schaffner ⭐ Philipp Reichmuth ⭐ Mark Marsh ⭐ Lino Moser ⭐ Nathan Pennington ⭐ Jack Case ⭐ Christian Hofstede-Kuhn ⭐ Andrew Keenan Richardson ⭐ Mihail Morosan ⭐ Keelan Jones ⭐ Mukilan Thiyagarajan ⭐ Matheus Ferreira Messias Guedes ⭐ Przemysław Romanik ⭐ Francesco Sardara ⭐ George Pchelkin ⭐ Emanuele Cannizzaro ⭐ Steffen Jasper ⭐ Andreas Heinkelein ⭐ Christian Gmeiner ⭐ Norbert Spina ⭐ Techin Eamrurksiri ⭐ Burgess Chang ⭐ Jakub Judas ⭐ José Guardado ⭐ Dave Lewis ⭐ Alejandro Muñoz Fernández ⭐ Yu Te Wang ⭐ Ján Trenčanský ⭐ Mikołaj Świątek ⭐ Jens Reimann ⭐ Baptiste Rajaut ⭐ Rebecca Müller ⭐ Marián Polťák ⭐ Federico Dossena ⭐ Johann Jacobsohn ⭐ Teague Millette ⭐ Neal Gompa ⭐ Martin Supan ⭐ Henning Sextro ⭐ Adam Szopa ⭐ Lukas Hannawald ⭐ Gregor Burgeff ⭐ Chris Niewiarowski ⭐ Gaurav Dasharathe ⭐ Harry A ⭐ Patrick David ⭐ Paul Worrall ⭐ Marcel Siggelsten ⭐ Nikolai Eugen Sandvik ⭐ Lauren Howe ⭐ Valerio Pilo ⭐ Daan Boerlage ⭐ Björn Bauer ⭐ Moritz Lammerich ⭐ Dmitry Sobolev ⭐ Akseli Lahtinen ⭐ Jacob Perron ⭐ Michael Brunner ⭐ Vincent Delor ⭐ Chris Davis ⭐ Gabriel Morell ⭐ Robert McCarter ⭐ Jim Helm ⭐ Linda Polman ⭐ Tamas Kornman ⭐ Valentin Petzel ⭐ Daan Boerlage ⭐ Rhys Jones ⭐ Michel van Son ⭐ Trey Boyer ⭐ Renārs Ceļapīters ⭐ Kiril Vladimirov ⭐ Achim Bohnet ⭐ Alexander Ypema ⭐ Carl Schwan ⭐ Srikar Gottipati ⭐ Dennis Schumann ⭐ Kai-Uwe Uhlitzsch ⭐ Christian Strebel ⭐ Huw McNamara ⭐ Denis Doria ⭐ Nina Wanca ⭐ Yoann LE TOUCHE ⭐ Dirk Holsopple ⭐ Sam Smucny ⭐ David Roth ⭐ Max Schwarz ⭐ Robin Slot ⭐ Petr Tesarik ⭐ Cass Midkiff ⭐ Cory Adkins ⭐ Jeff Cain ⭐ Titouan Fuchs ⭐ Cameron Bosch ⭐ Artur Pieniążek ⭐ Paxriel Pax ⭐ Richard BEOLET ⭐ Paul Birkholtz ⭐ Miku Hatsune ⭐ Denis Doria ⭐ Ami Chayun ⭐ Quentin Stuchlik ⭐ Brett Hagen ⭐ Christoph Hümbert ⭐ Mehrad Mahmoudian ⭐ Lorenzo Bicci ⭐ Lizoblyud Lika ⭐ Alessio Adamo ⭐ Daniel Noga ⭐ Cornelius Kluge ⭐ Sergi Navas ⭐ Witold Sosnowski ⭐ Dean Bradley ⭐ Wyatt Childers ⭐ Sam Smucny ⭐ Justin Geigley ⭐ Carlos Gonzalez Cortes ⭐ Willow Aran ⭐ Radek Nováček ⭐ Rob Hyndman ⭐ Jure Repinc ⭐ Nathan Westerman ⭐ Yann Nux ⭐ Jed Baldwin ⭐ Peter König ⭐ Kevin McCarthy ⭐ Gernot Schiller ⭐ David Gow ⭐ Nicola Mingotti ⭐ Simon Österle ⭐ Matija Šuklje ⭐ Tim Blomme ⭐ Régis GUYOMARCH ⭐ Boji Tony ⭐ Romain Fleurette ⭐ Ethan Hussong ⭐ Rahul Ramesh ⭐ William Z ⭐ Roberto Michán Sánchez ⭐ Johannes Wolf ⭐ May Doušak ⭐ Harry A ⭐ Dima T ⭐ Nicolai Manique ⭐ Christopher Mandlbaur ⭐ Nicholas Harper ⭐ Łukasz Plich ⭐ Justus Tartz ⭐ Gerhard Dittes ⭐ Edoardo Regni ⭐ Douglas Shaw ⭐ Kevin Messer ⭐ Jaroslav Reznik ⭐ Teodor Calin Sirbu ⭐ Jason Logue ⭐ Achilleas Koutsou ⭐ Dan Heneise ⭐ Gregor Burgeff ⭐ Thomas Karpiniec ⭐ Markus Ebner ⭐ Marcus Harrison ⭐ ILIOPOULOS IOANNIS ⭐ Jarkko Torvinen ⭐ Dmitry Sobolev ⭐ Jens Reimann ⭐ Herbert Feiler ⭐ Antti Luoma ⭐ Samuel Allen ⭐ Simon Berz ⭐ Marcel Pierre Simon ⭐ Łukasz Plich ⭐ Pablo Caballero ⭐ Marián Polťák ⭐ Marcos Gutiérrez Alonso ⭐ Lukas Neubert ⭐ John Kizer ⭐ Julian Wefers ⭐ Michael Alexsander ⭐ Brian Lemons ⭐ Andrea Panontin ⭐ Benjamin Tzschoppe ⭐ Batuhan Taskaya ⭐ Simon Hötten ⭐ Jan Iversen ⭐ Mikle Kerim ⭐ William Wojciechowski ⭐ Julio Moya ⭐ Pierre-Alexandre Hamel-Bussières ⭐ Shayne Johnson ⭐ Sebastian Goth ⭐ Anael González Paz ⭐ Marco Julian Solanki ⭐ Diego Miguel Lozano ⭐ Will Butler ⭐ Brian Marsh ⭐ Ismar Kunic ⭐ Rodney Lorimor ⭐ Muthanna K. ⭐ Petronio Coelho ⭐ Sebastian Krönert ⭐ Skye Van Valkenburgh ⭐ Florian RICHER ⭐ Rob Hasselbaum ⭐ Rob Hyndman ⭐ Stephen Crocker ⭐ Martin Beck ⭐ John Kizer ⭐ Dominik Lux ⭐ Ryan Chambers ⭐ Joshua Mohr ⭐ Regina Abendroth ⭐ Dmitry Misharov ⭐ David Martinez ⭐ Marius Hergel ⭐ Oliver Rasche ⭐ Linghai Yan ⭐ Sergi Navas ⭐ Odin Vex ⭐ Sebastian Turzanski ⭐ Jonas Hucklenbroich ⭐ Petr Kadlec ⭐ Joey Eamigh ⭐ Oliver Rasche ⭐ Aurélien COUDERC ⭐ Stefan Neacsu ⭐ Gerbrand van Dieyen ⭐ Fabian Niepelt ⭐ Christopher Mandlbaur ⭐ Lisardo Sobrino ⭐ Cornelius Kluge ⭐ Jim Crawford ⭐ Sebastian Paul ⭐ Andrey Melentyev ⭐ TIMOPHEY TSITAVETS ⭐ André Barata ⭐ Valentin Petzel ⭐ Archie Lamb ⭐ Chrismettal Binary-6 ⭐ Tomás Duarte ⭐ Michael Stemle ⭐ Thomas Eckart ⭐ Alonso Mendoza ⭐ Mitchel Bone ⭐ Petri Koskimaa ⭐ Mario Loik ⭐ Stanislas Leduc ⭐ Jens Churchill ⭐ Malte Jürgens ⭐ Malin Stanescu ⭐ Aroun Clément Baudouin-van Os ⭐ Ami Chayun ⭐ Rhys Jones ⭐ Raphael Pretot ⭐ Yoann LE TOUCHE ⭐ Rainier Ramos ⭐ Wesley Schroth ⭐ Semen Sobolev ⭐ Jan Iversen ⭐ Marcos Gutiérrez Alonso ⭐ Benny Fields ⭐ Zoran Dimovski ⭐ Philipp Slusallek ⭐ bill morin ⭐ Lukas Langrock ⭐ Maarten Bijster ⭐ Alexey Andreyev ⭐ Benjamin Terrier ⭐ Jeremy Linton ⭐ scaine uk ⭐ Chrismettal Binary-6 ⭐ Johann Jacobsohn ⭐ Zoran Dimovski ⭐ Samir Nassar ⭐ Monica Ayhens-Madon ⭐ Bryan Zaffino ⭐ ali xyz ⭐ Jason Seville ⭐ Ulrich Schreiner ⭐ Nikita Malgin ⭐ Adam Dymitruk ⭐ Michael Meister ⭐ Paul Worrall ⭐ Aljosha Papsch ⭐ Felix Knecht ⭐ Lennart Kroll ⭐ Sebastian Fohler ⭐ Ivo Marciniak ⭐ Björn Aili ⭐ Hennie Marais ⭐ Zach B ⭐ Curtis Bullock ⭐ Henri Michael ⭐ scaine uk ⭐ Steven Barrett ⭐ Dean Bradley ⭐ Nils Martens ⭐ Alexander Reimelt ⭐ Kieren Roberts ⭐ Melissa Autumn ⭐ Ethan Hussong ⭐ David Chocholatý ⭐ Dennis Zellner ⭐ Joey Eamigh ⭐ Mohammad Rawashdeh ⭐ Jordi Ferrando ⭐ Jaroslav Reznik ⭐ Albert Goncharov ⭐ Joost Cassee ⭐ Simon Hötten ⭐ Andrew Munkres ⭐ Hendrik Richter ⭐ Arne Keller ⭐ Márton Lente ⭐ Kevin Messer ⭐ François-Xavier Thomas ⭐ Sarat Chandra ⭐ Lennart Kroll ⭐ Luciano Barea ⭐ Thomas Ludwig ⭐ Michael Niehoff ⭐ Flori G ⭐ edwin vervliet ⭐ Nicolas Rojas ⭐ Douglas Shaw ⭐ Ole Solbakken ⭐ Tristan Remy ⭐ Jaspal Chauhan ⭐ Jeremy Winter ⭐ Paul Porubsky ⭐ Stefan Neacsu ⭐ Linus Karl ⭐ Roger Granrud ⭐ Emil Larsson ⭐ Peter Nunn ⭐ Conny Magnusson ⭐ Dennis Malmin ⭐ Dennis Körner ⭐ Will Styler ⭐ Mehrad Mahmoudian ⭐ Costin-Tiberiu Vasilescu ⭐ Nathan Wolf ⭐ Owen Sessiecq ⭐ Dima T ⭐ Fabian Niepelt ⭐ Samega 7Cattac ⭐ Kim Hayo ⭐ Gleb Sinyavskiy ⭐ Christian Moesgaard ⭐ Étienne Pain ⭐ Ivan Nack ⭐ Luis Büchi ⭐ harry loh ⭐ Shawn Dunn ⭐ Henri Michael ⭐ Nick Severino ⭐ Szymon Łągiewka ⭐ Arthur Tadier ⭐ Florian Edelmann ⭐ Aman Chhabra ⭐ Stephane Perrin ⭐ Daniel Lloyd-Miller ⭐ Alexander Gurenko ⭐ Sacha Schutz ⭐ Andrija Jovanovic ⭐ your mom ⭐ Isaac Patton ⭐ Lee Courington ⭐ Thomas ROBIN ⭐ Timothy Carr ⭐ ADAM K BIERMAN ⭐ Brandon Clark ⭐ Pascal Schmidt ⭐ ali xyz ⭐ Mateusz Brdoń ⭐ Simon Finlay ⭐ Loïc Bersier ⭐ Galin Yordanov ⭐ Tom Schwarz ⭐ Philipp Reichmuth ⭐ Matt Milliman ⭐ Logan Rogers-Follis ⭐ Nate Coffey ⭐ Eduard Nikoleisen ⭐ Mario Loik ⭐ William Z ⭐ Alexander Ypema ⭐ Nicola Jelmorini ⭐ Ralf Hein ⭐ Tristan Remy ⭐ Dave X ⭐ Joan Aluja Oraá ⭐ Anthony Beninati ⭐ Sahan Fernando ⭐ Luke Renaud ⭐ Mateusz Dytkowski ⭐ Sebastian Löw ⭐ Lukas Skala ⭐ Iain Cuthbertson ⭐ Arthur Galiullin ⭐ Paul Merryfellow ⭐ Cameron Bosch ⭐ Eddie Carswell ⭐ Łukasz Konieczny ⭐ Jacob Childersmith ⭐ Thomas Ludwig ⭐ Marco Nelles
	        </p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
