---
title: KDE 1.0 to 1.1 Changelog
date: "1999-02-06"
description: "ATTENTION: this Change Log is nowhere near complete. The changes descriptions were kept brief. There are many applications for which the authors didn't have the time (or found it less essential than coding) to submit a list of changes"
---

<table class="tables">
  <tr class="table-row">
     <td>
        <i>Stephan Kulow</i>, Master of the CVS,
        wearing <i>ad interim</i> the togue of the Master of the Great Release,
        announced today, <i>6 February 1999 at 21h17 (CET)</i>, that
        the latest and greatest KDE version, KDE-1.1, is released:
        <i>"OK, I tagged</i> [the CVS repository] <i>with 1_1_RELEASE and put
        that tagged version on upload.kde.org"</i>. Wait for
        <a href="ftp://ftp.kde.org/pub/kde/stable/1.1/distribution">binary package
        sets to appear</a> any time now for the different Unix platforms.
        Again, at this moment of celebration, our gratitude is addressed
        to the excellent community of KDE
        developers for their selfless work and to the millions of users which,
        by constant support and
        encouragement, by bug reports and by features suggestions, made KDE
        possible, and the nice, more than two years long, history of our project,
        a glorious one. Thank you all!>
        <br>
        <br>
        <p>
        ATTENTION: this Change Log is nowhere near complete. The changes descriptions were kept brief. There are many applications for which the authors didn't have the time (or found it less essential than coding) to submit a list of changes. These applications are not present in this page. However, there is very little code in KDE which wasn't revisited since KDE-1.0. The main result is a much more stable and a faster version, the already well known KDE-1.1. Thanks to all involved. Thanks to the users for their great moral support.</p>
        <p>Also, please note that thanks to the excellent team of artists which help KDE look beautiful, a new, improved, nicer set of icons, backgrounds, textures, are available in KDE-1.1. <a href="mailto:torsten@kde.org">Torsten Rahn</a> kindly provided the beatiful KDE logo which now appears on the panel and in the help and web pages.
     </td>
  </tr>
  <tr class="table-row">
     <td align="center"  >
        kdeadmin
        >
     </td>
  </tr>
  <tr class="table-row">
     <td>
        <table class="tables">
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 kdat
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Sean Vyain></i></td>
           </tr>
           <tr class="table-row" >
              <td colspan="3" align="LEFT" valign="CENTER">
                 <p>A backup tool with GUI
                 <ul>
                    <li>Uses tar Unix tool
                    <li>Some more functionality has to be added
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 ksysv
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Peter Putzer></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>complete rewrite
                    <li>documentation now available
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>

  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kuser
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Denis Pershin></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>better support for NIS configurations
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdebase
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kappfinder
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Hoelzer></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>new icons
                    <li>more non-KDE applications supported
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 KPlayAudio
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Christian Esken></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>New non-GUI audio playback program to playback audio files
                       using the regular KDE sound system.
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 kcheckpass
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Christian Esken></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>This new tool assures complete independence of the usual
                    KDE applications from the need to be run SUID. This
                    achievement, due to Christian Esken and a few colaborators,
                    has a major importance, allowing to close much of the potential
                    security problems characteristic to SUID programs.
                 <ul>
                    <li>plain password, PAM and shadow security models supported
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kcontrol
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: collective></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>new info modules: devices, DMA-chanels, Interrupts
                       ...
                    <li>keyboard shortcuts configuration
                    <li>international keyboard configuration
                    <li>KPanel configuration
                    <li>much of KWM's options now supported
                    <li>KFM's configuration, now detached from the browser,
                       is split in "File Manager" and "Browser" configuration
                    <li>much improved display configuration with
                       support for random backgrounds, background image cache
                       configuration and more
                    <li>new support for style configuration - it is an
                       incipient form of the much enhanced style/themes support
                       to be brought later (KDE-2.0)
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kdehelp
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Martin Jones></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>Find - a <i>find in the page</i> function, with case
                       sensitiveness
                    <li>RosettaMan - support for the excellent man page translator
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kdm
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Steffen Hansen, Matthias Ettrich></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>many bug fixes
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kfm
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Torben Weis (maintained by David Faure)></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>Find - a <i>find in the page</i> function, with case
                       sensitiveness
                    <li>per-URL settings saving - configurable
                    <li>more charsets support
                    <li>charset support in frames
                    <li>history (Up/Down buttons) for frames - frames browsing
                       kept into account
                    <li>detached configuration GUI - use `kcmkfm` or the K Control Panel
                    <li>short view
                    <li>"Tree View" syncronizes with browsing
                    <li>icon title colors - now configurable through the "Configure"
                       dialog
                    <li>fusion of global & local mimetypes directories - (same for applications)
                    <li>Key navigation - enter the first letters of the filename
                    <li>Copy/Paste for text - HTML pages and edit fields
                    <li>Support for cookies
                    <li>Reduced memory usage
                    <li>Improved rendering
                    <li>Support for PNG
                    <li>Better handling of frames
                    <li>Lots of small fixes
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kikbd
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Alexander Budnik (maintained by C. Tibirna)></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p> International Keyboard selector/configurator (author <i>Alexander
                    Budnik</i>, many collaborators)
                 <ul>
                    <li>select keyboard at runtime
                    <li>saves keyboard settings - per-application, or per window
                       class, or globally
                    <li>docked in the panel
                    <li>highly configurable
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kmenuedit
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Christoph Neerfeld></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>many improvements in the user interface metaphor
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 konsole
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Lars Doelle></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p> Unix terminal emulator for X. Aimed to replace kvt
                 <ul>
                    <li>highly configurable - through menus or a configuration
                       applet
                    <li>pixmapped background
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kpanel
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich and collab.></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>added Disk Navigator to KPanel for filesystem navigation from the KPanel menu
                    <li>hide animation - configurable speed
                    <li>left <i>and</i> right hide/show handles
                    <li>autohide for panel and taskbar
                    <li>'Edit Menus' menu entry
                    <li>right-mouse-button contextual menu aside launch buttons
                    <li>panel at display's right side possible now
                    <li>faster menu loading by load-on-demand
                    <li>creation and loading of menus on demand, i.e. faster startup
                       with less disk access
                    <li>more drag- and drop functionality
                    <li>more configuration options
                    <li>generic KPanel improvements
                    <li>added the KDiskNavigator tab to the KPanel configuration
                       module
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 krootwm
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich and collab.></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>MacOS-like menubar support
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kscreensaver
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: collective></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>Screensavers have been reworked. There is no need to run
                       them SUID root anymore, enhancing security greatly. A new authentication
                       helper application is used instead. (kcheckpass)
                    <li>new screensavers: science, bsod ...
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kstart
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p> Replaces KStartOnDesk application. Serves as KDE-compatible
                    application launcher, allowing to indicate launching options specific
                    to the KDE desktop. Options
                 <ul>
                    <li>-sticky
                    <li>-on-desktop # where # is the desired desktop
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kvt
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The author of this terminal emulator considers it almost
                    obsolete and encourages the use of konsole instead.
                 <ul>
                    <li>howevermany security and sesion management fixes have
                       been done
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kwm
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>configurable key and mouse bindings
                    <li>smart (de-)iconify animation together with the taskbar
                    <li>autoadjust of maximized windows
                    <li>support for a common menubar similar to MacOS
                    <li>more visual configuration options for theme designers
                    <li>more tweaking to deal with low end graphic cards and incapable
                       X-servers.
                    <li>kstart utility to launch legacy applications with certain
                       window properties applied
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kwmcom
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>new command options most notable being support for the Window Maker windowmanager.
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"    >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >kpager></td>
              <td  bgcolor="#6495ED"><i>Author: Antonio Larrosa></i></td>
           </tr>
           </tr>
           <tr class="table-row" >
              <td ></td>
              <td align=left valign=center colspan="3">
                 <p> Another KWM-compatible desktop pager.
                 <ul>
                    <li>desktop mini-view reading kbgndwm settings
                    <li>move windows across desktops
                    <li>on-pager window resize
                    <li>global desktop for defining sticky windows
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  <tr class="table-row">
     <td>&nbsp;</td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdegames
        >
     </td>
  </tr>
  <tr class="table-row">
     <td>All the games were upgraded to KDE-1.1. There are no significant additions, but a lot of bugfixes were performed
      <br>
      <br>
     </td>
     
  </tr>

  <tr class="table-row">
     <td align="center"  >
        kdegraphics
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kview
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Sirtaj Singh Kang></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>KView was completely rewritten and now has a better interface,
                    including new features like good configurability, a full-screen
                    mode and support for TIFF, PNG and XVPICs image formats.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdelibs
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 kab
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Mirko Sucker></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>This is the start for a common addressbook library which will
                    be used soon by all KDE applications who need such a library. Initial use
                    of this library is available in KOrganizer.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kfile
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Stephan Kulow></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>much improved keyboard navigation in the filedialog</li>
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kimgio
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Sirtaj Singh Kang></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>This is the first version of KDE shipped with the KDE Image IO
                    library, which adds KDE-wide support for additional image
                    formats. New formats with this release are: PNG, TIFF and XVPICs.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdemultimedia
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kmid
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Antonio Larrosa></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>ChannelView to see the notes played by
                       each instrument and change the instrument used in each channel
                    <li>Volume slider
                    <li>Tempo is modifiable to play songs faster or slower
                    <li>Better support for really corrupted midi files
                    <li>Fixed an important bug related to songs
                       losing the rhythm and playing at a changing tempo which many users
                       reported
                    <li>Beginnings of SoftOSS support
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kmix
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Christian Esken></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>fixes regarding session management and more
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdenetwork
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kmail
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Stefan Taferner, Markus Wuebben></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Many bug fixes. A few highly requested features have been also added (like displaying "Sender" field in incoming folders). The main accent was on increasing the stability.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 knu
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Bertrand Leconte></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li> <i>mtr</i> support added. <i>mtr</i> is a tool that can make a traceroute
                       to a host and make a ping for each hop found.
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kppp
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Mario Weilguni, Harri Porten, Bernd Wuebben></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>throughput graph
                    <li>debugging aid
                    <li>enhanced security - separated GUI frontend and SUID backend
                    <li>Quickhelp feature
                    <li>new and updated rule files
                    <li>many usability improvements and bugfixes
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 krn
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Roberto Alsina></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The mandatory bugfixes were applied.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 ksirc
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Andrew Stanley-Jones></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>KSirc improved a lot and has consolidated its position
                    as one of the best IRC clients available for Unix GUI.
                 <p>It also served as a trial field for a series of KDE inventions and inovations (a memory alloc checker for C++, a dynamic shortcut configurator for menus etc.)
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 ktalkd
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: David Faur&eacute;></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Now in kdenetwork, ktalkd is an enhanced talk daemon - a
                    program to handle incoming talk requests,
                    announce them and allow you to respond to it using a
                    talk client.
                    It features :
                 <ul>
                    <li>Answering machine
                    <li>Sound playing with the announcement
                    <li>Multiple displays annoucement
                    <li>Support for otalk and ntalk
                    <li>Forwarding capability
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdenonbeta
        >
     </td>
  </tr>
  <tr class="table-row">
     <td>This section isn't yet released with the others KDE packages. Although, many distributors prefer to distribute this little gem too, given the excellent code found in there. The applications included will hopefully reach a more stable status soon, and thus will be included in the main packages.</td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kcharselect
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Reginald Stadlbauer></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Nice character selector with X-Window copy/paste support
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kcmbind
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Karl Backstr&ouml;m, Olof Wolgast></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A GUI configurator for BIND. Compatible with KControl
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kcmdhcpd
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Karl Backstr&ouml;m></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A GUI configurator for DHCPd. Compatible with KControl
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kcmkpanel2
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Pietro Iglio></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The next generation panel configuration. Already used in post-1.1 KDE development versions.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kcrontab
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Michael Bialas></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Nice crontab GUI. Ever struggled with crontab syntax? It's finished now.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kexpress
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Peter Wichert></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>An easy-to-use Newsreader, now with lots of fixed bugs 8-)
                 <ul>
                    <li>offline read/write
                    <li>more than one news-server, tree view
                    <li>full threading
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kglchess
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Bernd Johannes Wuebben></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>3D chessboard.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kgnuplot
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Bernd Johannes Wuebben></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A better X interface for gnuplot.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kmail2
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Stefan Taferner></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The next generation KMail. Still in alpha phase.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 knetmon
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Alexander Neundorf></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A network monitor with support for Samba. Allows a nice integration in a windows network.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 korn
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Sirtaj Singh Kang></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A much better korn. Very usable. Still, the author wants to work it more before releasing it.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kpackage
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Toivo Pedaste></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The much praised KDE package manager. Supports very well RPM and DEB formats. In post-1.1 releases, it's already included in the kdeadmin package.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kpanel2
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Pietro Iglio></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>KPanel2 is a major clean up of KPanel source code. Among the
                       added features there is full drag'n'drop support (user can
                       drag icons from the K-menu to the panel, move and delete menu
                       entries, move/copy files using KDiskNavigator, etc.) and
                       contextual menus on menu entries.
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kthememgr
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Stefan Taferner></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Want installing KDE themes with a click of a button? You have it. The author wants to add saving support. Also, support for the new theme-ing features in Qt-2.0 will be added soon.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kticker
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Paul Dwerryhouse></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>News ticker. Supports, among others, Freshmeat and Slashdot.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 ktop
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: collective, Chris Schlaeger></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p> The new KDE Task Manager.
                 <p>
                 <ul>
                    <li>Complete re-write of the code.
                    <li>Qt 1.4x and KDE 1.x compatible.
                    <li>Several bugs fixed. A lot more user friendly.
                    <li>Easier to port to other flavours of UNIX.
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 libkmedia
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Christian Esken></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>New and improved media library. Hopefully, will contain support for network shared multimedia.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 libkmsg
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Stefan Taferner></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The KDE's mailing library. To be used in the future by all the KDE applications which will need e-mail support. Now it's only used by kmail2.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 maudio2
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Christian Esken></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>New (better) version of the maudio tool.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 webmaker
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Alexei Dets></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>HTML editor for KDE.
                 <ul>
                    <li>nice GUI interface;
                    <li>menus, toolbar and dialogs for tag editing - like HomeSite and asWedit;
                    <li>multiple windows support;
                    <li>full HTML 4.0 support;
                    <li>preview for &lt;IMG&gt; tag;
                    <li>color selectors for bgcolor and other color attributes;
                    <li>color syntax highlighting;
                    <li>preview with external browser (Netscape);
                    <li>ability to filter editor content through any external program
                       that support stdin/stdout interface;
                    <li>customisable toolbars.
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdesdk
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kappgen
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Hoelzer></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Automatic applications generator with a GUI. The immediate result is a compilable application, complete with configure and makefile scripts. The user only has to add some amount of specific code
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 kapptemplate
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Kurt Granroth></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Another KDE application generator, working only in console mode. Preferred by some for its ease of use.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kdedoc
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Sirtaj S. Kang, Torben Weis></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Documentation tools
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 kdepalettes
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Daniel M. Duley></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The officially approved color palettes to be used by graphic artists and authors when writing KDE-related things. Respecting these palettes assures a small color hog of KDE over X-Window.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kdesgmltools
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Panayotis Vryonis, Bernd Wuebben></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Documentation tools. An adapted sgml tools version. Generates KDE-specific formatted documentation from SGML code.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kexample
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: ></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A live example (and template) of a KDE application.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 ktranslator
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Andrea Rizzi></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Translation tool. Allows automation of GUI translation tasks.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 scripts
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Sirtaj Singh Kang></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Valuable scripts like cvs2pack and cxxmetrics.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdesupport
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 QwSpriteField
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Warwick Allison></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A highly performant canvas widget. Considered by testers much more efficient than Tk canvas or other similar offers on the free software scene.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdetoys
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kmoon
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Stephan Kulow></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A moon phase watcher. Just sits on the panel and stares at you :-). Especially valuable for those with a near-to-nature soul.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kworldwatch
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias H&ouml;lzer-Kl&uuml;pfel></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>The time, the day and the night all over our small planet. For an international project, like KDE, this is a nice tool to have :-)
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 mouse
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Armen Nakashian></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Computer mice are long lasting runners. This is a pedometer for your beloved mouse.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        kdeutils
        >
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 ark
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Robert Palmbos></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Replaces the old KZip program. The change was needed because of
                    a name conflict with a system tool on FreeBSD
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 kab
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Mirko Sucker></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 karm
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Sirtaj Singh Kang></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>Added configurable keybindings.</li>
                    <li>i18n and Solaris support.</li>
                    <li>Some bugfixes.</li>
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kcalc
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Bernd Wuebben></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>A notable fix for statistic calculations was made.
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 kedit
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Bernd Wuebben></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Update to KDE-1.1, bug fixes, maintainance (it was already very stable in KDE-1.0).
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 klipper
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: ></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>An easy to use cut &amp; paste history, accessible via
                    KPanel or a configurable shortcut
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>New</I></td>
              <td  bgcolor="#6495ED" >
                 kwrite
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Jochen Wilhelmy></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>Nice, color-syntax capable, advanced editor
                 <ul>
                    <li>programming languages support: C/C++, HTML, Python and many others
                    <li>unlimited undo
                    <li>many more
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        klyx
        >
     </td>
  </tr>
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 &nbsp;
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich and collab.></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>many bugs fixes and improvements were added.
                    <li>there is an effort in course, to align KLyX to LyX-1.0
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  
  <tr class="table-row">
     <td align="center"  >
        korganizer
        >
     </td>
  </tr>
  <tr class="table-row">
     <td>
        <table class="tables"  >
           <tr class="table-row">
              <td  bgcolor="#6495ED" ><I>Update</I></td>
              <td  bgcolor="#6495ED" >
                 &nbsp;
                 >
              </td>
              <td  bgcolor="#6495ED"><i>Author: Preston Brown and collab.></i></td>
           </tr>
           <tr class="table-row">
              <td align=left valign=center colspan="3">
                 <p>
                 <ul>
                    <li>a large amount of functionality was added
                    <li>rock solid and stable. Many bugs squashed :-)
                    <li>support for PalmPilot conduits.
                 </ul>
              </td>
           </tr>
        </table>
     </td>
  </tr>
</table>