---
title: KDE 1.1 to 1.1.1 Changelog
date: "1999-05-04"
description: This page tries to present as much as possible of the very nummerous problem corrections and feature additions occurred in KDE between version 1.1 and the current, 1.1.1. The changes descriptions were kept brief. The main characteristic of the present release is stability, rock solid stability. Thanks to all involved. Thanks to the users for their great moral support
---

<table class="tables"  >
  <tr class="table-row">
    <td> 
      This page tries to present as much as possible of the very nummerous problem
      corrections and feature additions occurred in KDE between version 1.1 and the
      current, 1.1.1. The changes descriptions were kept brief. The main
      characteristic of the present release is stability, rock solid stability.
      Thanks to all involved. Thanks to the users for their great moral support.
      <br />
      <br />
    </td>
  </tr>
  <a id="kdeadmin"></a>
  <tr class="table-row">
    <td align="center"  >
      kdeadmin
    </td>
  </tr>
  <a id="kuser
    "></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kuser
          </td>
          <td  bgcolor="#6495ED"><i>Author: Denis Pershin</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
              Removed because of misleading messages possibly leading to system damage.
              Fixing the messages would have required every translator to update the translated messages,
              which was not possible due to lack of time.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kdebase"></a>
  <tr class="table-row">
    <td align="center"  >
      kdebase
    </td>
  </tr>
  <a id="kcontrol"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kcontrol
          </td>
          <td  bgcolor="#6495ED"><i>Author: collective</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>geometry layout improved in kcmkwm/Buttons tab
              <li>fix an enabling handle on kcmkwm/Advanced tab
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kdm"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kdm
          </td>
          <td  bgcolor="#6495ED"><i>Author: Steffen Hansen, Matthias Ettrich</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>fixed X vs. gpm race condition
              <li>allow $'s in show/non-show user lists
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kfm"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kfm
          </td>
          <td  bgcolor="#6495ED"><i>Author: Torben Weis, David Faure, ...</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li> Security fix when starting applications (making sure standard file descriptors aren't closed) (Thanks to Dirk A. Mueller &lt;dmuell@gmx.net&gt;)
              <li> Support for IE favourites files in the bookmark <br />(Thanks to Sven Dowideit &lt;svenud@ozemail.com.au&gt;)
              <li> "Volume Management" support for Solaris 2.x <br />(Thanks to Torsten Kasch &lt;tk@Genetik.Uni-Bielefeld.DE&gt;)<br />
                Usage : place a Device.kdelnk on your desktop with device entries like /dev/diskette0, /dev/diskette1,
                /dev/dsk/c0t6d0s2 (for SCSI CD-ROM drives at controller 0, SCSI-ID 6)
              <li> Passive mode transfer used for FTP, if available (enables FTP for users behind a firewall) <br />(Thanks to Peter Gruber &lt;peter.gruber@stud.uni-regensburg.de&gt;)
              <li> Support for Windows NT FTP server (IIS), any NT version. <br />(Thanks to Jens Kristian S&oslash;gaard &lt;jk@soegaard.net&gt;)
              <li> Fixed encoded paths for FTP with FTP proxy
              <li> Detect if kfm is already running, to prevent bugs happening with two kfm running
              <li> Fixed files not being removed from /tmp in some cases <br />(Thanks to Dirk A. Mueller &lt;dmuell@gmx.net&gt;)
              <li> Fixed cache bugs (duplicates, warning on startup)
              <li> Fixed mime detection on very small files<br />(Thanks to Stan Covington &lt;stan@calderasystems.com&gt;)
              <li> Fixed popupmenu displaying both entries when a global and a local kdelnk exist for an application
                (and allow to disable a global applnk bound to some mimetypes)
              <li> Some menu items moved, no more cache menu : options in the options menu, show history and show cache
                moved with Applications and Mimetypes.
              <li> Fixed 'Show HTML' setting not restored (by session management and local properties)
              <li> Fixed "renaming a link to a directory renamed the directory itself" (!)
              <li> Fixed another dangerous bug : moving something and having no right to write to the destination, the source was deleted anyway (if selecting "Continue")
              <li> Fixed red menu bar (for root) turning back to gray
              <li> Fixed device icon not updated when device mounted/unmounted (if icon in a kfm window)
              <li> (HTML widget) ; fixed displaying of entities missing trailing ';' (bad html)
              <li> Fixed crash on redirection to invalid URL
              <li> Fix for users setting $HOME with a trailing slash
              <li> Re-enable output of launched apps to be seen in the terminal (was a mis-guided attempt at fixing the security bug explained in the first item)
              <li> Removed debug output (as was done in the rest of KDE)
              <li> Fixed User-Agent handling problems.
              <li> Fixed some problems related to cookies.
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kikbd"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kikbd
          </td>
          <td  bgcolor="#6495ED"><i>Author: Alexander Budnik (maintained by C. Tibirna)</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan=3>
            <p>
            <ul>
              <li>The following keyboards were added: International English
                (all accented characters on a normal US keyboard),
                Icelandic, French Swiss, German Swiss, Dvorak, Croatian,
                Italian, Spanish-Latin American, Thai, Romanian,
                Portuguese, Portuguese with supplementary accents,
                Hellenic-Latin1, Hellenic-Latin7. Many
                thanks to the numerous willful contributors
              <li>The window creation event grab (which was buggy thus
                rendered kikbd unusual occasionally) is fixed now. Big
                big gratitude to Dimitrios Bouras for tracking down the
                bug and then fixing it.
              <li>added support for extended Compose key, necessary
                for a few complex key maps (like greek-latin7). Thanks
                to Dimitrios Bouras
              <li>occasional crash on Solaris caused by event handling
                problems is fixed
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kpanel"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kpanel
          </td>
          <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich and collab.</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>background pixmap automatically rotated 90 degrees when
                panel changes orientation
              <li>Panel clock is now more accurate and reliable
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kscreensaver"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kscreensaver
          </td>
          <td  bgcolor="#6495ED"><i>Author: Martin Jones and collab.</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>Area under password dialog redrawn/cleared to background color
              <li>Small screensaver window bug fixed
              <li>Detects large variation in time and resets timeout (e.g. APM suspends).
              <li>Screensaver does not lock if the mouse or keyboard has been grabbed.
              <li>Screensaver window will always stay on top.
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kvt"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kvt
          </td>
          <td  bgcolor="#6495ED"><i>Maintainer: Leon Widdershoven</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            Some bugs have been fixed, especially GUI related bugs. Since this program is being replaced by <em>konsole</em>, no
            new features have been added.
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kwm"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kwm
          </td>
          <td  bgcolor="#6495ED"><i>Author: Matthias Ettrich</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>manual placement now places the window under the mouse
                cursor and doesn't warp cursor anymore.
              <li>Bugfix for GTK 1.2.x windows pop up iconified (i.e. Gimp)
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kdelibs"></a>
  <tr class="table-row">
    <td align="center"  >
      kdelibs
    </td>
  </tr>
  <a id="kprocess"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kprocess
          </td>
          <td  bgcolor="#6495ED"><i>Author: Waldo Bastian</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>Sometimes the termination of a child process was missed: Fixed.
              <li>restore SIGPIPE handler in spawned child processes.
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kquickhelp"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kquickhelp
          </td>
          <td  bgcolor="#6495ED"><i>Author: Mario Weilguni</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>Fixed crash on HP-UX and NetBSD systems
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="mediatool library"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            mediatool library
          </td>
          <td  bgcolor="#6495ED"><i>Author: Christian Esken
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>Fixed a security problem - a temp race
                that allowed overwriting other users files.
                Thanks to
                <a href=mailto:typo@inferno.tusculum.edu>Paul Boehm</a> of the
                <a href="http://www.hert.org">HERT</a> group,
                who reported this issue to KDE.
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="khtmlw"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            khtmlw
          </td>
          <td  bgcolor="#6495ED"><i>Author: Martin Jones and Waldo Bastain</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>Various rendering improvements and bug fixes
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kdemultimedia"></a>
  <tr class="table-row">
    <td align="center"  >
      kdemultimedia
    </td>
  </tr>
  <a id="kmid"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kmid
          </td>
          <td  bgcolor="#6495ED"><i>Author: Antonio Larrosa</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li>Support for 2.2.x Linux kernels sound drivers
              <li>Fixes for a too high pitch of AWE cards
              <li>Some workarounds for compiler bugs
              <li>Better support for broken karaokes
              <li>Other bugfixes
              <li>Raised version to 1.7
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kmidi"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kmidi
          </td>
          <td  bgcolor="#6495ED"><i>Author: Bernd Wuebben</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <ul>
              <li>Bugfix for Prev and Next buttons (thanks to John Birch <jb.nz@writeme.com>)
              <li>
                Timidity fix from Martin Weghofer
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kscd"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kscd
          </td>
          <td  bgcolor="#6495ED"><i>Author: Bernd Wuebben</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <ul>
              <li>Fixed length of last title
              <li>SCO Openserver 5.0 and SONY CDU-76S support contributed by Dag Nygren <dag@newtech.fi>
              <li>Prevent crash if CDDB directory is empty (thanks to Petter Reinholdtsen)
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kdenetwork"></a>
  <tr class="table-row">
    <td align="center"  >
      kdenetwork
    </td>
  </tr>
  <a id="kmail"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kmail
          </td>
          <td  bgcolor="#6495ED"><i>Author: Stefan Taferner, Markus Wuebben</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>Changes since 1.1
            <p>
            <ul>
              <li> Displays number of unread messages in each folder (DS)
              <li> You can view image attachments inline (SR)
              <li> You can view (non-inline) attachments directly in kmail (for message, image,
                text and html types) (SR)
              <li> Encrypted pop password in config file (bug 884) (ST, from MR)
              <li> Enhanced interaction with kfm (JK)
              <li> Multipart/Alternative handling (not perfect, still) (SR)
              <li> Updated documentation (ST)
              <li> Improved readability when using a light text on dark background colour
                scheme (DS)
              <li> Improved return and arrow key navigation/completion in composer (SR)
              <li> HTML widget honours the selected font size (it uses it as base font size) (SR)
              <li> Context sensitive menus in message list and folder list. (bug 1016) (SR)
              <li>
                KMail removes Bcc header field before sending messages (and adding it afterwards). (ST)
                <p>Bugfixes since 1.1
                <p>
              <li> Inline html attachments: strip &lt;/body&gt; and &lt;/html&gt; from end of html attachment
                to allow optional further attachments to be displayed. (SR)
              <li> PGP memory leak fixed (WA)
              <li> Fixed broken composer: message bodies did not show up upon reply. (ST)
              <li> Fix against empty header fields (ST)
              <li> More robust behavior in case of disaster: Never send signal to pid 0 = don't
                crash whole KDE. (bug 1140) (SR)
              <li> Fixed Drag and Drop to folders (bugs  614, 1019 and 941) (DS)
              <li> Ignore any sub-directory found in Mail directory. (SR)
              <li> Use paths.h if found, and delete critical lock files with unlink. (SR, thanks to Harri P)
              <li> No more messages that stubbornly remain unread (bug 656) (DS)
              <li> Stopped the checking mail dialog from taking the focus. (DS)
              <li> Stopped the current message from getting scrolled to the top when (interval) mail
                checking fires. (DS)
              <li> Sort the current folder when new mail arrives, so that new mail isn't always
                appended to the end of the current folders message list window. (DS)
              <li> Bugfix against pgp-thinks-very-long-before-starting-bug (LK)
              <li> Fixed #179. KMail checks now if message is delivered to the folder
                before deleting it from the spool/pop server. (SR)
              <li> Added a semaphore to not start interval checking when already an interval check is running. (ST)
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kppp"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kppp
          </td>
          <td  bgcolor="#6495ED"><i>Author: Mario Weilguni, Harri Porten, Bernd Wuebben</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <p>
            <ul>
              <li> fixed helper process crash occurring when binaries were
                compiled with the NDEBUG switch (SuSE, Caldera).
              <li> fixed bug causing occasional "Timeout expired" errors
                (thanks to Ian Gordon).
              <li> solved alignment problems on Alpha architectures (thanks
                to Martin Ostermann).
              <li> improved parsing of modem data and therefore the detection
                of the connect rate.
              <li> support of pppd 2.3.6 and pppd 2.3.7.
              <li> `lock' in /etc/ppp/options will be ignored.
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kdeutils"></a>
  <tr class="table-row">
    <td align="center"  >
      kdeutils
    </td>
  </tr>
  <a id="kedit"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kedit
          </td>
          <td  bgcolor="#6495ED"><i>Author: Bernd Wuebben</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <ul>
              <li>Use "Save As..." on "Untitled" documents (was broken in
                non-English mode)
              <li>Fixed background colors of dialogs (thanks to Alex Hayward)
              <li>Fixed printing of documents with spaces in their file name
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="knotes"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            knotes
          </td>
          <td  bgcolor="#6495ED"><i>Author: Bernd Wuebben</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <ul>
              <li>fixed crashes and possible data loss
              <li>docking is optional
              <li>fixed session management
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="kpm"</a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>Update</I></td>
          <td  bgcolor="#6495ED" >
            kpm
          </td>
          <td  bgcolor="#6495ED"><i>Author: Mario Weilguni</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            <ul>
              <li>It's again possible to dock it into panel
              <li>Fix crash when using Linux >= 2.2.2
              <li>Fix for showing wrong values for process time sometimes
              <li>Fix for crash when right-clicking into window
            </ul>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <a id="ktop"></a>
  <tr class="table-row">
    <td>
      <table class="tables"  >
        <tr class="table-row">
          <td  bgcolor="#6495ED" ><I>New</I></td>
          <td  bgcolor="#6495ED" >
            ktop
          </td>
          <td  bgcolor="#6495ED"><i>Author: collective, Chris Schlaeger</i></td>
        </tr>
        <tr class="table-row">
          <td align=left valign=center colspan="3">
            KTop is the new KDE Task Manager. It displays the processes running on
            a computer in list and tree form. Processes can be killed and various
            other signals can be send. It also features a processor load and
            memory usage graph. On Linux SMP systems a load graph will be
            displayed for each processor.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

