<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/amor-14.12.2.tar.xz">amor-14.12.2</a></td>
   <td align="right">171kB</td>
   <td><tt>65a9a095ebc78160c09af3be58fc6e97c5ae0d5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/analitza-14.12.2.tar.xz">analitza-14.12.2</a></td>
   <td align="right">222kB</td>
   <td><tt>fc185ce857e28e99ebd1eccbbb3f6a69a74acea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ark-14.12.2.tar.xz">ark-14.12.2</a></td>
   <td align="right">232kB</td>
   <td><tt>a027bb9ce7eaa513a8349f9eced8b9f43d38c4a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/artikulate-14.12.2.tar.xz">artikulate-14.12.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>00115f64f80510109b4a1eb99fba081522edb207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/audiocd-kio-14.12.2.tar.xz">audiocd-kio-14.12.2</a></td>
   <td align="right">50kB</td>
   <td><tt>ed5ce7d99a2a3cc7e27e1fdc9aa450bbd5ad6d26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/blinken-14.12.2.tar.xz">blinken-14.12.2</a></td>
   <td align="right">552kB</td>
   <td><tt>0cbeb58cbb21ef1d290687c296155f83054d4c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/bomber-14.12.2.tar.xz">bomber-14.12.2</a></td>
   <td align="right">382kB</td>
   <td><tt>9d8efcad4f75eb326b4805f513361ca3e0869519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/bovo-14.12.2.tar.xz">bovo-14.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>9a17756f5e4d85738a1da5b048902ee1bfbd7791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/cantor-14.12.2.tar.xz">cantor-14.12.2</a></td>
   <td align="right">335kB</td>
   <td><tt>b6c5f42625b3ab84e573a94a84237f6291da3e0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/cervisia-14.12.2.tar.xz">cervisia-14.12.2</a></td>
   <td align="right">364kB</td>
   <td><tt>fd33109505698e6fabb9b0919e33af5ffba111cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/dolphin-plugins-14.12.2.tar.xz">dolphin-plugins-14.12.2</a></td>
   <td align="right">57kB</td>
   <td><tt>ff4719f288cdd75f666658a798c30bce9f8e0272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/dragon-14.12.2.tar.xz">dragon-14.12.2</a></td>
   <td align="right">388kB</td>
   <td><tt>107d30da158b070e147923342b7db5dc107aa31e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ffmpegthumbs-14.12.2.tar.xz">ffmpegthumbs-14.12.2</a></td>
   <td align="right">19kB</td>
   <td><tt>8dd3058e4fb7d70e95d2da0b29d42d59844d87b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/filelight-14.12.2.tar.xz">filelight-14.12.2</a></td>
   <td align="right">280kB</td>
   <td><tt>7de21cb2537d11342f6b69be38f063b84b895892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/granatier-14.12.2.tar.xz">granatier-14.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3e276a74c1af29f043ef2c6bcb4d3701e00a6ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/gwenview-14.12.2.tar.xz">gwenview-14.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9a5168ed2ad47ed77e178c501c006a2f71403cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/jovie-14.12.2.tar.xz">jovie-14.12.2</a></td>
   <td align="right">370kB</td>
   <td><tt>cab93b6bf7e15f75dad1d7164cb279d646b31124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/juk-14.12.2.tar.xz">juk-14.12.2</a></td>
   <td align="right">431kB</td>
   <td><tt>73e317f8bed7c6849957170f9d490a006aa7b568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kaccessible-14.12.2.tar.xz">kaccessible-14.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>e9b9ca80139a5a3b726cd166d7f6ad1907aaf3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kajongg-14.12.2.tar.xz">kajongg-14.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2bb8b39d2a640783788f07057dff8f949996b7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kalgebra-14.12.2.tar.xz">kalgebra-14.12.2</a></td>
   <td align="right">263kB</td>
   <td><tt>b33643332848fc1a77f9750cf2a4974a77ee5f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kalzium-14.12.2.tar.xz">kalzium-14.12.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>38d94f89601f3aa572db6e76916fbf72daa7853b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kamera-14.12.2.tar.xz">kamera-14.12.2</a></td>
   <td align="right">34kB</td>
   <td><tt>3cda2dba9e51c2780a3d85fa92755bbc8e28e9d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kanagram-14.12.2.tar.xz">kanagram-14.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>b37523bd76cd0dbe4ee7669e6ad02e5ccdaf718f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kapman-14.12.2.tar.xz">kapman-14.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>53cf9fb1a94941ed2da70788fc4df1b5d44d3db9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kapptemplate-14.12.2.tar.xz">kapptemplate-14.12.2</a></td>
   <td align="right">719kB</td>
   <td><tt>4c1df9417cfa8e4917de88356a0f87093573538b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kate-14.12.2.tar.xz">kate-14.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bc3a5b1213fbe96756261daadf9ff8f94e74fd9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/katomic-14.12.2.tar.xz">katomic-14.12.2</a></td>
   <td align="right">643kB</td>
   <td><tt>058a557d4959a55926c52305ac223583af01679d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kblackbox-14.12.2.tar.xz">kblackbox-14.12.2</a></td>
   <td align="right">251kB</td>
   <td><tt>48d3f82cad126d9dad01aa1eaa05e80b0a640ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kblocks-14.12.2.tar.xz">kblocks-14.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>83daeb970ba965f818004f5603bda2353a50feaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kbounce-14.12.2.tar.xz">kbounce-14.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>13321569c9c1f58d52f51b5194a6caa4894a3c0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kbreakout-14.12.2.tar.xz">kbreakout-14.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7fd0ad41983242e035b18a5143b6a31199466852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kbruch-14.12.2.tar.xz">kbruch-14.12.2</a></td>
   <td align="right">882kB</td>
   <td><tt>ceb44303a451a59613026e02114baa23a75b5bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kcachegrind-14.12.2.tar.xz">kcachegrind-14.12.2</a></td>
   <td align="right">230kB</td>
   <td><tt>b55a2d409d1362e7e7a43da1ee001d132d4af3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kcalc-14.12.2.tar.xz">kcalc-14.12.2</a></td>
   <td align="right">80kB</td>
   <td><tt>469f17eac83665821227e2602a11b1acb28dac2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kcharselect-14.12.2.tar.xz">kcharselect-14.12.2</a></td>
   <td align="right">82kB</td>
   <td><tt>bbcffd733c63c9177b1c45c4bda89e974c571489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kcolorchooser-14.12.2.tar.xz">kcolorchooser-14.12.2</a></td>
   <td align="right">4kB</td>
   <td><tt>fcd63a02b3be8f6488198aa65c5b1a76511d6174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kcron-14.12.2.tar.xz">kcron-14.12.2</a></td>
   <td align="right">170kB</td>
   <td><tt>1c4218a117717dd66de4158e5dbe4395204b2b3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdeartwork-14.12.2.tar.xz">kdeartwork-14.12.2</a></td>
   <td align="right">134MB</td>
   <td><tt>b1638af68d1034b1ddee312a5038f4a09be41650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-baseapps-14.12.2.tar.xz">kde-baseapps-14.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>62e1d92623d13e97eed086c79b9765627fbefd8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-base-artwork-14.12.2.tar.xz">kde-base-artwork-14.12.2</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c7a80b530754e1601acf60cf04ca19001b5b6548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-dev-scripts-14.12.2.tar.xz">kde-dev-scripts-14.12.2</a></td>
   <td align="right">296kB</td>
   <td><tt>67f937f562ef860e4d010dac709b9692590f0b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-dev-utils-14.12.2.tar.xz">kde-dev-utils-14.12.2</a></td>
   <td align="right">50kB</td>
   <td><tt>37038d621017312a62886f18a36acdbebc2abc5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdeedu-data-14.12.2.tar.xz">kdeedu-data-14.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>833e1c1c453633fa39b401fb6a6b70336114ae4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdegraphics-mobipocket-14.12.2.tar.xz">kdegraphics-mobipocket-14.12.2</a></td>
   <td align="right">14kB</td>
   <td><tt>aed385a0a7cb8f103d72bc36704f7f7b54b07ccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdegraphics-strigi-analyzer-14.12.2.tar.xz">kdegraphics-strigi-analyzer-14.12.2</a></td>
   <td align="right">39kB</td>
   <td><tt>a4fa1a1069bb4639aa23ef0020771d55b3cc85a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdegraphics-thumbnailers-14.12.2.tar.xz">kdegraphics-thumbnailers-14.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>2e43e2a77e4062fe28a3eed854230e225d186236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdelibs-4.14.5.tar.xz">kdelibs-4.14.5</a></td>
   <td align="right">11MB</td>
   <td><tt>92e4b13e41f946de0d647331f31ad83f4921c99a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdenetwork-filesharing-14.12.2.tar.xz">kdenetwork-filesharing-14.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>385915e422c1aba97649a656b84a663f9f0d637d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdenetwork-strigi-analyzers-14.12.2.tar.xz">kdenetwork-strigi-analyzers-14.12.2</a></td>
   <td align="right">14kB</td>
   <td><tt>1387df0e36cfb4faadc8ac89920f5e9e9f81c291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdepim-4.14.5.tar.xz">kdepim-4.14.5</a></td>
   <td align="right">13MB</td>
   <td><tt>36a48f9483982bde79ade85f150983a44002866d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdepimlibs-4.14.5.tar.xz">kdepimlibs-4.14.5</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fd58e88d348bd42366c1b84103a7f57883b5ef75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdepim-runtime-4.14.5.tar.xz">kdepim-runtime-4.14.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>1a99ed02330e45950249debfed599416cbd49c0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-runtime-14.12.2.tar.xz">kde-runtime-14.12.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>96811840cb04a879109739f3df4f8075fb876ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdesdk-kioslaves-14.12.2.tar.xz">kdesdk-kioslaves-14.12.2</a></td>
   <td align="right">352kB</td>
   <td><tt>208b4a68117bd691526cb3d1c283d203344c5196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdesdk-strigi-analyzers-14.12.2.tar.xz">kdesdk-strigi-analyzers-14.12.2</a></td>
   <td align="right">17kB</td>
   <td><tt>8e49fee8783a488f0bfbc9421c451e3539241c59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdesdk-thumbnailers-14.12.2.tar.xz">kdesdk-thumbnailers-14.12.2</a></td>
   <td align="right">11kB</td>
   <td><tt>75754045b4cbe5e7bbfc34984051484748d4940b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-wallpapers-14.12.2.tar.xz">kde-wallpapers-14.12.2</a></td>
   <td align="right">86MB</td>
   <td><tt>d976630f643d00279c201f45b0c89f59e914d118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdewebdev-14.12.2.tar.xz">kdewebdev-14.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6ccaca3a31dbff4ea135bfa210f80bdc18c7d19d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-workspace-4.11.16.tar.xz">kde-workspace-4.11.16</a></td>
   <td align="right">12MB</td>
   <td><tt>329561bc68372c654c30f386cc1e232cf5b6622f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdf-14.12.2.tar.xz">kdf-14.12.2</a></td>
   <td align="right">145kB</td>
   <td><tt>5492d3f3439af70d13187175e5381fc50cbc1dfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kdiamond-14.12.2.tar.xz">kdiamond-14.12.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>bd20198724eab76946aa8530851de5c5d52c12c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kfloppy-14.12.2.tar.xz">kfloppy-14.12.2</a></td>
   <td align="right">52kB</td>
   <td><tt>d98bbf29f92100b6afae22dae12ea8e6533e9d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kfourinline-14.12.2.tar.xz">kfourinline-14.12.2</a></td>
   <td align="right">276kB</td>
   <td><tt>7016475c7adb0a166b796f704b35cb44fc5314da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kgamma-14.12.2.tar.xz">kgamma-14.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>8092324ac07e721e2b9f89300169ccaa96db573a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kgeography-14.12.2.tar.xz">kgeography-14.12.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>2a18b71140a149ae981f864588a7d8c8a24d8ada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kget-14.12.2.tar.xz">kget-14.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e9f229850f9d5fd0f1944f516f58c560c8eabade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kgoldrunner-14.12.2.tar.xz">kgoldrunner-14.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2ed0d617da1e1e022a9a2df16cd41104f8ad05ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kgpg-14.12.2.tar.xz">kgpg-14.12.2</a></td>
   <td align="right">790kB</td>
   <td><tt>9463d2e14ea4fa173c9dcaa4038c8cb7f0b83569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/khangman-14.12.2.tar.xz">khangman-14.12.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>5cf3699efb2c46a9873fba8f590823ad6d68b287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kig-14.12.2.tar.xz">kig-14.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d0ae7fd3c0153b3d3bcf7ab142994f51b314b72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kigo-14.12.2.tar.xz">kigo-14.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1e185eec9a5f9f1770fc9c12dc64cad7be68bd76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/killbots-14.12.2.tar.xz">killbots-14.12.2</a></td>
   <td align="right">940kB</td>
   <td><tt>3cb23cacc32ea9cef22a2077194abc62a3f2dfaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kiriki-14.12.2.tar.xz">kiriki-14.12.2</a></td>
   <td align="right">114kB</td>
   <td><tt>f35194f9459195e79bdac19ba325a9bf75db16b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kiten-14.12.2.tar.xz">kiten-14.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>7e8a62f158692dcd332e7a64f9729aba8d2a564d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kjumpingcube-14.12.2.tar.xz">kjumpingcube-14.12.2</a></td>
   <td align="right">161kB</td>
   <td><tt>6774e2d75a370b9dff43e61d09952c5f27c4dfac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/klettres-14.12.2.tar.xz">klettres-14.12.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8de244e0c2834b7ffc2017a16d2a78e510f1da95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/klickety-14.12.2.tar.xz">klickety-14.12.2</a></td>
   <td align="right">765kB</td>
   <td><tt>d3c9b446a2ada2ce044cfce207c0fd6a8d1d24f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/klines-14.12.2.tar.xz">klines-14.12.2</a></td>
   <td align="right">927kB</td>
   <td><tt>276ced7802b1b8b364179a2f49ddcb11523ea998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kmag-14.12.2.tar.xz">kmag-14.12.2</a></td>
   <td align="right">84kB</td>
   <td><tt>ed25dbc8d9d1962536b8f33d5b65ecd7e2299970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kmahjongg-14.12.2.tar.xz">kmahjongg-14.12.2</a></td>
   <td align="right">984kB</td>
   <td><tt>d724e5699e554d6a425e769e82189eb773cc13c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kmines-14.12.2.tar.xz">kmines-14.12.2</a></td>
   <td align="right">613kB</td>
   <td><tt>eec654f474e5e417d39f7aff222502659fd6fe56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kmix-14.12.2.tar.xz">kmix-14.12.2</a></td>
   <td align="right">377kB</td>
   <td><tt>4eaf482dafe9a4603e29eb1f770e4696dd457ddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kmousetool-14.12.2.tar.xz">kmousetool-14.12.2</a></td>
   <td align="right">34kB</td>
   <td><tt>2cdc5d57348aac4fbb323219da330b754e895983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kmouth-14.12.2.tar.xz">kmouth-14.12.2</a></td>
   <td align="right">301kB</td>
   <td><tt>de2ac4c805cc34351a5c8e40d64994d6486a21e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kmplot-14.12.2.tar.xz">kmplot-14.12.2</a></td>
   <td align="right">644kB</td>
   <td><tt>b36a372c9e82218b8875849bfb39cf50e5bbc835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/knavalbattle-14.12.2.tar.xz">knavalbattle-14.12.2</a></td>
   <td align="right">834kB</td>
   <td><tt>cabdbe18fc20a6ee74c6182d4b7b6123180c01c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/knetwalk-14.12.2.tar.xz">knetwalk-14.12.2</a></td>
   <td align="right">763kB</td>
   <td><tt>893219e1197297e1223017f7138a0cde4fd98448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kolf-14.12.2.tar.xz">kolf-14.12.2</a></td>
   <td align="right">751kB</td>
   <td><tt>c17765a7b5eebba54e09478812d6e96f09767480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kollision-14.12.2.tar.xz">kollision-14.12.2</a></td>
   <td align="right">202kB</td>
   <td><tt>2bed25334a1bfa443073e6b7532fc62e89818da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kolourpaint-14.12.2.tar.xz">kolourpaint-14.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3f941cd978c8fcbcb75d1bb257aee3177d43d4ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kompare-14.12.2.tar.xz">kompare-14.12.2</a></td>
   <td align="right">336kB</td>
   <td><tt>0c582387e610388acb8b005b7a700eff170238e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/konquest-14.12.2.tar.xz">konquest-14.12.2</a></td>
   <td align="right">396kB</td>
   <td><tt>b33842b68380caf855cc7917c485f74edcf177b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/konsole-14.12.2.tar.xz">konsole-14.12.2</a></td>
   <td align="right">448kB</td>
   <td><tt>c77ccd42f18aab672061e3e75b72458a6be5a280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kopete-14.12.2.tar.xz">kopete-14.12.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c8cfff62cfda2575f0dfeb1bc7248ebcece7092a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kpat-14.12.2.tar.xz">kpat-14.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>85a4606357c6747da4b997935da2e42693a409a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kppp-14.12.2.tar.xz">kppp-14.12.2</a></td>
   <td align="right">683kB</td>
   <td><tt>1341ad5e779add3f417a917e1cba409c36ba73d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kqtquickcharts-14.12.2.tar.xz">kqtquickcharts-14.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>5a21d3070c2b8973483b6418b7b6a787a4e8f96a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/krdc-14.12.2.tar.xz">krdc-14.12.2</a></td>
   <td align="right">389kB</td>
   <td><tt>eedf80476e324b80f31e1c0754046f58ff444230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kremotecontrol-14.12.2.tar.xz">kremotecontrol-14.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4f97bacfc3cf857ce9a6694012bdb51f00607349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kreversi-14.12.2.tar.xz">kreversi-14.12.2</a></td>
   <td align="right">464kB</td>
   <td><tt>4767bb488d8997eb9024026bedb78f33e1430c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/krfb-14.12.2.tar.xz">krfb-14.12.2</a></td>
   <td align="right">319kB</td>
   <td><tt>f8016d00450ed29ea4f8c41f7ede0e8107dafc14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kruler-14.12.2.tar.xz">kruler-14.12.2</a></td>
   <td align="right">125kB</td>
   <td><tt>2865f6f86f2e8b8d13f02dc965a89b054944ee34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ksaneplugin-14.12.2.tar.xz">ksaneplugin-14.12.2</a></td>
   <td align="right">12kB</td>
   <td><tt>a8dd5a8a210b9ac0310f5cdb064feedb42344e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kscd-14.12.2.tar.xz">kscd-14.12.2</a></td>
   <td align="right">90kB</td>
   <td><tt>7a8bd21c239da0603f436dcda1378e33f33da83d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kshisen-14.12.2.tar.xz">kshisen-14.12.2</a></td>
   <td align="right">133kB</td>
   <td><tt>97f6e97f711a2ce63fb2d7b16d5cbf15331411e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ksirk-14.12.2.tar.xz">ksirk-14.12.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f487bbd48e6ac7abfe3714b2ef2e555730d504df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ksnakeduel-14.12.2.tar.xz">ksnakeduel-14.12.2</a></td>
   <td align="right">312kB</td>
   <td><tt>b15a31ed647d52a7ef54359cf2af96f20fbe75e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ksnapshot-14.12.2.tar.xz">ksnapshot-14.12.2</a></td>
   <td align="right">252kB</td>
   <td><tt>91031e7abb715765a7dbb7161df3d63fb5a312f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kspaceduel-14.12.2.tar.xz">kspaceduel-14.12.2</a></td>
   <td align="right">247kB</td>
   <td><tt>92980bc92974894a37e0a7f5bace5cedc14739cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ksquares-14.12.2.tar.xz">ksquares-14.12.2</a></td>
   <td align="right">78kB</td>
   <td><tt>89961f4e6b66aa347bd91c2de46bf7a48c769a45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kstars-14.12.2.tar.xz">kstars-14.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>1a103faf5a799f7e791f4dbc3f1641829241af0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ksudoku-14.12.2.tar.xz">ksudoku-14.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>782fb3d1f4ca9c6e8136b12c84222bc11fe1e118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ksystemlog-14.12.2.tar.xz">ksystemlog-14.12.2</a></td>
   <td align="right">372kB</td>
   <td><tt>dfa7a7ed6e2e51fc90264d1a18c2a2dcc4fa5fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kteatime-14.12.2.tar.xz">kteatime-14.12.2</a></td>
   <td align="right">98kB</td>
   <td><tt>48f2813028866ec8626f5a4172638446337ef348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ktimer-14.12.2.tar.xz">ktimer-14.12.2</a></td>
   <td align="right">143kB</td>
   <td><tt>2bef52a8b84a1a35a18a4bb5dc274ee576ff5dff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ktouch-14.12.2.tar.xz">ktouch-14.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>297610e2621b6d7eb3af69ef22148c198ab97208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ktuberling-14.12.2.tar.xz">ktuberling-14.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>8f9694ba28032b2909b7bed627dcffc513d6818d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kturtle-14.12.2.tar.xz">kturtle-14.12.2</a></td>
   <td align="right">188kB</td>
   <td><tt>292d9c6afe47ae3339be462e305ab98d2c61c302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/ktux-14.12.2.tar.xz">ktux-14.12.2</a></td>
   <td align="right">105kB</td>
   <td><tt>5de07b32f6d70d093659a2f1dce0c23d893896ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kubrick-14.12.2.tar.xz">kubrick-14.12.2</a></td>
   <td align="right">104kB</td>
   <td><tt>5d9359a8c8f3789da8532424756529a7e6cfca19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kuser-14.12.2.tar.xz">kuser-14.12.2</a></td>
   <td align="right">132kB</td>
   <td><tt>6e2a0818d962a3fcffc93d1d0ec370d152a13547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kwalletmanager-14.12.2.tar.xz">kwalletmanager-14.12.2</a></td>
   <td align="right">446kB</td>
   <td><tt>a274707c64f464d017bac7b0f9fd478b656c2a71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kwordquiz-14.12.2.tar.xz">kwordquiz-14.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>25bf6846709d77a6e5c44e21dd619bc02e24be9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkcddb-14.12.2.tar.xz">libkcddb-14.12.2</a></td>
   <td align="right">154kB</td>
   <td><tt>7fdf902c80d3a721ee739c909aa862ce3d13e744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkcompactdisc-14.12.2.tar.xz">libkcompactdisc-14.12.2</a></td>
   <td align="right">74kB</td>
   <td><tt>e1b57c11de64e822e611feec8110e48b19410ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkdcraw-14.12.2.tar.xz">libkdcraw-14.12.2</a></td>
   <td align="right">100kB</td>
   <td><tt>17d5edcc698e2a43954e25671d45060ab796c8d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkdeedu-14.12.2.tar.xz">libkdeedu-14.12.2</a></td>
   <td align="right">128kB</td>
   <td><tt>6da63310ff1267a063c96dba36186c17c5aae755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkdegames-14.12.2.tar.xz">libkdegames-14.12.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>4c7d0fde333ebccd12134491d8577652cea9b436</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkeduvocdocument-14.12.2.tar.xz">libkeduvocdocument-14.12.2</a></td>
   <td align="right">96kB</td>
   <td><tt>9acc552f3ed6b4046fbacd8403ffe5d62f99fd23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkexiv2-14.12.2.tar.xz">libkexiv2-14.12.2</a></td>
   <td align="right">134kB</td>
   <td><tt>164821c5632e3003a20b5f754cdf74f038812c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkface-14.12.2.tar.xz">libkface-14.12.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>84615f07d000a3ccdf57ec63012596ca1967a63d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkipi-14.12.2.tar.xz">libkipi-14.12.2</a></td>
   <td align="right">93kB</td>
   <td><tt>ace7c92676a3c8d5ba278341aa11f5ef4f2d5bbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkmahjongg-14.12.2.tar.xz">libkmahjongg-14.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>339da07c5f97ec29e0ef7d28e4a731506c5ca4f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libkomparediff2-14.12.2.tar.xz">libkomparediff2-14.12.2</a></td>
   <td align="right">55kB</td>
   <td><tt>123a60220c49b99c099640d92268cc031fb02465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/libksane-14.12.2.tar.xz">libksane-14.12.2</a></td>
   <td align="right">79kB</td>
   <td><tt>d618811c0b71bc373e7b3d9df799ac85160bbc54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/lokalize-14.12.2.tar.xz">lokalize-14.12.2</a></td>
   <td align="right">826kB</td>
   <td><tt>951d895cf8fd69bce7cbe7c040a361c91f78012a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/lskat-14.12.2.tar.xz">lskat-14.12.2</a></td>
   <td align="right">908kB</td>
   <td><tt>239012906555a9b9af1b8ae2a28ce1d9618ba799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/marble-14.12.2.tar.xz">marble-14.12.2</a></td>
   <td align="right">18MB</td>
   <td><tt>712f1ef2fba8739da1c51e4fb884437e7166b3d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/mplayerthumbs-14.12.2.tar.xz">mplayerthumbs-14.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>5532a879b8911ab073b7ef5b1405cf0d8e943df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/okteta-14.12.2.tar.xz">okteta-14.12.2</a></td>
   <td align="right">490kB</td>
   <td><tt>d40cb092e622ed0f31303229737782b26c57f434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/okular-14.12.2.tar.xz">okular-14.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>259cb81a66431415c1b01c4ea9ca4ca071342cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/oxygen-icons-14.12.2.tar.xz">oxygen-icons-14.12.2</a></td>
   <td align="right">219MB</td>
   <td><tt>048417ffa951f9dd881662152d4f14f66e2b9ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/pairs-14.12.2.tar.xz">pairs-14.12.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>c1a184cc4f496c2513becac78a4b57a6043498ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/palapeli-14.12.2.tar.xz">palapeli-14.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6eb8785bc4c46bcac886dc9c7cb7e6015466e671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/parley-14.12.2.tar.xz">parley-14.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>f83b920c26a6b4477afa467f97e74e6310ba66d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/picmi-14.12.2.tar.xz">picmi-14.12.2</a></td>
   <td align="right">714kB</td>
   <td><tt>7e34669ca596f440cd38874b57852259b5389732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/poxml-14.12.2.tar.xz">poxml-14.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>93842f65788cf225451a8e9ab0e8b0b87835ce8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/print-manager-14.12.2.tar.xz">print-manager-14.12.2</a></td>
   <td align="right">90kB</td>
   <td><tt>b5f86cc52a31fb90396f6a80e9b5a168ebccf6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/rocs-14.12.2.tar.xz">rocs-14.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>771287e6597ed0f61f9be4b9dc8e9ed980662c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/step-14.12.2.tar.xz">step-14.12.2</a></td>
   <td align="right">373kB</td>
   <td><tt>cd57eecd1a6b957f545fb8254b52a79daa507dea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/superkaramba-14.12.2.tar.xz">superkaramba-14.12.2</a></td>
   <td align="right">372kB</td>
   <td><tt>ab03ee81adc13fd60661256dfd7e20e759a26fd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/svgpart-14.12.2.tar.xz">svgpart-14.12.2</a></td>
   <td align="right">8kB</td>
   <td><tt>f5c3bab471df733c0a1d3d65fdaf8feb881be219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/sweeper-14.12.2.tar.xz">sweeper-14.12.2</a></td>
   <td align="right">80kB</td>
   <td><tt>68f4b28a5f25c643aa228e1e3107495841d0ee59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/umbrello-14.12.2.tar.xz">umbrello-14.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f9d129e48ab733d2390020935f6bc1f5bc586709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/zeroconf-ioslave-14.12.2.tar.xz">zeroconf-ioslave-14.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>e28c2b8d81652e607edb105263159b364c333821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ar-14.12.2.tar.xz">kde-l10n-ar-14.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>e6e880a531eb8474f459f8f17f080a4bba94cd12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-bg-14.12.2.tar.xz">kde-l10n-bg-14.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>55446e404e4d7d29881150b87147c31dbb12d3c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-bs-14.12.2.tar.xz">kde-l10n-bs-14.12.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>8373a2a046860a73761428f9f3da7bcbc6c068f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ca-14.12.2.tar.xz">kde-l10n-ca-14.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>e597d347aeb44129111ee458ab7e715415597d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ca@valencia-14.12.2.tar.xz">kde-l10n-ca@valencia-14.12.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3374d1dc59127de9c5c22f2f7c6145187339ded7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-cs-14.12.2.tar.xz">kde-l10n-cs-14.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>0ae4925a6871ec8afc3af9ace191461efc31b060</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-da-14.12.2.tar.xz">kde-l10n-da-14.12.2</a></td>
   <td align="right">12MB</td>
   <td><tt>93600b4068b9fed5d8ef8b651b4b2e834bc2f4be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-de-14.12.2.tar.xz">kde-l10n-de-14.12.2</a></td>
   <td align="right">34MB</td>
   <td><tt>89fbeffa18193da453eab164270ec89eb1ca9bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-el-14.12.2.tar.xz">kde-l10n-el-14.12.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>1977e838dfcffe0f368cd7d6c64ff2b7858e21c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-en_GB-14.12.2.tar.xz">kde-l10n-en_GB-14.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1b52c1ae809eb417c9e67574dde6d87462cdb9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-es-14.12.2.tar.xz">kde-l10n-es-14.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>00ebf587017f309dfa92c90006ba3499ef735a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-et-14.12.2.tar.xz">kde-l10n-et-14.12.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>2c44b627af2d146b8abb3f8cc93843222f616474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-eu-14.12.2.tar.xz">kde-l10n-eu-14.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d518c0bbc14b6a9d076d8ca61c20ded077bc40d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-fa-14.12.2.tar.xz">kde-l10n-fa-14.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>482bbdf0c23fa487c06dd3b0132346550a049497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-fi-14.12.2.tar.xz">kde-l10n-fi-14.12.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>06a3b1bef805140362442965a9b5bcd376dcfc95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-fr-14.12.2.tar.xz">kde-l10n-fr-14.12.2</a></td>
   <td align="right">44MB</td>
   <td><tt>421fb68286d78303d64b74363d1a98779d601fe0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ga-14.12.2.tar.xz">kde-l10n-ga-14.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5fc150ceea605716cf4eccb84e7d1d02b9b5ebf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-gl-14.12.2.tar.xz">kde-l10n-gl-14.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e64a4a4af7e2d305880e5efc90cc1f77dd5e2d99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-he-14.12.2.tar.xz">kde-l10n-he-14.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>331761ca94e0c913c28fa230654da813c74899d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-hi-14.12.2.tar.xz">kde-l10n-hi-14.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ddaccbf9a1765135e93f2124c8d1f5baf91d0646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-hr-14.12.2.tar.xz">kde-l10n-hr-14.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e74233d69d9e386f2d42012b904bddd622af2755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-hu-14.12.2.tar.xz">kde-l10n-hu-14.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>bb137485e2bfe130fe1c011d22ba1918e25cfbfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ia-14.12.2.tar.xz">kde-l10n-ia-14.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8873b734afe77e6978ba9b800655fc8d65ef938a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-id-14.12.2.tar.xz">kde-l10n-id-14.12.2</a></td>
   <td align="right">518kB</td>
   <td><tt>610cc70f80ae11edf1ba25350e8adfbf3e11a358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-is-14.12.2.tar.xz">kde-l10n-is-14.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>96fc489f98b062d2d2cfb2fa6fa45edaa3143f27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-it-14.12.2.tar.xz">kde-l10n-it-14.12.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>8b5f52aa232478ee36477b6e02c676337d620826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ja-14.12.2.tar.xz">kde-l10n-ja-14.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>566bd4f4294ee865fb8d1a62f9e6eb409b3c9a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-kk-14.12.2.tar.xz">kde-l10n-kk-14.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>efd7d321bccf1037a1195828b3b311fc326ba170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-km-14.12.2.tar.xz">kde-l10n-km-14.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>f651ea373e4a5a014e644dad3c734f398fcfabdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ko-14.12.2.tar.xz">kde-l10n-ko-14.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>92ee48f4a7c3785f5d2a4c65e1bb50284509448c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-lt-14.12.2.tar.xz">kde-l10n-lt-14.12.2</a></td>
   <td align="right">12MB</td>
   <td><tt>dec81b00113485b405b5e5e9f928f87dd1cff859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-lv-14.12.2.tar.xz">kde-l10n-lv-14.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a29b5365710d890d91193a3ae77154c7bd2697a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-mr-14.12.2.tar.xz">kde-l10n-mr-14.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1e26483f70a9726fc98ff5ab9eaf99c0777b890f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-nb-14.12.2.tar.xz">kde-l10n-nb-14.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>86f66b265237ed98f3b157943fe3c4ef459f0fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-nds-14.12.2.tar.xz">kde-l10n-nds-14.12.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>c059d2318d8c60868efdc528c910fb4f125f7612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-nl-14.12.2.tar.xz">kde-l10n-nl-14.12.2</a></td>
   <td align="right">13MB</td>
   <td><tt>e057219d88c6beda2bcf5dfd8e97b3b2c8078724</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-nn-14.12.2.tar.xz">kde-l10n-nn-14.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>b347f534774e809c5c12c67aa40cfb1f7a6cbdd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-pa-14.12.2.tar.xz">kde-l10n-pa-14.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>855fd9ba568bf967ac97edce801d7895a977ba74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-pl-14.12.2.tar.xz">kde-l10n-pl-14.12.2</a></td>
   <td align="right">18MB</td>
   <td><tt>aeffafcc7d67d73eee29eb695cddc21349b33fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-pt-14.12.2.tar.xz">kde-l10n-pt-14.12.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>72a6880d35cdfa4387b2cef78de6bf46842b1965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-pt_BR-14.12.2.tar.xz">kde-l10n-pt_BR-14.12.2</a></td>
   <td align="right">23MB</td>
   <td><tt>e8516272d5a29cb485698b4eca89ead3a90e2cdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ro-14.12.2.tar.xz">kde-l10n-ro-14.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>db67e9eade7af6f1af4e55cab5c3e6521d6b6823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ru-14.12.2.tar.xz">kde-l10n-ru-14.12.2</a></td>
   <td align="right">22MB</td>
   <td><tt>24201477c05861c5a1b21f5b72d8b918e6e5a0c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-sk-14.12.2.tar.xz">kde-l10n-sk-14.12.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>021d9ece1e421aeaa7bb5e99ade00313bda58b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-sl-14.12.2.tar.xz">kde-l10n-sl-14.12.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>6c5c02445d408d50e6f038c89960af35754e0fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-sr-14.12.2.tar.xz">kde-l10n-sr-14.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>a75bb2f93ffcff5bb8ba1a8e134c310924d44809</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-sv-14.12.2.tar.xz">kde-l10n-sv-14.12.2</a></td>
   <td align="right">13MB</td>
   <td><tt>0936be6d907b401a344a6e734a1f7c658da45255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-tr-14.12.2.tar.xz">kde-l10n-tr-14.12.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>e2aff807f46bc219e56f9833b4dbebcd4ab632d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-ug-14.12.2.tar.xz">kde-l10n-ug-14.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>71c57e12ae41e101e4f2e64282b89344c0c639dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-uk-14.12.2.tar.xz">kde-l10n-uk-14.12.2</a></td>
   <td align="right">25MB</td>
   <td><tt>562441fc47a2c0dea5aefdcd42a3868e08c96d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-wa-14.12.2.tar.xz">kde-l10n-wa-14.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d00d490261e1681e309ef7fc1e8dab2aedd80466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-zh_CN-14.12.2.tar.xz">kde-l10n-zh_CN-14.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>8b1de342ce45f3372d7730489332c0d8dc99224b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/14.12.2/src/kde-l10n/kde-l10n-zh_TW-14.12.2.tar.xz">kde-l10n-zh_TW-14.12.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>c6b46172f4445cc0e606ba50c7bd8ea16789e360</tt></td>
</tr>

</table>
