<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/amor-15.03.97.tar.xz">amor-15.03.97</a></td>
   <td align="right">171kB</td>
   <td><tt>c44d2608aec4e874cce6b44aeb503dc4ae880ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/analitza-15.03.97.tar.xz">analitza-15.03.97</a></td>
   <td align="right">222kB</td>
   <td><tt>936479a76fe4f95977d714434394fa0b75d31062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ark-15.03.97.tar.xz">ark-15.03.97</a></td>
   <td align="right">232kB</td>
   <td><tt>dbf573cf4e7666a969aa56d481331e0eac4711b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/artikulate-15.03.97.tar.xz">artikulate-15.03.97</a></td>
   <td align="right">3.6MB</td>
   <td><tt>71effe4b09a173d2c492de1e82e876677acac7a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/audiocd-kio-15.03.97.tar.xz">audiocd-kio-15.03.97</a></td>
   <td align="right">50kB</td>
   <td><tt>cbfda4eb665f03f136d6e2df1a7de6ed650b8f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/blinken-15.03.97.tar.xz">blinken-15.03.97</a></td>
   <td align="right">553kB</td>
   <td><tt>71583e78f2a9290092e64132f4db9ddffe3bda3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/bomber-15.03.97.tar.xz">bomber-15.03.97</a></td>
   <td align="right">383kB</td>
   <td><tt>1fb7d176e24e4f63de9600942584b53904472b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/bovo-15.03.97.tar.xz">bovo-15.03.97</a></td>
   <td align="right">102kB</td>
   <td><tt>66a329f2b162b1dc204dd1c6a4be2e54595d31de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/cantor-15.03.97.tar.xz">cantor-15.03.97</a></td>
   <td align="right">347kB</td>
   <td><tt>c6d3fcd7ea86bfe11153b3fd258b435fa025342a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/cervisia-15.03.97.tar.xz">cervisia-15.03.97</a></td>
   <td align="right">364kB</td>
   <td><tt>e033f16a7c4b554d95accf72105cca9d6abd6ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/dolphin-plugins-15.03.97.tar.xz">dolphin-plugins-15.03.97</a></td>
   <td align="right">57kB</td>
   <td><tt>62a92a2652dc154901cf56633f1b1e26381c9800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/dragon-15.03.97.tar.xz">dragon-15.03.97</a></td>
   <td align="right">390kB</td>
   <td><tt>e620e766cc8bffe7513633feca080cb6b45cc95b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ffmpegthumbs-15.03.97.tar.xz">ffmpegthumbs-15.03.97</a></td>
   <td align="right">19kB</td>
   <td><tt>13187236e94c0f93f5ddc249ae04b4d643d72ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/filelight-15.03.97.tar.xz">filelight-15.03.97</a></td>
   <td align="right">280kB</td>
   <td><tt>1db66867082867af15c680225420ff7fb32fc68f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/granatier-15.03.97.tar.xz">granatier-15.03.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1f47eed107acd382d5b35401bee677d3c32f4750</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/gwenview-15.03.97.tar.xz">gwenview-15.03.97</a></td>
   <td align="right">2.7MB</td>
   <td><tt>95ba16023efe941fe4b99b7542aa2133a7c26218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/jovie-15.03.97.tar.xz">jovie-15.03.97</a></td>
   <td align="right">381kB</td>
   <td><tt>b044e09c31e91ab9f93143e22ad91fdc9e4f0afa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/juk-15.03.97.tar.xz">juk-15.03.97</a></td>
   <td align="right">433kB</td>
   <td><tt>28fb7daf9bc8abf910785d00cf395d49ff19c207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kaccessible-15.03.97.tar.xz">kaccessible-15.03.97</a></td>
   <td align="right">20kB</td>
   <td><tt>f20bec5cd482c1cf15da24b07d0a9dea2aca5b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kaccounts-integration-15.03.97.tar.xz">kaccounts-integration-15.03.97</a></td>
   <td align="right">52kB</td>
   <td><tt>94b5879992e3a132b79982301c4b141bce0ebc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kaccounts-providers-15.03.97.tar.xz">kaccounts-providers-15.03.97</a></td>
   <td align="right">11kB</td>
   <td><tt>153feaed3eabaf3320123ee719247159a78130d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kajongg-15.03.97.tar.xz">kajongg-15.03.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cc164a64f0cadfd7507f7ae7b2b4fd650703c0ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kalgebra-15.03.97.tar.xz">kalgebra-15.03.97</a></td>
   <td align="right">263kB</td>
   <td><tt>13e5f741aa92ee3f34caf7be229b0672d1f97e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kalzium-15.03.97.tar.xz">kalzium-15.03.97</a></td>
   <td align="right">3.7MB</td>
   <td><tt>a6c83893aab36808e0eabe63d522dc68f37ea971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kamera-15.03.97.tar.xz">kamera-15.03.97</a></td>
   <td align="right">34kB</td>
   <td><tt>93aacd249a430b0684bbf4c79c02aa2afab7287b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kanagram-15.03.97.tar.xz">kanagram-15.03.97</a></td>
   <td align="right">4.5MB</td>
   <td><tt>e4ded16a7e84e598ed55ec8c22b9b42de1f8e443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kapman-15.03.97.tar.xz">kapman-15.03.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d1a267c533d545d1d4d3de660bdf19a1ba243538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kapptemplate-15.03.97.tar.xz">kapptemplate-15.03.97</a></td>
   <td align="right">689kB</td>
   <td><tt>31bd6c044e99ea4018dc66f7a0f4b80a963c422e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kate-15.03.97.tar.xz">kate-15.03.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8738578f4f67286dbcad3d2a86048ab998ebbfd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/katomic-15.03.97.tar.xz">katomic-15.03.97</a></td>
   <td align="right">645kB</td>
   <td><tt>7e244de31019a74610765aa2013c33384117bd0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kblackbox-15.03.97.tar.xz">kblackbox-15.03.97</a></td>
   <td align="right">254kB</td>
   <td><tt>c24efd2f76a4d9fa46a1fd98345521556d4a825f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kblocks-15.03.97.tar.xz">kblocks-15.03.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>42a02ece80cc117b0c6df0ae7a62f48297cc5ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kbounce-15.03.97.tar.xz">kbounce-15.03.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e5785e37f58f2a94cf75658bd93b6abde51a82fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kbreakout-15.03.97.tar.xz">kbreakout-15.03.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0efb00f16d3c3ab0d5d298a9a4c67dae52554bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kbruch-15.03.97.tar.xz">kbruch-15.03.97</a></td>
   <td align="right">883kB</td>
   <td><tt>f7b05995d2e5b3ef05f4b0b55acea05e750195f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kcachegrind-15.03.97.tar.xz">kcachegrind-15.03.97</a></td>
   <td align="right">230kB</td>
   <td><tt>a2273d8eb8ec86507773e5de82e10c1c87d37887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kcalc-15.03.97.tar.xz">kcalc-15.03.97</a></td>
   <td align="right">81kB</td>
   <td><tt>97d31884598aab070cc3905278e9b4936145a267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kcharselect-15.03.97.tar.xz">kcharselect-15.03.97</a></td>
   <td align="right">82kB</td>
   <td><tt>b0b89a69d4f29be946591abfdd79ab147230d879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kcolorchooser-15.03.97.tar.xz">kcolorchooser-15.03.97</a></td>
   <td align="right">4kB</td>
   <td><tt>4ac70452e7e7486d83586fe3ac1393911d3239db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kcron-15.03.97.tar.xz">kcron-15.03.97</a></td>
   <td align="right">170kB</td>
   <td><tt>4293c898944105fe2abacf2375b16e461f45bd53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdeartwork-15.03.97.tar.xz">kdeartwork-15.03.97</a></td>
   <td align="right">134MB</td>
   <td><tt>9c32454dfc4c189452d13d67c41d4ac5bdaa8516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-baseapps-15.03.97.tar.xz">kde-baseapps-15.03.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>cc379e5478397f2c284f1e9b4ca39d98231a9db1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-base-artwork-15.03.97.tar.xz">kde-base-artwork-15.03.97</a></td>
   <td align="right">7.0MB</td>
   <td><tt>b315e00e0a364cd0d4e7af1e2d21a4731a5b0ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-dev-scripts-15.03.97.tar.xz">kde-dev-scripts-15.03.97</a></td>
   <td align="right">299kB</td>
   <td><tt>d738430d9c5c81059a6a91f473029526afd52363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-dev-utils-15.03.97.tar.xz">kde-dev-utils-15.03.97</a></td>
   <td align="right">50kB</td>
   <td><tt>c26c479abbc5a2db5daf93c51b1420718714e9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdeedu-data-15.03.97.tar.xz">kdeedu-data-15.03.97</a></td>
   <td align="right">94kB</td>
   <td><tt>959539841b73390a8346606a277476e652e97b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdegraphics-mobipocket-15.03.97.tar.xz">kdegraphics-mobipocket-15.03.97</a></td>
   <td align="right">14kB</td>
   <td><tt>0878feb3faa13df9ad2d43c626d1768c75e0c450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdegraphics-strigi-analyzer-15.03.97.tar.xz">kdegraphics-strigi-analyzer-15.03.97</a></td>
   <td align="right">39kB</td>
   <td><tt>1962f24b84fd7da556d249e3434f9b456f98486c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdegraphics-thumbnailers-15.03.97.tar.xz">kdegraphics-thumbnailers-15.03.97</a></td>
   <td align="right">40kB</td>
   <td><tt>7141631b36be7340d65c074214b8dfc8c7b8a7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdenetwork-filesharing-15.03.97.tar.xz">kdenetwork-filesharing-15.03.97</a></td>
   <td align="right">26kB</td>
   <td><tt>954762602272ed792f30f3003e783390e168f8c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdenetwork-strigi-analyzers-15.03.97.tar.xz">kdenetwork-strigi-analyzers-15.03.97</a></td>
   <td align="right">14kB</td>
   <td><tt>dccb73d8c727fd0223268e3e51a99f99fe05318f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdenlive-15.03.97.tar.xz">kdenlive-15.03.97</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0d8c55d9812325906dbd6f8c230a529e01ef5cf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-runtime-15.03.97.tar.xz">kde-runtime-15.03.97</a></td>
   <td align="right">7.5MB</td>
   <td><tt>0e72a7b80400d420176cbb64830836dd5a970942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdesdk-kioslaves-15.03.97.tar.xz">kdesdk-kioslaves-15.03.97</a></td>
   <td align="right">353kB</td>
   <td><tt>7045881dce987cf5c1f9d3062dd91e4c2a71b8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdesdk-strigi-analyzers-15.03.97.tar.xz">kdesdk-strigi-analyzers-15.03.97</a></td>
   <td align="right">17kB</td>
   <td><tt>7da42cbc990c6a04ee7279a6cd1ce74c2a74fe45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdesdk-thumbnailers-15.03.97.tar.xz">kdesdk-thumbnailers-15.03.97</a></td>
   <td align="right">11kB</td>
   <td><tt>acbfae7c1efffd73ac8efaa67bbd44f0508e8bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-wallpapers-15.03.97.tar.xz">kde-wallpapers-15.03.97</a></td>
   <td align="right">86MB</td>
   <td><tt>4f27965577b725b9baee89abb8dc4f6ca0a27d52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdewebdev-15.03.97.tar.xz">kdewebdev-15.03.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ce8749a68d389b26ae231f0ac2f1c3c300380ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdf-15.03.97.tar.xz">kdf-15.03.97</a></td>
   <td align="right">145kB</td>
   <td><tt>cee6c7de5fda47912e8f3a11920dd8fe1e4df24d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kdiamond-15.03.97.tar.xz">kdiamond-15.03.97</a></td>
   <td align="right">3.9MB</td>
   <td><tt>8a28e0fb123c4891c9d7dc1d15c8ebf37e153278</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kfloppy-15.03.97.tar.xz">kfloppy-15.03.97</a></td>
   <td align="right">52kB</td>
   <td><tt>9f88e7b93e4c4aa36cc0c6dabe1b50bec5920155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kfourinline-15.03.97.tar.xz">kfourinline-15.03.97</a></td>
   <td align="right">274kB</td>
   <td><tt>4cfd26f1bca08fb6b7cbdaaaea5b7bc9d3f6cf5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kgamma-15.03.97.tar.xz">kgamma-15.03.97</a></td>
   <td align="right">22kB</td>
   <td><tt>da985ff1220165a1b02ed2100375cfccea023356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kgeography-15.03.97.tar.xz">kgeography-15.03.97</a></td>
   <td align="right">6.4MB</td>
   <td><tt>49812395e0c7a0a6091c28ea10f90a78d7ec0523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kget-15.03.97.tar.xz">kget-15.03.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>33539c5f53cdb85dc8153281431cacca9d3c12b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kgoldrunner-15.03.97.tar.xz">kgoldrunner-15.03.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ef1fe809a4bcbbd1b80f0b443f0ee5c36d1be950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kgpg-15.03.97.tar.xz">kgpg-15.03.97</a></td>
   <td align="right">790kB</td>
   <td><tt>2dddb48f8af0ea93cb13c54db00a1bc9ccde055e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/khangman-15.03.97.tar.xz">khangman-15.03.97</a></td>
   <td align="right">3.7MB</td>
   <td><tt>052835d08ec1f9b5058dfbce858a802937d04e5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kig-15.03.97.tar.xz">kig-15.03.97</a></td>
   <td align="right">1.4MB</td>
   <td><tt>b4d86d2607eaafafca2cf965a2cc987ef367f2a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kigo-15.03.97.tar.xz">kigo-15.03.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>9c16274db1814e713e9f5b6c50c2544b40c889f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/killbots-15.03.97.tar.xz">killbots-15.03.97</a></td>
   <td align="right">940kB</td>
   <td><tt>72905acbc06dc6c1719239ef5c86c2540d26b8b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kiriki-15.03.97.tar.xz">kiriki-15.03.97</a></td>
   <td align="right">114kB</td>
   <td><tt>d14852c7a8871eab3b98ab7dbb4cdb010cd8f555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kiten-15.03.97.tar.xz">kiten-15.03.97</a></td>
   <td align="right">11MB</td>
   <td><tt>e8011810473b6fb84b30f9d9860dba88b1574e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kjumpingcube-15.03.97.tar.xz">kjumpingcube-15.03.97</a></td>
   <td align="right">161kB</td>
   <td><tt>98e1502ef315096dc9f55e26088d5a4ad8bd4eff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/klettres-15.03.97.tar.xz">klettres-15.03.97</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4bb0467bde3b9d590d48496a8cec30a7435107ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/klickety-15.03.97.tar.xz">klickety-15.03.97</a></td>
   <td align="right">765kB</td>
   <td><tt>88e4c790920675ca41d7fd529b9ba98832f6db36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/klines-15.03.97.tar.xz">klines-15.03.97</a></td>
   <td align="right">928kB</td>
   <td><tt>65de37a0a9e6a9e8c7a5fbf3d26fd10d80fbb70d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kmag-15.03.97.tar.xz">kmag-15.03.97</a></td>
   <td align="right">84kB</td>
   <td><tt>f9163aa9a333dde981b47f2d337bacdaf8b78072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kmahjongg-15.03.97.tar.xz">kmahjongg-15.03.97</a></td>
   <td align="right">984kB</td>
   <td><tt>47ddd5aebe9f937c9f6c1fc8a5feed40ea8d9427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kmines-15.03.97.tar.xz">kmines-15.03.97</a></td>
   <td align="right">609kB</td>
   <td><tt>8259fad180ae961544abf1d54d51f0a862afcc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kmix-15.03.97.tar.xz">kmix-15.03.97</a></td>
   <td align="right">379kB</td>
   <td><tt>e5c3b211e7005488f04c359572e1e785017fa939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kmousetool-15.03.97.tar.xz">kmousetool-15.03.97</a></td>
   <td align="right">34kB</td>
   <td><tt>2bccfe65334fff0648e85feeb6be19a67bdef281</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kmouth-15.03.97.tar.xz">kmouth-15.03.97</a></td>
   <td align="right">301kB</td>
   <td><tt>77967a9c1fed6b4ef03616e375b7827d08cbf289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kmplot-15.03.97.tar.xz">kmplot-15.03.97</a></td>
   <td align="right">646kB</td>
   <td><tt>5c816ca3252814981d2421d1a8b1368144900a8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/knavalbattle-15.03.97.tar.xz">knavalbattle-15.03.97</a></td>
   <td align="right">834kB</td>
   <td><tt>eb57fc74f40d983cdc1cbd1a34ab3242fe00e890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/knetwalk-15.03.97.tar.xz">knetwalk-15.03.97</a></td>
   <td align="right">764kB</td>
   <td><tt>18533ff8b30adccef6309cba1b628da56ed20f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kolf-15.03.97.tar.xz">kolf-15.03.97</a></td>
   <td align="right">750kB</td>
   <td><tt>264353e663b6fecc6ffd64ae800343a6dc075d6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kollision-15.03.97.tar.xz">kollision-15.03.97</a></td>
   <td align="right">202kB</td>
   <td><tt>69ead1bf4788557df9c2875977d48758f9767acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kolourpaint-15.03.97.tar.xz">kolourpaint-15.03.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>85b34c3c9f8dbbb853d6ffabb1762175bcddfb0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kompare-15.03.97.tar.xz">kompare-15.03.97</a></td>
   <td align="right">336kB</td>
   <td><tt>3ccefa897f5736c8988c509b9f00535a4d36cff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/konquest-15.03.97.tar.xz">konquest-15.03.97</a></td>
   <td align="right">396kB</td>
   <td><tt>63a3160d074bd2956d9cf2dcc88bfcf957afa4e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/konsole-15.03.97.tar.xz">konsole-15.03.97</a></td>
   <td align="right">450kB</td>
   <td><tt>38b451b310e1a30ee1783e1c0d481c9d667c76ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kopete-15.03.97.tar.xz">kopete-15.03.97</a></td>
   <td align="right">6.0MB</td>
   <td><tt>f359e047815b70f708f74fd598d0e9122ef212fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kpat-15.03.97.tar.xz">kpat-15.03.97</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5ec30d14e7434b6c2a04459d8fb6069fce406869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kppp-15.03.97.tar.xz">kppp-15.03.97</a></td>
   <td align="right">683kB</td>
   <td><tt>af7331214f7b20e502d698540baffd9be00a0346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kqtquickcharts-15.03.97.tar.xz">kqtquickcharts-15.03.97</a></td>
   <td align="right">20kB</td>
   <td><tt>eea050d4c803598cf8caa4bc5756a982cd439446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/krdc-15.03.97.tar.xz">krdc-15.03.97</a></td>
   <td align="right">389kB</td>
   <td><tt>5b93d65ed536da2dbe749d980dcc4a5ffaa515f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kremotecontrol-15.03.97.tar.xz">kremotecontrol-15.03.97</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7a5e5aa2dcc0252b3d6beb4c43090f3429732d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kreversi-15.03.97.tar.xz">kreversi-15.03.97</a></td>
   <td align="right">464kB</td>
   <td><tt>651051045b00e569d1ae5143f40cb63cb579441d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/krfb-15.03.97.tar.xz">krfb-15.03.97</a></td>
   <td align="right">319kB</td>
   <td><tt>22ca061260c48ed7941213693e82b90d284dc8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kruler-15.03.97.tar.xz">kruler-15.03.97</a></td>
   <td align="right">126kB</td>
   <td><tt>47ff764a676189cba3b65b4c6924296ea2be9020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ksaneplugin-15.03.97.tar.xz">ksaneplugin-15.03.97</a></td>
   <td align="right">12kB</td>
   <td><tt>1064af5f965b32e4081a4c9d2e275524bf57947a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kscd-15.03.97.tar.xz">kscd-15.03.97</a></td>
   <td align="right">90kB</td>
   <td><tt>94add7931b38afbd3e130ba1f7b2f355d0936b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kshisen-15.03.97.tar.xz">kshisen-15.03.97</a></td>
   <td align="right">133kB</td>
   <td><tt>5508507e1bcaba7991007365bc846594ccd7791e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ksirk-15.03.97.tar.xz">ksirk-15.03.97</a></td>
   <td align="right">4.7MB</td>
   <td><tt>1a0704ad425c12171e7aefa38ab6cb2220637bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ksnakeduel-15.03.97.tar.xz">ksnakeduel-15.03.97</a></td>
   <td align="right">290kB</td>
   <td><tt>c792f5daa909f63e06e182d96701fc24c0f902fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ksnapshot-15.03.97.tar.xz">ksnapshot-15.03.97</a></td>
   <td align="right">252kB</td>
   <td><tt>2b8c5bc565a77e7ee936b12f5445ba3738c3dd3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kspaceduel-15.03.97.tar.xz">kspaceduel-15.03.97</a></td>
   <td align="right">247kB</td>
   <td><tt>ece0b704458306ce71c830a5068c470556f938d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ksquares-15.03.97.tar.xz">ksquares-15.03.97</a></td>
   <td align="right">78kB</td>
   <td><tt>45f8728edbfdaf5a0fcd41e86313873e2bfcb411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kstars-15.03.97.tar.xz">kstars-15.03.97</a></td>
   <td align="right">12MB</td>
   <td><tt>93453b9b86b538676dcada6122ab6b5f8198c50d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ksudoku-15.03.97.tar.xz">ksudoku-15.03.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3837aa7fc7713633af8d0ff387e7b572344ac224</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ksystemlog-15.03.97.tar.xz">ksystemlog-15.03.97</a></td>
   <td align="right">372kB</td>
   <td><tt>11e4395762729c40249172252ca91a2a35152656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kteatime-15.03.97.tar.xz">kteatime-15.03.97</a></td>
   <td align="right">101kB</td>
   <td><tt>28bc6c00998fa659d2b79d2d4654c5c523caf4d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktimer-15.03.97.tar.xz">ktimer-15.03.97</a></td>
   <td align="right">143kB</td>
   <td><tt>ffebd533ede48fc9dd5d7616ed759acf39d40cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktouch-15.03.97.tar.xz">ktouch-15.03.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>de421b39dea5b07af2c793f5418b83d976ad3c07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-accounts-kcm-15.03.97.tar.xz">ktp-accounts-kcm-15.03.97</a></td>
   <td align="right">86kB</td>
   <td><tt>a18a917354d65e0ec90a1f693835658f7371c54a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-approver-15.03.97.tar.xz">ktp-approver-15.03.97</a></td>
   <td align="right">20kB</td>
   <td><tt>b759f8f0fa604176555f05a39ba6424b1ea0db65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-auth-handler-15.03.97.tar.xz">ktp-auth-handler-15.03.97</a></td>
   <td align="right">26kB</td>
   <td><tt>475833078b24b7ef2553a075c0e7a423973129d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-common-internals-15.03.97.tar.xz">ktp-common-internals-15.03.97</a></td>
   <td align="right">305kB</td>
   <td><tt>a0c1dffc08992ebe09c9357e7843d64c42c72d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-contact-list-15.03.97.tar.xz">ktp-contact-list-15.03.97</a></td>
   <td align="right">47kB</td>
   <td><tt>bbf5d392a0b115feb74804998213d41f97fbabb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-contact-runner-15.03.97.tar.xz">ktp-contact-runner-15.03.97</a></td>
   <td align="right">16kB</td>
   <td><tt>807e3d903f4ff1258a253d7510e267811de93bab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-desktop-applets-15.03.97.tar.xz">ktp-desktop-applets-15.03.97</a></td>
   <td align="right">25kB</td>
   <td><tt>aaf657560c95809a1079d271c146df67a6b35416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-filetransfer-handler-15.03.97.tar.xz">ktp-filetransfer-handler-15.03.97</a></td>
   <td align="right">22kB</td>
   <td><tt>6e11525fac4db717ccbb5f97060113f92986e719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-kded-module-15.03.97.tar.xz">ktp-kded-module-15.03.97</a></td>
   <td align="right">37kB</td>
   <td><tt>dd4d627d138c56323e68735d6bf35b5f86ebaf42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-send-file-15.03.97.tar.xz">ktp-send-file-15.03.97</a></td>
   <td align="right">14kB</td>
   <td><tt>63b9dde3a013c19b311793e4e8dff3748cf1e0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktp-text-ui-15.03.97.tar.xz">ktp-text-ui-15.03.97</a></td>
   <td align="right">283kB</td>
   <td><tt>1155d7a9ae81e82c999d6570ade850881df8398e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktuberling-15.03.97.tar.xz">ktuberling-15.03.97</a></td>
   <td align="right">4.0MB</td>
   <td><tt>3c093581bb8ddee5b604b36ff55e4d608ef4c2d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kturtle-15.03.97.tar.xz">kturtle-15.03.97</a></td>
   <td align="right">189kB</td>
   <td><tt>281163848d4114538d96f2fc1f696c0c2942fbdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/ktux-15.03.97.tar.xz">ktux-15.03.97</a></td>
   <td align="right">105kB</td>
   <td><tt>bde4a6524fae1e6e47bdb72e1e974f8da2269da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kubrick-15.03.97.tar.xz">kubrick-15.03.97</a></td>
   <td align="right">104kB</td>
   <td><tt>01c05cac15ce09b0af270a81c4e434f29d394ae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kuser-15.03.97.tar.xz">kuser-15.03.97</a></td>
   <td align="right">132kB</td>
   <td><tt>e9245c69b58f02876b6e1d47b81b6be23d0cb339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kwalletmanager-15.03.97.tar.xz">kwalletmanager-15.03.97</a></td>
   <td align="right">445kB</td>
   <td><tt>1fb6342e5ff286674c201c29d3b53da56b40f485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kwordquiz-15.03.97.tar.xz">kwordquiz-15.03.97</a></td>
   <td align="right">1.1MB</td>
   <td><tt>65dbaecf763d91e39b974d209cc23f34c7a7667b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkcddb-15.03.97.tar.xz">libkcddb-15.03.97</a></td>
   <td align="right">154kB</td>
   <td><tt>06d6286237ac195684543c2f353f4b8f8bde0366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkcompactdisc-15.03.97.tar.xz">libkcompactdisc-15.03.97</a></td>
   <td align="right">74kB</td>
   <td><tt>8c9504c76956130602a0bf4ebefe239e1fc51700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkdcraw-15.03.97.tar.xz">libkdcraw-15.03.97</a></td>
   <td align="right">99kB</td>
   <td><tt>dfe2861dd5e29955b8e99c5a29203e2df3f447bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkdeedu-15.03.97.tar.xz">libkdeedu-15.03.97</a></td>
   <td align="right">128kB</td>
   <td><tt>370d18c3474378aeabb7c678d7c7d797dbd3b7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkdegames-15.03.97.tar.xz">libkdegames-15.03.97</a></td>
   <td align="right">5.5MB</td>
   <td><tt>e3c004499738d8081f2aa6f78c0bfa01eb024836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkeduvocdocument-15.03.97.tar.xz">libkeduvocdocument-15.03.97</a></td>
   <td align="right">96kB</td>
   <td><tt>c26e29a1230c538b26e71e97a047a1607f300512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkexiv2-15.03.97.tar.xz">libkexiv2-15.03.97</a></td>
   <td align="right">134kB</td>
   <td><tt>722f2b7330e6942c1344063e0e7bd5b84ba74bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkface-15.03.97.tar.xz">libkface-15.03.97</a></td>
   <td align="right">8.5MB</td>
   <td><tt>ad51d2f84622eca18bdc1045a8343c4f43cb1d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkgeomap-15.03.97.tar.xz">libkgeomap-15.03.97</a></td>
   <td align="right">121kB</td>
   <td><tt>7d6724cd21c0a7de4c519aa9db23f0d3ddfb17cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkipi-15.03.97.tar.xz">libkipi-15.03.97</a></td>
   <td align="right">92kB</td>
   <td><tt>cd4d8ae4dc1d88c9805ee17e1745dcaf23bd5447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkmahjongg-15.03.97.tar.xz">libkmahjongg-15.03.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8db81051873dcae5401598bee67b9ad3dcb8a5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libkomparediff2-15.03.97.tar.xz">libkomparediff2-15.03.97</a></td>
   <td align="right">55kB</td>
   <td><tt>ddc0bc2587adfeba31efb3ebd8cfc80b5a9bf98a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/libksane-15.03.97.tar.xz">libksane-15.03.97</a></td>
   <td align="right">79kB</td>
   <td><tt>a7ccb2379d19638979b39af541401f0b00adba85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/lokalize-15.03.97.tar.xz">lokalize-15.03.97</a></td>
   <td align="right">930kB</td>
   <td><tt>0d3e281a97ba757d134bbba83e62d1534d1d6a7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/lskat-15.03.97.tar.xz">lskat-15.03.97</a></td>
   <td align="right">908kB</td>
   <td><tt>58f4096d461e699863cbe907b95684458bd24eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/marble-15.03.97.tar.xz">marble-15.03.97</a></td>
   <td align="right">21MB</td>
   <td><tt>24b84755a8bb776f4829d46961e1ec3623c9021d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/mplayerthumbs-15.03.97.tar.xz">mplayerthumbs-15.03.97</a></td>
   <td align="right">26kB</td>
   <td><tt>9b37228b34f24c52f0c79bb16fd3d69c9926f162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/okteta-15.03.97.tar.xz">okteta-15.03.97</a></td>
   <td align="right">491kB</td>
   <td><tt>e61075dc455592eb175997b748210540d7e7df98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/okular-15.03.97.tar.xz">okular-15.03.97</a></td>
   <td align="right">1.5MB</td>
   <td><tt>627d957e6a2dc60e6b697a27da11e951b6a804ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/oxygen-icons-15.03.97.tar.xz">oxygen-icons-15.03.97</a></td>
   <td align="right">219MB</td>
   <td><tt>cd56520844d48e09ef2bea91b3b4163c8c5ca7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/pairs-15.03.97.tar.xz">pairs-15.03.97</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a10e1989c00449261971da8ab98e01ae82a2cd32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/palapeli-15.03.97.tar.xz">palapeli-15.03.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9bf7d58cc435f7aff35b6dffb699111c52299ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/parley-15.03.97.tar.xz">parley-15.03.97</a></td>
   <td align="right">4.5MB</td>
   <td><tt>847674905de5444a2474c99ca86560a0822a5980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/picmi-15.03.97.tar.xz">picmi-15.03.97</a></td>
   <td align="right">714kB</td>
   <td><tt>daceb3f5d7e6c8abf65c45aeff6cee282b29138c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/poxml-15.03.97.tar.xz">poxml-15.03.97</a></td>
   <td align="right">30kB</td>
   <td><tt>21cd7a65fe472527b286d2ef3d5c2b0091603f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/print-manager-15.03.97.tar.xz">print-manager-15.03.97</a></td>
   <td align="right">91kB</td>
   <td><tt>6cbc3b67aba492b81b96f6d5d4575a080ebfb8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/rocs-15.03.97.tar.xz">rocs-15.03.97</a></td>
   <td align="right">520kB</td>
   <td><tt>8d946604b503c55d327f033d4ce5163ca2a9fac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/signon-kwallet-extension-15.03.97.tar.xz">signon-kwallet-extension-15.03.97</a></td>
   <td align="right">10kB</td>
   <td><tt>28d6c45c23858ad066fd4a9827f4895b5f28d72b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/step-15.03.97.tar.xz">step-15.03.97</a></td>
   <td align="right">377kB</td>
   <td><tt>9464940d4477870218e6597bef6b0975f344aa87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/superkaramba-15.03.97.tar.xz">superkaramba-15.03.97</a></td>
   <td align="right">372kB</td>
   <td><tt>50e80b01666a19e7c7019f3f35ff3c8b51528822</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/svgpart-15.03.97.tar.xz">svgpart-15.03.97</a></td>
   <td align="right">8kB</td>
   <td><tt>2c852dea26af55669e829a76b6ae61808ffc33b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/sweeper-15.03.97.tar.xz">sweeper-15.03.97</a></td>
   <td align="right">80kB</td>
   <td><tt>04f28652325c1d63875f238c1b0d3b771ecbfc7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/umbrello-15.03.97.tar.xz">umbrello-15.03.97</a></td>
   <td align="right">1.4MB</td>
   <td><tt>bb8160e4b0f5d086af4e3d1b1bc5c6a5a3d81c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/zeroconf-ioslave-15.03.97.tar.xz">zeroconf-ioslave-15.03.97</a></td>
   <td align="right">25kB</td>
   <td><tt>1551dce73bdf523a2853f489f0391a5ca7decbbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ar-15.03.97.tar.xz">kde-l10n-ar-15.03.97</a></td>
   <td align="right">3.2MB</td>
   <td><tt>3ca7941cde8bce9fc9a4f844f08a662d64953a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-bg-15.03.97.tar.xz">kde-l10n-bg-15.03.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d2fdd94c90c8dc9c8604fb7182a42420eacd054e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-bs-15.03.97.tar.xz">kde-l10n-bs-15.03.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>6b65830b5edf8a2c88ec934e57bf26c5ccfbd915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ca-15.03.97.tar.xz">kde-l10n-ca-15.03.97</a></td>
   <td align="right">11MB</td>
   <td><tt>355a2423884cdcd1e8d5c51bc17b9f89c1e520e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ca@valencia-15.03.97.tar.xz">kde-l10n-ca@valencia-15.03.97</a></td>
   <td align="right">2.3MB</td>
   <td><tt>85eea8dc3d9e21e9adfaf4ad6e2b1bd33b46f62a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-cs-15.03.97.tar.xz">kde-l10n-cs-15.03.97</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8dcec105d4e0349743c6c4fa9a6eacaa89d75185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-da-15.03.97.tar.xz">kde-l10n-da-15.03.97</a></td>
   <td align="right">12MB</td>
   <td><tt>1f9f13996a7c0417d697e3d7ba23fc38db0c0d28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-de-15.03.97.tar.xz">kde-l10n-de-15.03.97</a></td>
   <td align="right">35MB</td>
   <td><tt>ff76a8c522ecd4818bfd2ea88655dd8e11e59316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-el-15.03.97.tar.xz">kde-l10n-el-15.03.97</a></td>
   <td align="right">4.7MB</td>
   <td><tt>fdd7e97e9da2bc70ad30a3894e72ef588b812140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-en_GB-15.03.97.tar.xz">kde-l10n-en_GB-15.03.97</a></td>
   <td align="right">3.0MB</td>
   <td><tt>5b0782abedfd871160b27c5bd7b3131c04f9e4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-es-15.03.97.tar.xz">kde-l10n-es-15.03.97</a></td>
   <td align="right">20MB</td>
   <td><tt>743729b9cacb211458b1513f9aaf275bbcbde086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-et-15.03.97.tar.xz">kde-l10n-et-15.03.97</a></td>
   <td align="right">4.3MB</td>
   <td><tt>ff505a543bf78eb43d3777041813e563420b5853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-eu-15.03.97.tar.xz">kde-l10n-eu-15.03.97</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a664e7049b7c79490a5702380538d653f772efbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-fa-15.03.97.tar.xz">kde-l10n-fa-15.03.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5093f1acc3e3177834e3e5ea3f8a6849ff3bd0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-fi-15.03.97.tar.xz">kde-l10n-fi-15.03.97</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3da4913a3f218aed58a62224cc3b4af87da3f61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-fr-15.03.97.tar.xz">kde-l10n-fr-15.03.97</a></td>
   <td align="right">45MB</td>
   <td><tt>67745d3ec65b40750ea2c6b9563a47726b1e8149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ga-15.03.97.tar.xz">kde-l10n-ga-15.03.97</a></td>
   <td align="right">2.8MB</td>
   <td><tt>e2e70c9c0f4389a799b3b69b2e6c94e32649d312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-gl-15.03.97.tar.xz">kde-l10n-gl-15.03.97</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0192fd4b6ca608d9d1f75d83a441f63e41832259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-he-15.03.97.tar.xz">kde-l10n-he-15.03.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>366e1436bfecbf2a32f4adb9cf2ab63aa916a113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-hi-15.03.97.tar.xz">kde-l10n-hi-15.03.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b0999d0076a1f616ba0bb99f4f5c847eb748ccf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-hr-15.03.97.tar.xz">kde-l10n-hr-15.03.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>fd977c6ee5feb91c4048bc7783d9e35eb480f1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-hu-15.03.97.tar.xz">kde-l10n-hu-15.03.97</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6d780017508ed7a59217fd2f191ed361c0f2ad5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ia-15.03.97.tar.xz">kde-l10n-ia-15.03.97</a></td>
   <td align="right">1.3MB</td>
   <td><tt>404ae274d4604b7e10b1480670edc22d9bb5fc2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-id-15.03.97.tar.xz">kde-l10n-id-15.03.97</a></td>
   <td align="right">551kB</td>
   <td><tt>d87a20e77cb171daa1c5cd0c5f9db2e6838aa7fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-is-15.03.97.tar.xz">kde-l10n-is-15.03.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>885ad9c547c8543b6176008c5c6c39c27c5b5f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-it-15.03.97.tar.xz">kde-l10n-it-15.03.97</a></td>
   <td align="right">8.5MB</td>
   <td><tt>d607c843357d83f9358136cfd636f5386d802f60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ja-15.03.97.tar.xz">kde-l10n-ja-15.03.97</a></td>
   <td align="right">2.2MB</td>
   <td><tt>806a4599343705fe9114846b55bc4f9f1a78c39c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-kk-15.03.97.tar.xz">kde-l10n-kk-15.03.97</a></td>
   <td align="right">2.6MB</td>
   <td><tt>f0a973775deac1263f62efe963fcf30c878bfdb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-km-15.03.97.tar.xz">kde-l10n-km-15.03.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>77dcdb9bf2462206bb59a8ffbd7e82ea305fb5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ko-15.03.97.tar.xz">kde-l10n-ko-15.03.97</a></td>
   <td align="right">1.9MB</td>
   <td><tt>30109bfb2fff4d1fd6e05eceaf567f2b9419d107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-lt-15.03.97.tar.xz">kde-l10n-lt-15.03.97</a></td>
   <td align="right">12MB</td>
   <td><tt>2565536edf062ff4d71f8e88db3eea8755cdac24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-lv-15.03.97.tar.xz">kde-l10n-lv-15.03.97</a></td>
   <td align="right">2.1MB</td>
   <td><tt>282492e077cfbbd98c4975e4854e53f36fb18b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-mr-15.03.97.tar.xz">kde-l10n-mr-15.03.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>cf74abd9577c83b8aae4beeab95f168520e5cfc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-nb-15.03.97.tar.xz">kde-l10n-nb-15.03.97</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7cacbd7e23ad9c3ef5c31221a9a2792518b342cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-nds-15.03.97.tar.xz">kde-l10n-nds-15.03.97</a></td>
   <td align="right">3.2MB</td>
   <td><tt>9632fe536d0598bf1e52ce9e363ae4cc18ffa1d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-nl-15.03.97.tar.xz">kde-l10n-nl-15.03.97</a></td>
   <td align="right">13MB</td>
   <td><tt>9ddb07cae8df873e460fab779682b26ba3e85905</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-nn-15.03.97.tar.xz">kde-l10n-nn-15.03.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>82ad5b60592d2bfb3cf20f0e6a1a537c199e0fa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-pa-15.03.97.tar.xz">kde-l10n-pa-15.03.97</a></td>
   <td align="right">1.8MB</td>
   <td><tt>aceb7c305a9ab638b21cd5ea15fc685b3d6ec9d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-pl-15.03.97.tar.xz">kde-l10n-pl-15.03.97</a></td>
   <td align="right">18MB</td>
   <td><tt>7d1775480759776999f163debc242914fa01c537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-pt-15.03.97.tar.xz">kde-l10n-pt-15.03.97</a></td>
   <td align="right">3.6MB</td>
   <td><tt>e97d72dc4993d9dd0ec6e6f45f627fa6606247ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-pt_BR-15.03.97.tar.xz">kde-l10n-pt_BR-15.03.97</a></td>
   <td align="right">24MB</td>
   <td><tt>4ea765bd63af59bb6cbe1462d017ed3622b44ae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ro-15.03.97.tar.xz">kde-l10n-ro-15.03.97</a></td>
   <td align="right">2.9MB</td>
   <td><tt>09946e5dd93dd5f0a8dcdf75b6fb8985065dc74c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ru-15.03.97.tar.xz">kde-l10n-ru-15.03.97</a></td>
   <td align="right">22MB</td>
   <td><tt>ebddf43338842ca0347d445dea66c6f16badc435</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-sk-15.03.97.tar.xz">kde-l10n-sk-15.03.97</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a8f47da6bbfd94aa4c34846fb2cfb054acb312ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-sl-15.03.97.tar.xz">kde-l10n-sl-15.03.97</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2d4175b6b51d662c7fef6a3fc2d4e35b04341d8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-sr-15.03.97.tar.xz">kde-l10n-sr-15.03.97</a></td>
   <td align="right">4.6MB</td>
   <td><tt>2e73351d39a4cfc42409229a97dc1324465bec13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-sv-15.03.97.tar.xz">kde-l10n-sv-15.03.97</a></td>
   <td align="right">14MB</td>
   <td><tt>7d6463d52ab4e684af078ce49f0259192369497a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-tr-15.03.97.tar.xz">kde-l10n-tr-15.03.97</a></td>
   <td align="right">3.8MB</td>
   <td><tt>92bf108b393f1d9217880fed6d547ae04aa2a73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-ug-15.03.97.tar.xz">kde-l10n-ug-15.03.97</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8a3f16299dc6ba5b4292d3ca33f19a10377569a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-uk-15.03.97.tar.xz">kde-l10n-uk-15.03.97</a></td>
   <td align="right">26MB</td>
   <td><tt>83419b53745821fcd9d14836fd5570d997a97c07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-wa-15.03.97.tar.xz">kde-l10n-wa-15.03.97</a></td>
   <td align="right">1.6MB</td>
   <td><tt>717c83d93ccdfd444f285e64b7e26c949335783b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-zh_CN-15.03.97.tar.xz">kde-l10n-zh_CN-15.03.97</a></td>
   <td align="right">3.5MB</td>
   <td><tt>170164ab52efd1af2b2ddc98d15bd1c6e3e6b4e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.97/src/kde-l10n/kde-l10n-zh_TW-15.03.97.tar.xz">kde-l10n-zh_TW-15.03.97</a></td>
   <td align="right">2.6MB</td>
   <td><tt>35d4051f51355df7250cab8343e2afcb51925ece</tt></td>
</tr>

</table>
